<template lang="pug">
li.nav-item.dropdown(:class="{ show: menuActive }")
  a.navbar-nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false') {{ title }}
  .dropdown-menu.dropdown-menu-right(:class="{ show: menuActive }")
    a.dropdown-item(href='#') Second level
    .dropdown-submenu
      a.dropdown-item.dropdown-toggle(href='#') Second level with child
      .dropdown-menu
        a.dropdown-item(href='#') Third level
        .dropdown-submenu
          a.dropdown-item.dropdown-toggle(href='#') Third level with child
          .dropdown-menu
            a.dropdown-item(href='#') Fourth level
            a.dropdown-item(href='#') Fourth level
            a.dropdown-item(href='#') Fourth level
        a.dropdown-item(href='#') Third level
    a.dropdown-item(href='#') Second level

</template>

<script>
export default {
    name: 'NavbarClassicSubMenu',
    props: {
        title: {
            default: 'Меню',
            type: String,
        },
        menuActive: {
            default: false,
            type: Boolean,
        },
    },
}
</script>

