<template lang='pug'>
li.nav-item.mega-menu-full(v-on-clickaway="closeMegaMenu" :class="{show: megaMenuActive}")
  a.navbar-nav-link.dropdown-toggle(@click="toggleMegaMenu" data-toggle='dropdown' aria-expanded='false')
    i.icon-equalizer.mr-2
    | {{ $t(title).toUpperCase() }}
  //- transition(
  //-   name="mega-menu"
  //-   v-on:before-enter="beforeEnter" v-on:enter="enter"
  //-   v-on:before-leave="beforeLeave" v-on:leave="leave"
  //- )
  .dropdown-menu.dropdown-content.show.mega-menu(v-show="megaMenuActive" style="overflow: hidden")
    .dropdown-content-body
      .row
        .col-xl-2
          .font-size-sm.line-height-sm.font-weight-semibold.text-uppercase.mt-1 {{ $t('system').toUpperCase() }}
          .dropdown-divider.mb-2
          .mb-3.mb-xl-0
            router-link.dropdown-item.rounded(to='/configuration/system/primary') {{ $t('primary').toUpperCase() }}
            router-link.dropdown-item.rounded(v-if="permissions.viewUsers"
                                              to='/configuration/users'
                                              router-link-active="active") {{ $t('users').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/system/performance') {{ $t('performance').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/sitemap') {{ $t('appMap').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/changelog') {{ $t('updates').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/patterns') {{ $t('patterns').toUpperCase() }}
        .col-xl-2
          .font-size-sm.line-height-sm.font-weight-semibold.text-uppercase.mt-1 {{ $t('dataAnalysis').toUpperCase() }}
          .dropdown-divider.mb-2
          .mb-3.mb-xl-0
            router-link.dropdown-item.rounded(to='/configuration/analysis/search') {{ $t('search').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/analysis/indexing') {{ $t('indexing').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/analysis/copying') {{ $t('copying').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/analysis/manage') {{ $t('manage').toUpperCase() }}
        .col-xl-2
          .font-size-sm.line-height-sm.font-weight-semibold.text-uppercase.mt-1 {{ $t('correlation').toUpperCase() }}
          .dropdown-divider.mb-2
          .mb-3.mb-xl-0
            router-link.dropdown-item.rounded(to='/configuration/correlation/rules') {{ $t('rules').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/correlation/events') {{ $t('events').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/correlation/logs') {{ $t('logs').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/correlation/manage') {{ $t('manage').toUpperCase() }}
        .col-xl-2
          .font-size-sm.line-height-sm.font-weight-semibold.text-uppercase.mt-1 {{ $t('assets').toUpperCase() }}
          .dropdown-divider.mb-2
          .mb-3.mb-xl-0
            router-link.dropdown-item.rounded(to='/configuration/assets/scan') {{ $t('scanning').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/assets/agents') {{ $t('agents').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/assets/events') {{ $t('events').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/assets/reaction') {{ $t('reaction').toUpperCase() }}
        .col-xl-2
          .font-size-sm.line-height-sm.font-weight-semibold.text-uppercase.mt-1 {{ $t('intelligence').toUpperCase() }}
          .dropdown-divider.mb-2
          .mb-3.mb-xl-0
            router-link.dropdown-item.rounded(to='/configuration/intelligence/subscriptions') {{ $t('subscriptions').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/intelligence/indicators') {{ $t('indicators').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/intelligence/intergration') {{ $t('integration').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/intelligence/manage') {{ $t('manage').toUpperCase() }}
        .col-xl-2
          .font-size-sm.line-height-sm.font-weight-semibold.text-uppercase.mt-1 {{ $t('standardization').toUpperCase() }}
          .dropdown-divider.mb-2
          .mb-0
            router-link.dropdown-item.rounded(to='/configuration/standardization/standarts') {{ $t('standarts').toUpperCase() }}
            router-link.dropdown-item.rounded(to='/configuration/standardization/policies') {{ $t('policies').toUpperCase() }}
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

export default {
  name: 'MegaMenu',
  data() {
    return {
      megaMenuActive: false,
    };
  },
  mixins: [clickaway],
  props: {
    // menuActive: {
    //   default: false,
    //   type: Boolean,
    // },
    title: {
      default: 'menu',
      type: String,
    },
    user: {
      type: Object,
    },
  },
  computed: {
    permissions() {
      return this.user.permissions ? this.user.permissions : {};
    },
  },
  methods: {
    toggleMegaMenu() {
      this.megaMenuActive = !this.megaMenuActive;
    },
    closeMegaMenu() {
      this.megaMenuActive = false;
    },
    beforeEnter(el) {
      el.style.height = '0';
    },
    enter(el) {
      el.style.height = `${el.scrollHeight}px`;
    },
    beforeLeave(el) {
      el.style.height = `${el.scrollHeight}px`;
    },
    leave(el) {
      el.style.height = '0';
    },
  },
};
</script>

<style lang="sass">
.mega-menu-full
  .dropdown-menu
    left: 0rem
    right: 0rem
    border: none
    border-radius: 0
.mega-menu
  transition: 0.15s ease-out;
// .mega-menu-enter-active
//   transition: all .5s ease;
// .mega-menu-leave-active
//   transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.mega-menu-enter
  opacity: 0
// .mega-menu-leave-to
//   height: 0
</style>
