<template lang="pug">
.navbar.navbar-dark#main-navbar.navbar-expand-xl
  .navbar-brand.p-0(style='align-items: center; display: flex;')
    router-link.d-inline-block(to='/analytics')
      h6.text-white.mb-0.font-weight-semibold SECURITY CENTER

  div
    template(v-if="isWidgetConfiguratorPage")
      button.navbar-toggler.sidebar-mobile-secondary-toggle(type='button' @click="openMainSideBar")
        i.icon-mirror
      button.navbar-toggler.sidebar-mobile-main-toggle(type='button' @click="openSecondarySideBar")
        i.icon-chart
    button.navbar-toggler(type='button' @click="toggleMobileMenu")
      i.icon-paragraph-justify3
  //- #navbar-mobile.collapse.navbar-collapse
  #navbar-mobile.collapse.navbar-collapse(v-if="user && user.username" :class="{ show: mobileMenuShow }")
    ul.navbar-nav
      // li.nav-item(@click="toggleSideBar" v-show="sideBarButtonStatus")
      //    a.navbar-nav-link.sidebar-control.sidebar-secondary-toggle.d-none.d-md-block
      //      i.icon-transmission
      router-link.navbar-nav-link(v-if="permissions.viewAnalytics"
                                  to="/analytics"
                                  active-class="active"
                                  @click.native="closeMobileMenu")
        i.icon-stats-bars2.mr-2
        | {{ $t('analytics').toUpperCase() }}
      li.nav-item
        router-link.navbar-nav-link(v-if="permissions.viewInfrastructure"
                                    to="/infrastructure"
                                    active-class="active"
                                    @click.native="closeMobileMenu")
          i.icon-lan2.mr-2
          | {{ $t('infractructure').toUpperCase() }}
      li.nav-item
        router-link.navbar-nav-link(v-if="permissions.viewIncidents"
                                    to='/incidents'
                                    active-class="active"
                                    @click.native="closeMobileMenu")
          i.icon-warning.mr-2
          | {{ $t('incidents').toUpperCase() }}
      li.nav-item
        router-link.navbar-nav-link(to='/attack-center/source-management'
                                    active-class="active"
                                    @click.native="closeMobileMenu")
          i.icon-target.mr-2
          | {{ $t('attackCenter').toUpperCase() }}

      //- li.nav-item
      //-   router-link.navbar-nav-link(v-if="permissions.viewReactions"
      //-                               to="/reaction"
      //-                               active-class="active"
      //-                               @click.native="closeMobileMenu")
      //-     i.icon-shield2.mr-2
      //-     | {{ $t('reaction').toUpperCase() }}
      li.nav-item
        router-link.navbar-nav-link(v-if="permissions.viewAnalysis"
                                    to="/data-analysis"
                                    active-class="active"
                                    @click.native="closeMobileMenu")
          i.icon-menu7.mr-2
          | {{ $t('analysisData').toUpperCase() }}
      li.nav-item
        router-link.navbar-nav-link(v-if="permissions.viewTickets"
                                    to="/tickets"
                                    active-class="active"
                                    @click.native="closeMobileMenu")
          i.icon-search4.mr-2
          | {{ $t('investigations').toUpperCase() }}

    ul.nav.navbar-nav.navbar-nav.ml-auto
      li.nav-item.dropdown(:class="{show: showNews}")
        a.navbar-nav-link(@click="toggleNews" v-on-clickaway="closeNews")
          i.icon-bell2
          span.d-xl-none.ml-2 {{ $t('events').toUpperCase() }}
          span.badge.badge-mark.border-white.ml-auto.ml-md-0#circle-notice
        .dropdown-menu.dropdown-menu-right.border-0.rounded-0.dropdown-content.wmin-md-300(:class="{show: showNews}")
          .dropdown-content-header
            span.font-weight-semibold {{ $t('events').toUpperCase() }}
            a.text-default(href='#')
              i.icon-gear.font-size-base
          .dropdown-content-body.dropdown-scrollable
            ul.media-list
              li.media
                .mr-3
                  img.rounded-circle(src='/static/images/placeholders/placeholder.jpg' width='36' height='36' alt='')
                .media-body
                  a.media-title.font-weight-semibold(href='#') Jordana Ansley
                  span.d-block.text-muted.font-size-sm Lead web developer
                .ml-3.align-self-center
                  span.badge.badge-mark.border-success
              li.media
                .mr-3
                  img.rounded-circle(src='/static/images/placeholders/placeholder.jpg' width='36' height='36' alt='')
                .media-body
                  a.media-title.font-weight-semibold(href='#') Will Brason
                  span.d-block.text-muted.font-size-sm Marketing manager
                .ml-3.align-self-center
                  span.badge.badge-mark.border-danger
              li.media
                .mr-3
                  img.rounded-circle(src='/static/images/placeholders/placeholder.jpg' width='36' height='36' alt='')
                .media-body
                  a.media-title.font-weight-semibold(href='#') Hanna Walden
                  span.d-block.text-muted.font-size-sm Project manager
                .ml-3.align-self-center
                  span.badge.badge-mark.border-success
              li.media
                .mr-3
                  img.rounded-circle(src='/static/images/placeholders/placeholder.jpg' width='36' height='36' alt='')
                .media-body
                  a.media-title.font-weight-semibold(href='#') Dori Laperriere
                  span.d-block.text-muted.font-size-sm Business developer
                .ml-3.align-self-center
                  span.badge.badge-mark.border-warning-300
              li.media
                .mr-3
                  img.rounded-circle(src='/static/images/placeholders/placeholder.jpg' width='36' height='36' alt='')
                .media-body
                  a.media-title.font-weight-semibold(href='#') Vanessa Aurelius
                  span.d-block.text-muted.font-size-sm UX expert
                .ml-3.align-self-center
                  span.badge.badge-mark.border-grey-400
          .dropdown-content-footer.bg-light
            a.text-grey.mr-auto(href='#') {{ $t('allEvents').toUpperCase() }}

      //- MegaMenu(v-if="permissions.viewConfigurations"
      //-          :menuActive="megaMenuActive"
      //-          v-on-clickaway="closeMegaMenu"
      //-          title="configuration"
      //-          :user="user"
      //-          @click.native="toggleMegaMenu")
      MegaMenu(v-if="permissions.viewConfigurations"
               :menuActive="megaMenuActive"
               title="configuration"
               :user="user")
      li.nav-item.dropdown.dropdown-user(@click="toggleUserInfo" v-on-clickaway="closeUserInfo")
        a.navbar-nav-link.d-flex.align-items-center.dropdown-toggle()
          img.mr-2(:src='avatar' height='22' alt='avatar')
          span {{ user.username }}
        .dropdown-menu.dropdown-menu-right.rounded-0.border-0(:class="{show: showUserInfo}")
          router-link.dropdown-item(:to="{name: 'user-detail', params: { id: $store.state.auth.userPofile.id }}")
            i.icon-user-plus
            |  {{ $t('myProfile') }}
          a.dropdown-item(href='#')
            i.icon-stack-check
            |  {{ $t('tasks') }}
            span.badge.badge-pill.bg-green.ml-auto 12

          a.dropdown-item(href='#')
            i.icon-comment-discussion
            |  {{ $t('messages') }}
            span.badge.badge-pill.bg-blue.ml-auto 58
          .dropdown-divider
          a.dropdown-item(href='#')
            i.icon-cog5
            |  {{ $t('accountSettings') }}
          a.dropdown-item(@click="logout")
            i.icon-switch2
            |  {{ $t('logout') }}
  </template>

<script>
import { mixin as clickaway } from 'vue-clickaway';
import MegaMenu from '@/components/navbar/MegaMenu';
import ClassicMenu from '@/components/navbar/Classic';
import BodyStylingMixin from '@/mixins/BodyStylingMixin';
import actionTypes from '../../store/actionTypes';


export default {
  data() {
    return {
      showUserInfo: false,
      megaMenuActive: false,
      classicMenuActive: false,
      mobileMenuShow: false,
      showNews: false,
    };
  },
  mixins: [clickaway, BodyStylingMixin],
  /* eslint-disable */
  props: {
    user: Object,
    sideBarButtonStatus: {
      default: false,
      type: Boolean
    }
  },
  components: {
    MegaMenu,
    ClassicMenu
  },
  computed: {
    currentLocale () {
      return this.$store.getters.getLocale
    },
    locales () {
      return this.$store.getters.getLocales
    },
    isWidgetConfiguratorPage() {
      return this.$router.currentRoute.name === 'widgetConfigurator';
    },
    avatar() {
      return this.user.avatar ? `${process.env.VUE_APP_API_URL}${this.user.avatar}` : '/static/images/placeholders/placeholder.jpg';
    },
    permissions() {
      const user = this.user;
      if (!user || !user.permissions) {
        return {};
      }
      return user.permissions;
    },
  },
  methods: {
    toggleUserInfo() {
      this.showUserInfo = !this.showUserInfo;
    },
    closeUserInfo() {
      this.showUserInfo = false;
    },
    logout() {
      this.$router.push({ name: 'logout' });
    },
    // toggleMegaMenu() {
    //   this.megaMenuActive = !this.megaMenuActive;
    // },
    // closeMegaMenu() {
    //   this.megaMenuActive = false;
    // },
    toggleClassicMenu() {
      this.classicMenuActive = !this.classicMenuActive;
    },
    closeClassicMenu() {
      this.classicMenuActive = false;
    },
    toggleSideBar() {
      this.$store.commit(actionTypes.ui.TOGGLE_SIDEBAR);
    },
    toggleMobileMenu() {
      this.mobileMenuShow = !this.mobileMenuShow;
    },
    closeMobileMenu() {
      this.mobileMenuShow = false;
    },
    toggleNews() {
      this.showNews = !this.showNews;
    },
    closeNews() {
      this.showNews = false;
    },
    openMainSideBar() {
      this.removeBodyClass('sidebar-mobile-secondary');
      this.toggleBodyClass('sidebar-mobile-main');
    },
    openSecondarySideBar() {
      this.removeBodyClass('sidebar-mobile-main');
      this.toggleBodyClass('sidebar-mobile-secondary');
    },
  },
};
</script>

<style lang="sass">
  // #main-navbar
  //   .navbar-nav-link
  //     font-size: 12px
  //     min-height: 48px
  // #navbar-second
  //   .navbar-nav-link
  //     min-height: 43px
  .navbar-brand
    margin: 0
    min-width: 15rem !important
</style>

<style lang="sass">
#circle-notice
    top: .4375rem
    right: .5rem
@media (max-width: 1300px)
  #circle-notice
    display: none
</style>
