<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to='/data-analysis/data-sources', data-toggle='tab' active-class='active')
        i.icon-barcode2.mr-2
        | {{ $t('dataSources') }}
    li.nav-item
      router-link.navbar-nav-link(to='/data-analysis/events-search', active-class='active' data-toggle='tab')
        i.icon-barcode2.mr-2
        | {{ $t('eventSearch') }}
    li.nav-item
      router-link.navbar-nav-link(to='/data-analysis/patterns', active-class='active' data-toggle='tab')
        i.icon-stack2.mr-2
        | {{ $t('patterns') }}
        span.badge.badge-pill.bg-success.position-static.ml-auto.ml-lg-2
          | {{ patternsLabelCount }}
    li.nav-item
      router-link.navbar-nav-link(to="/data-analysis/partitioning" active-class='active' data-toggle='tab')
        i.icon-database-menu.mr-2
        | {{ $t('dataPartitions') }}
    li.nav-item
      router-link.navbar-nav-link(to="/data-analysis/archieving" active-class='active' data-toggle='tab')
        i.icon-database-refresh.mr-2
        | {{ $t('archiving') }}

  ul.navbar-nav.ml-lg-auto
    HelpButton(section="analysis")
    StaticButtons

</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';
import SubNavBarMixin from './SubNavBarMixin';
import StaticButtons from './Buttons/StaticButtons';
import HelpButton from './Buttons/HelpButton';

export default {
  data() {
    return {
      patternsLabelCount: 32,
      showActionMenu: false,
    };
  },
  components: {
    StaticButtons,
    HelpButton,
  },
  methods: {
    toggleActionMenu() {
      this.showActionMenu = !this.showActionMenu;
    },
    closeActionMenu() {
      this.showActionMenu = false;
    },
  },
  mixins: [SubNavBarMixin, clickaway],
};
</script>
