<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link.router-link-exact-active(:to="{name: 'source-management'}"
                                                            active-class='active'
                                                            data-toggle='tab')
        i.icon-target2.mr-2
        | {{ $t('sourceManagement') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'attack-matrix'}"
                                  data-toggle='tab'
                                  active-class='active')
        i.icon-graph.mr-2
        | {{ $t('attackMatrix') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'coverage-matrix'}"
                                  data-toggle='tab'
                                  active-class='active')
        i.icon-graph.mr-2
        | {{ $t('coverageMatrix') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'detect-matrix'}"
                                  data-toggle='tab'
                                  active-class='active')
        i.icon-graph.mr-2
        | {{ $t('detectMatrix') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'group-matrix'}"
                                  data-toggle='tab'
                                  active-class='active')
        i.icon-graph.mr-2
        | {{ $t('groupMatrix') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'attack-tactics'}"
                                  data-toggle='tab'
                                  active-class='active')
        i.icon-graph.mr-2
        | {{ $t('attackTactics') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'attack-tecknology'}"
                                  data-toggle='tab'
                                  active-class='active')
        i.icon-graph.mr-2
        | {{ $t('attackTecknology') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'mittre-management'}"
                                  data-toggle='tab'
                                  active-class='active')
        i.icon-graph.mr-2
        | {{ $t('management') }}
  ul.navbar-nav.ml-lg-auto
    HelpButton(section="attackCenter")
    StaticButtons
</template>

<script>
import SubNavBarMixin from './SubNavBarMixin';
import StaticButtons from './Buttons/StaticButtons';
import HelpButton from './Buttons/HelpButton';

export default {
  mixins: [SubNavBarMixin],
  components: {
    StaticButtons,
    HelpButton,
  },
};
</script>
