<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  draggable.navbar-nav(v-model="storageDashboards" element="ul" @end="onEndDraggable")
    li.nav-item(
      v-for="(dashboard, i) of dashboards"
      :class="{active: dashboard === selectedDashboard}"
    )
      a.navbar-nav-link(@click="navigateTo(i)")
        | {{ dashboard.title }}
  ul.navbar-nav.ml-md-auto
    a.dropdown-item(@click="addWidget")
      i.icon-plus22.position-left
      | {{ $t('addWidget') }}
    // li.nav-item
    //   router-link.navbar-nav-link(:to="{name: 'widgetConfigurator', params: { name: 'Eline' }}")
    //     | Создать шаблон
    li.nav-item(v-tooltip.bottom-start="{ content: $t('inNewWindow'), }")
      a.navbar-nav-link(@click="openNewDashboardTab")
        i.icon-enlarge7

    HelpButton(section="dashboards")
    StaticButtons
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';
import StoreActionsMixin from '@/mixins/store/StoreActions';
import draggable from 'vuedraggable';
import SubNavBarMixin from './SubNavBarMixin';
import ModalCreating from '@/components/modals/ModalDashboard';
import ModalRemove from '@/components/modals/ModalDashboardRemove.vue';
import ModalWidget from '@/components/modals/ModalWidget.vue';
import ModalInfo from '@/components/modals/ModalWidgetInfo';
import DashboardToolMixin from '@/services/dashboards/DashboardToolMixin';
import actionTypes from '../../store/actionTypes';
import StaticButtons from './Buttons/StaticButtons';
import HelpButton from './Buttons/HelpButton';

export default {
  props: {
    dashboards: {
      default: () => [],
      type: Array,
    },
    selectedDashboardId: {
      type: Number,
    },
  },
  data() {
    return {
      modalCreatingShow: false,
      modalRemoveShow: false,
      modalWidgetShow: false,
      modalWidgetMode: 'create',
      modalMode: 'creating',
    };
  },
  components: {
    ModalCreating,
    ModalRemove,
    ModalWidget,
    ModalInfo,
    draggable,
    StaticButtons,
    HelpButton,
  },
  methods: {
    navigateTo(i) {
      this.$router.push({ name: 'AnalyticsDashboard', params: { dashboardUrl: this.dashboards[i].url } });
    },
    addWidget() {
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalWidget',
        data: { type: 'create' },
      });
    },
    onEndDraggable(e) {
      this.$store.dispatch(actionTypes.dashboards.SWAP_DASHBOARDS_POSITIONS, {
        oldIndex: e.oldIndex,
        newIndex: e.newIndex,
      });
      this.$store.commit(actionTypes.dashboards.SELECT_DASHBOARD, e.newIndex);
    },
    openNewDashboardTab() {
      const tabName = Math.random(1000) * 100;
      window.open('/zoom-dashboard', `Окно виджетов: ${tabName}`, {
        menubar: 'no',
        toolbar: 'no',
        location: 'no',
      });
      this.saveSelectedDashboardId();
      this.saveDashboards();
    },
  },
  mixins: [SubNavBarMixin, clickaway, StoreActionsMixin, DashboardToolMixin],
  computed: {
    storageDashboards: {
      get() {
        return this.dashboards;
      },
      set(dashboards) {
        // this.updateDashboardsPositions(dashboards);
      },
    },
    selectedDashboard() {
      return this.$store.getters.getSelectedDashboard;
    },
    // dashboards() {
    //   return this.$store.getters.getDashboards;
    // },
  },
};
</script>


<style lang="sass">
  span.position-right
    margin-left: 7px
</style>
