<template lang="pug">
#navbar-second.navbar-collapse.collapse(:class="{ show: showMobile }")
  ul.navbar-nav
    li.nav-item
      a.navbar-nav-link(href='#')
        | Text link
    li.nav-item
      a.navbar-nav-link(href='#')
        | Link width badge
        span.badge.badge-pill.bg-teal-800.position-static.ml-auto.ml-md-2 5
    li.nav-item.dropdown
      a.navbar-nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
        | Dropdown
      .dropdown-menu
        a.dropdown-item(href='#') Action
        a.dropdown-item(href='#') Another action
        a.dropdown-item(href='#') One more action
        .dropdown-divider
        a.dropdown-item(href='#') Separate action
  ul.navbar-nav.ml-md-auto
    li.nav-item
      a.navbar-nav-link(href='#')
        | Link
        span.badge.badge-pill.bg-teal-800.position-static.ml-auto.ml-md-2 28
    li.nav-item.dropdown
      a.navbar-nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
        | Dropdown
      .dropdown-menu.dropdown-menu-right
        a.dropdown-item(href='#') Action
        a.dropdown-item(href='#') Another action
        a.dropdown-item(href='#') One more action
        .dropdown-divider
        a.dropdown-item(href='#') Separate action
    StaticButtons
</template>

<script>
import SubNavBarMixin from './SubNavBarMixin';
import StaticButtons from './Buttons/StaticButtons';

export default {
  mixins: [SubNavBarMixin],
  components: {
    StaticButtons,
  },
};
</script>
