<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to='/incidents/incidents', active-class='active' data-toggle='tab')
        i.icon-warning.mr-2
        | {{ $t('incidents') }}
    li.nav-item
      router-link.navbar-nav-link(to='/incidents/details', active-class='active' data-toggle='tab')
        i.icon-clipboard3.mr-2
        | {{ $t('details') }}
    li.nav-item
      router-link.navbar-nav-link(to='/incidents/active-attacks', active-class='active' data-toggle='tab')
        i.icon-notification2.mr-2
        | {{ $t('incidentAttack') }}
    li.nav-item
      router-link.navbar-nav-link(to='/incidents/wiki', active-class='active' data-toggle='tab')
        i.icon-lab.mr-2
        | {{ $t('appWiki') }}

  ul.navbar-nav.ml-lg-auto
    HelpButton(section="incidents")
    StaticButtons

</template>

<script>
import SubNavBarMixin from './SubNavBarMixin';
import StaticButtons from './Buttons/StaticButtons';
import HelpButton from './Buttons/HelpButton';

export default {
  mixins: [SubNavBarMixin],
  components: {
    StaticButtons,
    HelpButton,
  },
};
</script>
