<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to='/infrastructure/assets', active-class='active' data-toggle='tab')
        i.icon-display.mr-2
        | {{ $t('assets') }}
    li.nav-item
      a.navbar-nav-link.disabled(v-if="!selectedAsset"
                                 v-tooltip.bottom-start="{ content: $t('NoSelectedAsset') }")
        i.icon-clipboard3.mr-2
        | {{ $t('details') }}

      router-link.navbar-nav-link(v-else
                                  :to="{ name: 'infractructureDetail', params: { id: selectedAsset.id } }"
                                  active-class='active'
                                  data-toggle='tab')
        i.icon-clipboard3.mr-2
        | {{ $t('details') }}
    li.nav-item
      router-link.navbar-nav-link(to='/infrastructure/groups', active-class='active' data-toggle='tab')
        i.icon-stack-text.mr-2
        | {{ $t('groups') }}

    li.nav-item
      router-link.navbar-nav-link(to='/infrastructure/topology', active-class='active' data-toggle='tab')
        i.icon-map5.mr-2
        | {{ $t('topology') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{ name: 'infractructureScanning' }" active-class='active' data-toggle='tab')
        i.icon-search4.mr-2
        | {{ $t('scanning') }}

    li.nav-item
      router-link.navbar-nav-link(to='/infrastructure/instruments', active-class='active' data-toggle='tab')
        i.icon-equalizer3.mr-2
        | {{ $t('instruments') }}
  ul.navbar-nav.ml-lg-auto
    HelpButton(section="infrastracture")
    StaticButtons
</template>

<script>
import SubNavBarMixin from './SubNavBarMixin';
import StaticButtons from './Buttons/StaticButtons';
import HelpButton from './Buttons/HelpButton';

export default {
  mixins: [SubNavBarMixin],
  components: {
    StaticButtons,
    HelpButton,
  },
  methods: {
    goToSelectedAsset() {
      if (!this.selectedAsset) {
        return;
      }
      this.$router.push({ name: 'infractructureDetail', params: { id: this.selectedAsset.id } });
    },
  },
  computed: {
    selectedAsset() {
      return this.$store.getters.getSelectedAsset;
    },
  },
};
</script>
