<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to='/reaction/tab1', active-class='active' data-toggle='tab')
        i.icon-display.mr-2
        | {{ $t('Test tab') }}

  ul.navbar-nav.ml-lg-auto
    HelpButton(section="reaction")
    StaticButtons

</template>

<script>
import SubNavBarMixin from './SubNavBarMixin';
import StaticButtons from './Buttons/StaticButtons';
import HelpButton from './Buttons/HelpButton';

export default {
  mixins: [SubNavBarMixin],
  components: {
    StaticButtons,
    HelpButton,
  },
};
</script>
