<template lang="pug">
.page-header.page-header-light.border-bottom-0(v-if="['tickets'].indexOf($route.name) === -1")
  SubNavBarHeader(v-if="isHeader && !isHeaderCollapse"
                  @onChangeSubNavbarShowing="subnavbarFixedChange")
    template(v-if="showSubNavbar")
      .header-elements(v-if="type === 'dashboard'")
        DashboardHeaderElemets
      .header-elements(v-if="type === 'configurator'")
        WidgetConfigoratorElements
  .navbar.navbar-sm.navbar-expand-xl.navbar-light.bg-light.navbar-sticky.border-0(:class="{ 'fix-sub-nav-bar': fixed && canFixed }")
    .text-center.d-xl-none.w-100(v-if="navComponent && subNavActive && showSubNavbar")
      button.navbar-toggler.dropdown-toggle(type='button' @click="toggleMobileMenu")
        i.icon-unfold.mr-2
        | {{ $t('navigation').toUpperCase() }}
    conponent(v-if="navComponent && subNavActive && showSubNavbar"
              :is="navComponent"
              :showMobile="showMobile"
              :dashboards="dashboards"
              :selectedDashboardId="selectedDashboardId"
              @toggleFixStatus="toggleFixStatus")
</template>

<script>
import DefaultNav from './DefaultSubNavBar';
import DshbNav from './DashboardSubNavbar';
import SubNavBarHeader from './SubNavBarHeader';
import UserProfileNav from './UserProfileSubNavBar';
import InfrastructureNav from './InfrastructureSubNavBar';
import IncidentsNav from './IncidentsSubNavBar';
import AnalysisNav from './AnalysisSubNavBar';
import ReactionNav from './ReactionSubNavBar';
import TicketsNav from './TicketsSubNavBar';
import ConfAssetsNav from './configuration/AssetsSubNavBar';
import ConfCorrelationNav from './configuration/CorrelationSubNavBar';
import ConfIntelligenceNav from './configuration/IntelligenceSubNavBar';
import ConfStandartizationNav from './configuration/StandartizationSubNavBar';
import ConfAnalysisNav from './configuration/AnalysisSubNavBar';
import ConfSystemNav from './configuration/SystemSubNavBar';
import WidgetConfiguratorNav from './WidgetConfiguratorSubNavBar';
import DashboardHeaderElemets from '@/components/SubNavBar/headers/DashboardHeaderElements';
import AttackCenterNav from './AttackCenterSubNavBar';
import actionTypes from '@/store/actionTypes';
import WidgetConfigoratorElements from './headers/WidgetConfiguratorElements';

export default {
  data() {
    return {
      canFixed: false,
      showMobile: false,
      showSubNavbar: true,
    };
  },
  props: {
    fixed: {
      default: false,
      type: Boolean,
    },
    dashboards: {
      /*
       * Массив объектов {id: идентификатор, title: отображаемое имя, link: ссылка для навигации}
       */
      default: () => [],
      type: Array,
    },
    type: {
      /*
       * Тип сайдбара.
       *  default: стандартный тип для навигации
       *  dashboards: тип навбара для отображения дашбордов,
       *              требуется также передать dashboards, содержащий
       *              название дашборда, идентификатор и ссылку.
       */
      default: 'default',
      type: String,
    },
    selectedDashboardId: {
      type: Number,
    },
    isHeader: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    DefaultNav,
    SubNavBarHeader,
    UserProfileNav,
    DshbNav,
    InfrastructureNav,
    IncidentsNav,
    AnalysisNav,
    ReactionNav,
    TicketsNav,
    ConfAssetsNav,
    ConfCorrelationNav,
    ConfIntelligenceNav,
    ConfStandartizationNav,
    ConfAnalysisNav,
    ConfSystemNav,
    WidgetConfiguratorNav,
    DashboardHeaderElemets,
    AttackCenterNav,
    WidgetConfigoratorElements,
  },
  methods: {
    toggleFixStatus() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_FIXED, !this.fixed);
    },
    addEventListeners() {
      window.addEventListener('scroll', this.handleScroll);
    },
    handleScroll(event) {
      if (!this.fixed) {
        // Если фиксация не включена то и проверять нечего
        return;
      }
      const navBar = document.getElementById('main-navbar');
      if (navBar.getBoundingClientRect().top < -55) {
        this.canFixed = true;
        return;
      }
      this.canFixed = false;
    },
    toggleMobileMenu() {
      this.showMobile = !this.showMobile;
    },
    subnavbarFixedChange(status) {
      this.showSubNavbar = status;
    },
  },
  computed: {
    navComponent() {
      const types = {
        default: UserProfileNav,
        dashboard: DshbNav,
        infrastructure: InfrastructureNav,
        incidents: IncidentsNav,
        analysis: AnalysisNav,
        reaction: ReactionNav,
        tickets: TicketsNav,
        confAssets: ConfAssetsNav,
        confCorrelation: ConfCorrelationNav,
        confIntelligence: ConfIntelligenceNav,
        confStandardization: ConfStandartizationNav,
        confAnalysis: ConfAnalysisNav,
        confSystem: ConfSystemNav,
        configurator: WidgetConfiguratorNav,
        attackCenter: AttackCenterNav,
      };
      return types[this.type] ? types[this.type] : DefaultNav;
    },
    subNavActive() {
      return this.$store.getters.getSubNavBarStatus;
    },
    isHeaderCollapse() {
      return this.$store.getters.isSubNavBarHeaderCollapse;
    },
  },
  mounted() {
    this.addEventListeners();
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>


<style lang="sass">
.fix-sub-nav-bar
  position: fixed !important
  z-index: 10
  width: 100%
  top: 0
</style>
