<template lang="pug">
.page-header-content.header-elements-md-inline
  .page-title.d-flex(style='padding: 1.5rem 0;!important')
    h5
      span.font-weight-semibold {{ $t(title) }}
      | {{ subTitleTranslated }}
      
      span(v-if='pageTitle') {{ pageTitle }}
    a.header-elements-toggle.text-default.d-md-none.pointer(@click="toggleOnMobile")
      i.icon-more
  div.d-flex.justify-content-center
    slot

</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

export default {
  data() {
    return {
      showMenu: false,
      showNavBar: false,
    };
  },
  mixins: [clickaway],
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
    closeMenu() {
      this.showMenu = false;
    },
    toggleOnMobile() {
      this.showNavBar = !this.showNavBar;
      this.$emit('onChangeSubNavbarShowing', this.showNavBar);
    },
    toggleSubNavBar() {
      // this.$store.commit()
      this.$emit('status');
    },
  },
  computed: {
    title() {
      return this.$store.getters.getDocumentMeta.title;
    },
    titleSecond() {
      return this.$store.getters.getDocumentMeta.titleSecond;
    },
    // eslint-disable-next-line vue/return-in-computed-property
    subTitle() {
      const { subTitle } = this.$store.getters.getDocumentMeta;
      if (subTitle) {
        return ` - ${subTitle}`;
      }
    },
    subTitleTranslated () {
      const { subTitle } = this.$store.getters.getDocumentMeta;
      if (subTitle) {
        return ` - ${this.$t(subTitle)}`;
      }
    },
    pageTitle () {
      let title = ''
      if (this.$store.getters.getTitlePage) {
        this.$store.getters.getTitlePage.forEach(
          function callback(currentValue) {
            title += ` - ${currentValue}`
          });
      }
      return title
    },
    
  },
};
</script>
