<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to="/tickets/tickets", active-class="active" data-toggle="tab")
        i.icon-display.mr-2
        | {{ $t("tickets") }}
    li.nav-item
      router-link.navbar-nav-link(to="/tickets/details", active-class="active" data-toggle="tab")
        i.icon-clipboard3.mr-2
        | {{ $t("details") }}
    li.nav-item
      router-link.navbar-nav-link(to="/tickets/SLA", active-class="active" data-toggle="tab")
        i.icon-stack-text.mr-2
        | SLA
  ul.navbar-nav.ml-lg-auto
    HelpButton(section="tickets")


</template>

<script>
import SubNavBarMixin from './SubNavBarMixin';
import StaticButtons from './Buttons/StaticButtons';
import HelpButton from './Buttons/HelpButton';

export default {
  mixins: [SubNavBarMixin],
  components: {
    StaticButtons,
    HelpButton,
  },
};
</script>
