<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'my-profile', params: { id: $store.state.auth.userPofile.id }}" active-class="active" data-toggle='tab' exact)
        i.icon-user.mr-2
        | {{ $t('myProfile') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'user-list'}" active-class="active" data-toggle='tab' exact)
        i.icon-users4.mr-2
        | {{ $t('allUsers') }}
    li.nav-item
      a.navbar-nav-link.disabled(v-if="!selectedUser"
                                 v-tooltip.bottom-start="{ content: $t('NoSelectedUser') }")
        i.icon-clipboard3.mr-2
        | {{ $t('information') }}

      router-link.navbar-nav-link(v-else :to="{name: 'user-detail', params: { id: selectedUser.id }}" active-class="active" data-toggle='tab' exact)
        i.icon-user-check.mr-2
        | {{ $t('information') }}
    li.nav-item
      router-link.navbar-nav-link(:to="{name: 'users.permissions'}" active-class="active" data-toggle='tab' exact)
        i.icon-collaboration.mr-2
        | {{ $t('roleManagement') }}

  ul.navbar-nav.ml-lg-auto
    HelpButton(section="users")
    StaticButtons

</template>

<script>
import SubNavBarMixin from './SubNavBarMixin';
import StaticButtons from './Buttons/StaticButtons';
import HelpButton from './Buttons/HelpButton';

export default {
  mixins: [SubNavBarMixin],
  watch: {
    selectedUser() {
      return this.$store.getters.getuserProfile;
    },
  },
  computed: {
    selectedUser() {
      return this.$store.getters.getuserProfile;
    },
  },
  components: {
    StaticButtons,
    HelpButton,
  },
};
</script>
