<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to='/analytics/configurator', active-class='active' data-toggle='tab')
        i.icon-stats-bars.mr-2
        | Конфигуратор
    li.nav-item
      //- router-link.navbar-nav-link.disabled(to='/analytics/gallery', active-class='active' data-toggle='tab')
      a.navbar-nav-link.disabled(href='#', active-class='active' data-toggle='tab')
        i.icon-grid3.mr-2
        | Галерея виджетов
    li.nav-item(@click.stop="(event) => event.stopPropagation()")
      //- router-link.navbar-nav-link.disabled(to='/analytics/open-analytics-exchange', active-class='active' data-toggle='tab')
      a.navbar-nav-link.disabled(href="#", active-class='active' data-toggle='tab')
        i.icon-sphere3.mr-2
        | ЦЕНТР ОБМЕНА АНАЛИТИКОЙ
  ul.navbar-nav.ml-lg-auto
    HelpButton(section="widgetConfigurator")
    StaticButtons

</template>

<script>
import SubNavBarMixin from './SubNavBarMixin';
import StaticButtons from './Buttons/StaticButtons';
import HelpButton from './Buttons/HelpButton';

export default {
  mixins: [SubNavBarMixin],
  components: {
    StaticButtons,
    HelpButton,
  },
};
</script>
