<script id="head_manager_clients_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
        <div id="ProjectControl"><button id="addClient" class="btn btn-default" type="button">Создать <span class="glyphicon glyphicon-plus"></span></button> </div>
    </div>
    <form>
		<div class="form-group">
			<label>Виды деятельности:</label>
			<input type="text" name="activities" id="SelectActivities">
		</div>
		<div class="form-group">
			<label>Сфера деятельности:</label>
			<input type="text" name="client_activitys" id="SelectClientActivities">
		</div>
		<!--<div class="form-group">-->
			<!--<label>Проекты:</label>-->
			<!--<input type="text" name="projects" id="SelectProject">-->
		<!--</div>-->
		<div class="form-group">
            <label>Менеджер:</label>
            <select name="personal_manager_type_one" id="SelectManager"></select>
        </div>
    </form>
	<table id="table"></table>
</script>


<script id="toolbar" type="text/template">
	<button id="all_clients" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Все клиенты
    </button>
    <button id="client_in_working" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Клиенты направления
    </button>
    <button id="key_client" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Ключевые клиенты
    </button>
</script>


<script id="manager_clients_type_1_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
	    <div id="ProjectControl"><button id="addClient" class="btn btn-default" type="button">Создать <span class="glyphicon glyphicon-plus"></span></button> </div>
    </div>
	<table id="table"></table>
</script>

<script id="toolbar_client_type_1" type="text/template">
	<button id="all_clients" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Все клиенты
    </button>
    <button id="do_contact" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Соверш. звонок
    </button>
    <button id="resetfilterButton" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</script>


<script id="one_c_client_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
	    <form>
	    	<div class="row">
	    		<div class="col-md-6">
	    			{{#if show_date}}
			    	<div class="form-group">
						<label>С:</label>
						<input type="date" name="date_start" class="form-control input-sm" id="">
					</div>
					<div class="form-group">
						<label>По:</label>
						<input type="date" name="date_end" class="form-control input-sm" id="">
					</div>
					{{/if}}
			    	<div class="form-group">
						<label>Проект:</label>
						<input type="text" name="project" id="SelectProject">
					</div>
	    		</div>
	    		<div class="col-md-6">
	    			<div class="form-group" {{#unless show_manager}}style="display: none;"{{/unless}}>
						<label>Менеджер:</label>
						<input type="text" name="manager" id="SelectManager">
					</div>
					<div class="form-group">
						<label>Вид счета:</label>
						<select name="barter" id="SelectBarter"></select>
					</div>
					<div class="form-group">
						<label>Тип:</label>
						<select name="type" id="SelectType"></select>
					</div>
	    		</div>
	    	</div>
		    <button class="btn btn-default" type="button" id="getOneC">Сформировать</button>
		    {{#unless show_manager}}
		    	<button class="btn btn-default" type="button" id="getOneCByProject">Сформировать по всем</button>
	    	{{/unless}}
	    </form>
    </div>
    <table id="table"></table>
</script>

<script id="one_c_client_type_one_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
	    <form>
	    	<div class="row">
	    		<div class="col-md-6">
	    			{{#if show_date}}
			    	<div class="form-group">
						<label>С:</label>
						<input type="date" name="date_start" class="form-control input-sm" id="">
					</div>
					<div class="form-group">
						<label>По:</label>
						<input type="date" name="date_end" class="form-control input-sm" id="">
					</div>
					{{/if}}
			    	<div class="form-group">
						<label>Проект:</label>
						<input type="text" name="project" id="SelectProject">
					</div>
	    		</div>
	    		<div class="col-md-6">
	    			<div class="form-group" {{#unless show_manager}}style="display: none;"{{/unless}}>
						<label>Менеджер:</label>
						<input type="text" name="manager" id="SelectManager">
					</div>
					<!-- <div class="form-group">
						<label>Вид счета:</label>
						<select name="barter" id="SelectBarter"></select>
					</div> -->
					<div class="form-group">
						<label>Тип:</label>
						<select name="type" id="SelectType"></select>
					</div>
	    		</div>
	    	</div>
		    <button class="btn btn-default" type="button" id="getOneC">Сформировать</button>
	    </form>
    </div>
    <table id="table"></table>
</script>