<template lang="pug">
#modal_default.modal.fade.show
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title {{ mode === 'create' ? $t('createNew') : $t('edit') }} {{ $t('widget') }}.
        button.close(type='button' @click="closeModalWindow") &times;
      .modal-body()
        .row
          .col-12
            label(for="title") {{ $t('widgetName') }}
            input.form-control#title(type='text' placeholder="Название виджета" v-model="widget.title")
          .col-12
            label(for="description") {{ $t('widgetDescr') }}
            input.form-control#subTitle(type='text' :placeholder="$t('widgetDescr')" v-model="widget.description")
          .col-3(style="padding: 5px 0 0 10px;")
            .uniform-select.fixedWidth
              span(style='user-select: none;') {{ selected.text }}
              select.form-control.form-control-uniform(v-model="selected")
                option(v-for="w in widgets" :value='w') {{ w.text }}
          .col-9
            #navbar-creating.navbar
              draggable.navbar-nav.empty-list(
                                   style="flex-direction: row;"
                                   :options="{ group: 'cols' }"
                                   element="ul")
                li.nav-item
                  a.navbar-nav-link
                    | {{ $t('column', {n: 1}) }}
                li.nav-item
                  a.navbar-nav-link
                    | {{ $t('column', {n: 2}) }}
                li.nav-item
                  a.navbar-nav-link
                    | {{ $t('column', {n: 3}) }}
        .row
          .col-3
            draggable.navbar-nav.empty-list(
                                 element="ul"
                                 :options="{ group: 'cols' }"
                                 style="flex-direction: column;")
              li.nav-item
                a.navbar-nav-link
                  | {{ $t('column', {n: 5}) }}
              li.nav-item
                a.navbar-nav-link
                  | {{ $t('column', {n: 6}) }}
              li.nav-item
                a.navbar-nav-link
                  | {{ $t('column', {n: 7}) }}
          .col-9.widget-thumbnil(v-if="selected")
            component(:is="selected.type" :dataWidget="tmpDataWidget")

        #widget-creating
        .modal-footer
          button.btn.btn-link(type='button' @click="closeModalWindow") {{ $t('close') }}
          button.btn.bg-info(type='button'
                             :disabled="!isWidgetValid"
                             @click="addWidget") {{ $t('save') }}
</template>

<script>
import 'pivottable';
import draggable from 'vuedraggable';
import ModalWindowMixin from './ModalWindowMixin';
import importWidgets from '@/tools/lazyWidgetsImport';
import WidgetInitializerMixin from '@/components/widgets/WidgetInitializerMixin';
import actionTypes from '../../store/actionTypes';

const widgetComponents = importWidgets();

export default {
  props: {
    modalData: {
      type: Object,
    },
  },
  components: {
    draggable,
    ...widgetComponents,
  },
  data() {
    const widgets = [
      // Приставка E соответствует гарфикам библиотеки Echarts
      {
        text: 'Текст',
        type: 'Doc',
      },
      {
        text: 'Изображение',
        type: 'Picture',
      },
      {
        text: 'Линейный график[2]',
        type: 'Eline',
      },
      {
        text: 'Таблица',
        type: 'Table',
      },
      {
        text: 'Полярный график',
        type: 'Polar',
      },
      {
        text: 'Круговая диаграмма',
        type: 'Pie',
      },
      {
        text: 'Гистограмма [2]',
        type: 'Ebar',
      },
      {
        text: 'Циферблат',
        type: 'Gauge',
      },
      {
        text: 'Точечный график',
        type: 'Scatter',
      },
      {
        text: 'Радар',
        type: 'Radar',
      },
      {
        text: 'Граф',
        type: 'Graph',
      },
    ];
    const selected = widgets[0];
    return {
      widgets,
      selected,
      widget: {
        dataWidget: null,
        title: '',
        description: '',
        collapse: false,
        minH: 6,
        minW: 2,
      },
      allCol: [],
      activeCol: [],
      tmoDataWidget: {},
    };
  },
  mixins: [ModalWindowMixin, WidgetInitializerMixin],
  methods: {
    addWidget() {
      if (this.mode === 'create') {
        this.createWidget();
      }
      if (this.mode === 'edit') {
        this.editWidget();
      }
      this.$store.commit(actionTypes.ui.CLOSE_MODAL_WINDOW);
    },
    createWidget() {
      this.widget.type = this.selected.type;
      this.$store.dispatch(actionTypes.dashboards.ADD_WIDGET, this.widget);
    },
    editWidget() {
      this.widget.type = this.selected.type;
      this.$store.dispatch(actionTypes.dashboards.EDIT_WIDGET, this.widget);
    },
    initFakeData() {
      this.widget.dataWidget = this.initWidgetData(this.selected.type);
    },
    initEditingData() {
      this.widget = { ...this.modalData.data };
      this.widgets.forEach((w, i) => {
        if (w.val === this.modalData.data.widget) {
          this.selected = this.widgets[i];
        }
      });
      // TODO: переделать метод, добавить проверку на тип, либо try/except
    },
    initTmpWidgetData() {
      this.tmpDataWidget = JSON.parse(JSON.stringify(this.widget.dataWidget));
    },
  },
  computed: {
    mode() {
      return this.modalData.type;
    },
    isWidgetValid() {
      return this.widget.title && this.widget.description;
    },
  },
  watch: {
    selected() {
      this.initFakeData();
      this.initTmpWidgetData();
    },
  },
  beforeMount() {
    if (this.modalData.type === 'create') {
      this.initFakeData();
    } else if (this.modalData.type === 'edit') {
      this.initEditingData();
    }
    this.initTmpWidgetData();
  },
};
</script>

<style lang="sass">
  .empty-list
    min-height: 45.5px
    min-width: 90px;
  #navbar-creating
    overflow-x: auto;
  .widget-thumbnil
    .echarts
      width: 100%
</style>
