<template lang="pug">
#modal_form_vertical.modal.fade.show
  .modal-dialog.modal-full
    .modal-content.rounded-0.shadow-0.border-0.m-0.shadow-0
      .modal-header
        h5.modal-title {{ $t('userCreate') }}
        //- h5.modal-title {{ $t('ticketTitle') }}
        button.close(type='button', @click="closeModalWindow") &times;
      ProfileInfo(:canCreate='canCreate'
                  :user="user" @onCreateProfile="createProfile" @onCloseModalWindow="closeModal")

</template>

<script>
import actionTypes from '@/store/actionTypes';
import ModalWindowMixin from './ModalWindowMixin';
import ProfileInfo from '@/components/UserProfile/ProfileInfo';

export default {
  props: {
    ticket: {
      type: String,
    },
  },
  data() {
    return {
      canCreate: true,
    };
  },
  mixins: [ModalWindowMixin],
  components: {
    ProfileInfo,
  },
  beforeMount() {
    this.initForm();
  },
  methods: {
    initForm() {
      this.user = { ...this.remoteUser };
      this.user.isActive = true;
      if (!this.user.organisation) {
        this.user.organisation = {};
      }
      this.editMode = true;
    },
    closeModal() {
      this.closeModalWindow();
    },
    createProfile(user) {
      this.$store
        .dispatch(actionTypes.userProfile.UPDATE_USER_PROFILE, user)
        .then((response) => {
          const self = this;
          if (self.$store.state.userProfile.userProfileError) {
            // TODO:сделать notification
          } else {
            self.closeModalWindow();
          }
        });
    },
  },
};
</script>
