<template lang="pug">
#modal_default.modal.fade.show
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title {{ title }}
        button.close(type='button' @click="closeModalWindow") &times;
      .modal-body
        .swal2-icon.swal2-success.swal2-animate-success-icon(v-if="success" style='display: flex;')
          .swal2-success-circular-line-left(style='background-color: rgb(255, 255, 255);')
          span.swal2-success-line-tip
          span.swal2-success-line-long
          .swal2-success-ring
          .swal2-success-fix(style='background-color: rgb(255, 255, 255);')
          .swal2-success-circular-line-right(style='background-color: rgb(255, 255, 255);')

        .swal2-icon.swal2-warning.swal2-animate-warning-icon(v-else style='display: flex;') !
      .modal-footer
        button.btn.btn-link(type='button' @click="closeModalWindow") {{ $t('close') }}
        button.btn.bg-danger(type='button'
                             @click="remove") {{ $t('delete') }}
</template>

<script>
import ModalRemoveMixin from './ModalRemoveMixin';
import actionTypes from '@/store/actionTypes';

export default {
  data() {
    return {
      title: 'Подтвердите удаление листа.',
      success: false,
    };
  },
  mixins: [ModalRemoveMixin],
  methods: {
    remove() {
      this.success = true;
      setTimeout(() => {
        this.$store.dispatch(actionTypes.dashboards.DELETE_SELECTED_DASHBOARD)
          .then(() => {
            if (this.dashboards && this.dashboards.length) {
              const firstDashboard = this.dashboards[0];
              this.$router.push({ name: 'AnalyticsDashboard', params: { dashboardUrl: firstDashboard.url } });
            }
          });
        this.$store.commit(actionTypes.ui.CLOSE_MODAL_WINDOW);
      }, 1000);
    },
  },
  computed: {
    dashboards() {
      return this.$store.getters.getDashboards;
    },
  },
};
</script>
