<template lang="pug">
#modal_form_vertical.modal.fade.show
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title {{ $t('ticketTitle') }}
        button.close(type='button', @click="closeModalWindow") &times;
      form(action='#')
        .modal-body
          .form-group
            .row
              .col-sm-12
                label {{ $t('ticketName') }}
                input.form-control(type='text', placeholder='Ticket')
              .col-sm-12
                label {{ $t('description') }}
                input.form-control(type='text', placeholder='')
        .modal-footer
          button.btn.btn-link(type='button', @click="closeModalWindow") {{ $t('close') }}
          button.btn.bg-primary(type='submit' @click="save") {{ $t('save') }}

</template>

<script>
import ModalWindowMixin from './ModalWindowMixin';

export default {
  props: {
    ticket: {
      type: String
    }
  },
  mixins: [ModalWindowMixin]
};
</script>