<template lang="pug">
#modal_default.modal.fade.show
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title {{ modalData ? modalData.title ? modalData.title: title : title }}
        button.close(type='button' @click="closeModalWindow") &times;
      .modal-body
        div.alert.alert-danger
          p {{ $t('pleseContactUsError') }}.
          p(v-if='modalData') {{ modalData.error }}
        .modal-footer
          button.btn.btn-link(type='button' @click="closeModalWindow") {{ $t('close') }}
</template>

<script>
import ModalWindowMixin from './ModalWindowMixin';

export default {
  name: 'ModalLoading',
  mixins: [ModalWindowMixin],
  props: {
    title: {
      type: String,
      default() {
        return this.$t('unexpectedError');
      },
    },
    modalData: {
      type: Object,
    },
  },
};
</script>
