<template lang="pug">
#modal_default.modal.fade.show
  .modal-dialog.modal-dialog-centered
    .modal-content.border-0.rounded-0
      .modal-header
        h5.modal-title {{ mode === 'create' ? $t('createNewPanel') : $t('editPanel') }}
        button.close(type='button' @click="closeModalWindow") ×
      .modal-body
        form(action='#')
          fieldset.mb-3
            .form-group.row
              label.col-form-label.col-lg-3 {{ $t('panelName') }}
              .col-lg-9
                input.form-control.rounded-0(v-model="dashboard.title")
            .form-group.row
              label.col-form-label.col-lg-3 {{ $t('shortDescr') }}
              .col-lg-9
                textarea.form-control.rounded-0(rows='1'
                                                cols='1'
                                                placeholder='Краткое описание'
                                                v-model="dashboard.description"
                                                style='margin-top: 0px; margin-bottom: 0px; height: 40px;')
            .form-group.row
              label.col-form-label.col-lg-3 URL
              .col-lg-9
                input.form-control.rounded-0(v-model="dashboard.url" @keydown="inputUrl")
              .col-12.alert.alert-danger.mt-1(v-if="urlError") {{ urlError }}
            .form-group.row
              label.col-form-label.col-lg-3 {{ $t('panelCategory' )}}
              .col-lg-9
                .uniform-select.rounded-0.fixedWidth(v-if="dashboardTypes")
                  span(style='user-select: none;') {{ dashboardTypes[dashboard.type] }}
                  select.form-control.form-control-uniform(v-model="dashboard.type")
                    option(v-for="(t, v) in dashboardTypes" :value='v' :key="v") {{ t }}
            .form-check
              label.form-check-label
                .uniform-checker
                  span(:class="{ checked: dashboard.isPublic }")
                    input.form-check-input-styled(type='checkbox' v-model="dashboard.isPublic")
                | {{ $t('pubDesc') }}
            //
      .modal-footer
        button.btn.btn-link(type='button' @click="closeModalWindow") {{ $t('close') }}
        button.btn.bg-primary(type='button'
                              @click="save"
                              :disabled="isValid || !isTitleUnique") {{ $t('save') }}
</template>

<script>
import { mapState } from 'vuex';
import ModalWindowMixin from './ModalWindowMixin';
import FormatterMixin from '@/mixins/FormatterMixin';
import actionTypes from '../../store/actionTypes';

export default {
  data() {
    return {
      dashboard: {
        title: null,
        description: null,
        url: '',
        isPublic: false,
        type: null,
        layout: [],
      },
      urlError: null,
      selectedDashboardType: '',
    };
  },
  props: {
    modalData: {
      type: Object,
    },
  },
  mixins: [ModalWindowMixin, FormatterMixin],
  methods: {
    save() {
      const action = this.mode === 'create' ? actionTypes.dashboards.ADD_DASHBOARD : actionTypes.dashboards.EDIT_DASHBOARD;
      this.$store.dispatch(action, this.dashboard)
        .then(() => {
          if (this.mode !== 'create') {
            return;
          }
          this.$router.push({ name: 'AnalyticsDashboard', params: { dashboardUrl: this.dashboard.url } });
        });
      this.$store.commit(actionTypes.ui.CLOSE_MODAL_WINDOW);
    },
    getDashboardTypes() {
      this.$store.dispatch(actionTypes.dashboards.LOAD_DASHBOARDS_TYPES);
    },
    inputUrl(event) {
      if (!/[a-zA-Z0-9-_]+/.test(event.key)) {
        event.preventDefault();
      }
    },
  },
  beforeMount() {
    if (this.mode === 'edit') {
      this.dashboard = { ...this.$store.getters.getSelectedDashboard };
    }
    this.getDashboardTypes();
  },
  computed: {
    mode() {
      return this.modalData.type;
    },
    isValid() {
      return (
        !this.dashboard.title
        || !this.dashboard.description
        || !this.dashboard.type
      );
    },
    isTitleUnique() {
      try {
        this.$store.getters.getDashboards.forEach((d) => {
          if (d.title === this.dashboard.title) {
            throw Error('Break');
          }
        });
      } catch (e) {
        if (e.message === 'Break') {
          return false;
        }
        throw e;
      }
      return true;
    },
    ...mapState({
      dashboardTypes: state => state.dashboards.dashboardTypes,
    }),
    title() {
      return this.dashboard.title;
    },
    url() {
      return this.dashboard.url;
    },
    dashboards() {
      return this.$store.getters.getDashboards;
    },
  },
  watch: {
    title() {
      this.dashboard.url = this.formatTextToUrl(this.title.toLowerCase());
    },
    url() {
      if (this.url === 'configurator') {
        this.urlError = 'Название запрещено.';
        return;
      }
      const existingUrlDashboard = this.dashboards.find(d => d.url === this.url);
      if (existingUrlDashboard) {
        this.urlError = `Данный url уже занят панелью "${existingUrlDashboard.title}"`;
        return;
      }
      this.urlError = null;
    },
  },
};
</script>

<style lang="sass">
  .modal.fade.show
    display: block; padding-right: 15px
  .modal.fade
    display: none
</style>
