<template lang="pug">

</template>


<script>
import actionTypes from '@/store/actionTypes';

export default {
  methods: {
    closeModalWindow() {
      this.$store.commit(actionTypes.ui.CLOSE_MODAL_WINDOW);
    },
  },
};
</script>
