<template lang="pug">
  div
    component(:is="type" :modalData="modalData")
</template>

<script>
import actionTypes from '@/store/actionTypes';

function importModalComponents() {
  const requireModule = require.context('.', false, /\.vue$/);
  const lazyComponents = {};
  requireModule.keys().filter((fileName) => {
    if (fileName in ['ModalWindow.vue', 'ModalWindowMixin.vue']) {
      return;
    }
    const slicedFilename = fileName.slice(2, fileName.length - 4);
    lazyComponents[slicedFilename] = () => import(`@/components/modals/${slicedFilename}`);
  });
  return lazyComponents;
}
const components = importModalComponents();
export default {
  props: {
    type: {
      type: String,
    },
    modalData: {
      // Данные передаваемые в модальное окно
      // опциональный параметр
      type: Object,
    },
  },
  data() {
    return {};
  },
  components,
  beforeMount() {
    this.$store.commit(actionTypes.ui.SET_BLACKOUT_STATUS, true);
  },
  destroyed() {
    this.$store.commit(actionTypes.ui.SET_BLACKOUT_STATUS, false);
  },
};
</script>
