<template lang="pug">
#modal_default.modal.fade.show
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title {{ $t('currentListInfo') }}.
        button.close(type='button' @click="closeModalWindow") &times;
      .modal-body
        p {{ $t('listName') }}:
        p {{ $t('listDescr') }}:
        p {{ $t('widgetsCount') }}:
        .modal-footer
          button.btn.btn-link(type='button' @click="closeModalWindow") {{ $t('close') }}
</template>

<script>
import ModalWindowMixin from './ModalWindowMixin';

export default {
  props: {
    dashboard: {
      type: Object,
    },
  },
  mixins: [ModalWindowMixin],
};
</script>
