<template lang="pug">
#modal_default.modal.fade.show
  .modal-dialog.modal-full
    .modal-content.border-0.rounded-0
      .modal-header
        h5.modal-title Тип виджета
        button.close(type='button' @click="closeModalWindow") ×
      .modal-header
        .container(style="max-width: 100%")
          .row
            .col-lg-6
              label(for="title") {{ $t('widgetName') }}
              input#title.form-control.rounded-0(type='text' :placeholder="$t('inputWidgetTitle')" v-model="title")
            .col-lg-6
              label(for="description") {{ $t('widgetDescr') }}
              input#subTitle.form-control.rounded-0(type='text' :placeholder="$t('inputWidgetSubTitle')" v-model="description")

      .modal-body.px-0
        .navbar.navbar-expand-xl.m-0.border-0.navbar-light.bg-light.navbar-component
          .text-left.d-xl-none.w-100.text-md-center
            button.navbar-toggler.dropdown-toggle.collapsed(type='button'
                                                            @click="showNavMenu = !showNavMenu")
              i.icon-unfold.mr-2
              | НАВИГАЦИЯ
          #navbar-demo2-mobile.navbar-collapse.text-left.justify-content-center.collapse(:class="{show: showNavMenu}")
            ul.nav.navbar-nav.widget-category-selector
              li.nav-item(@click="selectTab('Echart')" :class="{'active-modal-tab': ['Echart', 'Table'].indexOf(tabComponent) > -1 }")
                a.navbar-nav-link.p-3()
                  i.icon-chart.icon-2x.mr-2
                  | {{ $t('charts') }}
              li.nav-item(@click="selectTab('HtmlText')" :class="{'active-modal-tab': tabComponent === 'HtmlText'}")
                a.navbar-nav-link.p-3(href='#')
                  i.icon-html52.icon-2x.mr-2
                  | HTML {{ $t('text') }}
              li.nav-item(@click="selectTab('Note')" :class="{'active-modal-tab': tabComponent === 'Note'}")
                a.navbar-nav-link.p-3(href='#')
                  i.icon-file-text.icon-2x.mr-2
                  | {{ $t('notes') }}
              li.nav-item(@click="selectTab('Picture')" :class="{'active-modal-tab': tabComponent === 'Picture'}")
                a.navbar-nav-link.p-3(href='#')
                  i.icon-image2.icon-2x.mr-2
                  | {{ $t('images') }}
              li.nav-item(@click="selectTab('CodeSnippet')" :class="{'active-modal-tab': tabComponent === 'CodeSnippet'}")
                a.navbar-nav-link.p-3(href='#')
                  i.icon-terminal.icon-2x.mr-2
                  | {{ $t('backlitCode') }}
              li.nav-item(@click="selectTab('Iframe')" :class="{'active-modal-tab': tabComponent === 'Iframe'}")
                a.navbar-nav-link.p-3(href='#')
                  i.icon-embed2.icon-2x.mr-2
                  | iFrame
        component(v-bind:is="tabComponent"
                  :widgets="tabWidgets"
                  :editableData="editableData"
                  @onSelectWidget="selectWidget"
                  @onChangeRating="changePresetRating"
                  @onChangePreset="changeWidgetPreset")
      .modal-footer
        button.btn.btn-link(type="button"
                            @click="closeModalWindow") {{ $t('close') }}
        button.btn.bg-primary(type="button"
                              :disabled="isDataValid"
                              @click="addWidget") {{ $t('add') }}

</template>


<script>
import ModalWindowMixin from './ModalWindowMixin';
import WidgetInitializerMixin from '@/components/widgets/WidgetInitializerMixin';
import Echart from './ModalWidgetTabs/Echart';
import Picture from './ModalWidgetTabs/Picture';
import CodeSnippet from './ModalWidgetTabs/CodeSnippet';
import HtmlText from './ModalWidgetTabs/HtmlText';
import Note from './ModalWidgetTabs/Note';
import Iframe from './ModalWidgetTabs/Iframe';
import actionTypes from '@/store/actionTypes';
// import wrappedCharts from '@/services/Charts';
import interactivePresets from '@/services/IntercativeChartPresets';

export default {
  props: {
    modalData: {
      type: Object,
    },
  },
  components: {
    Echart,
    Picture,
    CodeSnippet,
    HtmlText,
    Note,
    Iframe,
    Table: Echart,
  },
  mixins: [ModalWindowMixin, WidgetInitializerMixin],
  data() {
    return {
      showNavMenu: false,
      tabComponent: 'Echart',
      selectedWidget: null,
      title: '',
      description: '',
      widgetData: null,
      editableData: null,
    };
  },
  methods: {
    selectTab(tabName) {
      this.tabComponent = tabName;
      this.deselectWidget();
    },
    setFilter(filterName) {
      this.tabFilter = filterName;
    },
    addWidget() {
      if (this.modalData && this.modalData.type === 'edit') {
        this.updateWidget();
      } else {
        this.saveWidget();
      }
      this.$store.commit(actionTypes.ui.CLOSE_MODAL_WINDOW);
    },
    saveWidget() {
      this.widgetData.title = this.title;
      this.widgetData.description = this.description;
      this.widgetData.presetId = this.widgetData.id;
      if (this.widgetData.type === 'Picture') {
        //  Перед сохранением виджета необходимо загрузить изображение на сервер
        this.$store.dispatch(actionTypes.dashboards.ADD_WIDGET_PICTURE, this.widgetData);
        this.$store.commit('closeModalWindow');
        return;
      }
      this.$store.dispatch(actionTypes.dashboards.ADD_WIDGET, this.widgetData);
    },
    updateWidget() {
      const editableData = { ...this.widgetData };
      editableData.presetId = editableData.id;
      delete editableData.id;

      const updatedWidget = {
        ...this.modalData.data,
        ...editableData,
        name: editableData.type === 'Echart' ? editableData.type : '',
        title: this.title,
        description: this.title,
      };
      if (updatedWidget.type === 'Picture') {
        this.$store.dispatch(actionTypes.dashboards.UPDATE_WIDGET_PICTURE, updatedWidget);
        return;
      }
      this.$store.dispatch(actionTypes.dashboards.EDIT_WIDGET, updatedWidget);
    },
    deselectWidget() {
      this.widgetData = null;
    },
    selectWidget(widget) {
      this.widgetData = widget;
    },
    initOrganisationPresets() {
      if (!this.$store.getters.getWidgetPresets.length) {
        this.$store.dispatch(actionTypes.widgetConfigurator.LOAD_ORGANISATION_PRESETS);
      }
    },
    changePresetRating(presetData) {
      this.$store.dispatch(actionTypes.widgetConfigurator.CHANGE_PRESET_RATING, presetData);
    },
    changeWidgetPreset(widget) {
      this.widgetData = widget;
    },
    initModalMode() {
      if (this.modalData.type === 'edit') {
        this.tabComponent = this.modalData.data.type;
        this.editableData = this.modalData.data;
        this.title = this.modalData.data.title;
        this.description = this.modalData.data.description;
      }
    },
  },
  computed: {
    tabWidgets() {
      switch (this.tabComponent) {
        case 'Table':
        case 'Echart':
          return this.charts;
        case 'Images':
          return this.images;
        case 'HtmlTexts':
          return this.htmlTexts;
        default:
          return [];
      }
    },
    chartPresets() {
      return this.$store.getters.getChartsPresets;
    },
    charts() {
      // const defaultCharts = Object.keys(wrappedCharts).map(k => ({
      //   ...wrappedCharts[k],
      //   title: this.$t(wrappedCharts[k].title),
      //   description: this.$t(wrappedCharts[k].description),
      //   dataWidget: wrappedCharts[k].getFirstPreset(),
      // }));
      return this.chartPresets.concat(interactivePresets);
    },
    images() {
      const defaultImages = [
        {
          text: this.$t('images'),
          description: this.$t('images'),
          type: 'Picture',
          dataWidget: this.initWidgetData('Picture'),
        },
      ];
      return defaultImages;
    },
    htmlTexts() {
      const defaultHtmlTexts = [
        {
          text: this.$t('text'),
          description: this.$t('text'),
          type: 'Doc',
          dataWidget: this.initWidgetData('Doc'),
        },
      ];
      return defaultHtmlTexts;
    },
    isDataValid() {
      return ((!this.widgetData && this.tabComponent === 'Echart' && !this.editableData)) || !this.title;
    },
    loading() {
      return this.$store.getters.getConfiguratorLoading;
    },
    error() {
      return this.$store.getters.getConfiguratorError;
    },
  },
  beforeMount() {
    this.initOrganisationPresets();
    this.initModalMode();
  },
};
</script>

<style lang="sass">
.active-modal-tab
  border-bottom: 2px solid #ec407a


@media (min-width: 1356px)
  .widget-category-selector
    width: 100%
    li
      width: 16.66%
      text-align: center
</style>
