<template lang="pug">
#modal_default.modal.fade.show
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title {{ title }}
        button.close(type='button' @click='closeModalWindow') &times;
      .modal-body
        .modal-footer
          button.btn.btn-link(type='button' @click="closeModalWindow") {{ $t('close') }}
</template>

<script>
import ModalWindowMixin from './ModalWindowMixin';

export default {
  name: 'ModalSuccess',
  mixins: [ModalWindowMixin],
  props: {
    modalData: {
      type: Object,
    },
  },
  computed: {
    title() {
      if (this.modalData && this.modalData.title) {
        return this.modalData.title;
      }
      return this.$t('successOperation');
    },
  },
};
</script>
