<template lang="pug">
#modal_default.modal.fade.show
  .modal-dialog.modal-dialog-centered
    .modal-content.rounded-0.shadow-0.border-0
      .modal-header
        h5.modal-title {{ title }}
        button.close(type='button' @click="closeModal") &times;
      .modal-body
        .swal2-icon.swal2-success.swal2-animate-success-icon(v-if="success" style='display: flex;')
          .swal2-success-circular-line-left(style='background-color: rgb(255, 255, 255);')
          span.swal2-success-line-tip
          span.swal2-success-line-long
          .swal2-success-ring
          .swal2-success-fix(style='background-color: rgb(255, 255, 255);')
          .swal2-success-circular-line-right(style='background-color: rgb(255, 255, 255);')

        .swal2-icon.swal2-warning.swal2-animate-warning-icon(v-else style='display: flex;') !
      .modal-footer
        button.btn.btn-link(type='button' @click="closeModal") {{ $t('close') }}
        button.btn.bg-danger(type='button' @click="remove") {{ $t('delete') }}
</template>

<script>
export default {
  props: {
    title: {
      type: String
    },
    show: {
      type: Boolean
    },
    action: {
      type: String
    }
  },
  data() {
    return {
      success: false
    };
  },
  methods: {
    closeModal() {
      this.$emit("onCloseModal");
    },
    remove() {
      this.success = true;
      const self = this;
      setTimeout(() => {
        self.$emit("onRemoveObject");
      }, 1000);
    }
  }
};
</script>
