<template lang="pug">
.card.shadow-0.rounded-0.mb-0.border-top-0.border-left-0.border-right-0
  .card-body
    SqlQueries
</template>

<script>
import SqlQueries from '@/components/analysis/SqlQueries';

export default {
  name: 'ApiConnectorBoard',
  components: {
    SqlQueries,
  },
};
</script>
