<template lang="pug">
div
  p.mb-3
    | Sidebar - vertical area that displays onscreen and presents widget components and website navigation menu in a text-based hierarchical form. All sidebars are css-driven - just add one of css classes to the
    code body
    |  tag and/or
    code .sidebar
    |  container, and sidebar will change its width and color. No js, css only. Although sidebar type is based on css, buttons do their job with JS - they switch necessary classes in
    code &lt;body&gt;
    |  tag. Below you&apos;ll find summarized tables with all available
    code button
    |  and
    code sidebar
    |  container classes. By default, the template includes 6 different sidebar types and combinations:
  .mb-3
    h6.font-weight-semibold 1. Default sidebar
    p
      | Default template sidebar has
      code 270px
      |  (~16.88rem) width, aligned to the left (to the right in RTL version) and has dark blue background color. All navigation levels are based on accordion
      strong or
      |  collapsible functionality, open on click. Supports 2 versions: static and fixed. Fixed version can be used with native or custom scrollbars.
  .mb-3
    h6.font-weight-semibold 2. Mini sidebar
    p
      | Mini sidebar has
      code 56px
      |  width, which is calculated dynamically. No text in parent level of menu items, aligned to the left (to the right in RTL version) and has dark blue background color. Second navigation level opens on parent level hover, absolute positioned, other children levels are based on accordion or collapsible functionality, open on click. It is
      strong required
      |  to add
      code .sidebar-xs
      |  class to the
      code &lt;body&gt;
      |  tag. This class is responsible for sidebar width and main navigation. By default all components except main navigation are hidden in mini sidebar. Can be used with main sidebar only.
  .mb-3
    h6.font-weight-semibold 3. Secondary sidebar
    p
      | Main sidebar has
      code 270px
      |  width or
      code 56px
      |  (if
      code .sidebar-xs
      |  class added). Secondary sidebar has fixed width of
      code 270px
      | , which is similar to default and right sidebars, so different sidebar components can be placed to all sidebar types. Main and secondary sidebars can contain any content - menu, navigation, buttons, lists, tabs etc. Only main sidebar is collapsible.
  .mb-3
    h6.font-weight-semibold 4. Right sidebar
    p
      | Right sidebar includes additional sidebar displayed on the right (left in RTL direction) side. It has a static position, appears as an additional component with 100% height and pushes content left/right. There are 2 different ways of displaying alternative sidebar: first - when it collapses main sidebar from default to mini width and second - when it hides the main sidebar. For these actions are responsible 2 different buttons -
      code .sidebar-right-main-toggle
      |  and
      code .sidebar-right-main-hide
      | .
  .mb-3
    h6.font-weight-semibold 5. Right/Secondary sidebars
    p
      | Secondary and Right sidebars can be used together, so basically it is a 4 column layout. When right sidebar is shown, additional options are available: hide main sidebar, hide secondary sidebar or collapse main sidebar width. Since right sidebar is hidden by default, you can display all 4 sidebars at once by manipulating classes. Options are accessible via proper button and/or body classes.
  .mb-3
  h6.font-weight-semibold 6. Content (component) sidebar
  p
    | Usually sidebar is not a part of content and mainly used for navigation. Limitless allows you to use sidebar outside and inside content area. Content sidebar isn&apos;t based on grid and has the same width as other sidebars, this means all sidebar components can be placed inside content sidebar. Supports left and right positioning and can be either stretched to fill all available height or height that depends on sidbar content height.
</template>

<script>
export default {
  name: 'WidgetConfiguratorEditor',
  props: {
    widgetData: {
      type: Object,
    },
  },
};
</script>
