<template lang="pug">
.card.rounded-0(:class="{'card-collapsed': !collapsed}")
  .card-header.rounded-0.header-elements-inline(:class="headerClass")
    h5.card-title {{ title }}
    .header-elements
      span {{ rightHeaderText }}
      .list-icons.ml-3
        a.list-icons-item(:class="{'rotate-180': collapsed}" @click="toggleCard" data-action="collapse")
  .card-body.rounded-0(v-show="collapsed")
    p.mb-3
      | {{ text }}
    slot
</template>

<script>
export default {
  name: 'UiCard',
  data() {
    return {
      collapsed: false,
    };
  },
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    rightHeaderText: {
      type: String,
    },
    level: {
      type: String,
      default: 'success',
    },
    initialCollapsed: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    initCollapsed() {
      this.collapsed = this.initialCollapsed;
    },
    toggleCard() {
      this.collapsed = !this.collapsed;
    },
  },
  computed: {
    headerClass() {
      if (this.level === 'warning') {
        return 'bg-warning';
      }
      if (this.level === 'danger') {
        return 'bg-danger';
      }
      return 'bg-success';
    },
  },
  beforeMount() {
    this.initCollapsed();
  },
};
</script>
