<template lang="pug">
div(v-on-clickaway="closeMenu")
  a.text-default.dropdown-toggle.pointer(@click.prevent="toggleMenu")
    span.position-right {{ title }}
    span.caret
  ul.custom-dropdown-menu(:class="{ show: showActionMenu }" style="left: none; float: none;")
    slot
    .dt-button-collection.active-column-menu.rounded-0
      button.dt-button(v-for="(v, i) of opinions"
                       type='button'
                       style="margin: 0"
                       :class="{selected: selected === v}"
                       @click="change(i, v)")
        span {{ v }}

</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

export default {
  name: 'DropdonwMenu',
  data() {
    return {
      showActionMenu: false,
    };
  },
  mixins: [clickaway],
  props: {
    title: {
      type: String,
    },
    opinions: {
      type: Array,
    },
    selected: {
      type: Number | String,
    },
  },
  methods: {
    toggleMenu() {
      this.showActionMenu = !this.showActionMenu;
    },
    closeMenu() {
      this.showActionMenu = false;
    },
    change(i, v) {
      this.$emit('onSelect', {
        index: i,
        value: v,
      });
      this.closeMenu();
    },
  },
};
</script>

<style lang="sass">
.custom-dropdown-menu
  position: absolute
  display: none
  float: left
  min-width: 11.25rem
  margin: .125rem 0 0
  font-size: .8125rem
  color: #333
  text-align: left
  list-style: none
  background-color: #fff
  background-clip: padding-box
  border: 1px solid rgba(0,0,0,.15)
  border-radius: .1875rem
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1)
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1)
  &.show
    display: block
</style>
