<template lang="pug">
.btn-group
  button.btn.rounded-0.dropdown-toggle(type='button'
                                       :class="[{'show': show}, classes]"
                                       @click="toggle"
                                       v-on-clickaway="close")
    i.icon-gear.mr-2
    | {{ name }}
  .dropdown-menu.rounded-0.border-0.mt-0.dropdown-menu-right(:class="{show: show}")
    slot

</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

export default {
  name: 'DropDownButton',
  props: {
    name: {
      type: String,
    },
    classes: {
      type: String,
      default: 'bg-slate ml-md-2',
    },
  },
  mixins: [clickaway],
  data() {
    return {
      show: false,
    };
  },
  methods: {
    toggle() {
      this.show = !this.show;
    },
    close() {
      this.show = false;
    },
  },
  computed: {
  },
};
</script>
