<template lang="pug">
span.select2.select2-container.select2-container--default(dir='ltr'
                                                          style='width: 250px;'
                                                          v-on-clickaway="closeSelectBox"
                                                          @click="toggleSelectBox")
  span.selection
    span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-icrs-container')
      span#select2-icrs-container.select2-selection__rendered(title='Arizona') {{ selectedName }}
      span.select2-selection__arrow(role='presentation')
        b(role='presentation')
  span.dropdown-wrapper(aria-hidden='true')
  span.select2-dropdown.select2-dropdown--below.bounced-box(v-if="showSelectedBox" dir='ltr', style='width: 250px;')
    span.select2-search.select2-search--dropdown.select2-search--hide
      input.select2-search__field(type='search', tabindex='0', autocomplete='off', autocorrect='off', autocapitalize='none', spellcheck='false', role='textbox')
    span.select2-results
      ul#select2-icrs-results.select2-results__options(role='tree', aria-expanded='true', aria-hidden='false')
        li(v-for="(gVal, gName) in selectData" role="group" :aria-label="1")
          strong.select2-results__group {{ gName }}
          ul.select2-results__options.select2-results__options--nested
            li.select2-results__option(
              v-for="(g, i) in selectData[gName]" :value="g.val"
              role='treeitem'
              :aria-selected="isSelected(gName, i)"
              @click="selectElem(gName, i)") {{ g.name }}
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

export default {
  name: 'GroupingSelectComponent',
  props: {
    selectData: {
      type: Object,
      default: () => t,
    },
    defaultSelect: {
      type: Object,
    }
  },
  mixins: [clickaway],
  data() {
    return {
      selectedElem: null,
      showSelectedBox: false,
    }
  },
  methods: {
    initDefaultSelect() {
      if (this.defaultSelect) {
        this.selectedElem = this.defaultSelect;
        return;
      }
      const keys = Object.keys(this.selectData)
      if (!keys.length) {
        return;
      }
      this.selectedElem = {
        name: keys[0],
        i: 0,
      }
    },
    isSelected(name, i) {
      return name === this.selectedElem.name && i === this.selectedElem.i;
    },
    toggleSelectBox() {
      this.showSelectedBox = !this.showSelectedBox;
    },
    selectElem(name, i) {
      this.selectedElem = { name, i };
      this.emitChanges();
    },
    emitChanges() {
      this.$emit('onChange', this.selectedElem);
    },
    closeSelectBox() {
      this.showSelectedBox = false;
    },
  },
  computed: {
    selectedName() {
      const { name, i } = this.selectedElem;
      return this.selectData[name][i].name;
    },
  },
  beforeMount() {
    this.initDefaultSelect();
  },
}
</script>

<style lang="sass">
.bounced-box
  left: unset
</style>
