<template lang="pug">
  .blackout-wrapper
    .blackout-text(v-if="text")
      h1 {{ text }}
    .blackout-text(v-else v-html="htmlContent")
</template>

<script>
export default {
  name: 'LockScreen',
  props: {
    text: {
      type: String,
    },
    htmlContent: {
      type: String,
    },
  },
};
</script>

<style lang="sass">
.blackout-wrapper
  display: flex
  position: fixed
  justify-content: center
  align-items: center
  width: 100%
  height: 100vh
  background-color: rgba(0,0,0,0.6)
  z-index: 10000
  .blackout-text
    color: white
</style>
