<template lang="pug">
#DataTables_Table_0_length.dataTables_length
  label
    span {{ $t('show') }}:
    select.select2-hidden-accessible(@change="changeCount")
      option(v-for="p of pages") {{ p }}

    span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus(dir='ltr', style='width: auto;')
      span.selection
        span.select2-selection.select2-selection--single(role='combobox', aria-haspopup='true', aria-expanded='false', tabindex='0', aria-labelledby='select2-DataTables_Table_0_length-g1-container')
          span#select2-DataTables_Table_0_length-g1-container.select2-selection__rendered {{ selected }}
          span.select2-selection__arrow(role='presentation')
            b(role='presentation')
      span.dropdown-wrapper(aria-hidden='true')

</template>

<script>
export default {
  name: 'CountOnPage',
  data() {
    return {
      selected: 25,
    };
  },
  props: {
    pages: {
      type: Array,
      default: () => [25, 50, 100, 200],
    },

  },
  methods: {
    changeCounts(e) {
      this.$emit('onCountChange', e.target.value);
    },
  },

};
</script>
