<template lang="pug">
.form-check(@click="check")
  label.form-check-label
    .uniform-choice
      span(:class="{checked: checked}")
        input.form-check-input-styled(type='radio', name='stacked-radio-left', :checked="checked", data-fouc='')
    | {{ text }}
</template>

<script>
export default {
  name: 'RadioButton',
  props: {
    text: {
      type: String,
    },
    checked: {
      type: Boolean,
    },
  },
  methods: {
    check() {
      this.$emit('onCheck');
    },
  },
};
</script>
