<template lang="pug">
#modal_default.modal.fade.pr-0.show(tabindex='-1', style='display: block;')
  .modal-dialog.modal-lg.mr-0.ml-auto.my-0(:class="{'full-screen': fullScreen}")
    transition(name="right-pane" made="out-in" appear v-on:after-leave="afterCollapse")
        .modal-content.rounded-0.border-0(v-if="showModal" style='min-height: 100vh;' v-on-clickaway="close")
          .modal-header.p-20(:style="{ backgroundColor: headerColor, color: 'white', padding: '20px' }")
            h5.modal-title
              slot(name="header")
                | 									Панель управления
                small.d-block Управление элементами.
            .header-elements
              .list-icons
                a.list-icons-item(@click="toggleFullScreen" data-action='fullscreen')
                a.close.list-icons-item.my-0.p-0.mx-2(data-dismiss='modal' style='opacity: 1 !important;' @click="close") ×
          .modal-body
            slot(name="beforeBody")

          //
            <div class="row mb-3">
            <div class="col-lg-12">
            <h6 class="font-weight-semibold">Топология инцидента</h6>
            <hr class="mb-2 mt-0">
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
            </div>
          slot(name="body")
          .modal-body
            .row.mb-3
              .col-lg-12
                h6.font-weight-semibold Описание
                hr.mb-2.mt-0
                p
                  | METHOD
                  br
                  | Communication was detected utilizing a known malicious SSL certificate. This activity is usually a sign of a botnet or other type of malware infection.
                  br
                  | STRATEGY
                  br
                  | Malware has been detected running on a system, being transferred over the network, or communicating with a C&C system.
                  br
                  | INTENT
                  br
                  | System Compromise alarms identify behavior associated with compromised systems or user accounts.
            .row.mb-3
              .col-lg-12
                h6.font-weight-semibold Реагирование
                hr.mb-2.mt-0
                p
                  | Список действий по правилу корреляции, например был выполнен скрипт, который блокирует порт на фаерволе
            .row.mb-3
              .col-lg-12
                h6.font-weight-semibold Рекомендации
                hr.mb-2.mt-0
                p
                  | 1. Isolate system from network.
                  br
                  | 2. Attempt to identify process on server related to communication.
                  br
                  | 3. Perform forensic analysis to try and identify root cause.
                  br
                  | 4. Install anti-virus to detect common malware.
            .modal-footer
              button.btn.btn-link(type='button', data-dismiss='modal' @click="close") {{ $t('Close') }}
  // /basic modal

</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';
import { setTimeout } from 'timers';

export default {
  name: 'RightCollapsedPanel',
  data() {
    return {
      fullScreen: false,
      showModal: false,
    };
  },
  props: {
    headerColor: {
      type: String,
      default: '#f44336',
    },
  },
  mixins: [clickaway],
  methods: {
    setBodyModalClass() {
      document.body.classList.add('modal-open');
    },
    unsetBodyModalClass() {
      document.body.classList.remove('modal-open');
    },
    close() {
      this.showModal = false;
    },
    toggleFullScreen() {
      this.fullScreen = !this.fullScreen;
    },
    afterCollapse() {
      this.$emit('onClose');
    },
  },
  mounted() {
    this.setBodyModalClass();
    this.showModal = true;
  },
  beforeDestroy() {
    this.unsetBodyModalClass();
  },
};
</script>

<style lang="sass">
.full-screen
  max-width: none !important
  width: 100%

.right-pane-enter-active
  transition: all .5s ease;
.right-pane-leave-active
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.right-pane-enter, .right-pane-leave-to
  transform: translateX(1000px);
  opacity: 0
</style>
