<template lang="pug">
div
    input.toggle-offset(type='checkbox' data-switchery='true' style='display: none;')
    span.switchery.switchery-default(:class="{ deactive: !active, active: active }" @click="changeStatus")
      small(style='')
    | {{ text }}
</template>

<script>
export default {
  name: 'SwitchButton',
  props: {
    text: {
      type: String,
    },
    initStatus: {
      type: Boolean,
    },
  },
  data() {
    return {
      active: false,
    };
  },
  methods: {
    changeStatus() {
      this.active = !this.active;
      this.$emit('onChangeStatus', this.active);
    },
  },
  beforeMount() {
    this.active = this.initStatus;
  },
};
</script>

<style lang="sass">
.deactive
  box-shadow: rgb(255, 112, 67) 0px 0px 0px 0px inset
  border-color: rgb(255, 112, 67)
  background-color: rgb(255, 112, 67)
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s
  small
    left: 0px
    transition: background-color 0.4s ease 0s, left 0.2s ease 0s
.active
  // box-shadow: rgb(100, 189, 99) 0px 0px 0px 10px inset
  // border-color: rgb(100, 189, 99)
  // background-color: rgb(100, 189, 99)
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s
  small
    left: 18px
    transition: background-color 0.4s ease 0s, left 0.2s ease 0s
    background-color: rgb(255, 255, 255)
</style>
