<template lang="pug">
li.nav-item.pointer
  router-link.nav-link(:to='widgetLink')
    img(:src="`/static/widget-icons/${thumbnail}`" width='32' height='26' alt='')
    span.ml-2.mt-auto {{ $t(title) }}
</template>

<script>
export default {
  props: {
    title: {
      type: String,
    },
    thumbnail: {
      type: String,
    },
    name: {
      type: String,
    },
  },
  computed: {
    widgetLink() {
      return `/analytics/configurator/${this.name}/1`;
    },
  },
};
</script>
