<template lang="pug">
.sidebar.sidebar-light.sidebar-main.sidebar-expand-md.chart-nav(:class="{'mobile-full-screen-width': fullScreenWidth}")
  .sidebar-mobile-toggler.bg-slate-800.text-center
    a.sidebar-mobile-main-toggle.pointer(@click="closeMainSideBar")
      i.icon-arrow-left8
    | {{ $t('graphList').toUpperCase() }}
    a.sidebar-mobile-expand.pointer(@click="toggleFullSize")
      i.icon-screen-full
      i.icon-screen-normal
  .sidebar-content
    .card.card-sidebar-mobile
      ul.nav.nav-sidebar(data-nav-type='accordion')
        li.nav-item(@click='toggle')
          a.nav-link.sidebar-control.sidebar-main-toggle.d-none.d-md-block(href='#')
            i.icon-paragraph-justify3.2x
            span.text-uppercase.font-size-sm.font-weight-semibold.ml-2 {{ $t('chartsList').toUpperCase() }}
        nav-item(v-for='(c, idx) of sortedCharts' :key="idx" :thumbnail='charts[c].icon' :title='charts[c].title' :name='charts[c].name')
        //- nav-item(thumbnail='bar.svg' title='Table' name='Table')

        li.nav-item-header
          .text-uppercase.font-size-xs.line-height-xs {{ $t('additionalSectionLabel').toUpperCase() }}
          i.icon-menu
        li.nav-item.pointer
          a.nav-link.sidebar-control.sidebar-secondary-toggle.d-none.d-md-block(@click='toggleConfigSideBar')
            i.icon-transmission.2x
            span.text-uppercase.font-size-sm.font-weight-semibold.ml-2 {{ $t('configuration').toUpperCase() }}

</template>

<script>
import NavigationSideBar from './NavBarItem';
import wrappedCharts from '@/services/Charts';
import BodyStylingMixin from '@/mixins/BodyStylingMixin';
import actionTypes from '@/store/actionTypes';

export default {
  name: 'WidgetConfiguratorSideBar',
  data() {
    return {
      charts: wrappedCharts,
      fullScreenWidth: false,
    };
  },
  mixins: [BodyStylingMixin],
  components: {
    'nav-item': NavigationSideBar,
  },
  methods: {
    toggle() {
      this.$store.commit(actionTypes.ui.TOGGLE_SECOND_SIDEBAR);
    },
    toggleConfigSideBar() {
      this.$store.commit(actionTypes.ui.TOGGLE_SIDEBAR);
    },
    closeMainSideBar() {
      this.fullScreenWidth = false;
      this.removeBodyClass('sidebar-mobile-main');
    },
    toggleFullSize() {
      this.fullScreenWidth = !this.fullScreenWidth;
    },
  },
  computed: {
    sortedCharts() {
      return Object.keys(this.charts).sort((a, b) => {
        if (this.charts[a].name === 'Table') return -1;
        return 0;
      });
    },
  },
};
</script>

<style lang="sass">
.chart-nav
  overflow: hidden
  &:hover
    overflow-x: hidden
    overflow-y: auto
</style>
