<script id="expo_app_manager_view" type="text/template">
	<div class="form-group">
		<label>Проект:</label>
		<select name="projects" id="SelectProject"></select>
	</div>
	<table id="table"></table>
</script>

<script id="expo_lease_kvs_manager_view" type="text/template">
	<div class="form-group">
		<label>Проект:</label>
		<select name="projects" id="SelectProject"></select>
	</div>
	<table id="table"></table>
</script>

<script id="toolbar_filter" type="text/template">
	<button id="all" type="button" class="btn btn-default btn-sm filter_button_app">
        <i class="glyphicon glyphicon-filter"></i> Все
    </button>
	<button id="my" type="button" class="btn btn-default btn-sm filter_button_app">
        <i class="glyphicon glyphicon-filter"></i> Мои
    </button>
</script>