<template lang="pug">
.card.border-0.m-0
  .card-header.header-elements-md-inline
    h5.card-title Инструкция по использованию поиска
  .card-body
    .row.my-2.container-fluid
      .col-md-4.px-1
        dt.font-size-sm.text-primary.text-uppercase 1. Общие рекомендации
        dl
          dd
            | Cтарайтесь сокращать временной диапазон времени. Это значит ускорит время выдачи результатов
          dd Cтарайтесь использовать фильтр по типу девайса
          dd IP адреса для сокращения выборки данных
          dd
            | Старатесь избегать одиночное использование оператора
            code !
            |  логического 'НЕ'.
      .col-md-4.px-1
        .mb-4
          dt.font-size-sm.text-primary.text-uppercase 2. Базовые операторы поиска
          dl
            dd
              | Оператор
              code &
              |  логического 'И'.
              br
              |  >>> Запрос
              code system & windows
              |  возвращает все результаты в которых найдены слова
              code system
              |  и
              code windows
            dd
              | Оператор
              code |
              |  логического 'ИЛИ'.
              br
              |  >>> Запрос
              code system | windows
              |  возвращает все результаты в которых найдены слова
              code system
              |  или
              code windows
            dd
              | Оператор
              code !
              |  логического 'НЕ'.
              br
              |  >>> Запрос
              code !windows
              |  возвращает все результаты в которых отсутствует слово
              code windows
            dd
              | Пример комплексного запроса
              code (error | attack) & !coredev
              br
              |  >>> Запрос
              code (error | attack) & !coredev
              |  возвращает все результаты в которых найдены
              code error
              |  или
              code attack
              |  и НЕ
              code coredev
              br
      .col-md-4.px-1
        .mb-4
          dt.font-size-sm.text-primary.text-uppercase 3. Поиск по фразам и сложные запросы
          dl
            dd
              | Оператор
              code ' '
              |  может быть использован для объединения двух слов в одну фразу
              br
              |  >>> Запрос
              code 'alert login'
              |  возвращает все результаты в которых найдено словосочетание
              code 'alert login'
              br
              |  	>>> Запрос
              code 'login alert'
              |  возвращает тот же самый результат словосечаний что и выше ^
              br
            dd
            dd
              | Вы так же можете составлять сложные запросы с использованием булевых операторов
              code &
              code !
              code |
              |  и оператором составления фраз
              code ' '
              |  >>> Запрос
              code Сisco ASA & ((conncetion | connect) & failed)
              |  возвращает все результаты содержащие
              code Сisco ASA
              |  и объединенные
              code connection
              |  или
              code connect
              |  словом
              code failed
            dd.text-muted
              | Замена результатов запроса позоляет пользователю визуально заменять результаты запроса необходимой фразой. Например если известно, что
              code 172.156.20.10
              |  используется для процессинга, то мы можем в результатах запроса заменить его на слово
              code Сервер процессинга

</template>

<script>
export default {
  name: 'Faq',
};
</script>
