<template lang="pug">
  div
    div(v-if="ticket")
      .w-100.overflow-auto.order-2.order-md-1
        .card
          .card-header.header-elements-md-inline
            h5.card-title {{ ticket.name }}
            .header-elements
              a.btn.bg-teal-400.btn-sm.btn-labeled.btn-labeled-right(href='#')
                | Check in 
                b
                  i.icon-alarm-check
          .card-body
            h6.font-weight-semibold Overview
            p.mb-3
              | {{ ticket.name }}
            h6.font-weight-semibold {{ ticket.name }}
            p.mb-4
              | Some cow goose out and sweeping wow the skillfully goodness one crazily far some jeez darn well so peevish pending nudged categorically in between about much alas handsome intolerable devotedly helpfully smiled momentously next much this this next sweepingly far. Together prim and limpet much extravagantly quail longing a ouch that walking a jeepers flamingo more.
            .row.container-fluid
              .col-md-6
                .mb-4
                  dl
                    dt.font-size-sm.text-primary.text-uppercase {{ ticket.name }}
                    dd
                      | Like partook magic this enthusiastic tasteful far crud otter this the ferret honey iguana.
                    dt.font-size-sm.text-primary.text-uppercase 2. Well far some raccoon
                    dd
                      | Python laudably euphemistically since this copious much human this briefly hello ouch less one diligent however impotently made gave a slick up much.
                    dt.font-size-sm.text-primary.text-uppercase 3. Goldfish rapidly that far
                    dd
                      | Well far some raccoon knew goose and crud behind salmon amenable oh the poignant sufficiently yikes a naked showed far reindeer imminently.
              .col-md-6
                .mb-4
                  dl
                    dt.font-size-sm.text-primary.text-uppercase 1. Misunderstood cuffed more depending
                    dd
                      | And earthworm dear arose bald agilely sad so below cowered within ceremonially therefore via much this symbolically and newt capably.
                    dt.font-size-sm.text-primary.text-uppercase 2. Voluble much saddled mechanic
                    dd
                      | Much took between less goodness jay mallard kneeled gnashed this up strong cooperative.
                    dt.font-size-sm.text-primary.text-uppercase 3. Before some one more
                    dd
                      | Pending some contrary rabbit up that the more conditionally ouch confidently far so was darn logic thus dove the juicily because that placed otter.
            h6.font-weight-semibold Requirements
            p.mb-3
              | So slit more darn hey well wore submissive savage this shark aardvark fumed thoughtfully much drank when angelfish so outgrew some alas vigorously therefore warthog superb less oh groundhog less alas gibbered barked some hey despicably with aesthetic hamster jay by luckily.
            .card.card-table.table-responsive.shadow-0
              table.table
                thead
                  tr
                    th {{ '#' + ticket.id }}
                    th Task
                    th {{ ticket.date }}
                    th {{ ticket.description }}
                tbody
                  tr
                    td 1
                    td
                      span.font-weight-semibold Design mockup
                    td
                      .d-inline-flex.align-items-center
                        i.icon-calendar2.mr-2
                        input.form-control.datepicker.p-0.border-0.bg-transparent(type='text', value='21 January, 15')
                    td Create design mockups for a new app, must be delivered before 1st of March
                  tr
                    td 2
                    td
                      span.font-weight-semibold User interface research
                    td
                      .d-inline-flex.align-items-center
                        i.icon-calendar2.mr-2
                        input.form-control.datepicker.p-0.border-0.bg-transparent(type='text', value='24 January, 15')
                    td Create a focus group with random people, provide a research statement
                  tr
                    td 3
                    td
                      span.font-weight-semibold New icons set
                    td
                      .d-inline-flex.align-items-center
                        i.icon-calendar2.mr-2
                        input.form-control.datepicker.p-0.border-0.bg-transparent(type='text', value='28 January, 15')
                    td
                      | Create a full set of icons required for the iOS application, send them to team lead for review
                  tr
                    td 4
                    td
                      span.font-weight-semibold Loading optimization
                    td
                      .d-inline-flex.align-items-center
                        i.icon-calendar2.mr-2
                        input.form-control.datepicker.p-0.border-0.bg-transparent(type='text', value='1 February, 15')
                    td
                      | Review image sizes, compress them as much as possible, make sure page loading time is less than 1 second
            h6.font-weight-semibold Uploaded files
            p
              | A much goodness between destructive that save stupid firefly destructively dog goldfinch continually alas pinched for outside flailed inescapably hey brought rid crud and awakened sobbed extraordinarily wherever deer before tenable yet into dalmatian opposite save close ahead next independent mindful but far.
          .card-footer.d-sm-flex.justify-content-sm-between.align-items-sm-center
            span.d-flex.align-items-center
              span.badge.badge-mark.border-blue.mr-2
              | Status:
              .dropdown.ml-2
                a.text-default.font-weight-semibold.dropdown-toggle(data-toggle='dropdown') Open
                .dropdown-menu
                  a.dropdown-item.active(href='#') Open
                  a.dropdown-item(href='#') On hold
                  a.dropdown-item(href='#') Resolved
                  a.dropdown-item(href='#') Closed
                  .dropdown-divider
                  a.dropdown-item(href='#') Dublicate
                  a.dropdown-item(href='#') Invalid
                  a.dropdown-item(href='#') Wontfix
            ul.list-inline.list-inline-condensed.mb-0.mt-2.mt-sm-0
              li.list-inline-item
                a.text-default(href='#')
                  i.icon-compose
              li.list-inline-item
                a.text-default(href='#')
                  i.icon-trash
              li.list-inline-item.dropdown
                a.text-default.dropdown-toggle(data-toggle='dropdown')
                  i.icon-grid-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item(href='#')
                    i.icon-alarm-add
                    |  Check in
                  a.dropdown-item(href='#')
                    i.icon-attachment
                    |  Attach screenshot
                  a.dropdown-item(href='#')
                    i.icon-user-plus
                    |  Assign users
                  a.dropdown-item(href='#')
                    i.icon-warning2
                    |  Report
    //div(v-else) Error
</template>

<script>
export default {
  props: {
    'id': {
      type: String,
      required: true
    }
  },
  computed: {
    ticket() {
      return this.$store.getters.getTickets
    }
  }
}
</script>
