<template lang="pug">
.content.bg-white
  .row
    .col-lg-2
      .mb-3
        .font-weight-semibold Список существующих источников событий
        span.text-muted Общее количество 550 дейвайсов
      .list-group.rounded-0
        .list-group-item.font-weight-semibold Aruba
        a.list-group-item.list-group-item-action(href='#') Aruba ClearPass
        a.list-group-item.list-group-item-action(href='#') Aruba ClearPass (CEF)
        a.list-group-item.list-group-item-action(href='#') Aruba Wireless
        .list-group-item.font-weight-semibold Cisco
        a.list-group-item.list-group-item-action(href='#') Cisco ACE
        a.list-group-item.list-group-item-action(href='#') Cisco ACS
        a.list-group-item.list-group-item-action(href='#') Cisco ASA
        a.list-group-item.list-group-item-action(href='#') Cisco ASR
        .list-group-item.font-weight-semibold Cisco
        a.list-group-item.list-group-item-action(href='#') And hello exotic staunch
        a.list-group-item.list-group-item-action(href='#') That and well ecstatically
        a.list-group-item.list-group-item-action(href='#') Amid ruefully hello sped
        a.list-group-item.list-group-item-action(href='#') Burst circa less contritely
    .col-lg-10
      // Table content
      .card.border-0.shadow-0.rounded-0.mt-0.mb-1
        Table(
          v-if="patterns"
          :columns="columns"
          :rows="formattedPatterns"
          :rawRows="patterns"
          @onRowChange="onRowChange"
        )
          template(slot="header-right")
            .mr-4.ml-auto
              DropdownMenu(:title="$t('onPage') + ': ' + pagination.limit"
                            :opinions="[10, 50, 100, 200]"
                            :selected="pagination.limit"
                            @onSelect="setLimit")
            .mr-4
              Pagination(:pagination="pagination" @onNavigate="navigateToPatterns")
          div.text-right(slot="table-footer")
            Pagination(:pagination="pagination" @onNavigate="navigateToPatterns")
</template>

<script>
import types from '@/store/actionTypes';
import Table from '@/components/Table/TableWrapper';
import Pagination from '@/components/Pagination';
import DropdownMenu from '@/components/UI/DropdownMenu';

export default {
  name: 'Patterns',
  components: {
    Table,
    Pagination,
    DropdownMenu,
  },
  methods: {
    initPatterns() {
      if (this.patterns) {
        return;
      }
      this.loadPatterns();
    },
    loadPatterns() {
      this.$store.dispatch(types.patterns.LOAD_PATTERNS);
    },
    navigateToPatterns(paginationData) {
      this.$store.commit(types.patterns.SET_PAGINATION, {
        ...this.pagination,
        ...paginationData,
      });
      this.loadPatterns();
    },
    setLimit({ value }) {
      this.$store.commit(types.patterns.SET_PAGINATION, {
        ...this.pagination,
        limit: value,
      });
      this.loadPatterns();
    },
    hightlightPattern(pattern) {
      let resultString = '';
      let percentIndex = null;
      let spaceIndex = null;
      // eslint-disable-next-line
      for (let i=0;i<pattern.length-1; i++) {
        if (pattern[i] === '%') {
          if (!percentIndex && percentIndex !== 0) {
            percentIndex = i;
            continue;
          }
          resultString += `<span class="text-success">${pattern.slice(percentIndex, i + 1)}</span>`;
          i++;
          percentIndex = null;
          spaceIndex = null;
        }
        if (pattern[i] === ' ' && !spaceIndex) {
          spaceIndex = i;
        }
        if (!percentIndex && percentIndex !== 0) {
          resultString += pattern[i];
        }
      }
      return resultString;
    },
    onRowChange({ i, row }) {
      this.$store.dispatch(types.patterns.UPDATE_PATTERN, row);
    },
  },
  computed: {
    patterns() {
      return this.$store.getters.getPatterns;
    },
    columns() {
      return [
        'id',
        'active',
        'new',
        'createdOn',
        {
          editable: true,
          value: 'pattern',
        },
        'message',
      ];
    },
    pagination() {
      return this.$store.getters.getPatternsPagination;
    },
    formattedPatterns() {
      if (!this.patterns) {
        return [];
      }
      return this.patterns.map(p => ({
        ...p,
        pattern: this.hightlightPattern(p.pattern),
      }));
    },
  },
  beforeMount() {
    this.initPatterns();
  },
};
</script>
