<template lang="pug">
.chart-container
  Echart(
    style="min-height: 500px"
    :dataWidget="option"
    @onClick="selectIncidents"
    @onChangeLegend="changeLegend"
    ref="scatterChart"
  )
</template>


<script>
import moment from 'moment';

import Echart from '@/components/widgets/widget/Echart';

export default {
  data() {
    return {
      selectedDataIndex: null,
      option: null,
    };
  },
  props: {
    scatterData: Array,
  },
  components: {
    Echart,
  },
  methods: {
    formatDate(date) {
      const dateFormat = 'YYYY-MM-DD HH:mm:00';
      return moment(date).format(dateFormat);
    },
    selectIncidents(d) {
      this.selectedDataIndex = d.dataIndex;
      // this.hightlightScatter(d);
      const begin = moment(d.data[0]).format('YYYY-MM-DD HH:00');
      const end = moment(d.data[0]).format('YYYY-MM-DD HH:59');
      this.$emit('onChangeFilters', {
        category: this.rawCategories[d.data[1]],
        created: d.data[0],
        begin,
        end,
      });
    },
    hightlightScatter(d) {
      // TODO: удалить, не бачит.
      if (d.data[5]) {
        this.$refs.scatterChart.$refs.echart.dispatchAction({
          type: 'brush',
          // command: 'clear',
          areas: [
            {
              brushType: 'rect',
              // seriesIndex: [d.data[0], d.data[1]],
              // xAxisIndex: d.data[0],
              // yAxisIndex: d.data[1],
              brushStyle: {
                borderWidth: 1,
                color: 'rgba(120,140,180,0.3)',
                borderColor: 'rgba(120,140,180,0.8)',
              },
            },
          ],

        });
        const data = this.scatterData.filter(d => d[5]);
        const option = { ...this.option };
        data[d.dataIndex] = {
          value: data[d.dataIndex],
          itemStyle: {
            color: 'green',
          },
        };
        option.series[0].data = data;
        this.$refs.scatterChart.$refs.echart.setOption(option);
        this.option.series.data = data;
        const series = [...this.option.series];
        series[0].data = data;
        this.option = {
          ...this.option,
          series,
        };
      }
    },
    changeLegend({ selected }) {
      this.$emit('onChangeType', selected);
    },
    setOption() {
      if (!this.scatterData) {
        return;
      }
      this.option = {
        // Global text styles
        textStyle: {
          fontFamily: 'Roboto, Arial, Verdana, sans-serif',
          fontSize: 13,
        },
        legend: {
          data: ['Активности', 'Инциденты', 'Расследования'],
          selected: {
            Инциденты: false,
            Расследования: false,
          },
          left: 'right',
        },

        // Chart animation duration
        animationDuration: 750,

        // Setup grid
        grid: {
          left: 5,
          right: 10,
          top: 40,
          bottom: 50,
          containLabel: true,
        },
        // brush: {
        //   xAxisIndex: 'all',
        //   brushLink: 'all',
        //   outOfBrush: {
        //     colorAlpha: 0.1,
        //   },
        // },
        dataZoom: [
          {
            type: 'inside',
            start: 96,
            disabled: true,
            end: 100,
          },
          {
            show: true,
            type: 'slider',
            start: 80,
            end: 70,
            height: 40,
            bottom: 0,
            borderColor: '#ccc',
            fillerColor: 'rgba(0,0,0,0.05)',
            handleStyle: {
              color: '#585f63',
            },
          },
        ],

        // Add tooltip
        tooltip: {
          trigger: 'item',
          backgroundColor: 'rgba(0,0,0,0.75)',
          padding: [10, 15],
          textStyle: {
            fontSize: 13,
            fontFamily: 'Roboto, sans-serif',
          },
          axisPointer: {
            type: 'line',
            lineStyle: {
              type: 'dashed',
              width: 0,
            },
          },
          formatter: params => `<div class="mr-3">Инцидентов: ${params.value[2]}</div>` + `<div class="mr-3">Time: ${params.value[0]}</div>`,
        },

        // Horizontal axis
        xAxis: [{
          type: 'category',
          data: this.xAxisValues,
          axisLabel: {
            color: '#333',
          },
          axisLine: {
            lineStyle: {
              color: '#999',
            },
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#eee',
              type: 'dashed',
            },
          },
        }],

        // Vertical axis
        yAxis: [{
          type: 'category',
          data: this.yAxisValues,
          axisLabel: {
            color: '#333',
          },
          axisLine: {
            show: true,
            lineStyle: {
              color: '#999',
            },
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: ['#eee'],
            },
          },
          splitArea: {
            show: true,
            areaStyle: {
              color: ['rgba(250,250,250,0.2)', 'rgba(0,0,0,0.015)'],
            },
          },
        }],

        // Add series
        series: [{
          name: 'Активности',
          type: 'scatter',
          symbolSize(val) {
            if (!val) {
              return 7;
            }
            const multiplyVal = val[2] * 7 > 49 ? 49 : val[2] * 7;
            return multiplyVal < 15 ? 15 : multiplyVal;
          },
          data: this.formattedScatterData.filter(d => d[5]),
          itemStyle: {
            normal: {
              color: 'rgba(159,61,76,0.5)',
            },
          },
          animation: false,
        },
        {
          name: 'Инциденты',
          type: 'effectScatter',
          coordinateSystem: 'cartesian2d',
          data: this.formattedScatterData.filter(d => d[4]),
          symbolSize(val) {
            const multiplyVal = val[2] * 7;
            return multiplyVal < 15 ? 15 : multiplyVal;
          },
          showEffectOn: 'render',
          rippleEffect: {
            brushType: 'stroke',
          },
          animation: false,
          itemStyle: {
            normal: {
              color: '#A9334C',
            },
          },
          zlevel: 1,
        },
        {
          name: 'Расследования',
          type: 'scatter',
          coordinateSystem: 'cartesian2d',
          data: this.investigatedChartData,
          animation: false,
          symbolSize(val) {
            const multiplyVal = val[2] * 7;
            return multiplyVal < 15 ? 15 : multiplyVal;
          },
          itemStyle: {
            normal: {
              color: '#4CAF50',
            },
          },
          zlevel: 2,
        },
        ],
        theme: 'red',
      };
    },
    selectScatter(index) {
      const data = this.scatterData;
      data[this.selectedDataIndex] = {
        value: data[this.selectedDataIndex],
        itemStyle: {
          color: 'green',
        },
      };
    },
  },
  computed: {
    option1() {
      return {
        // Global text styles
        textStyle: {
          fontFamily: 'Roboto, Arial, Verdana, sans-serif',
          fontSize: 13,
        },
        legend: {
          data: ['Активности', 'Инциденты', 'Расследования'],
          selected: {
            Инциденты: false,
            Расследования: false,
          },
          left: 'right',
        },

        // Chart animation duration
        animationDuration: 750,

        // Setup grid
        grid: {
          left: 5,
          right: 10,
          top: 40,
          bottom: 50,
          containLabel: true,
        },

        dataZoom: [
          {
            type: 'inside',
            start: 96,
            disabled: true,
            end: 100,
          },
          {
            show: true,
            type: 'slider',
            start: 80,
            end: 70,
            height: 40,
            bottom: 0,
            borderColor: '#ccc',
            fillerColor: 'rgba(0,0,0,0.05)',
            handleStyle: {
              color: '#585f63',
            },
          },
        ],

        // Add tooltip
        tooltip: {
          trigger: 'item',
          backgroundColor: 'rgba(0,0,0,0.75)',
          padding: [10, 15],
          textStyle: {
            fontSize: 13,
            fontFamily: 'Roboto, sans-serif',
          },
          axisPointer: {
            type: 'line',
            lineStyle: {
              type: 'dashed',
              width: 0,
            },
          },
          formatter: params => `<div class="mr-3">Инцидентов: ${params.value[2]}</div>` + `<div class="mr-3">Time: ${params.value[0]}</div>`,
        },

        // Horizontal axis
        xAxis: [{
          type: 'category',
          data: this.xAxisValues,
          axisLabel: {
            color: '#333',
          },
          axisLine: {
            lineStyle: {
              color: '#999',
            },
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#eee',
              type: 'dashed',
            },
          },
        }],

        // Vertical axis
        yAxis: [{
          type: 'category',
          data: this.yAxisValues,
          axisLabel: {
            color: '#333',
          },
          axisLine: {
            show: true,
            lineStyle: {
              color: '#999',
            },
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: ['#eee'],
            },
          },
          splitArea: {
            show: true,
            areaStyle: {
              color: ['rgba(250,250,250,0.2)', 'rgba(0,0,0,0.015)'],
            },
          },
        }],

        // Add series
        series: [{
          name: 'Активности',
          type: 'scatter',
          symbolSize(val) {
            const multiplyVal = val[2] * 7;
            return multiplyVal < 15 ? 15 : multiplyVal;
          },
          data: this.formattedScatterData.filter(d => d[5]),
          itemStyle: {
            normal: {
              color: 'rgba(159,61,76,0.5)',
            },
          },
          animation: false,
        },
        {
          name: 'Инциденты',
          type: 'effectScatter',
          coordinateSystem: 'cartesian2d',
          data: this.formattedScatterData.filter(d => d[4]),
          symbolSize(val) {
            const multiplyVal = val[2] * 7;
            return multiplyVal < 15 ? 15 : multiplyVal;
          },
          showEffectOn: 'render',
          rippleEffect: {
            brushType: 'stroke',
          },
          animation: false,
          itemStyle: {
            normal: {
              color: '#A9334C',
            },
          },
          zlevel: 1,
        },
        {
          name: 'Расследования',
          type: 'scatter',
          coordinateSystem: 'cartesian2d',
          data: this.investigatedChartData,
          animation: false,
          symbolSize(val) {
            const multiplyVal = val[2] * 7;
            return multiplyVal < 15 ? 15 : multiplyVal;
          },
          itemStyle: {
            normal: {
              color: '#4CAF50',
            },
          },
          zlevel: 2,
        },
        ],
        theme: 'red',
      };
    },
    formattedScatterData() {
      if (!this.selectedDataIndex) {
        return this.scatterData;
      }
      const data = this.scatterData;
      data[this.selectedDataIndex] = {
        value: data[this.selectedDataIndex],
        itemStyle: {
          color: 'green',
        },
      };
      return data;
    },
    yAxisValues() {
      return this.rawCategories.map(v => this.$t(v));
    },
    rawCategories() {
      return ['Initial Access',
        'Execution',
        'Persistence',
        'Privilege Escalation',
        'Defense Evasion',
        'Credential Access',
        'Discovery',
        'Lateral Movement',
        'Collection',
        'Command and Control',
        'Exfiltration',
        'Impact'];
    },
    xAxisValues() {
      if (!this.scatterData) {
        return [];
      }
      return this.scatterData.map(v => v[0]);
    },
    // TODO: локализовать
    investigatedChartData() {
      if (!this.scatterData) {
        return [];
      }
      return this.scatterData.filter(v => ['investigation', 'both'].indexOf(v[3]) > -1);
    },
    checkedChartData() {
      if (!this.scatterData) {
        return [];
      }
      return this.scatterData.filter(v => ['checked', 'both'].indexOf(v[3]) > -1);
    },
  },
  watch: {
    formattedScatterData() {
      if (this.selectedDataIndex) {
        // this.$refs.scatterChart.$refs.echart.refresh();
      }
    },
    scatterData() {
      this.setOption();
    },
  },
  beforeMount() {
    this.setOption();
  },
};
</script>
