<template lang="pug">
  .card(:class="{ 'card-collapsed': status }")
    .card-header.bg-transparent.header-elements-inline
      span.text-uppercase.font-size-sm.font-weight-semibold {{ title }}
      .header-elements
        .list-icons(@click="$emit('collapse')")
          a.list-icons-item(:class="{ 'rotate-180': !status }" data-action="collapse")
    component(v-show="status" v-bind:is="component")
</template>

<script>
export default {
    props: {
      title: {
        type: String,
      },
      component: {
        type: Object,
      },
      status: {
        default: true,
        type: Boolean,
      }
    },
}
</script>

