<template lang="pug">
.sidebar.sidebar-light.sidebar-secondary.sidebar-expand-md
  .sidebar-mobile-toggler.text-center
    a.sidebar-mobile-secondary-toggle(href='#')
      i.icon-arrow-left8
    span.font-weight-semibold Secondary sidebar
    a.sidebar-mobile-expand(href='#')
      i.icon-screen-full
      i.icon-screen-normal
  .sidebar-content
    Card(title="search"
        :component="SearchCard"
        :status="searchCollapse"
        v-on:collapse="toggleSearchBar")
    .card
      .card-header.bg-transparent.header-elements-inline
        span.text-uppercase.font-size-sm.font-weight-semibold {{ $t('actions') }}
        .header-elements
          .list-icons
            a.list-icons-item(data-action='collapse')
      .card-body
        .row.row-tile.no-gutters
          .col-6
            button.btn.btn-light.btn-block.btn-float.m-0(type='button')
              i.icon-github4.icon-2x
              span {{ $t('github') }}
            button.btn.btn-light.btn-block.btn-float.m-0(type='button')
              i.icon-dropbox.text-blue-400.icon-2x
              span {{ $t('dropbox') }}
          .col-6
            button.btn.btn-light.btn-block.btn-float.m-0(type='button')
              i.icon-dribbble3.text-pink-400.icon-2x
              span {{ $t('dribble') }}
            button.btn.btn-light.btn-block.btn-float.m-0(type='button')
              i.icon-google-drive.text-success-400.icon-2x
              span {{ $t('gDrive') }}
</template>

<script>
import SearchCard from '@/components/sidebar/SearchCard';
import Card from '@/components/sidebar/Card';

export default {
  data() {
    return {
      searchCollapse: true,
      SearchCard,
    };
  },
  components: {
    Card,
  },
  methods: {
    toggleSearchBar() {
      this.searchCollapse = !this.searchCollapse;
    },
  },
};
</script>
