<template lang="pug">
.card-body(@keyup.13="auth")
  .text-center.mb-3
    div
      i.icon-reading.icon-2x.text-slate-300.border-slate-300.border-3.rounded-round.p-3.mb-3.mt-1(v-if="!success")
      Success(v-else cls="auth-success")
    h5.mb-0 {{ $t('authTitle') }}
  .alert.rounded-0.mt-3.borderless.alert-danger(v-if="error")
    template(v-if="banTime > 0")
      span {{ error }}
      CountdownTimer(:time="banTime" @onCountdownTick="onCountDownTickBan")
    template(v-else) {{ error }}

  .form-group.form-group-feedback.form-group-feedback-left
    input.form-control.rounded-0(type='text'
                                 ref='username'
                                 v-model='username'
                                 name="username"
                                 :class="{'danger-hightlight': dangerHightlight}"
                                 :placeholder="$t('username')"
                                 :disabled="!isTermsOfUseAccepted"
                                 @keydown='keydownHandler')
    .form-control-feedback
      i.icon-user.text-muted
  .form-group.form-group-feedback.form-group-feedback-left
    input.form-control.rounded-0(v-model='password'
                                ref='pass'
                                type='password'
                                name='password'
                                :class="{'danger-hightlight': dangerHightlight}"
                                :placeholder="$t('password')"
                                :disabled="!isTermsOfUseAccepted"
                                @keydown='keydownHandler')
    .form-control-feedback
      i.icon-lock2.text-muted
  .form-group
    button.btn.btn-primary.btn-block.rounded-0(@click='auth'
                                               type='button'
                                               style="margin: 0"
                                               :disabled="blockAuth")
      | {{ $t('enter') }}
      i.icon-circle-right2.ml-2
  .text-center
    router-link(:to='{ name: "reset-password" }') {{ $t('forgotPassword') }}?
  .form-check(v-if="isTermsOfUseVisible")
    label.form-check-label(@click="$emit('setTermsOfUse')")
      .uniform-checker(style="top: 7px;")
        span(:class="{'checked': isTermsOfUseAccepted }")
          input.form-check-input-styled(type='checkbox', checked='', data-fouc='')
      span.form-text.text-center.text-muted
        | {{ $t('agreementLabel') }}&nbsp;
        a(href='#') {{ $t('termsOfUseLabel') }}&nbsp;
        |  и&nbsp;
        a(href='#') {{ $t('cookiePolicyLabel') }}
</template>

<script>
import Success from '@/components/Success';
import CountdownTimer from '@/components/CountdownTimer';

export default {
  props: {
    success: {
      type: Boolean,
    },
    error: {
      type: String,
    },
    blockSending: {
      type: Boolean,
      default: false,
    },
    isTermsOfUseAccepted: {
      type: Boolean,
    },
    isTermsOfUseVisible: {
      type: Boolean,
    },
    resetPassword: {
      type: Boolean,
    },
    banTime: {
      type: Number,
    },
  },
  data() {
    return {
      username: '',
      password: '',
      dangerHightlight: false,
    };
  },
  components: {
    Success,
    CountdownTimer,
  },
  methods: {
    auth() {
      if (this.blockAuth) {
        return;
      }
      const userData = {
        username: this.username,
        password: this.password,
      };
      this.$emit('onAuth', userData);
    },
    initUi() {
      this.$refs.username.focus();
    },
    setPasswordFocus() {
      this.$refs.pass.focus();
    },
    keydownHandler(e) {
      const isCyrylic = /[а-яА-ЯЁё]/.test(e.key);
      if (isCyrylic) {
        this.$emit('shakeForm');
        e.preventDefault();
      }
    },
    emitDnagerAnimation() {
      this.dangerHightlight = true;
      setTimeout(() => {
        this.dangerHightlight = false;
        this.setPasswordFocus();
      }, 1000);
    },
    onCountDownTickBan(time) {
      this.$emit('onCountDownTickBan', time);
    },
  },
  mounted() {
    this.initUi();
  },
  computed: {
    blockAuth() {
      return this.blockSending || !this.isTermsOfUseAccepted || !this.password.length || !this.username.length;
    },
  },
  watch: {
    resetPassword() {
      if (this.resetPassword) {
        this.password = '';
        this.emitDnagerAnimation();
      }
    },
  },
};
</script>

<style lang="sass">
.danger-hightlight
  border: 1px solid red !important
</style>
