<template lang="pug">
.card-body
  .text-center.mb-3
    div
      i.icon-reading.icon-2x.text-slate-300.border-slate-300.border-3.rounded-round.p-3.mb-3.mt-1(v-if="!success")
      Success(v-else cls="auth-success" style="top: -1px")
    h5.mb-0 {{ finalStep ? $t('newPassword'): $t('resetPassordLabel') }}
    template(v-if="finalStep")
      .form-group
        input.form-control.rounded-0(type='password'
                                    ref='password1'
                                    v-model='password1'
                                    name='password1'
                                    v-validate="'required|min:6'"
                                    :placeholder="$t('password')")
      .form-group
        input.form-control.rounded-0(type='password'
                                    ref='password2'
                                    v-model='password2'
                                    name='password2'
                                    data-vv-as='password1'
                                    v-validate="'required|confirmed:password1'"
                                    :placeholder="$t('repeatPassword')")
      .form-group
        button.btn.btn-primary.btn-block.rounded-0(@click='confirmPasswordReseting'
                                                    type='button'
                                                    style="margin: 0"
                                                    :disabled="errors.any()") {{ $t('restPassword') }}
      div.alert.alert-danger(v-if="errors.any()")
        span(v-if="errors.has('password1')") {{ $t('passwordMinLenValidaorText', {len: 6}) }}
        template(v-else)
          span(v-if="errors.has('password2')") {{ $t('passwordMatchValidatorText') }}
    template(v-else)
      .form-group.form-group-feedback.form-group-feedback-left
        input.form-control.rounded-0#email(type='text'
                                     ref='email'
                                     v-model='email'
                                     name='email'
                                     v-validate="'required|email'"
                                     :placeholder="$t('email')")
        label#key-error.validation-invalid-label(for="email" v-show="errors.has('email')") {{ $t('emailValidatorText') }}
        .form-control-feedback
          i.icon-user.text-muted
      .form-group
        button.btn.btn-primary.btn-block.rounded-0(@click='resetPassword'
                                                    type='button'
                                                    style="margin: 0"
                                                    :disabled="errors.has('email') || !email || error")
          | {{ $t('restore') }}
          i.icon-circle-right2.ml-2
      .form-group.d-flex.align-items-center
        a.ml-auto.mr-auto.pointer(@click="$emit('onBack')")
          i.icon-circle-left2.mr-2
          | {{ $t('cancel') }}
      div.alert.alert-danger.reset-password-error(v-if="error") {{ error }}
</template>

<script>
import Success from '@/components/Success';

export default {
  props: {
    success: {
      type: Boolean,
      default: false,
    },
    error: {
      type: String,
    },
    finalStep: {
      type: Boolean,
    },
  },
  data() {
    return {
      email: '',
      password1: '',
      password2: '',
    };
  },
  compoenents: {
    Success,
  },
  methods: {
    resetPassword() {
      this.$emit('onResetPassword', { email: this.email });
    },
    confirmPasswordReseting() {
      this.$emit('onResetPassword', { email: this.email, newPassword: this.password1 });
    },
  },
  mounted() {
    if (this.$refs.email) { this.$refs.email.focus(); }
  },
};
</script>
