<template lang="pug">
.card-body(@keyup.13="resendOtd")
  .text-center.mb-3
    div
      i.icon-key.icon-2x.text-slate-300.border-slate-300.border-3.rounded-round.p-3.mb-3.mt-1(v-if="!success")
      Success(v-else)
    h5.mb-0 {{ $t('enterPasswordLabel', {len: 6}) }}
    span.d-block.text-muted.mt-3(v-if="brokerInfo && brokerInfo.broker")
        | {{ $t('verificationMessage', {broker: broker}) }}
        span
          CountdownTimer(:time="brokerInfo.codeLifetime" @onCountdownTick="onChangeCodeLifetime" color="inherit")
  .input-group.mb-3
    .form-group-feedback.form-group-feedback-left
      input.form-control.rounded-0.font-weight-semibold(type='text' ref="otp" v-model="otp" @input="onCodeInput" placeholder='XXXXXX')
      .form-control-feedback
        i.icon-lock5.text-muted
    .input-group-append
      button.btn.btn-primary.ml-0.rounded-0(type="button"
                                            @click="resendOtp"
                                            :disabled="(blockResendTime && blockResendTime > 0) || blockSending") {{ $t('repeat') }}

  .form-group.d-flex.align-items-center
    a.ml-auto.mr-auto.pointer(@click="$emit('onBack')")
      i.icon-circle-left2.mr-2
      | {{ $t('cancel') }}
  //- div.alert.alert-danger(v-if="error")
  //-   | {{ error }}
  div.alert.alert-success(v-if="otpResend && !error") {{ $t('codeSentMessage') }}.
  slot
</template>

<script>
import Success from '@/components/Success';
import CountdownTimer from '@/components/CountdownTimer';


export default {
  props: {
    success: {
      type: Boolean,
      default: false,
    },
    error: {
      type: String,
    },
    blockSending: {
      type: Boolean,
      default: false,
    },
    blockResendTime: {
      type: Number,
    },
    brokerInfo: {
      type: Object,
    },
    onChangeCodeLifetime: {
      type: Function,
    },
  },
  data() {
    return {
      otp: '',
      otpResend: false,
    };
  },
  components: {
    Success,
    CountdownTimer,
  },
  methods: {
    verifyOtp() {
      this.$emit('onVerifyOtp', this.otp);
    },
    resetField() {
      this.otp = '';
      this.$refs.otp.focus();
    },
    resendOtp() {
      if (!this.blockResendTime || this.blockResendTime <= 0) {
        this.otpResend = true;
        this.$emit('onResendOtp');
      }
    },
    onCodeInput(event) {
      if (event.target.value.length === this.$config.OTP_LENGTH) {
        this.verifyOtp();
      }
    },
  },
  computed: {
    isOtpInvalid() {
      return this.otp.length !== this.config.OTP_LENGTH;
    },
    broker() {
      if (!this.brokerInfo) {
        return '';
      }
      console.log('TCL: broker -> this.brokerInfo.broker', this.brokerInfo.broker);
      switch (this.brokerInfo.broker) {
        case 'email':
          return `электронный адрес ${this.brokerInfo.reciever}`;
        case 'sms':
          return `номер ${this.brokerInfo.reciever}`;
        default:
          return '';
      }
    },
  },
};
</script>


<style lang="sass">
  .block-resend
    cursor: not-allowed
</style>
