<template lang="pug">
.page-content
  // Main content
  .content-wrapper
    // Content area
    .content.p-0
      // Sitemap
      .card.rounded-0.border-0.shadow-0
        .card-body
          .row.mb-4
            .col-md-3
              h6.font-weight-semibold
                i.icon-stats-bars2.mr-2
                | {{ $t('analytics') }}
              .dropdown-divider.mb-2
              ul.list.list-unstyled
                li.list-group-item.px-0.py-1
                  a(href='/analytics')
                    i.icon-chart.mr-2
                    | {{ $t('dashboards') }}
                li.list-group-item.px-0.py-1
                  a(href='/analytics/configurator')
                    i.icon-equalizer3.mr-2
                    | {{ $t('configurator') }}
                  span.badge.badge-info.ml-auto На доработке
            .col-md-3
              h6.font-weight-semibold
                i.icon-lan2.mr-2
                | {{ $t('infractructure') }}
              .dropdown-divider.mb-2
              ul.list.list-unstyled
                li.list-group-item.px-0.py-1
                  a(href='/infrastructure/assets')
                    i.icon-display.mr-2
                    | {{ $t('assets') }}
                  span.badge.badge-success.ml-auto В разработке
                li.list-group-item.px-0.py-1
                  a(href='/infrastructure/details')
                    i.icon-clipboard3.mr-2
                    | {{ $t('details') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/infrastructure/groups')
                    i.icon-list.mr-2
                    | {{ $t('groups') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/infrastructure/topology')
                    i.icon-map5.mr-2
                    | {{ $t('topology') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/infrastructure/instruments')
                    i.icon-equalizer3.mr-2
                    | {{ $t('instruments') }}
                  span.badge.badge-secondary.ml-auto В планах
            .col-md-3
              h6.font-weight-semibold
                i.icon-warning.mr-2
                | {{ $t('incidents') }}
              .dropdown-divider.mb-2
              ul.list.list-unstyled
                li.list-group-item.px-0.py-1
                  a(href='/incidents/incidents')
                    i.icon-warning.mr-2
                    | {{ $t('incidents') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/incidents/details')
                    i.icon-clipboard3.mr-2
                    | {{ $t('details') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/incidents/active-attacks')
                    i.icon-notification2.mr-2
                    | {{ $t('incidentAttack') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/incidents/laboratory')
                    i.icon-lab.mr-2
                    | {{ $t('appWiki') }}
                  span.badge.badge-secondary.ml-auto В планах
            .col-md-3
              h6.font-weight-semibold
                i.icon-target.mr-2
                | {{ $t('reaction') }}
              .dropdown-divider.mb-2
              ul.list.list-unstyled
          .row.mb-4
            .col-md-3
              h6.font-weight-semibold
                i.icon-menu7.mr-2
                | {{ $t('analysis') }}
              .dropdown-divider.mb-2
              ul.list.list-unstyled
                li.list-group-item.px-0.py-1
                  a(href='/analysis/events')
                    i.icon-station.mr-2
                    | {{ $t('events') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/analysis/patterns')
                    i.icon-vector.mr-2
                    | {{ $t('patterns') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/analysis/statistics')
                    i.icon-statistics.mr-2
                    | {{ $t('statistics') }}
                  span.badge.badge-secondary.ml-auto В планах
            .col-md-3.justify-content-between
              h6.font-weight-semibold
                i.icon-stack.mr-2
                | {{ $t('tickets') }}
              .dropdown-divider.mb-2
              ul.list.list-unstyled
                li.list-group-item.px-0.py-1
                  a(href='/tickets/tickets')
                    i.icon-display.mr-2
                    | {{ $t('tickets') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/tickets/details')
                    i.icon-clipboard3.mr-2
                    | {{ $t('details') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/tickets/groups')
                    i.icon-list.mr-2
                    | {{ $t('groups') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/tickets/topology')
                    i.icon-map5.mr-2
                    | {{ $t('topology') }}
                  span.badge.badge-secondary.ml-auto В планах
                li.list-group-item.px-0.py-1
                  a(href='/tickets/instruments')
                    i.icon-equalizer3.mr-2
                    | {{ $t('instruments') }}
                  span.badge.badge-secondary.ml-auto В планах
          .row.mb-5
            .col-md-3
              h6.font-weight-semibold Основные
              .dropdown-divider.mb-2
              ul.list.list-unstyled
            .col-md-3
              h6.font-weight-semibold Авторизация
              .dropdown-divider.mb-2
              ul.list.list-unstyled
            .col-md-3
              h6.font-weight-semibold Пользователи
              .dropdown-divider.mb-2
              ul.list.list-unstyled
            .col-md-3
              h6.font-weight-semibold Производительность
              .dropdown-divider.mb-2
              ul.list.list-unstyled
          .row.mb-5
            .col-md-3
              h6.font-weight-semibold Интеграция
              .dropdown-divider.mb-2
              ul.list.list-unstyled
            .col-md-3
              h6.font-weight-semibold Уведомления
              .dropdown-divider.mb-2
              ul.list.list-unstyled
</template>

<script>
import actionTypes from '@/store/actionTypes';

export default {
  methods: {
    initVisualisation() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_STATUS, false);
    },
    resetVisualisation() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_STATUS, true);
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_HEADER_STATUS, true);
    },
  },
  beforeMount() {
    this.initVisualisation();
  },
  beforeDestroy() {
    this.resetVisualisation();
  },
};
</script>
