<template lang="pug">
  li.nav-item(v-tooltip.bottom-start="{ content: $t('help'), }")
    router-link.navbar-nav-link(:to="{name: 'docs', params: {section: section}}")
      i.icon-question3
</template>

<script>
export default {
  name: 'HelpSubNavBarButton',
  props: {
    section: {
      type: String,
    },
  },
};
</script>
