<template lang="pug">
ul.navbar-nav
  li.nav-item(v-tooltip.bottom-start="{ content: $t('fixedHeader'), }")
    a.navbar-nav-link(@click="toggleFixStatus")
      span.badge.badge-mark.bg-grey-300.border-grey-300.position-static
  li.nav-item(v-tooltip.bottom-start="{ content: $t('rollUp'), }")
    a.navbar-nav-link(@click='toggleSubNavBarHeader')
      i.icon-menu-open
</template>

<script>
import SubNavBarMixin from '../SubNavBarMixin';

export default {
  name: 'SubNavBarWrapper',
  mixins: [SubNavBarMixin],
};
</script>
