<template lang="pug">
.content
  .mb-3
    h6.mb-0.font-weight-semibold
      | Код
    span.text-muted.d-block Ввод кода.
  .row
    .form-group.col-12
      label.col-form-label.col-lg-2 Выбор языка программирования
      .col-lg-12
        select.custom-select(v-model="options.mode")
          option(v-for="(modeCode, modeName) of codeModes" :value="modeCode") {{modeName}}
      label.col-form-label.col-lg-2 Выбор темы редактора
      .col-lg-12
        select.custom-select(v-model="options.theme")
          option(v-for="theme of themes" :value="theme") {{theme}}
  .row
    codemirror.tab-code-editor(v-model="code" :options="options")
</template>

<script>
import CodeMirrorMixin from '@/mixins/CodeMirrorMixin';
import ModalWidgetTabMixin from './ModalWidgetTabMixin';

export default {
  mixins: [CodeMirrorMixin, ModalWidgetTabMixin],
  data() {
    return {
      code: '',
      options: {
        tabSize: 4,
        mode: 'text/javascript',
        theme: 'lucario',
        lineNumbers: true,
        line: true,
      },
      codeModes: {
        'Django template': 'text/x-django',
        Javascript: 'text/javascript',
        SQL: 'text/x-sql',
        C: 'text/x-csrc',
        'C++': 'text/x-c++src',
        Java: 'text/x-java',
        'C#': 'text/x-csharp',
        'Objective-C': 'text/x-objectivec',
        Scala: 'text/x-scala',
        CSS: 'text/css',
        Dockerfile: 'text/x-dockerfile',
        Fortran: 'text/x-fortran',
        Go: 'text/x-go',
        Markdown: 'text/x-markdown',
        Nginx: 'text/x-nginx-conf',
        PHP: 'text/x-php',
        Pug: 'text/x-pug',
        Python: 'text/x-python',
        R: 'text/x-rsrc',
        Rust: 'text/x-rustsrc',
        SASS: 'text/x-sass',
        Ruby: 'text/x-ruby',
        Shell: 'text/x-sh',
        Swift: 'text/x-swift',
        Yaml: 'text/x-yaml',
      },
    };
  },
  methods: {
    initEditableData() {
      if (this.editableData.type !== 'CodeSnippet') {
        return;
      }
      this.code = this.editableData.dataWidget.code;
      this.options = this.editableData.dataWidget.options ? this.editableData.dataWidget.options : {};
    },
  },
  watch: {
    code() {
      if (!this.code) {
        return;
      }
      this.$emit('onChangePreset', {
        type: 'CodeSnippet',
        dataWidget: {
          code: this.code,
          options: this.options,
        },
      });
    },
  },
};
</script>


<style lang="sass">
 .tab-code-editor
    width: 100%
</style>
