<template lang="pug">
.content.charts-catalog
  .input-group.my-3
    input.form-control.form-control-lg.alpha-grey.rounded-0(
      type='text',
      :placeholder="$t('searchPlaceholder')",
      v-model="searchQuery")
    .input-group-append
      button.btn.btn-primary.btn-lg.rounded-0.border-0(type='submit') {{ $t('search') }}
  .mb-3
    h6.mb-0.font-weight-semibold
      | Чарты по событиям мониторинга
    span.text-muted.d-block Render cards in grid columns
  .row.chart-catalog
    .col-md-2(v-for="(widget, i) of filtredWidgets" :key="i" @click="select(i)")
      WidgetCard(:isSelected="selectedWidgetIndex === i"
                 :widget="widget"
                 @onChangeRating="changePresetRating")
</template>

<script>
import WidgetCard from './WidgetCard';

export default {
  name: 'ChartModalWidgetTab',
  props: {
    widgets: {
      type: Array,
    },
    editableData: {
      type: Object,
    },
  },
  data() {
    return {
      searchQuery: '',
      selectedWidgetIndex: null,
    };
  },
  components: {
    WidgetCard,
  },
  methods: {
    changePresetRating(presetData) {
      this.$emit('onChangeRating', presetData);
    },
    select(widgetIndex) {
      this.selectedWidgetIndex = widgetIndex;
      const copiedWidget = { ...this.widgets[this.selectedWidgetIndex] };
      this.$emit('onSelectWidget', copiedWidget);
    },
    initEditableMode() {
      if (!this.editableData) {
        return;
      }
      this.selectEditablePreset();
    },
    selectEditablePreset() {
      const { presetId } = this.editableData;
      if (presetId) {
        this.selectedWidgetIndex = this.widgets.findIndex(c => c.id === presetId);
        return;
      }
      const { name } = this.editableData;
      this.selectedWidgetIndex = this.widgets.findIndex(c => c.name === name);
    },
  },
  computed: {
    filtredWidgets() {
      let { widgets } = this;
      if (this.searchQuery) {
        widgets = widgets.filter(p => (
          p.title.toUpperCase().search(this.searchQuery.toUpperCase()) >= 0
          || p.description.toUpperCase().search(this.searchQuery.toUpperCase()) >= 0
        ));
      }
      return widgets;
    },
  },
  watch: {
    widgets() {
      this.initEditableMode();
    },
  },
  beforeMount() {
    this.initEditableMode();
  },
};
</script>

<style lang="sass">
.charts-catalog
  max-height: 60vh
  overflow: scroll
</style>
