<template lang="pug">
.content
  .mb-3
    h6.mb-0.font-weight-semibold
      | Текстовый виджет
    span.text-muted.d-block Отрисовка текстового html виджета.
  .row.chart-catalog
    vue-editor.vue-editor2(v-model="text")

</template>


<script>
import { VueEditor } from 'vue2-editor';

import ModalWidgetTabMixin from './ModalWidgetTabMixin';


export default {
  name: 'WidgetImages',
  mixins: [ModalWidgetTabMixin],
  data() {
    return {
      text: '',
    };
  },
  components: {
    VueEditor,
  },
  methods: {
    initEditableData() {
      if (this.editableData.type !== 'HtmlText')
      this.text = this.editableData.dataWidget.text;
    },
  },
  watch: {
    text() {
      if (!this.text) {
        return;
      }
      this.$emit('onChangePreset', {
        type: 'HtmlText',
        dataWidget: {
          text: this.text,
        },
      });
    },
  },
};
</script>


<style lang="sass">
.vue-editor2
  width: 100%
  padding-bottom: 20px
</style>
