<template lang="pug">
.content
  .mb-3
    h6.mb-0.font-weight-semibold
      | Iframe
    span.text-muted.d-block Настройка Iframe
    .form-group.row
      codemirror.tab-code-editor(v-model="code" :options="options")
</template>

<script>
import ModalWidgetTabMixin from './ModalWidgetTabMixin';
import CodeMirrorMixin from '@/mixins/CodeMirrorMixin';

export default {
  mixins: [ModalWidgetTabMixin, CodeMirrorMixin],
  data() {
    return {
      code: '',
      options: {
        tabSize: 2,
        mode: 'text/html',
        theme: 'lucario',
        lineNumbers: true,
        line: true,
      },
    };
  },
  methods: {
    initEditableData() {
      if (this.editableData.type !== 'Iframe') {
        return;
      }
      this.code = this.editableData.dataWidget.code;
    },
  },
  watch: {
    code() {
      if (!this.code) {
        return;
      }
      this.$emit('onChangePreset', {
        type: 'Iframe',
        dataWidget: {
          code: this.code,
        },
      });
    },
  },
};
</script>


<style lang="sass">
 .tab-code-editor
    width: 100%
</style>
