<script>
export default {
  name: 'ModalWidgetTabMixin',
  props: {
    editableData: {
      type: Object,
    },
  },
  beforeMount() {
    if (this.editableData && this.editableData.dataWidget) {
      this.initEditableData();
    }
  },
};
</script>

<style lang="sass">
.chart-catalog
  .col-md-2
    cursor: pointer
</style>
