<template lang="pug">
.content
  .mb-3
    h6.mb-0.font-weight-semibold
      | Заметка
    span.text-muted.d-block Заметка с ярким фоном.
  .row.chart-catalog
    .col-12.col-md-4
      ColorPicker(v-model="color" style="width: 100%")
    .col-12.col-md-8
      vue-editor.note-editor(v-model="text" ref="note-editor")

</template>


<script>
import { VueEditor } from 'vue2-editor';
import { Chrome } from 'vue-color';

import ModalWidgetTabMixin from './ModalWidgetTabMixin';

export default {
  name: 'WidgetTabNote',
  mixins: [ModalWidgetTabMixin],
  data() {
    return {
      text: '',
      color: '#F2F700',
    };
  },
  components: {
    VueEditor,
    ColorPicker: Chrome,
  },
  methods: {
    changeWidget() {
      if (!this.text) {
        return;
      }
      this.$emit('onChangePreset', {
        type: 'Note',
        dataWidget: {
          text: this.text,
          color: this.color,
        },
      });
    },
    initEditableData() {
      if (this.editableData.type !== 'Note') {
        return;
      }
      this.text = this.editableData.dataWidget.text;
      this.color = this.editableData.dataWidget.color;
    },
  },
  watch: {
    text() {
      this.changeWidget();
    },
    color() {
      this.changeWidget();
    },
  },
};
</script>


<style lang="sass">
.note-editor
  width: 100%
  height: calc(100% - 43px)
</style>
