<template lang="pug">
.content
  .mb-3
    h6.mb-0.font-weight-semibold
      | Виджеты изображений
    span.text-muted.d-block Загрузка и обработка изображения
  .row.chart-catalog
    template(v-if="image")
      .col-12.col-md-6
        img.preview(:src="imgSrc")
      .col-12.col-md-6
        clipper-basic.clipper(v-if="editMode" :src="imgSrc" ref="clipper")
    .uniform-uploader.col-12
      input.rounded-0.form-input-styled(type="file"
                                        @change="loadFile")
      span.filename(style="user-select: none;") {{ !image || !image.name ? $t('fileDoesntSelect') : image.name }}
      span.action.btn.bg-warning(style="user-select: none;") {{ $t('selectFile') }}
    .col-12(v-if="image" style="padding-top: 4px")
      .text-right
        button.rounded-0.action.btn.btn-warning(v-if="!editMode"
                                               style="user-select: none;"
                                               @click="changeMode") {{ $t('edit') }}
        button.rounded-0.action.btn.btn-success(v-if="editMode"
                                               style="user-select: none;"
                                               @click="saveEditedImg") {{ $t('save') }}
        button.rounded-0.action.btn.btn-danger(v-if="editMode"
                                               style="user-select: none;"
                                               @click="resetImg") {{ $t('reset') }}
        button.rounded-0.action.btn.btn-warning(v-if="editMode"
                                               style="user-select: none;"
                                               @click="changeMode") {{ $t('cancel') }}
</template>


<script>
import { clipperBasic, clipperPreview } from 'vuejs-clipper';

import axios from 'axios';
import ModalWidgetTabMixin from './ModalWidgetTabMixin';

export default {
  name: 'WidgetImages',
  mixins: [ModalWidgetTabMixin],
  data() {
    return {
      image: null,
      imgURL: '',
      editMode: false,
      tmpImage: null,
    };
  },
  components: {
    clipperBasic,
    clipperPreview,
  },
  methods: {
    loadFile(event) {
      [this.image] = event.target.files;
      [this.tmpImage] = event.target.files;
    },
    changeMode(e) {
      e.preventDefault();
      this.editMode = !this.editMode;
    },
    saveEditedImg() {
      const canvas = this.$refs.clipper.clip();
      const dataURL = canvas.toDataURL();

      const blobBin = atob(dataURL.split(',')[1]);
      const array = [];
      for (let i = 0; i < blobBin.length; i++) {
        array.push(blobBin.charCodeAt(i));
      }
      const img = new File([new Uint8Array(array)], 'thumbnail.png');
      this.image = img;
    },
    resetImg() {
      this.image = this.tmpImage;
    },
    async initEditableData() {
      if (this.editableData.type !== 'Picture') {
        return;
      }
      const filePath = `${process.env.VUE_APP_API_URL}${this.editableData.dataWidget.src}`;
      const fileName = filePath.split('/').pop();
      const r = await axios({
        url: filePath,
        method: 'GET',
        responseType: 'blob',
      });
      this.tmpImage = new File([r.data], fileName);
      this.resetImg();
    },
  },
  computed: {
    imgSrc() {
      if (!this.image) {
        return null;
      }
      const src = URL.createObjectURL(this.image);
      return src;
    },
  },
  watch: {
    image() {
      this.$emit('onChangePreset', {
        type: 'Picture',
        dataWidget: {
          image: this.image,
        },
      });
    },
  },
};
</script>


<style lang="sass">
.clipper
  width: 100%
  max-width: 700px

.zoom-area.shadow
  box-shadow: 0px 0px 0px 100vw !important
.preview
  display: block
  width: 100%
  padding: 8px
</style>
