<template lang="pug">
.card(:class="isSelected ? 'border-warning' : null")
  img.card-img-top(:src="imgSrc" alt='widget thumbnail')
  .card-footer.p-1.d-flex.flex-column.justify-content-between
    div {{ widget.title }}
    .text-muted {{ widget.description }}
    div(v-if="widget.userRating !== undefined && widget.userRating !== null")
      i.font-size-base.text-warning-300(v-for="(s, i) in stars"
                                        @mouseover="hightlightStars(i)"
                                        @mouseleave="resetHightlight"
                                        @click="setPresetRating"
                                        :class="s === 1 ? 'icon-star-full2' : s === 0.5 ? 'icon-star-half' : 'icon-star-empty3'")
      span.text-muted.ml-2 ({{ widget.rating.toFixed(2) }})
      br
      a.pointer(href="#" @click="editPreset") Открыть в конфигураторе -&gt;
</template>

<script>
import actionTypes from '@/store/actionTypes';

export default {
  name: 'WidgetCard',
  props: {
    widget: {
      type: Object,
    },
    isSelected: {
      type: Boolean,
    },
  },
  data() {
    return {
      hightLightFor: null,
    };
  },
  methods: {
    hightlightStars(i) {
      this.hightLightFor = i;
    },
    resetHightlight() {
      this.hightLightFor = null;
    },
    setPresetRating() {
      this.$emit('onChangeRating', {
        id: this.widget.id,
        rating: this.hightLightFor + 1,
      });
    },
    editPreset() {
      this.$store.commit(actionTypes.widgetConfigurator.SET_EDITABLE_PRESET, this.widget);
      this.$router.push({ name: 'widgetConfigurator', params: { name: this.widget.name } });
    },
  },
  computed: {
    imgSrc() {
      return (this.widget && this.widget.thumbnail)
        ? this.widget.thumbnail
        : 'http://demo.interface.club/limitless/demo/bs4/Template/global_assets/images/demo/flat/1.png';
    },
    stars() {
      if (this.hightLightFor !== null) {
        const stars = new Array(5).fill(0).fill(1, 0, this.hightLightFor + 1);
        return stars;
      }
      const stars = new Array(5).fill(0).map((s, i) => {
        if (i < this.fullStars) {
          return 1;
        }
        if (i - this.fullStars > 0 && i - this.fullStars < 1) {
          return 0.5;
        }
        return 0;
      });
      return stars;
    },
    fullStars() {
      if (this.widget.userRating === undefined || this.widget.userRating === null) {
        return 0;
      }
      return Math.trunc(this.widget.userRating);
    },
    isHalfStar() {
      if (this.widget.userRating === undefined || this.widget.userRating === null) {
        return 0;
      }
      return this.widget.userRating - this.fullStars > 0;
    },
    emptyStars() {
      if (this.widget.userRating === undefined || this.widget.userRating === null) {
        return 0;
      }
      return 5 - Math.ceil(this.widget.userRating);
    },
  },
};
</script>
