<template lang='pug'>
  div(style="min-height: 100vh")
    vue-progress-bar
    router-view(:key="$route.fullPath")
    .modal-backdrop.fade.show(v-show="blackout" class="blackout-show")
</template>

<script>
import Loading from '@/components/Loading';
import API from '@/services/api';
import jwtDecode from 'jwt-decode';
import Tasks from '@/services/Tasks';
import idleJs from 'idle-js';
import actionTypes from '@/store/actionTypes';

export default {
  name: 'app',
  components: {
    Loading,
  },
  data() {
    return {
      blackout: false,
      unsubscribeStore: () => {},
    };
  },
  mixins: [Tasks],
  methods: {
    subscribeStore() {
      this.unsubscribeStore = this.$store.subscribe((state) => {
        this.chooseStateEvent(state);
      });
    },
    chooseStateEvent(state) {
      switch (state.type) {
        case actionTypes.auth.LOGOUT:
          this.$cookies.remove('token');
          this.user = null;
          this.$router.push({ name: 'login' });
          break;
        case actionTypes.auth.SET_USER_TOKEN:
          this.$cookies.set('token', this.$store.getters.getUserToken);
          this.setRefreshTokenTask();
          break;
        case actionTypes.ui.SET_BLACKOUT_STATUS:
          this.blackout = this.$store.getters.getBlackoutStatus;
          if (this.blackout) {
            document.body.classList.add('no-overflow');
            return;
          }
          document.body.classList.remove('no-overflow');
          break;
        case actionTypes.ui.SET_DOCUMENT_META:
          document.title = `ATOM | ${this.$t(this.$store.getters.getDocumentMeta.title)}`;
          break;
        default:
          break;
      }
    },
    setRefreshTokenTask() {
      const token = this.$store.getters.getUserToken;
      if (!token) {
        return;
      }
      const payload = jwtDecode(token);
      if (payload.exp <= 0) {
        return;
      }
      // Обновление раз в 110 минут,
      const refreshTime = 110;
      this.refreshToken(refreshTime);
    },
    checkProjectStatus() {
      API.getProjectStatus().then((rqst) => {
        if (rqst.data.projectStatus) {
          return;
        }
        this.$router.push('/init-project');
      });
    },
    initIdle() {
      // eslint-disable-next-line
      const idle = new idleJs({
        idle: 600000, // idle time in ms
        events: ['mousemove', 'keydown', 'mousedown', 'touchstart'], // events that will trigger the idle resetter
        onIdle: this.onIdle, // callback function to be executed after idle time
        onActive() {}, // callback function to be executed after back form idleness
        onHide() {}, // callback function to be executed when window become hidden
        onShow() {}, // callback function to be executed when window become visible
        keepTracking: true, // set it to false of you want to track only once
        startAtIdle: false, // set it to true if you want to start in the idle state
      }).start();
    },
    onIdle() {
      console.log('stop listen');
      this.$disconnect();
      this.$store.dispatch(actionTypes.auth.LOGOUT);
    },
    handleGlobalErrors() {
    // TODO: ДОБАВИТЬ ПЕРЕХВАТ СОБЫТИЙ ДЛЯ ОТПРАВКИ НА СЕРВЕР И ХРАНЕНИЯ ВО VUEX
      // window.onerror = function (e) {
      //   console.log(e);
      //   return true;
      // };
    },
    initLang() {
      const lang = this.$cookies.get('lang');
      if (typeof lang !== 'undefined') {
        this.$i18n.locale = lang;
        this.$store.commit(actionTypes.locale.SET_LOCALE, lang);
      }
    },
    async stopEventSearch() {
      await this.$store.dispatch(actionTypes.events.STOP_SEARCH);
    },
  },
  beforeMount() {
    this.initIdle();
    this.checkProjectStatus();
    this.subscribeStore();
    this.initLang();
  },
  created() {
    this.$Progress.start();
    this.$router.beforeEach((to, from, next) => {
      //  does the page we want to go to have a meta.progress object
      if (to.meta.progress !== undefined) {
        const meta = to.meta.progress;
        // parse meta tags
        this.$Progress.parseMeta(meta);
      }
      //  start the progress bar
      this.$Progress.start();
      //  continue to next page
      next();
    });
    this.$router.afterEach(() => {
      //  finish the progress bar
      this.$Progress.finish();
    });
  },
  mounted() {
    this.handleGlobalErrors();
  },
  beforeDestroy() {
    this.stopEventSearch();
  },
  destroyed() {
    this.unsubscribeStore();
  },
};
</script>

<style lang='sass'>

@import './styles/layout.css';
@import './styles/fonts-style.css';
// @import './styles/core.css';
@import './styles/components.min.css';
@import './styles/bootstrap.min.css';
// @import './styles/custom-bootstrap.css';
@import './styles/colors.min.css';
@import './styles/bootstrap_limitless.min.css';
@import './styles/animate.min.css';

body
  min-height: 100vh
.page-content
  min-height: calc(100vh - 56px)
.dt-button-collection
  .dt-button.selected
    color: #fff
    background-color: #2196f3

@keyframes shake
  10%, 90%
    transform: translate3d(-2px, 0, 0)

  20%, 80%
    transform: translate3d(4px, 0, 0)

  30%, 50%, 70%
    transform: translate3d(-8px, 0, 0)

  40%, 60%
    transform: translate3d(8px, 0, 0)
.shake
  animation: shake  0.7s infinite ease-in-out

.pointer
  cursor: pointer
@media screen
  *::-webkit-scrollbar
      width: 0.325em;
  *::-webkit-scrollbar-track
      -webkit-box-shadow: none
      border-radius: 10px
  *::-webkit-scrollbar-thumb
    background-color:  #bababa;
    // outline: 1px solid red;
    border-radius: 10px;

  *::-webkit-scrollbar:horizontal
      width: 0.325em;
      height: 0.5em
      cursor: pointer
  *::-webkit-scrollbar-track:horizontal
      -webkit-box-shadow: none
      border-radius: 10px
  *::-webkit-scrollbar-thumb:horizontal
    background-color:  #bababa;
    // outline: 1px solid red;
    border-radius: 10px;

.no-overflow
  overflow: hidden


.modal
  overflow-y: scroll

.hidden
  display: none

.scroll-y
  overflow-y: scroll

@media (max-width: 767px)
  .mobile-full-screen-width
    width: 100% !important
@media (min-width: 576px)
  .login-form
      width: 23rem
.link-color
  color: #2196f3 !important

.tooltip
  display: block !important
  z-index: 10000
  .tooltip-inner
    background: black
    color: white
    border-radius: 0px
    padding: 5px 10px 4px
  .tooltip-arrow
    width: 0
    height: 0
    border-style: solid
    position: absolute
    margin: 5px
    border-color: black
    z-index: 1
  &[x-placement^="top"]
    margin-bottom: 5px
    .tooltip-arrow
      border-width: 5px 5px 0 5px
      border-left-color: transparent !important
      border-right-color: transparent !important
      border-bottom-color: transparent !important
      bottom: -5px
      left: calc(50% - 5px)
      margin-top: 0
      margin-bottom: 0
  &[x-placement^="bottom"]
    margin-top: 5px
    .tooltip-arrow
      border-width: 0 5px 5px 5px
      border-left-color: transparent !important
      border-right-color: transparent !important
      border-top-color: transparent !important
      top: -5px
      left: calc(50% - 5px)
      margin-top: 0
      margin-bottom: 0
  &[x-placement^="right"]
    margin-left: 5px
    .tooltip-arrow
      border-width: 5px 5px 5px 0
      border-left-color: transparent !important
      border-top-color: transparent !important
      border-bottom-color: transparent !important
      left: -5px
      top: calc(50% - 5px)
      margin-left: 0
      margin-right: 0
  &[x-placement^="left"]
    margin-right: 5px
    .tooltip-arrow
      border-width: 5px 0 5px 5px
      border-top-color: transparent !important
      border-right-color: transparent !important
      border-bottom-color: transparent !important
      right: -5px
      top: calc(50% - 5px)
      margin-left: 0
      margin-right: 0
  &.popover
    .popover-inner
      background: #f9f9f9
      color: black
      padding: 24px
      border-radius: 0
      box-shadow: 0 5px 30px rgba(black, 0.1)
    .popover-arrow
      border-color: #f9f9f9
  &[aria-hidden='true']
    visibility: hidden
    opacity: 0
    transition: opacity .15s, visibility .15s
  &[aria-hidden='false']
    visibility: visible
    opacity: 1
    transition: opacity .15s

.blink
  -webkit-animation: blink-animation 1s linear infinite
  animation: blink-animation 1s linear infinite

@-webkit-keyframes blink-animation
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1

@keyframes blink-animation
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1
html
  overflow-y: overlay


.switchery.switchery-default
  -webkit-box-shadow: rgb(100, 189, 99) 0px 0px 0px 10px inset;
  box-shadow: rgb(100, 189, 99) 0px 0px 0px 10px inset
  border-color: rgb(100, 189, 99)
  background-color: rgb(100, 189, 99)
.switchery.switchery-default.deactive
  box-shadow: none
  border: 1px solid #ddd
  background-color: #fff
.hide
  display: none !important

body.modal-open
  .blackout-show
    display: block !important

</style>
