<template lang="pug">
.content
  Loading(v-if="loading")
  .card(v-else)
    div.navbar.navbar-expand-xl.navbar-light.bg-light.navbar-component.border-0.m-0
      div.navbar-collapse.collapse.px-0
        ul.nav.navbar-nav
          li.nav-item(v-for="section in sections")
            a.navbar-nav-link(@click="switchSection(section)" :class="{'active': section === currentSection}") {{ section }}

    Table(:rows="rows"
      :columns="columns"
      :hideOnMobile="hideOnMobile"
      :subHeaderOffset="subHeaderOffset"
      :canEdit="canEdit"
      :initialConfig="config")

    div.alert.alert-danger(v-if="error") {{ error }}
</template>

<script>
import Loading from '@/components/Loading';
import Table from '@/components/Table/Table';
import actionTypes from '../../store/actionTypes';

export default {
  data() {
    return {
      loading: false,
      error: null,
      canEdit: false,
      events: [],
      subHeaderOffset: false,
      hideOnMobile: [],
      sections: [
        'enterprise-attack',
        'mobile-attack',
        'pre-attack',
      ],
      currentSection: 'enterprise-attack',
      config: {
        isCheckBoxVisible: false,
      },
      unsubscribeStore: () => {},
    };
  },
  components: {
    Loading,
    Table,
  },
  methods: {
    initMatrix() {
      if (this.matrix) {
        return;
      }
      this.$store.dispatch(actionTypes.attack.LOAD_ATTACK_MATRIX);
    },
    switchSection(section) {
      this.currentSection = section;
    },
  },
  computed: {
    columns() {
      if (!this.matrix) {
        return [];
      }
      return this.matrix.map(cat => cat.name);
    },
    rows() {
      const rows = [];
      if (!this.matrix) {
        return rows;
      }
      const max = Math.max(...this.matrix.map(i => i.attacks.length));
      for (let j = 0; j < max; j++) {
        const row = {};
        for (let i = 0; i < this.matrix.length; i++) {
          const col = typeof this.matrix[i].attacks[j] === 'undefined' ? null : this.matrix[i].attacks[j].name;
          row[this.matrix[i].name] = col;
        }
        rows.push(row);
      }
      return rows;
    },
    matrix() {
      return this.$store.getters.getMatrix[this.currentSection];
    },
  },
  beforeMount() {
    this.initMatrix();
  },
};
</script>
