<template lang="pug">
.card.border-0.rounded-0
  .card-header
    h5.card-title {{ $t('permissions') }}
  .card-body
    .tab-content
      form(action="#")
        .form-group.row(v-for="(pVal, pName) of tmpPermissions" :key="pName")
          .form-check(:class="{disabled: !editMode}")
            label.form-check-label(@click.prevent="toggleCheck(pName)")
              .uniform-checker
                span(:class="{checked: pVal}")
                  input.form-check-input-styled(type='checkbox', checked='', data-fouc='')
              | {{ $t(pName) }}
        .text-right
          template(v-if="editMode")
            button.btn.btn-warning(type="button" @click="initForm") {{ $t('cancel') }}
            button.btn.btn-primary.rounded-0(type="button" @click="updatePermissions") {{ $t('save') }}

          button.btn.btn-danger(v-else type="button" @click="editForm") {{ $t('edit') }}
</template>

<script>
export default {
  name: 'UserProfilePermissions',
  props: {
    userId: {
      type: Number,
    },
    permissions: {
      type: Object,
    },
  },
  data() {
    return {
      tmpPermissions: {},
      editMode: false,
    };
  },
  methods: {
    updatePermissions() {
      this.$emit('onUpdatePermissions', { userId: this.userId, permissions: this.tmpPermissions });
      this.editMode = false;
    },
    initForm() {
      this.editMode = false;
      this.initPermissions();
    },
    initPermissions() {
      this.tmpPermissions = { ...this.permissions };
    },
    editForm() {
      this.editMode = true;
    },
    toggleCheck(permissionName) {
      if (this.editMode) {
        this.tmpPermissions[permissionName] = !this.tmpPermissions[permissionName];
      }
    },
  },
  watch: {
    permissions() {
      this.initPermissions();
    },
  },
  beforeMount() {
    this.initForm();
  },
};
</script>
