<template lang='pug'>
.card.border-0.rounded-0
  .card-header(v-if="!canCreate")
    h5.card-title {{ $t('profileInformation') }}
  .card-body
    .tab-content

      form.needs-validation(novalidate, action="#")
        .form-group.row
          .col-md-6
            .form-group.row
              label.col-md-2.col-form-label(disabled!=editCreate) {{ $t('username') }}
              .col-md-9
                input.form-control.rounded-0(required
                                              type="text"
                                              :placeholder="$t('username')"
                                              v-model="tmpUser.username"
                                              :readonly="!editMode"
                                              v-bind:class="{'is-invalid' : !validData('username', tmpUser.username) && validateData.usernameBlured}"
                                              v-on:blur="validateData.usernameBlured = true")
                div.invalid-feedback {{ validateMessage.username }}
            .form-group.row(v-if="canCreate")
              label.col-md-2.col-form-label {{ $t('password') }}:
              .col-md-9
                input.form-control.rounded-0(required
                                              type="text",
                                              :placeholder="$t('password')"
                                              v-model="tmpUser.password"
                                              disabled!=editCreate)
                div.invalid-feedback {{ $t('requiredValidatorText') }}
              .col-9(v-if="errors.has('password')")
                div.alert.alert-danger {{ $t('requiredValidatorText') }}
            .form-group.row(v-if='canDelete || canCreate')
              .form-check(:class='{disabled: !editMode}')
                label.form-check-label(@click.prevent='changeUserActiveStatus')
                  .uniform-checker
                    span(:class='{checked: tmpUser.isActive}')
                      input.form-check-input-styled(v-model='tmpUser.isActive' type='checkbox', checked='', data-fouc='')
                  | {{ tmpUser.isActive ? $t('deactivate'): $t('activate') }}
            .form-group.row
              label.col-md-2.col-form-label {{ $t('fullName') }}:
              .col-md-3
                input.form-control.rounded-0(type='text'
                                              name='lastName'
                                              :placeholder="$t('lastName')"
                                              required

                                              :readonly="!editMode"
                                              v-model="tmpUser.lastName")
                div.invalid-feedback {{ $t('requiredValidatorText') }}
              .col-md-3
                input.form-control.rounded-0(type='text'
                                              :placeholder="$t('firstName')"
                                              name='firstName'
                                              :readonly='!editMode'
                                              required
                                              v-model='tmpUser.firstName')

                div.invalid-feedback {{ $t('requiredValidatorText') }}
              .col-md-3
                input.form-control.rounded-0(type='text'
                                              :placeholder="$t('middleName')"
                                              name='middleName'
                                              :readonly='!editMode'
                                              v-model='tmpUser.middleName')
              //- .col-11(v-if="errors.has('firstName') || errors.has('lastName') || errors.has('midleName')")
              //-   div.alert.alert-danger {{ $t('fullNameVaidatorText') }}


            .form-group.row
              label.col-md-2.col-form-label E-mail:
              .col-md-9
                input.form-control.rounded-0(type='email'
                                              name='email'
                                              :readonly='!editMode'
                                              required
                                              v-model="tmpUser.email"
                                              v-bind:class="{'is-invalid' : !validData('email', tmpUser.email) && validateData.emailBlured}"
                                              v-on:blur="validateData.emailBlured = true")
                div.invalid-feedback {{ $t('emailValidatorText') }}
            .form-group.row
              label.col-md-2.col-form-label {{ $t('phoneNumber') }}:
              .col-md-4
                input.form-control.rounded-0(type='text'
                                              :placeholder="$t('phoneNumber')"

                                              name="phoneNumber"
                                              :readonly="!editMode"
                                              required
                                              v-bind:class="{'is-invalid' : !validData('phone', tmpUser.phoneNumber) && validateData.phoneBlured}"
                                              v-on:blur="validateData.phoneBlured = true"
                                              v-model="tmpUser.phoneNumber")
                div.invalid-feedback {{  validateMessage.phone  }}

              .col-md-4.offset-md-1
                input.form-control.rounded-0(type='text'
                                              :placeholder="$t('workPhone')"
                                              :readonly='!editMode')
              .col-11
                div.alert.alert-danger(v-if="errors.has('phoneNumber')") {{ $t('incorrectPhoneNumber') }}
            .form-group.row
              label.col-md-2.col-form-label {{ $t('systemLanguage') }}:
              .col-md-9
                select.custom-select(v-model='tmpUser.language' :disabled='!editMode')
                  option(v-for='locale in locales' :value='locale') {{ locale }}

            .form-group.row
              label.col-md-2.col-form-label {{ $t('timeZone') }}:
              .col-md-9
                input.form-control.rounded-0(type='text',
                                              :placeholder="$t('timeZone')"
                                              :readonly='!editMode')
            .form-group.row
              label.col-md-3.col-form-label {{ $t('profileLink') }}:
              .col-md-8
                input.form-control.rounded-0(type='text'
                                              :placeholder="$t('referenceToInternalystem')"
                                              :readonly='!editMode')
            .form-group.row
              label.col-md-3.col-form-label {{ $t('profilePhoto') }}:
              .col-md-8
                .uniform-uploader
                  input.rounded-0.form-input-styled(type='file'
                                                    @click='opelFileLoadWindow'
                                                    @change='loadFile'
                                                    :readonly='!editMode')
                  span.filename(style='user-select: none;') {{ !tmpUser.avatar || !tmpUser.avatar.name ? $t('fileDoesntSelect') : tmpUser.avatar.name }}
                  span.action.btn.bg-warning(style='user-select: none;') {{ $t('selectFile') }}
                span.form-text.text-muted {{ $t('fileInputDescription') }}
          .col-md-6
            .form-group.row
              label.col-md-2.col-form-label {{ $t('organisation') }}:
              .col-md-9
                input.form-control.rounded-0(type='text'
                                              :placeholder="$t('organisation')"
                                              v-model='tmpUser.organisation.name'
                                              readonly)
            .form-group.row
              label.col-md-3.col-form-label {{ $t('organisationDescription') }}:
              .col-md-8
                input.form-control.rounded-0(type='text'
                                              :placeholder="$t('organisationDescription')"
                                              v-model='tmpUser.organisation.description'
                                              readonly)
            .form-group.row
              label.col-md-2.col-form-label {{ $t('position') }}:
              .col-md-9
                input.form-control.rounded-0(type='text'
                                              :placeholder="$t('position')"
                                              v-model='tmpUser.position'
                                              readonly)
            .form-group.row
              label.col-md-2.col-form-label {{ $t('workPlace') }}:
              .col-md-9
                input.form-control.rounded-0(type='text'
                                              :readonly="!editMode")
            .form-group.row
              label.col-md-2.col-form-label {{ $t('address') }}:
              .col-md-9
                input.form-control.rounded-0(type='text'
                                              :placeholder="$t('address')"
                                              :readonly='!editMode')
        .text-right

          template(v-if="editMode")
            button.btn.btn-warning(v-if="!canCreate" type="button" @click="initForm") {{ $t('cancel') }}
            button.btn.btn-danger(v-if="canDelete && tmpUser.isActive" type="button" @click="deleteUser") {{ $t('delete') }}
            button.btn.btn-primary.rounded-0(v-if="canEdit" type="button" @click="updateProfile") {{ $t('saveСhanges') }}

            button.btn.btn-link(type="button"
                            @click="closeModalWindow") {{ $t('close') }}
            button.btn.bg-primary(v-if="canCreate" type="button"
                                  @click="createProfile") {{ $t('create') }}

          button.btn.btn-danger(v-if="canEdit && !editMode" type="button" @click="editForm") {{ $t('edit') }}

    div.alert.alert-danger(v-if='error' style='margin-top: 8px') {{ error }}
</template>

<script>
import actionTypes from '@/store/actionTypes';

export default {
  name: 'ProfileInfo',
  props: {
    user: {
      type: Object,
    },
    canEdit: {
      type: Boolean,
      default: false,
    },
    error: {
      type: String,
    },
    locales: {
      type: Array,
    },
    canDelete: {
      type: Boolean,
      default: false,
    },
    canCreate: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      tmpUser: null,
      editMode: false,
      valid: false,

      validateData: {
        emailBlured: false,
        phoneBlured: false,
        usernameBlured: false,
      },
      validateMessage: {
        phone: this.$t('requiredValidatorText'),
        username: this.$t('requiredValidatorText'),
      },
    };
  },
  methods: {
    editForm() {
      this.editMode = true;
    },
    validateForm() {
      debugger
      this.validateData.forEach(element => {
        if (!element) { return false; }
      });
      return true;
    },
    validData(type, value) {
      if (type === 'phone' && value) {
        const re = /^(\+)[\d\- ]{10,14}$/;
        this.validateData.phoneBlured = !re.test(value);
        this.validateMessage.phone = this.$t('phoneValidaorText');
        return re.test(value);
      }
      if (type === 'email' && value) {
        const re = /(.+)@(.+){2,}\.(.+){2,}/;
        this.validateData.emailBlured = !re.test(value);
        return re.test(value);
      }
      if (type === 'username' && value) {
        const re = /^[A-z0-9\-_!,.:+=?)(]*$/;
        this.validateData.usernameBlured = !re.test(value);
        this.validateMessage.username = this.$t('usernameValidaorText');
        return re.test(value);
      }
      return false;
    },
    createProfile(event) {
      const self = this;
      const forms = document.getElementsByClassName('needs-validation');
      Array.prototype.filter.call(forms, (form) => {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        } else {
          self.$emit('onCreateProfile', self.tmpUser);
        }
        form.classList.add('was-validated');
      });
    },
    updateProfile() {
      this.editMode = false;
      this.$emit('onUpdateProfile', this.tmpUser);
      this.$emit('onChangeLocale', this.tmpUser.language);
    },
    changeLocale(event) {
      this.$emit('onChangeLocale', event.target.value);
    },
    loadFile(event) {
      this.tmpUser = {
        ...this.tmpUser,
        avatar: event.target.files[0],
      };
    },
    initUser() {
      this.tmpUser = { ...this.user };
      this.$store.commit(actionTypes.ui.SET_TITLE_PAGE, {
        action: 'add',
        data: this.tmpUser.username ? this.tmpUser.username : 'Новый пользователь',
      });
    },
    initForm() {
      this.initUser();
      this.editMode = false;
    },
    deleteUser() {
      this.$emit('onDeleteProfile', this.user.id);
      this.tmpUser.isActive = false;
    },
    changeUserActiveStatus() {
      if (!this.editMode) {
        return;
      }
      this.tmpUser.isActive = !this.tmpUser.isActive;
    },
    opelFileLoadWindow(event) {
      if (!this.editMode) {
        event.preventDefault();
      }
    },
    closeModalWindow() {
      this.$emit('onCloseModalWindow', self.tmpUser);
    },
  },
  watch: {
    user() {
      this.initUser();
    },
  },
  beforeMount() {
    this.initUser();
    if (this.$props.canCreate) {
      this.editForm();
    }
    this.$store.commit(actionTypes.userProfile.SET_USER_PROFILE, this.user);
  },
  created() {
    // this.$validator.extend('phoneNumber', {
    //   getMessage: field => 'Номер телефона должен начинаться с +',
    //   validate: (value, [ testProp]) => value[0] === '+',
    // });
  },
  destroyed() {
    this.$store.commit(actionTypes.ui.SET_TITLE_PAGE, {
      action: 'remove',
      data: this.tmpUser.username ? this.tmpUser.username : 'Новый пользователь',
    });
    this.$store.commit(actionTypes.userProfile.SET_USER_PROFILE, null);
  },
};
</script>
