<template lang="pug">
.card.border-0.rounded-0(style="min-height: 598px;")
  .card-body.rounded-0.bg-indigo-400.text-center.card-img-top
    .card-img-actions.d-inline-block.mb-3
      img.rounded-circle(:src="avatar", width="170", height="170", alt="avatar")
      .card-img-actions-overlay.rounded-circle
        a.btn.btn-outline.bg-white.text-white.border-white.border-2.btn-icon.rounded-round(href="#")
          i.icon-plus3
        a.btn.btn-outline.bg-white.text-white.border-white.border-2.btn-icon.rounded-round.ml-2(href="user_pages_profile.html")
          i.icon-link
    h6.font-weight-semibold.mb-0 {{ user.username }}
    span.d-block.opacity-75 {{ user.position }}
    .list-icons.list-icons-extended.mt-3
      a.list-icons-item.text-white(href="#", data-popup="tooltip", title="", data-container="body", data-original-title="Google Drive")
        i.icon-google-drive
      a.list-icons-item.text-white(href="#", data-popup="tooltip", title="", data-container="body", data-original-title="Twitter")
        i.icon-twitter
      a.list-icons-item.text-white(href="#", data-popup="tooltip", title="", data-container="body", data-original-title="Github")
        i.icon-github
  .card-body.p-0
    ul.nav.nav-sidebar.mb-2
      li.nav-item-header {{ $t('navigation') }}
      li.nav-item
        a.nav-link.active(href="#profile", data-toggle="tab")
          i.icon-user
          | {{ $t('userprofile') }}
      li.nav-item
        a.nav-link(href="#schedule", data-toggle="tab")
          i.icon-calendar3
          | {{ $t('schedule') }}
          span.font-size-sm.font-weight-normal.opacity-75.ml-auto 02:56pm
      li.nav-item
        a.nav-link(href="#inbox", data-toggle="tab")
          i.icon-envelop2
          | {{ $t('inbox') }}
          span.badge.bg-danger.badge-pill.ml-auto 29
      li.nav-item
        a.nav-link(href="#orders", data-toggle="tab")
          i.icon-cart2
          | {{ $t('orders') }}
</template>


<script>
export default {
  name: 'UserProfileLeftBar',
  props: {
    user: {
      type: Object,
    },
  },
  computed: {
    avatar() {
      return this.user.avatar ? `${process.env.VUE_APP_API_URL}${this.user.avatar}` : '/static/images/placeholders/placeholder.jpg';
    },
  },
};
</script>
