<template lang="pug">
  WorkingProcess
</template>

<script>
import WorkingProcess from '@/components/WorkingProcess';
import actionTypes from '@/store/actionTypes';

export default {
  components: {
    WorkingProcess,
  },
  created() {
    this.$store.commit(actionTypes.ui.SET_TITLE_PAGE, {
      action: 'add',
      data: this.$t('roleManagement'),
    });
  },
  destroyed() {
    this.$store.commit(actionTypes.ui.SET_TITLE_PAGE, {
        action: 'remove',
        data: this.$t('roleManagement'),
    });
  },
};
</script>
