<template lang="pug">
  router-view
</template>

<script>
import WorkingProcess from '@/components/WorkingProcess';
import actionTypes from '@/store/actionTypes';


export default {
  name: 'UserManagement',
  components: {
    WorkingProcess,
  },
  methods: {
    initPermissions() {
      if (this.availablePermissions.length === 0) {
        this.$store.dispatch(actionTypes.users.LOAD_AVAILABLE_PERMISSIONS);
      }
    },
  },
  computed: {
    availablePermissions() {
      return this.$store.getters.getAvailablePermissions;
    },
  },
  beforeMount() {
    this.initPermissions();
  },
};
</script>
