<template lang='pug'>
.content.p-0
  Loading(v-if='loading')
  .card.border-0.shadow-0.rounded-0.mb-0(v-else)
    .row.m-0
      .col-lg-12.p-0
        .p-3.text-right
          button.btn.btn.btn-outline-success.border-transparent.ml-2.rounded-0(type='button' @click='addUser') 
            i.icon-plus22.position-left.mr-2 {{ $t('add') }}
          button.btn.btn.btn-outline-warning.border-transparent.ml-2.rounded-0(v-if='selectedRows.length' type='button' @click='deleteUserModal("deactivate")') 
            i.icon-minus2.position-left.mr-2 {{ $t('delete') }}
          button.btn.btn.btn-outline-warning.border-transparent.ml-2.rounded-0(v-else 
                  v-tooltip.bottom-start="{ content: $t('NoSelectedUser') }" type='button') 
            i.icon-minus2.position-left.mr-2 {{ $t('delete') }}
          button.btn.btn.btn-outline-danger.border-transparent.ml-2.rounded-0(v-if='selectedRows.length' type='button' @click='deleteUserModal("delete")') 
            i.icon-cross.position-left.mr-2 {{ $t('delete') }}
          button.btn.btn.btn-outline-danger.border-transparent.ml-2.rounded-0(v-else 
                  v-tooltip.bottom-start="{ content: $t('NoSelectedUser') }" type='button') 
            i.icon-cross.position-left.mr-2 {{ $t('delete') }}
        
    Table.px-0.py-0(:rows='users'
          :calculateTableHeight='calculateTableHeight'
          :columns='columns'
          :hideOnMobile='hideOnMobile'
          :initialConfig="usersConfig"
          :events='events'
          :subHeaderOffset='subHeaderOffset'
          :title='$t("users")'
          :canEdit='canEdit'
          :rawRows='users'
          :clickCallbacks='tableCallbacks'
          @onConfigChange="changeTableConfig"
          @onChangeSelected='selectRow')
      template(slot="header-right")
        .mr-4.ml-auto
          DropdownMenu(:title="$t('onPage') + ': ' + pagination.limit"
                      :opinions="[50, 100, 200, 500]"
                      :selected="pagination.limit"
                      @onSelect="setLimit")
        .mr-4(:class="{blink: (loading && !blinkBlock)}")
          Pagination(:pagination='pagination' :countRows='countRows' @onNavigate='navigate')
      div.text-right(slot='table-footer')
        Pagination(:pagination='pagination' :countRows='countRows' @onNavigate='navigate')
    div.alert.alert-danger(v-if='error') {{ error }}
    div
      ModalRemove(v-if='showModal' :title='title' :action='action', @onCloseModal='closeModal' @onRemoveObject='removeUser')
    div.modal-backdrop.fade.show.blackout-show(v-if='showModal')
</template>

<script>
import Loading from '@/components/Loading';
import Table from '@/components/Table/TableWrapper';
import Pagination from '@/components/Pagination';
import API from '@/services/api';
import actionTypes from '../../store/actionTypes';
import ModalUser from '@/components/modals/ModalUser.vue';
import ModalRemove from '@/components/modals/ModalRemove';
import DropdownMenu from '@/components/UI/DropdownMenu';

export default {
  data() {
    return {
      title: 'Подтвердите удаление',
      action:'',
      showModal: false,
      loading: false,
      error: null,
      subHeaderOffset: false,
      columns: ['id', 'fullName', 'username', 'email', 'phoneNumber', 'status', 'language'],
      hideOnMobile: ['fullName', 'phoneNumber', 'status'],
      styleCol: ['fullName'],
      selectedRows: [],
      unsubscribeStore: () => {},
      tableCallbacks: {
        fullName: (i) => {
          this.$router.push(`/configuration/users/${this.users[i].id}`);
        },
      },
      calculateTableHeight: true,
    };
  },
  components: {
    Loading,
    Table,
    Pagination,
    ModalUser,
    ModalRemove,
    DropdownMenu,
  },
  methods: {
    subscribeStore() {
      this.unsubscribeStore = this.$store.subscribe((state) => {
        this.chooseStateEvent(state);
      });
    },
    chooseStateEvent(state) {
      const events = {
        [actionTypes.users.SET_ERROR]: this.setUsersErorr,
        setUsersLoading: this.setUsersLoading,
        setSubSideBarFixed: this.setSubSideBarFixed,
        [actionTypes.users.UPDATE_USER]: this.setUsers,
      };
      if (state.type in events) {
        events[state.type]();
      }
    },

    setUsersErorr() {
      this.error = this.$store.getters.getUsersError;
    },
    setUsersLoading() {
      this.loading = this.$store.getters.getUsersLoading;
    },
    setSubSideBarFixed() {
      this.subHeaderOffset = this.$store.getters.getSubSideBarFixed;
    },
    setUsersError() {
      this.error = this.$store.getters.getUsersError;
    },
    initUsers() {
      if (this.users) {
        return;
      }
      this.$store.dispatch(actionTypes.users.LOAD_USERS);
    },
    navigate({ offset, limit }) {
      debugger
      this.$store.dispatch(actionTypes.users.LOAD_USERS, {'offset':offset, 'limit':limit});
    },
    addUser() {
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalUser',
        data: { type: 'create' },
      });
    },
    deleteUserModal(action) {
      debugger
      this.action =action;
      if(action =='delete') {
        this.title = 'Подтвердите удаление';
      }else{
        this.title = 'Подтвердите деактивацию';
      }
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    },
    removeUser() {
      const arrUserDelete = this.selectedRows.map(d => d.id);
      this.$store.dispatch(actionTypes.users.DELETE_USERS, {'arr':arrUserDelete, 'action':this.action});
      this.closeModal();
    },
    selectRow(rows) {
      this.selectedRows = rows;
    },
    changeTableConfig(c) {
      let updatedConfig = { ...this.personalVisualConfig };
      if (!updatedConfig.assets) {
        updatedConfig.users = {};
      }
      updatedConfig = {
        ...updatedConfig,
        users: {
          ...updatedConfig.users,
          ...c,
        },
      };
      this.$store.commit(actionTypes.ui.SET_PERSONAL_VISUAL_CONFIG, updatedConfig);
      this.$store.dispatch(actionTypes.ui.SAVE_PERSONAL_VISUAL_CONFIG);
    },
    reverseEnableSearchHightlight() {
      const updatedConfig = {
        ...this.personalVisualConfig,
        users: {
          ...this.usersConfig,
          enableSearchHightlight: !this.usersConfig.enableSearchHightlight,
        },
      };
      this.$store.commit(actionTypes.ui.SET_PERSONAL_VISUAL_CONFIG, updatedConfig);
      this.$store.dispatch(actionTypes.ui.SAVE_PERSONAL_VISUAL_CONFIG);
    },
    setLimit({ value }) {
      const { limit } = this.pagination;
      this.$store.commit(actionTypes.users.SET_PAGINATION, { ...this.pagination, limit: value });
      if (value > limit) {
        this.fetchUsers(value)
        return;
      }
      this.$store.commit(actionTypes.users.SET_USERS, this.users.slice(0, value));
    },
    fetchUsers(value) {
       this.$store.dispatch(actionTypes.users.LOAD_USERS, {'offset':0, 'limit':value});
    },
  },
  computed: {
    canEdit() {
      return this.$store.getters.getUser.isSuperuser;
    },
    users() {
      return this.$store.getters.getUsers;
    },
    pagination() {
      return this.$store.getters.getUsersPagination;
    },
    countRows() {
      if (this.users) {
        return this.users.length;
      }
      return 0;
    },
    personalVisualConfig() {
      return this.$store.getters.getPersonalVisualConfig;
    },
    usersConfig() {
      return this.personalVisualConfig.users;
    },
    events() {
      const events = [
        {
          name: this.$t('exportTo', { format: '.pdf' }),
          class: 'icon-file-pdf',
          // eslint-disable-next-line
          async handler(user) {
            const rspns = await API.generatePdf([user.id]);
            window.open(
              `${process.env.VUE_APP_API_URL}/media/${rspns.data.url}`,
            );
          },
        },
        {
          name: this.$t('edit'),
          class: 'icon-equalizer2',
          handler: (user) => {
            // eslint-disable-next-line
            this.$router.push({ name: 'user-detail', params: { id: user.id } });
          },
        },
      ];
      return events;
    },
  },
  created() {
    this.$store.commit(actionTypes.ui.SET_TITLE_PAGE, {
      action: 'add',
      data: this.$t('allUsers'),
    });
  },
  beforeMount() {
    this.subscribeStore();
    this.initUsers();
  },
  destroyed() {
    this.unsubscribeStore();
    this.$store.commit(actionTypes.ui.SET_TITLE_PAGE, {
      action: 'remove',
      data: this.$t('allUsers'),
    });
  },
};
</script>

<style lang='sass'>
// @import '../styles/components123.min.css'

.panel-flat
  .panel-heading
    position: relative
    border-top-right-radius: 3px
    border-top-left-radius: 3px
    padding: 15px 20px
</style>
