<template lang="pug">
  .content
    .row
      .col-12(v-if="error")
        .alert.alert-danger {{ error }}
      .col-12(v-if="loading")
        Loading
      template(v-else)
        .col-md-2
          ProfileBar(v-if="user"
                     :user="user")
        .col-md-10(v-if="user")
          ProfileInfo(:user="user"
                      :canEdit="canEdit"
                      :canDelete="canDelete"
                      @onUpdateProfile="updateProfile"
                      @onDeleteProfile="deleteProfile")
          ProfilePermissions(v-if="!user.isSuperuser && $store.getters.getUser.isSuperuser"
                             :permissions="userPermissions"
                             :userId="user.id"
                             @onUpdatePermissions="updatePermissions")
</template>

<script>
import Loading from '@/components/Loading';
import ProfileInfo from '@/components/UserProfile/ProfileInfo';
import ProfileBar from '@/components/UserProfile/ProfileBar';
import ProfilePermissions from '@/components/UserProfile/ProfilePermissions';
import api from '@/services/api';
import actionTypes from '@/store/actionTypes';


export default {
  name: 'UserDetail',
  data() {
    return {
      user: null,
      currentUser:this.$store.getters.getUser,
      loading: false,
    };
  },
  components: {
    Loading,
    ProfileInfo,
    ProfileBar,
    ProfilePermissions,
  },
  methods: {
    async initUser() {
      this.user = this.$store.getters.getUserById(this.$route.params.id);
      if (!this.user) {
        this.loading = true;
        try {
          const rspns = await api.getUserDetail(this.$route.params.id);
          this.user = rspns.data;
        } catch (e) {
          this.$router.push('/analytics');
          return;
        }
      }
      this.loading = false;
      this.checkEmptyFields();
    },
    checkEmptyFields() {
      if (!this.user.organisation) {
        this.user.organisation = {
          name: null,
          description: null,
        };
      }
    },
    updateProfile(user) {
      this.$store.dispatch(actionTypes.users.UPDATE_REMOTE_USER, user);
    },
    updatePermissions(data) {
      this.$store.dispatch(actionTypes.users.UPDATE_USER_PERMISSIONS, data);
    },
    deleteProfile(userId) {
      this.$store.dispatch(actionTypes.users.DEACTIVATE_USER, userId);
    },
  },
  computed: {
    canEdit() {
      return (this.currentUser.isSuperuser || this.user.id == this.currentUser.id);
    },
    canDelete() {
      return this.currentUser.isSuperuser && !this.user.isSuperuser;
    },
    users() {
      return this.$store.getters.getUsers;
    },
    availablePermissions() {
      return this.$store.getters.getAvailablePermissions;
    },
    userPermissions() {
      const permissions = { ...this.user.permissions };
      this.availablePermissions.forEach((pName) => {
        if (!permissions[pName]) {
          permissions[pName] = false;
        }
      });
      return permissions;
    },
    error() {
      return this.$store.getters.getUsersError;
    },
  },
  watch: {
    users() {
      this.initUser();
    },
  },
  beforeMount() {
    this.initUser();
  },
};
</script>
