<template lang="pug">
.content.px-0.py-0
  // Stats
  .row.m-0(v-if="countMetaInfo")
    AssetsMetaPieChart(:title="$t('summary')" :assetsMeta="countMetaInfo.summary")
    AssetsMetaPieChart(:title="$t('workStations')" :assetsMeta="countMetaInfo.workStations")
    AssetsMetaPieChart(:title="$t('servers')" :assetsMeta="countMetaInfo.servers")
    AssetsMetaPieChart(:title="$t('networkDevices')" :assetsMeta="countMetaInfo.networkDevices")
    AssetsMetaPieChart(:title="$t('networkDevices')" :assetsMeta="countMetaInfo.networkDevices")
    AssetsMetaPieChart(:title="$t('procetionRemedies')" :assetsMeta="countMetaInfo.procetionRemedies")

  // /stats
  // Filters overview
  .card.border-0.mb-0
    .card-body.pt-0.border-0.bg-white
      SearchHistory(@onSearch="search"
                    :initedText="initedSearchText"
                    :history="searchHistory"
                    :popularQueries="popularQueries"
                    dateFormat="YYYY-MM-DD HH:mm:ss"
                    :i18n="lang"
                    @onResetHistory="resetHistory")
        DropdownMenu.bg-slate-300.select2-selection--single.rounded-0.shadow-0.text-center(
          slot="leftElem"
          :title="selectedAssetType"
          :opinions="assetsTypes"
          :selected="selectedAssetType"
          @onSelect="searchByAssetType"
          style="min-width: 200px; padding-right: 6px; padding-top: 9px;")
    .card-body(style='display: none;')
      .row
        .col-md-2
          // Using typeahead
          .form-group.mb-2
            label.mb-0 IP адрес или диапазон
            .tokenfield.form-control
              input.form-control.rounded-0.tokenfield-typeahead.tokenfield-teal(type='text', value='192.168.0.1/24', placeholder='Добавьте тэг', data-fouc='', tabindex='-1', style='position: absolute; left: -10000px;')
              input(type='text', tabindex='-1', style='position: absolute; left: -10000px;')
              .token.bg-teal.text-white
                span.token-label 192.168.0.1/24
                a.close(href='#', tabindex='-1', aria-label='Remove') ×
              input#1555790923390109-tokenfield.token-input(type='text', autocomplete='off', placeholder='Добавьте тэг', tabindex='0', style='min-width: 60px; width: 0px;')
              span(style='position:absolute;top:-9999px;left:-9999px;white-space:pre;')
          // /using typeahead
          // Using typeahead
          .form-group.mb-0
            label.mb-0 IP адрес или диапазон
            .tokenfield.form-control
              input.form-control.rounded-0.tokenfield-typeahead.tokenfield-teal(type='text', placeholder='Добавьте тэг', data-fouc='', tabindex='-1', style='position: absolute; left: -10000px;')
              input(type='text', tabindex='-1', style='position: absolute; left: -10000px;')
              input#1555790923404178-tokenfield.token-input(type='text', autocomplete='off', placeholder='Добавьте тэг', tabindex='0', style='min-width: 60px; width: 0px;')
              span(style='position:absolute;top:-9999px;left:-9999px;white-space:pre;')
          // /using typeahead
        .col-md-2
          // Using typeahead
          .form-group.mb-0
            label.mb-0 IP адрес или диапазон
            .tokenfield.form-control
              input.form-control.rounded-0.tokenfield-typeahead.tokenfield-teal(type='text', placeholder='Добавьте тэг', data-fouc='', tabindex='-1', style='position: absolute; left: -10000px;')
              input(type='text', tabindex='-1', style='position: absolute; left: -10000px;')
              input#1555790923407162-tokenfield.token-input(type='text', autocomplete='off', placeholder='Добавьте тэг', tabindex='0', style='min-width: 60px; width: 0px;')
              span(style='position:absolute;top:-9999px;left:-9999px;white-space:pre;')
          // /using typeahead
        .col-md-2
        .col-md-2
        .col-md-2
        .col-md-2
  // /filters overview
  // Button classes
  .card.border-0.shadow-0.rounded-0.mt-0.mb-0
    Table.px-0.py-0(:rows="highlightedAssets"
                    :rawRows="assets"
                    :columns="columns"
                    :title="$t('assets')"
                    :clickCallbacks="tableCallbacks"
                    :initialConfig="assetsConfig"
                    @onSort="sortBy"
                    @onConfigChange="changeTableConfig")

      template(slot="header-left")
        .mx-4
          p.text-muted {{ $t('founded') }}: {{ assetsCount }}
      template(slot="header-right")
        .mr-4.ml-auto
          DropdownMenu(:title="$t('onPage') + ': ' + pagination.limit"
                       :opinions="[50, 100, 200, 500]"
                       :selected="pagination.limit"
                       @onSelect="setLimit")
        .mr-4
          Pagination(:pagination="pagination" @onNavigate="navigateByPagination")
      template(slot="additional-params")
        a.dropdown-item(@click="reverseSearchHightLight")
          .form-check.form-check-inline.form-check-switchery
            input.toggle-offset(type='checkbox' data-switchery='true' style='display: none;')
            span.switchery.switchery-default(:class="{ deactive: !assetsConfig.enableSearchHightlight, active: assetsConfig.enableSearchHightlight }")
              small(style='')
            | {{ $t('searchHighlighting') }}
      div.text-right(slot="table-footer")
        Pagination(:pagination="pagination" @onNavigate="navigateByPagination")
</template>

<script>


import Pagination from '@/components/Pagination';
import DropdownMenu from '@/components/UI/DropdownMenu';
import SearchHistory from '@/components/Search/SearchHistory';
import SearchHightlighterMixin from '@/components/Search/SearchHightlighterMixin';
import actionTypes from '@/store/actionTypes';
import FakeTableContentMixin from '@/components/Table/FakeTableContentMixin';

export default {
  name: 'Assets',
  data() {
    return {
      columns: [
        'id',
        'externalId',
        'name',
        'created',
        'ipAddress',
        'assetType',
        'credentials',
        'fqdn',
        'sensor',
        'alarms',
        'events',
        'vulnerabilities',
        'configIssues',
        'active',
        'assetOriginType',
        'assetScan',
        'createdBy',
        'description',
        'domainName',
        'found',
        'operationSystem',
        'operationSystemSource',
        'owner',
        'pciAsset',
        'hipaaAsset',
        'hostname',
        'patchCount',
        'powerShellVersion',
        'region',
        'storageDevice',
      ],
      assetsTypes: [],
      selectedAssetType: null,
      initedSearchText: '',
      parentMounted: false,
      tableCallbacks: {
        hostname: (i) => {
          this.$router.push(`/infrastructure/details/${this.assets[i].id}`);
        },
        name: (i) => {
          this.$router.push(`/infrastructure/details/${this.assets[i].id}`);
        },
      },
      // enableSearchHightlight: false,
    };
  },
  mixins: [SearchHightlighterMixin, FakeTableContentMixin],
  components: {
    Table: () => ({
      component: import('@/components/Table/TableWrapper'),
    }),
    Pagination,
    DropdownMenu,
    SearchHistory,
    AssetsMetaPieChart: () => import('@/components/infrastructure/AssetsMetaPieChart'),
  },
  methods: {
    initAssets() {
      if (!this.assets || !this.assets.length) {
        this.$store.dispatch(actionTypes.assets.LOAD_ASSETS);
      }
    },
    convertAssetsToTable(assets) {
      return assets.map(e => ({ ...e, owner: e.owner.username }));
    },
    setLimit({ value }) {
      this.$store.commit(actionTypes.assets.SET_ASSETS_PAGINATION, {
        ...this.pagination,
        limit: value,
      });
      this.loadAssets();
    },
    navigateByPagination({ offset, limit }) {
      let { next } = this.pagination;
      if (offset > this.pagination.offset) {
        next = null;
      }
      this.$store.commit(actionTypes.assets.SET_ASSETS_PAGINATION, {
        ...this.pagination,
        offset,
        limit,
        next,
      });
      this.loadAssets();
    },
    loadAssets() {
      if (this.assetsSearchParams) {
        this.$store.dispatch(actionTypes.assets.SEARCH_ASSETS);
        return;
      }
      this.$store.dispatch(actionTypes.assets.LOAD_ASSETS);
    },
    search(q) {
      this.$store.commit(actionTypes.assets.RESET_ASSETS_PAGINATION);
      this.$store.commit(actionTypes.assets.SET_ASSETS_SEARCH_PARAMS, {
        search: q.searchText,
        begin: q.dateRange.start,
        end: q.dateRange.end,
      });
      this.$store.dispatch(actionTypes.assets.SEARCH_ASSETS);
    },
    resetHistory() {
      this.$store.dispatch(actionTypes.assets.RESET_ASSETS_SEARCH_HISTORY);
    },
    loadAssetsHistory() {
      if (!this.searchHistory.length) {
        this.$store.dispatch(actionTypes.assets.LOAD_ASSETS_SEARCH_HISTORY);
      }
    },
    initAsetsMeta() {
      if (!this.countMetaInfo) {
        this.$store.dispatch(actionTypes.assets.LOAD_ASSETS_COUNT_META_INFO);
      }
    },
    searchByAssetType({ index, value }) {
      this.selectedAssetType = value;
    },
    initAssetsTypes() {
      this.selectedAssetType = this.$t('summary');
      this.assetsTypes = [
        this.$t('summary'),
        this.$t('workStations'),
        this.$t('servers'),
        this.$t('networkDevices'),
        this.$t('procetionRemedies'),
      ];
    },
    loadAssetsPopularQueries() {
      if (!this.popularQueries.length) {
        this.$store.dispatch(actionTypes.assets.LOAD_POPULAR_ASSETS_QUERIES);
      }
    },
    sortBy(c) {
      this.$store.commit(actionTypes.assets.SET_ASSETS_SORT_PARAM, c);
    },
    changeTableConfig(c) {
      let updatedConfig = { ...this.personalVisualConfig };
      if (!updatedConfig.assets) {
        updatedConfig.assets = {};
      }
      updatedConfig = {
        ...updatedConfig,
        assets: {
          ...updatedConfig.assets,
          ...c,
        },
      };
      this.$store.commit(actionTypes.ui.SET_PERSONAL_VISUAL_CONFIG, updatedConfig);
      this.$store.dispatch(actionTypes.ui.SAVE_PERSONAL_VISUAL_CONFIG);
    },
    reverseSearchHightLight() {
      const updatedConfig = {
        ...this.personalVisualConfig,
        assets: {
          ...this.assetsConfig,
          enableSearchHightlight: !this.assetsConfig.enableSearchHightlight,
        },
      };
      this.$store.commit(actionTypes.ui.SET_PERSONAL_VISUAL_CONFIG, updatedConfig);
      this.$store.dispatch(actionTypes.ui.SAVE_PERSONAL_VISUAL_CONFIG);
    },
  },
  computed: {
    assets() {
      const assets = this.$store.getters.getAssets;
      if (!assets || !this.parentMounted) {
        return [];
      }
      // eslint-disable-next-line
      return this.convertAssetsToTable(assets);
    },
    pagination() {
      return this.$store.getters.getAssetsPagination;
    },
    lang() {
      return this.$cookies.get('lang') || 'ru';
    },
    assetsSearchParams() {
      return this.$store.getters.getAssetsSearchParams;
    },
    assetsCount() {
      return this.$store.getters.getAssetsCount;
    },
    searchHistory() {
      return this.$store.getters.getAssetsSearchHistory;
    },
    highlightedAssets() {
      if (!this.parentMounted) {
        return [];
      }
      if (this.loading) {
        return this.initFakeContent(this.columns);
      }
      if (!this.assetsConfig || !this.assetsConfig.enableSearchHightlight) {
        return this.assets;
      }
      if (this.assetsSearchParams && this.assetsSearchParams.search) {
        return this.hightlightСoincidences(this.assets, this.assetsSearchParams.search);
      }
      return this.assets;
    },
    loading() {
      return this.$store.getters.getAssetsLoading;
    },
    countMetaInfo() {
      if (!this.parentMounted) {
        return null;
      }
      return this.$store.getters.getAssetsCountMetaInfo;
    },
    popularQueries() {
      return this.$store.getters.getPopularAssetsQueries;
    },
    personalVisualConfig() {
      return this.$store.getters.getPersonalVisualConfig;
    },
    assetsConfig() {
      return this.personalVisualConfig.assets;
    },
  },
  beforeMount() {
    this.parentMounted = false;
  },
  mounted() {
    this.initAssets();
    this.initAsetsMeta();
    this.loadAssetsHistory();
    this.loadAssetsPopularQueries();
    this.initAssetsTypes();
    setTimeout(() => {
      this.parentMounted = true;
    }, 5);
  },
};
</script>
