<template lang="pug">
.content.p-0
  // Course overview
  .card.mb-0
    .card-header.header-elements-md-inline
      h5.card-title(v-if="selectedAsset")
        i.icon-tux.mr-3.icon-2x
        | {{ selectedAsset.name }}
      .header-elements
        ul.list-inline.list-inline-dotted.mb-0.mt-2.mt-md-0
          li.list-inline-item.font-weight-semibold.text-uppercase Функции управления
    .card-body
      .row.px-0(v-if="selectedAsset")
        .col-lg-4
          .card.card-table.border-0.table-responsive.shadow-0.mb-0
            #collapse-link.row.px-0.collapse
            table.table.table-xs.table-borderless
              tbody#asset-detail
                tr
                  td.px-0.py-1.font-weight-semibold.left-detail(style='max-width: 180px;') Тип Актива
                  td.px-0.py-1
                    span Сервер
                tr
                  td.px-0.py-1.font-weight-semibold.left-detail ID:
                  td.px-0.py-1
                    span {{ selectedAsset.id }}
                tr
                  td.px-0.py-1.font-weight-semibold.left-detail IP адрес:
                  td.px-0.py-1
                    span {{ selectedAsset.ip }}
                tr
                  td.px-0.py-1.font-weight-semibold.left-detail FQDN
                  td.px-0.py-1
                    span {{ selectedAsset.fqdn }}
                tr
                  td.px-0.py-1.font-weight-semibold.left-detail Владелец:
                  td.px-0.py-1
                    span(v-if="selectedAsset.owner") {{ selectedAsset.owner.username }}
                tr
                  td.px-0.py-1.font-weight-semibold.left-detail Пользователь
                  td.px-0.py-1
                    span(v-if="selectedAsset.owner") {{ selectedAsset.owner.lastName }} {{ selectedAsset.owner.firstName }} {{ selectedAsset.owner.middleName }}
                tr
                  td.px-0.py-1.font-weight-semibold.left-detail ОС:
                  td.px-0.py-1
                    span {{ selectedAsset.operationSystem }}

                template(v-if="showDetail")
                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail Описание
                    td.px-0.py-1
                      span {{ selectedAsset.description }}
                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail Датчик:
                    td.px-0.py-1
                      span {{ selectedAsset.sensor }}
                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail Источник ОС:
                    td.px-0.py-1
                      span {{ selectedAsset.operatingSystemSource }}

                tr(@click="collapseDetail")
                  td.px-0.py-1.font-weight-semibold.p-0
                    a.nav-link.font-weight-semibold.collapsed.pointer.p-0(v-if="!showDetail" href="#")
                      |  Подробнее&nbsp;
                      i.icon-arrow-down22.mr-2
                    a.nav-link.font-weight-semibold.collapsed.pointer.p-0(v-else href="#")
                      |  Скрыть&nbsp;
                      i.icon-arrow-up22.mr-2
        .col-lg-6
          .card.card-table.border-0.table-responsive.shadow-0.mb-0
            .col-lg-12.p-0
              .bg-transparent.p-0.mb-3.text-center
                Echart.chart-thumbnil(:dataWidget="uptimeEchartData")
            .col-lg-12.p-0.mb-2
              .bg-transparent.p-0.mt-1.mb-2.text-center
                Echart.chart-thumbnil(:dataWidget="eventsEchartData")
        .col-lg-2
          .card.card-table.border-0.table-responsive.shadow-0.mb-0
            table.table.table-xs.table-borderless
              tbody
                tr
                  td.px-0.py-1.text-right.font-weight-semibold
                    button.btn.bg-slate.btn-sm.ml-md-2.rounded-0(type='button') Отключить соединение
                tr
                  td.px-0.py-1.text-right.font-weight-semibold
                    button.btn.btn-sm.bg-slate.ml-md-2.rounded-0(type='button') Заблокировать актив
                tr
                  td.px-0.py-1.text-right.font-weight-semibold
                    button.btn.btn-sm.bg-slate.ml-md-2.rounded-0(type='button') Выключить актив
                tr
                  td.px-0.py-1.text-right.font-weight-semibold
                    button.btn.btn-sm.bg-slate.ml-md-2.rounded-0(type='button') Открыть тикет

    .nav-tabs-responsive.bg-light.border-top
      ul.nav.nav-tabs.nav-tabs-bottom.flex-nowrap.mb-0
        li.nav-item
          a.nav-link.active(href='#asset-overview', data-toggle='tab')
            i.icon-pie-chart5.mr-2
            |  Сводка
        li.nav-item
          a.nav-link(href='#asset-configuration', data-toggle='tab')
            i.icon-equalizer2.mr-2
            |  Конфигурация
        li.nav-item
          a.nav-link(href='#asset-incidents', data-toggle='tab')
            i.icon-warning.mr-2
            |  Инциденты
        li.nav-item
          a.nav-link(href='#asset-software', data-toggle='tab')
            i.icon-cube2.mr-2
            |  Установленное ПО
        li.nav-item
          a.nav-link(href='#asset-services', data-toggle='tab')
            i.icon-versions.mr-2
            |  Сервисы
        li.nav-item
          a.nav-link(href='#asset-tickets', data-toggle='tab')
            i.icon-equalizer2.mr-2
            |  Тикеты
    .tab-content
      #asset-overview.tab-pane.fade.show.active
        .card-body.pb-0
          .row.px-0
            .col-md-2
              .bg-transparent.border-1.p-5.text-center Pie-chart
              h6.font-weight-semibold.text-center.pt-1 Критичность
            .col-md-2
              .bg-transparent.border-1.p-5.text-center Pie-chart
              h6.font-weight-semibold.text-center.pt-1 Событий в секунду (EPS)
            .col-md-2
              .bg-transparent.border-1.p-5.text-center Pie-chart
              h6.font-weight-semibold.text-center.pt-1 Инцидентов
            .col-md-2
              .bg-transparent.border-1.p-5.text-center Pie-chart
              h6.font-weight-semibold.text-center.pt-1 Тикетов
            .col-md-2
              .bg-transparent.border-1.p-5.text-center Pie-chart
              h6.font-weight-semibold.text-center.pt-1 Корреляции
            .col-md-2
              .bg-transparent.border-1.p-5.text-center Pie-chart
              h6.font-weight-semibold.text-center.pt-1 Событий
      #asset-configuration.tab-pane.fade
        .card-body
          .row
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Hanna Dorman
                    span.text-muted UX/UI designer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Benjamin Loretti
                    span.text-muted Network engineer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Vanessa Aurelius
                    span.text-muted Front end guru
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 William Brenson
                    span.text-muted Chief officer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
          .row
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 James Alexander
                    span.text-muted Lead developer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Nathan Jacobson
                    span.text-muted Lead UX designer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Margo Baker
                    span.text-muted Sales manager
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Barbara Walden
                    span.text-muted SEO specialist
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
          .row
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Lucy North
                    span.text-muted UX/UI designer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Vicky Barna
                    span.text-muted Network engineer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Hugo Bills
                    span.text-muted Front end guru
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Tony Gurrano
                    span.text-muted CEO and Founder
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
          .row
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Jeremy Victorino
                    span.text-muted Marketing specialist
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Monica Smith
                    span.text-muted Financial officer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Bastian Miller
                    span.text-muted Web developer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Jordana Mills
                    span.text-muted Designer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
          .row
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Buzz Brenson
                    span.text-muted Business developer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Zachary Willson
                    span.text-muted Network engineer
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 William Miles
                    span.text-muted Front end dev
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
            .col-xl-3.col-md-6
              .card.card-body
                .media
                  .mr-3
                    a(href='#')
                      img.rounded-circle(src='assets/images/placeholders/placeholder.jpg', width='42', height='42', alt='')
                  .media-body
                    h6.mb-0 Freddy Walden
                    span.text-muted Marketing specialist
                  .ml-3.align-self-center
                    .list-icons
                      .list-icons-item.dropdown
                        a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                          i.icon-menu7
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-comment-discussion
                            |  Start chat
                          a.dropdown-item(href='#')
                            i.icon-phone2
                            |  Make a call
                          a.dropdown-item(href='#')
                            i.icon-mail5
                            |  Send mail
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Statistics
          .d-flex.justify-content-center.mt-3.mb-3
            ul.pagination
              li.page-item
                a.page-link(href='#')
                  i.icon-arrow-small-right
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') 4
              li.page-item
                a.page-link(href='#') 5
              li.page-item
                a.page-link(href='#')
                  i.icon-arrow-small-left
      #asset-incidents.tab-pane.fade
        .card-body.p-0
          .col-md-12.py-0.px-3.my-3
            .bg-transparent.py-3.px-3.border-1.mt-1.mb-0.text-center(style='height: 400px;') График Чарт events
            .d-flex.py-1.flex-row-reverse
              a(href='#') Перейти в Инциденты
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th Lessons
                  th Name
                  th Description
                  th Duration
                  th Status
                  th Date
              tbody
                tr
                  td 1
                  td
                    a(href='#') Introduction
                  td One morning, when Gregor Samsa woke from troubled dreams, he found himself
                  td 10 hours
                  td
                    span.badge.bg-secondary Closed
                  td Oct 21st, 2016
                tr
                  td 2
                  td
                    a(href='#') Design tools
                  td He lay on his armour-like back, and if he lifted his head a little he could
                  td 20 hours
                  td
                    span.badge.bg-primary Registration
                  td Oct 22nd, 2016
                tr
                  td 3
                  td
                    a(href='#') Workspace
                  td The bedding was hardly able to cover it and seemed ready to slide off moment
                  td 35 hours
                  td
                    span.badge.bg-danger On time
                  td Oct 23rd, 2016
                tr
                  td 4
                  td
                    a(href='#') Creating effects
                  td A collection of textile samples lay spread out on the table - Samsa salesman
                  td 25 hours
                  td
                    span.badge.bg-danger On time
                  td Oct 24th, 2016
                tr
                  td 5
                  td
                    a(href='#') Digital design
                  td Drops of rain could be heard hitting the pane, which made him feel quite sad
                  td 50 hours
                  td
                    span.badge.bg-danger On time
                  td Oct 25th, 2016
      #asset-software.tab-pane.fade
        .card-body
          | asdfsadfsadf
      #asset-services.tab-pane.fade
        .card-body
          | 123123123123
      #asset-tickets.tab-pane.fade
        .card-body.p-0
          .col-md-12.py-0.px-3.my-3
            .bg-transparent.py-3.px-3.border-1.mt-1.mb-0.text-center(style='height: 200px;') Бар чарт инциденты
            .d-flex.py-1.flex-row-reverse
              a(href='#') Перейти в Тикеты
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th Lessons
                  th Name
                  th Description
                  th Duration
                  th Status
                  th Date
              tbody
                tr
                  td 1
                  td
                    a(href='#') Introduction
                  td One morning, when Gregor Samsa woke from troubled dreams, he found himself
                  td 10 hours
                  td
                    span.badge.bg-secondary Closed
                  td Oct 21st, 2016
                tr
                  td 2
                  td
                    a(href='#') Design tools
                  td He lay on his armour-like back, and if he lifted his head a little he could
                  td 20 hours
                  td
                    span.badge.bg-primary Registration
                  td Oct 22nd, 2016
                tr
                  td 3
                  td
                    a(href='#') Workspace
                  td The bedding was hardly able to cover it and seemed ready to slide off moment
                  td 35 hours
                  td
                    span.badge.bg-danger On time
                  td Oct 23rd, 2016
                tr
                  td 4
                  td
                    a(href='#') Creating effects
                  td A collection of textile samples lay spread out on the table - Samsa salesman
                  td 25 hours
                  td
                    span.badge.bg-danger On time
                  td Oct 24th, 2016
                tr
                  td 5
                  td
                    a(href='#') Digital design
                  td Drops of rain could be heard hitting the pane, which made him feel quite sad
                  td 50 hours
                  td
                    span.badge.bg-danger On time
                  td Oct 25th, 2016
  // /course overview

</template>

<script>
import Echart from '@/components/widgets/widget/Echart';
import actionTypes from '@/store/actionTypes';


export default {
  data() {
    return {
      showDetail: false,
    };
  },
  components: {
    Echart,
  },
  methods: {
    collapseDetail() {
      this.showDetail = !this.showDetail;
    },
  },
  computed: {
    selectedAsset() {
      return this.$store.getters.getSelectedAsset;
    },
    uptimeEchartData() {
      return {

        // Define colors
        color: ['#2196F3', '#5ab1ef', '#ffb980', '#d87a80'],

        // Global text styles
        textStyle: {
          fontFamily: 'Roboto, Arial, Verdana, sans-serif',
          fontSize: 13,
        },

        // Chart animation duration
        animationDuration: 1750,

        // Setup grid
        grid: {
          left: 0,
          right: 40,
          top: 10,
          bottom: 0,
          containLabel: true,
        },

        // Add tooltip
        tooltip: {
          trigger: 'axis',
          backgroundColor: 'rgba(0,0,0,0.75)',
          padding: [10, 15],
          textStyle: {
            fontSize: 13,
            fontFamily: 'Roboto, sans-serif',
          },
        },

        // Horizontal axis
        xAxis: [{
          type: 'category',
          boundaryGap: false,
          data: ['2019/6/12 2:00', '2019/6/12 3:00', '2019/6/12 4:00', '2019/6/12 5:00', '2019/6/12 6:00', '2019/6/12 7:00', '2019/6/12 8:00', '2019/6/12 9:00', '2019/6/12 10:00', '2019/6/12 11:00', '2019/6/12 12:00', '2019/6/12 13:00', '2019/6/12 14:00', '2019/6/12 15:00', '2019/6/12 16:00', '2019/6/12 17:00', '2019/6/12 18:00', '2019/6/12 19:00', '2019/6/12 20:00', '2019/6/12 21:00', '2019/6/12 22:00', '2019/6/12 23:00',
            '2019/6/13 0:00', '2019/6/13 1:00', '2019/6/13 2:00', '2019/6/13 3:00', '2019/6/13 4:00', '2019/6/13 5:00', '2019/6/13 6:00', '2019/6/13 7:00', '2019/6/13 8:00', '2019/6/13 9:00', '2019/6/13 10:00', '2019/6/13 11:00', '2019/6/13 12:00', '2019/6/13 13:00', '2019/6/13 14:00', '2019/6/13 15:00', '2019/6/13 16:00', '2019/6/13 17:00', '2019/6/13 18:00', '2019/6/13 19:00', '2019/6/13 20:00', '2019/6/13 21:00', '2019/6/13 22:00', '2019/6/13 23:00',
            '2019/6/14 0:00', '2019/6/14 1:00', '2019/6/14 2:00', '2019/6/14 3:00', '2019/6/14 4:00', '2019/6/14 5:00', '2019/6/14 6:00', '2019/6/14 7:00', '2019/6/14 8:00', '2019/6/14 9:00', '2019/6/14 10:00', '2019/6/14 11:00', '2019/6/14 12:00', '2019/6/14 13:00', '2019/6/14 14:00', '2019/6/14 15:00', '2019/6/14 16:00', '2019/6/14 17:00', '2019/6/14 18:00', '2019/6/14 19:00', '2019/6/14 20:00', '2019/6/14 21:00', '2019/6/14 22:00', '2019/6/14 23:00',
            '2019/6/15 0:00', '2019/6/15 1:00', '2019/6/15 2:00', '2019/6/15 3:00', '2019/6/15 4:00', '2019/6/15 5:00', '2019/6/15 6:00', '2019/6/15 7:00', '2019/6/15 8:00', '2019/6/15 9:00', '2019/6/15 10:00', '2019/6/15 11:00', '2019/6/15 12:00', '2019/6/15 13:00', '2019/6/15 14:00', '2019/6/15 15:00', '2019/6/15 16:00', '2019/6/15 17:00', '2019/6/15 18:00', '2019/6/15 19:00', '2019/6/15 20:00', '2019/6/15 21:00', '2019/6/15 22:00', '2019/6/15 23:00',
            '2019/6/15 0:00', '2019/6/16 1:00', '2019/6/16 2:00', '2019/6/16 3:00', '2019/6/16 4:00', '2019/6/16 5:00', '2019/6/16 6:00', '2019/6/16 7:00', '2019/6/16 8:00', '2019/6/16 9:00', '2019/6/16 10:00', '2019/6/16 11:00', '2019/6/16 12:00', '2019/6/16 13:00', '2019/6/16 14:00', '2019/6/16 15:00', '2019/6/16 16:00', '2019/6/16 17:00', '2019/6/16 18:00', '2019/6/16 19:00', '2019/6/16 20:00', '2019/6/16 21:00', '2019/6/16 22:00', '2019/6/16 23:00',
            '2019/6/15 0:00', '2019/6/17 1:00', '2019/6/17 2:00', '2019/6/17 3:00', '2019/6/17 4:00', '2019/6/17 5:00', '2019/6/17 6:00', '2019/6/17 7:00', '2019/6/17 8:00', '2019/6/17 9:00', '2019/6/17 10:00'],
          axisLabel: {
            color: '#999',
          },
          axisLine: {
            show: false,
            lineStyle: {
              color: '#999',
            },
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#eee',
              type: 'dashed',
            },
          },
        }],

        // Vertical axis
        yAxis: [{

          type: 'value',
          boundaryGap: true,

          nameGap: 15,
          axisLabel: {
            margin: 15,
            color: '#999',
          },
          axisLine: {
            lineStyle: {
              color: '#999',
            },
          },
          splitLine: {
            show: false,
            lineStyle: {
              color: '#999',
            },
          },
          splitArea: {
            show: false,
            areaStyle: {
              color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)'],
            },
          },
        }],

        // Add series
        series: [
          {
            name: 'New orders',
            type: 'line',
            smooth: true,
            symbolSize: 5,
            itemStyle: {
              normal: {
                borderWidth: 2,
              },
            },
            areaStyle: {
              normal: {
                opacity: 0.1,
              },
            },
            data: [20, 32, 1, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 20, 32, 1, 34, 20, 0, 20, 20, 32, 9, 34, 20, 10, 20, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 20, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 20, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 20, 32, 1, 34, 20, 0, 20, 20, 32, 9, 34, 20, 10, 20, 32, 1, 34, 20, 0, 20, 20, 32, 9, 34, 20, 10, 34, 20, 10, 20, 32, 1, 34, 20, 0, 20, 20, 32, 9, 34, 20, 10],
          },
        ],
      };
    },
    eventsEchartData() {
      return {

        // Define colors
        color: ['#4CAF50', '#b6a2de', '#5ab1ef', '#ffb980', '#d87a80'],

        // Global text styles
        textStyle: {
          fontFamily: 'Roboto, Arial, Verdana, sans-serif',
          fontSize: 13,
        },

        // Chart animation duration
        animationDuration: 1750,

        // Setup grid
        grid: {
          left: 0,
          right: 40,
          top: 10,
          bottom: 0,
          containLabel: true,
        },

        // Add tooltip
        tooltip: {
          trigger: 'axis',
          backgroundColor: 'rgba(0,0,0,0.75)',
          padding: [10, 15],
          textStyle: {
            fontSize: 13,
            fontFamily: 'Roboto, sans-serif',
          },
        },

        // Horizontal axis
        xAxis: [{
          type: 'category',
          boundaryGap: false,
          data: ['2019/6/12 2:00', '2019/6/12 3:00', '2019/6/12 4:00', '2019/6/12 5:00', '2019/6/12 6:00', '2019/6/12 7:00', '2019/6/12 8:00', '2019/6/12 9:00', '2019/6/12 10:00', '2019/6/12 11:00', '2019/6/12 12:00', '2019/6/12 13:00', '2019/6/12 14:00', '2019/6/12 15:00', '2019/6/12 16:00', '2019/6/12 17:00', '2019/6/12 18:00', '2019/6/12 19:00', '2019/6/12 20:00', '2019/6/12 21:00', '2019/6/12 22:00', '2019/6/12 23:00',
            '2019/6/13 0:00', '2019/6/13 1:00', '2019/6/13 2:00', '2019/6/13 3:00', '2019/6/13 4:00', '2019/6/13 5:00', '2019/6/13 6:00', '2019/6/13 7:00', '2019/6/13 8:00', '2019/6/13 9:00', '2019/6/13 10:00', '2019/6/13 11:00', '2019/6/13 12:00', '2019/6/13 13:00', '2019/6/13 14:00', '2019/6/13 15:00', '2019/6/13 16:00', '2019/6/13 17:00', '2019/6/13 18:00', '2019/6/13 19:00', '2019/6/13 20:00', '2019/6/13 21:00', '2019/6/13 22:00', '2019/6/13 23:00',
            '2019/6/14 0:00', '2019/6/14 1:00', '2019/6/14 2:00', '2019/6/14 3:00', '2019/6/14 4:00', '2019/6/14 5:00', '2019/6/14 6:00', '2019/6/14 7:00', '2019/6/14 8:00', '2019/6/14 9:00', '2019/6/14 10:00', '2019/6/14 11:00', '2019/6/14 12:00', '2019/6/14 13:00', '2019/6/14 14:00', '2019/6/14 15:00', '2019/6/14 16:00', '2019/6/14 17:00', '2019/6/14 18:00', '2019/6/14 19:00', '2019/6/14 20:00', '2019/6/14 21:00', '2019/6/14 22:00', '2019/6/14 23:00',
            '2019/6/15 0:00', '2019/6/15 1:00', '2019/6/15 2:00', '2019/6/15 3:00', '2019/6/15 4:00', '2019/6/15 5:00', '2019/6/15 6:00', '2019/6/15 7:00', '2019/6/15 8:00', '2019/6/15 9:00', '2019/6/15 10:00', '2019/6/15 11:00', '2019/6/15 12:00', '2019/6/15 13:00', '2019/6/15 14:00', '2019/6/15 15:00', '2019/6/15 16:00', '2019/6/15 17:00', '2019/6/15 18:00', '2019/6/15 19:00', '2019/6/15 20:00', '2019/6/15 21:00', '2019/6/15 22:00', '2019/6/15 23:00',
            '2019/6/15 0:00', '2019/6/16 1:00', '2019/6/16 2:00', '2019/6/16 3:00', '2019/6/16 4:00', '2019/6/16 5:00', '2019/6/16 6:00', '2019/6/16 7:00', '2019/6/16 8:00', '2019/6/16 9:00', '2019/6/16 10:00', '2019/6/16 11:00', '2019/6/16 12:00', '2019/6/16 13:00', '2019/6/16 14:00', '2019/6/16 15:00', '2019/6/16 16:00', '2019/6/16 17:00', '2019/6/16 18:00', '2019/6/16 19:00', '2019/6/16 20:00', '2019/6/16 21:00', '2019/6/16 22:00', '2019/6/16 23:00',
            '2019/6/15 0:00', '2019/6/17 1:00', '2019/6/17 2:00', '2019/6/17 3:00', '2019/6/17 4:00', '2019/6/17 5:00', '2019/6/17 6:00', '2019/6/17 7:00', '2019/6/17 8:00', '2019/6/17 9:00', '2019/6/17 10:00'],
          axisLabel: {
            color: '#999',
          },
          axisLine: {
            show: false,
            lineStyle: {
              color: '#999',
            },
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#eee',
              type: 'dashed',
            },
          },
        }],

        // Vertical axis
        yAxis: [{

          type: 'value',
          boundaryGap: true,

          nameGap: 15,
          axisLabel: {
            margin: 15,
            color: '#999',
          },
          axisLine: {
            lineStyle: {
              color: '#999',
            },
          },
          splitLine: {
            show: false,
            lineStyle: {
              color: '#999',
            },
          },
          splitArea: {
            show: false,
            areaStyle: {
              color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)'],
            },
          },
        }],

        // Add series
        series: [
          {
            name: 'New orders',
            type: 'line',
            smooth: true,
            symbolSize: 5,
            itemStyle: {
              normal: {
                borderWidth: 2,
              },
            },
            areaStyle: {
              normal: {
                opacity: 0.1,
              },
            },
            data: [20, 32, 1, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 20, 32, 1, 34, 20, 0, 20, 20, 32, 9, 34, 20, 10, 20, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 20, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 20, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 32, 6, 34, 20, 5, 20, 20, 32, 9, 34, 20, 10, 20, 32, 1, 34, 20, 0, 20, 20, 32, 9, 34, 20, 10, 20, 32, 1, 34, 20, 0, 20, 20, 32, 9, 34, 20, 10, 34, 20, 10, 20, 32, 1, 34, 20, 0, 20, 20, 32, 9, 34, 20, 10],
          },
        ],
      };
    },
  },
  beforeMount() {
    this.$store.commit(actionTypes.assets.SET_SELECTED_ASSET, null);
    this.$store.dispatch(actionTypes.assets.LOAD_ASSET_BY_ID, this.$route.params.id);
  },
};
</script>

<style lang="sass">
.left-detail
  width: 260px
.chart-thumbnil
  max-height: 140px
</style>
