<template lang="pug">
.card.border-0.border-bottom-0.mb-0
  .card-body.pt-3.pb-0.border-0.bg-white
    .input-group.my-3
      .input-group-prepend
        button.btn.bg-slate.btn-lg.daterange-locale.rounded-0.border-0(type='button')
          i.icon-calendar22.mr-2
          span 11 Января 2019 - 9 Февраля 2019
      input.form-control.form-control-lg.alpha-grey.rounded-0(
        type='text',
        :placeholder="$t('searchPlaceholder')",
        v-model="search"
      )
      .input-group-append
        button.btn.btn-primary.btn-lg.rounded-0.border-0(type='submit') {{ $t('search') }}
    .d-flex
      .py-2
        h6.my-2.mr-3
          a.text-default(role="button" @click="toggleFilters()" href="#")
            i.icon-unfold.mr-2
            | {{ $t('filters') }}
      .py-2.mr-auto
        h6.my-2.mr-3
          a.text-default(href='#', @click="resetFilters()")
            i.icon-reload-alt.mr-2
            |  {{ $t('resetFilters') }}
      .py-2
        h6.my-2.mr-3
          a.text-default(href='#', data-toggle='collapse', aria-expanded='true')
            i.icon-checkmark3.mr-2
            | {{ $t('numSelected', {n: 20}) }}
      .py-2
        h6.my-2.mr-3
          a.text-default(href='#', data-popup='tooltip', :title="$t('print')", data-toggle='collapse', aria-expanded='true')
            i.icon-printer
      .py-2
        h6.my-2.mr-3
          a.text-default(href='#collapse-link', data-popup='tooltip', :title="$t('exportTo', {format: 'CSV'})", data-toggle='collapse', aria-expanded='true')
            i.icon-file-spreadsheet
      .py-2
        h6.my-2.mr-3
          a.text-default(href='#collapse-link', data-popup='tooltip', :title="$t('exportTo', {format: 'PDF'})", data-toggle='collapse', aria-expanded='true')
            i.icon-file-pdf
      .py-2
        h6.my-2.mr-3
          a.text-default.dropdown-toggle(
            href="#",
            @click="showActionMenu = !showActionMenu"
            v-on-clickaway="closeMenu"
          )
            span.position-right {{ $t('parameters') }}
            span.caret
          ul.dropdown-menu.dropdown-menu-right(:class="{ show: showActionMenu }")
            a.dropdown-item
              .form-check.form-check-inline.form-check-switchery
                label.form-check-label
                  input.toggle-offset(type='checkbox' data-switchery='true' style='display: none;')
                  span.switchery.switchery-default(:class="{ deactive: !activeHeader, active: activeHeader }" @click="toggleTableHeader")
                    small(style='')
                  | {{ $t('fixTableHeaderLabel') }}
            .dropdown-divider
            a.dropdown-item
              i.icon-clippy.position-left
              | {{ $t('updInfo') }}
    <transition name="fade">
      .filters-block(v-show="showFilters")
        .row.my-3
          .col-md-3
            // Using typeahead
            .form-group.mb-2
              label.mb-0 IP адрес или диапазон
              input.form-control.rounded-0.tokenfield-typeahead.tokenfield-teal(type='text', value='192.168.0.1/24', placeholder='Добавьте тэг', data-fouc='')
    </transition>
</template>
<script>
import { mixin as clickaway } from 'vue-clickaway';

export default {
  data() {
    return {
      search: null,
      showFilters: false,
      showActionMenu: false,
      activeHeader: false,
    };
  },
  watch: {
    search(n) {
      console.debug('search value: ', n);
    },
  },
  methods: {
    toggleFilters() {
      this.showFilters = !this.showFilters;
    },
    resetFilters() {
      this.search = null;
      this.showFilters = false;
    },
    toggleTableHeader() {
      this.activeHeader = !this.activeHeader;
    },
    closeMenu() {
      this.showActionMenu = false;
    },
  },
  mixins: [clickaway],
};
</script>
<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
