<template lang="pug">
  div
    Search(@onSearch="search")
    form(ref="form" @submit="submit")
      div
        div Dt from
        input(type="datetime-local" v-model="form.begin")

      div
        div Dt to
        input(type="datetime-local" v-model="form.end")

      div
        div Zoom (seconds)
        input(type="number" min="60" step="60" v-model="form.zoom")

      div
        div DeviceID
        input(type="text" v-model="form.device")

      div
        div Ip filter
        input(type="radio" :value="false"  checked v-model="ipRange")
        | IP
        input(type="radio" :value="true" v-model="ipRange")
        | RANGE

      div(v-if="!ipRange")
        div SourceIP
        input(type="text" v-model="form.sourceIp")

      div(v-if="ipRange")
        div Ip Range
        input(type="text" v-model="form.ipStart")
        input(type="text" v-model="form.ipEnd")

      div
        div Operation
        input(type="radio" :value="true"  checked v-model="form.bitand")
        | AND
        input(type="radio" :value="false" v-model="form.bitand")
        | OR

      div
        div Search
        input(type="text" v-model="form.search")

      button(type="submit") Go!
</template>

<script>
import moment from 'moment';

import Search from '@/components/Search';

export default {
  data() {
    return {
      ipRange: false,
      filters: {
        begin: '2017-01-01T00:00',
        end: '2018-01-01T00:00',
        search: 'ERROR COREDEV NetScreen',
        device: '',
        sourceIp: '',
        ipStart: '',
        ipEnd: '',
        zoom: 60 * 60 * 24 * 7,
        bitand: true,
      },
    };
  },
  props: ['form'],
  components: {
    Search,
  },
  watch: {
    ipRange(n) {
      if (n) {
        this.form.sourceIp = '';
      } else {
        this.form.ipStart = '';
        this.form.ipEnd = '';
      }
    },
  },
  methods: {
    submit(e) {
      e.preventDefault();
      this.onSubmit();
    },
    onSubmit() {
      this.$emit('submit', this.filters);
    },
    search({ searchText, dateRange }) {
      const dateFormat = 'YYYY-MM-DD HH:mm';
      this.filters = {
        ...this.filters,
        search: searchText,
        begin: moment(dateRange.start).format(dateFormat),
        end: moment(dateRange.end).format(dateFormat),
      };
      this.onSubmit();
    },
  },
};
</script>
