<template lang="pug">
div
  codemirror(v-model="code"
            ref="cmMerge"
            :options="cmOptions"
            @ready="onCodemirrorReady"
            @input="codeChangeHandler")
</template>

<script>
import CodeMirror from 'codemirror';
import { codemirror } from 'vue-codemirror';
import 'codemirror/lib/codemirror.css';
import 'codemirror/mode/javascript/javascript.js';

import 'codemirror/addon/hint/show-hint';
import 'codemirror/addon/hint/show-hint.css';
import 'codemirror/addon/hint/sql-hint.js';
import 'codemirror/addon/selection/active-line.js';
import 'codemirror/mode/sql/sql';

export default {
  name: 'EventSqlSearchComponent',
  data() {
    return {
      code: '',
      cmOptions: {
        tabSize: 2,
        mode: 'text/x-mysql',
        theme: 'default',
        lineNumbers: true,
        line: true,
        styleActiveLine: true,
        extraKeys: { 'Ctrl-Space': 'autocomplete' },
      },
      error: null,
    };
  },
  components: {
    codemirror,
  },
  methods: {
    codeChangeHandler() {
      console.log(this.code);
    },
    onCodemirrorReady(cm) {
      cm.on('keypress', () => {
        cm.showHint({ completeSingle: false });
      });
    },
    initCustomKeywords() {
      const orig = CodeMirror.hint.sql;
      CodeMirror.hint.sql = (cm) => {
        const inner = orig(cm) || { from: cm.getCursor(), to: cm.getCursor(), list: [] };
        inner.list.push('WAKWAKA');
        return inner;
      };
    },
  },
  beforeMount() {
    this.initCustomKeywords();
  },
};
</script>

<style lang="sass">
.CodeMirror, .CodeMirror-hint
  font-family: Arial, monospace
  font-size: 14px
</style>
