<template lang="pug">
  WorkingProcess
</template>

<script>
import WorkingProcess from '@/components/WorkingProcess';

export default {
  name: 'ConfiguratorChangeAlayticsCenter',
  components: {
    WorkingProcess,
  },
};
</script>
