<template lang="pug">
.page-content.screen-size(ref="configuratorContent")
  NavSideBar.scroll-y(style="overflow-x: hidden")
  ConfigSideBar(v-if="sideBarStatus"
                :pageHeight="pageContentHeight")
  .content-wrapper.white-bckg
    Loading(v-if="loading")
    .content.px-0.py-0(v-else)
      .card.border-0.shadow-0.rounded-0.disable-scoll
        .card-body
          .col-12
            label(for="title") {{ $t('widgetName') }}
            input.form-control#title(type='text' :placeholder="$t('widgetName')" v-model="title")
          .col-12
            label(for="description") {{ $t('widgetDescr') }}
            input.form-control#subTitle(type='text' :placeholder="$t('widgetDescr')" v-model="description")
      ApiConnectorBoard
      .card.border-0.shadow-0.rounded-0.disable-scoll
        .card-body.p-0
          div.visual-widget-configurator(v-if="dataWidget")
            div.alert.alert-danger(v-if="error") {{ $t('configuratorError') }}
            template(v-else)
              // TODO: dynamic components
              TableWidget#widgetConfiguratorSnapshot(v-if="widgetName==='Table'" :dataWidget="dataWidget")
              Echart#widgetConfiguratorSnapshot(v-else :dataWidget="dataWidget")


            .col-12
              div.alert.alert-danger(v-if="rspnsError") {{ $t(rspnsError) }}
              div.alert.alert-success(v-if="success") {{ $t('successOperation') }}
              button.btn.btn-primary.float-right.mt-3.mr-1(
                type="button"
                @click="saveWidgetPreset"
                :disabled="isFormInvalid"
              ) {{ saveButtonName }}
              button.btn.btn-primary.float-right.mt-3.mr-5(
                v-if="editablePreset"
                type="button"
                @click="savePreset"
                :disabled="isFormInvalid"
              ) {{ $t('saveAsNew') }}
</template>

<script>
import html2canvas from 'html2canvas';

import NavigationSideBar from '@/components/widgetConfigurator/NavigationSideBar/NavigationSideBar';
import ConfigSideBar from '@/components/widgetConfigurator/ConfigSideBar/ConfigSideBar';
import Editor from '@/components/widgetConfigurator/Editor';
import wrappedCharts from '@/services/Charts';
import ApiConnectorBoard from '@/components/widgetConfigurator/ApiConnectorBoard';
import Loading from '@/components/Loading';
import actionTypes from '@/store/actionTypes';
import Echart from '@/components/widgets/widget/Echart';
import TableWidget from '@/components/widgets/widget/Table';


export default {
  name: 'WidgetConfigurator',
  beforeRouteEnter(to, from, next) {
    if (!to.params.name) {
      next(`${to.fullPath}/${wrappedCharts.Line.name}`);
      return;
    }
    next();
  },
  // mixins: [EchartsInitMixin],
  data() {
    return {
      title: '',
      description: '',
      error: null,
      resizeEventListener: null,
      pageContentHeight: 800,
      unsubscribeStore: () => {},
    };
  },
  components: {
    Echart,
    NavSideBar: NavigationSideBar,
    ConfigSideBar,
    Editor,
    ApiConnectorBoard,
    Loading,
    TableWidget,
  },
  methods: {
    initVisualisation() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_STATUS, true);
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_TYPE, 'configurator');
      this.$store.commit(actionTypes.ui.SET_SIDEBAR_BUTTON_STATUS, true);
      this.$store.commit(actionTypes.ui.SET_SIDEBAR_STATUS, true);
      this.initContentHeight();
    },
    initContentHeight() {
      const pageContent = this.$refs.configuratorContent;
      if (!pageContent) {
        return;
      }
      this.pageContentHeight = window.innerHeight - pageContent.getBoundingClientRect().top;
      pageContent.style.height = `${this.pageContentHeight}px`;
    },
    resetVisualisation() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_STATUS, true);
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_HEADER_STATUS, true);
      this.$store.commit(actionTypes.ui.SET_SIDEBAR_BUTTON_STATUS, false);
    },
    initCurrentWidgetData() {
      if (!this.$route.params.name) {
        return;
      }
      if (this.editableData || this.editablePreset) {
        return;
      }
      const initialConfig = this.initWidgetData(this.$route.params.name);
      this.$store.commit(actionTypes.widgetConfigurator.SET_WIDGET_CONF, initialConfig);
    },
    initWidgetData(widgetName) {
      return wrappedCharts[widgetName].presets[this.id - 1];
    },
    subscribeOnResize() {
      this.resizeEventListener = window.addEventListener('resize', this.initContentHeight);
    },
    subscribeStore() {
      this.unsubscribeStore = this.$store.subscribe((state) => {
        // eslint-disable-next-line
        switch (state.type) {
          case actionTypes.ui.SET_SUB_NAVBAR_HEADER_COLLAPSE:
            setTimeout(this.initContentHeight, 1);
            break;
          case actionTypes.dashboards.EDIT_DASHBOARD:
            this.$router.push({ name: 'analytics' });
            break;
        }
      });
    },
    async saveWidgetPreset() {
      // if (this.editableData) {
      //   const updatedWidget = {
      //     ...this.editableData,
      //     widgetData: { ...this.widgetConf },
      //     title: this.title,
      //     description: this.description,
      //   };
      //   this.$store.dispatch(actionTypes.dashboards.EDIT_WIDGET, updatedWidget);
      //   return;
      // }
      if (this.editablePreset) {
        await this.saveEditablePreset();
        return;
      }
      this.savePreset();
    },
    async saveEditablePreset() {
      const img = await this.createChartScreenshot();
      const updatedPreset = {
        ...this.editablePreset,
        widgetData: { ...this.widgetConf },
        title: this.title,
        description: this.description,
        thumbnail: img,
      };
      this.$store.dispatch(actionTypes.widgetConfigurator.EDIT_PRESET, updatedPreset);
    },
    async savePreset() {
      console.log(this.editablePreset);
      if (this.editablePreset) {
        this.$store.commit(actionTypes.widgetConfigurator.SET_WIDGET_CONF, JSON.parse(JSON.stringify(this.editablePreset.dataWidget)));
      }
      const img = await this.createChartScreenshot();
      const presetMetaData = {
        title: this.title,
        description: this.description,
        widgetData: JSON.parse(JSON.stringify(this.widgetConf)),
        thumbnail: img,
        type: this.getWidgetType(),
        name: this.$route.params.name,
      };
      this.$store.dispatch(actionTypes.widgetConfigurator.SAVE_ORGANISATION_PRESET, { ...presetMetaData });
    },
    getWidgetType() {
      if (this.widgetName === 'Table') {
        return 'Table';
      }
      return 'Echart';
    },
    async createChartScreenshot() {
      const el = document.getElementById('widgetConfiguratorSnapshot');
      const canvas = await html2canvas(el);
      const dataURL = canvas.toDataURL();
      const blobBin = atob(dataURL.split(',')[1]);
      const array = [];
      for (let i = 0; i < blobBin.length; i++) {
        array.push(blobBin.charCodeAt(i));
      }
      return new File([new Uint8Array(array)], 'thumbnail.png');
    },
    resetConfigurator() {
      this.$store.dispatch(actionTypes.widgetConfigurator.RESET_CONFIGURATOR);
    },
    initConfiguratorMode() {
      if (this.editableData) {
        this.title = this.editableData.title;
        this.description = this.editableData.description;
        return;
      }
      if (this.editablePreset) {
        this.title = this.editablePreset.title;
        this.description = this.editablePreset.description;
      }
    },
  },
  computed: {
    widgetConf() {
      return this.$store.getters.getWidgetConf;
    },
    widgetConfMap() {
      return this.$store.getters.getWidgetConfMap;
    },
    widgetName() {
      return this.$route.params.name;
    },
    editableData() {
      return this.$store.getters.getEditableData;
    },
    editableDataWidget() {
      if (this.editableData) {
        return this.editableData.dataWidget;
      }
      if (this.editablePreset) {
        return this.editablePreset.dataWidget;
      }
      return null;
    },
    dataWidget() {
      if (this.editableDataWidget) {
        return this.editableDataWidget;
      }
      return this.$store.getters.getWidgetConf;
    },
    isFormInvalid() {
      return !this.title;
    },
    rspnsError() {
      return this.$store.getters.getConfiguratorError;
    },
    loading() {
      return this.$store.getters.getConfiguratorLoading;
    },
    success() {
      return this.$store.getters.getConfiguratorSuccess;
    },
    saveButtonName() {
      return this.editableData ? this.$t('update') : this.$t('save');
    },
    sideBarStatus() {
      return this.$store.getters.getSideBarStatus;
    },
    editablePreset() {
      return this.$store.getters.getEditablePreset;
    },
    id() {
      return this.$route.params.id;
    },
    chartName() {
      return this.$route.params.name;
    },
  },
  watch: {
    id() {
      this.initCurrentWidgetData();
    },
    chartName() {
      this.initCurrentWidgetData();
    },
  },
  errorCaptured(err, vm, info) {
    this.error = true;
  },
  updated() {
    this.initContentHeight();
    // if (
    //   this.widgetConfMap
    //   && this.$route.params.name !== this.widgetConfMap.name
    // ) {
    //   this.initCurrentWidgetData();
    //   // this.initWidgetConfig();
    // }
    this.error = null;
  },
  beforeMount() {
    this.subscribeStore();
    this.initConfiguratorMode();
    // this.initWidgetConfig();
    this.initCurrentWidgetData();
  },
  mounted() {
    this.subscribeOnResize();
    this.initVisualisation();
  },
  destroyed() {
    this.resetVisualisation();
    this.unsubscribeStore();
    this.resetConfigurator();
    window.removeEventListener('resize', this.resizeEventListener);
  },
};
</script>


<style lang="sass">
  .visual-widget-configurator
    .echarts
      width: 100%
  .white-bckg
    background-color: white
  .overflow-none
    overflow: inherit
  .screen-size
    min-height: 0
    height: 100%
    overflow: hidden
</style>
