<template lang="pug">
.content.px-0.py-0
  .card
    .card-body.bg-white
      template(v-if="selectedWidget")
        TableWidget#widgetConfiguratorSnapshot(v-if="selectedWidget.name==='Table'"
                                               :dataWidget="selectedWidget.dataWidget")
        Echart#widgetConfiguratorSnapshot(v-else :dataWidget="selectedWidget.dataWidget")
      WidgetModal(:widgets="filtredWidgets" @onSelectWidget="selectWidget")
</template>

<script>
import WidgetModal from '@/components/modals/ModalWidgetTabs/Echart';
import interactivePresets from '@/services/IntercativeChartPresets';
import Echart from '@/components/widgets/widget/Echart';
import TableWidget from '@/components/widgets/widget/Table';
import actionTypes from '@/store/actionTypes';


export default {
  name: 'WidgetConfiguratorGalleryView',
  data() {
    return {
      selectedWidget: null,
    };
  },
  components: {
    WidgetModal,
    Echart,
    TableWidget,
  },
  methods: {
    selectWidget(w) {
      this.selectedWidget = w;
    },
    initOrganisationPresets() {
      if (!this.$store.getters.getWidgetPresets.length) {
        this.$store.dispatch(actionTypes.widgetConfigurator.LOAD_ORGANISATION_PRESETS);
      }
    },
  },
  computed: {
    chartPresets() {
      return this.$store.getters.getChartsPresets;
    },
    widgets() {
      return this.chartPresets.concat(interactivePresets);
    },
    filtredWidgets() {
      let { widgets } = this;
      if (this.searchQuery) {
        widgets = widgets.filter(p => (
          p.title.toUpperCase().search(this.searchQuery.toUpperCase()) >= 0
          || p.description.toUpperCase().search(this.searchQuery.toUpperCase()) >= 0
        ));
      }
      return widgets;
    },
  },
  beforeMount() {
    this.initOrganisationPresets();
  },
};
</script>
