<template lang="pug">
div
  DropdownButton(:name="$t('management')")
    a.dropdown-item(@click="addDashboard")
      i.icon-plus22.position-left
      | {{ $t('add') }}
    .dropdown-divider
    a.dropdown-item(@click="getDashboardInfo")
      i.icon-file-text2.position-left
      | {{ $t('information') }}
    a.dropdown-item(@click="copyDashboard")
      i.icon-copy3.position-left
      | {{ $t('copy') }}
    a.dropdown-item(@click="removeDashboard")
      i.icon-database-remove
      | {{ $t('delete') }}
    .dropdown-divider
    a.dropdown-item(@click="editDashboard")
      i.icon-equalizer2.position-left
      | {{ $t('edit') }}
  button.btn.bg-slate.ml-md-2.rounded-0(type='button' @click='toWidgetConfigurator') {{ $t('configurator') }}
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

import DropdownButton from '@/components/UI/DropdownButton';
import DashboardToolMixin from '@/services/dashboards/DashboardToolMixin';
import actionTypes from '@/store/actionTypes';

export default {
  name: 'DashboardHeaderElements',
  components: {
    DropdownButton,
  },
  mixins: [clickaway, DashboardToolMixin],
  methods: {
    getDashboardInfo() {
      this.$store.commit(
        actionTypes.ui.SET_DASHBOARD_INFO_STATUS,
        !this.$store.getters.getDashboardInfoStatus,
      );
    },
    copyDashboard() {
      const copiedDashboard = { ...this.$store.getters.getSelectedDashboard };
      copiedDashboard.position = this.getMaxDashboardPos();
      copiedDashboard.title = this.getUniqueTitle(copiedDashboard.title);
      copiedDashboard.url += 'c';
      this.$store.dispatch(actionTypes.dashboards.ADD_DASHBOARD, copiedDashboard);
    },
    getUniqueTitle(title) {
      let newTitle = `${title}(Копия 1)`;

      if (title.match(/\(Копия \d+\)/)) {
        newTitle = title.replace(
          /\(Копия (\d+)\)/,
          str => `(Копия ${+str.match(/\d+/) + 1})`,
        );
      }

      if (!this.isUniqueDashboardTitle(newTitle)) {
        return this.getUniqueTitle(newTitle);
      }
      return newTitle;
    },
    removeDashboard() {
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalDashboardRemove',
      });
    },
    editDashboard() {
      this.dashboard = this.$store.getters.getSelectedDashboard;
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalDashboard',
        data: { type: 'edit' },
      });
    },
    addDashboard() {
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalDashboard',
        data: { type: 'create' },
      });
    },
    toWidgetConfigurator() {
      this.$router.push({ name: 'widgetConfigurator', params: { name: 'Line', id: 1 } });
    },
  },
};
</script>
