<template lang="pug">
div
  button.btn.bg-slate.ml-md-2.rounded-0(type="button" @click="toAnalytics")
    i.icon-chevron-left.mr-2
    | {{ $t('toAnalytics') }}
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

import DropdownButton from '@/components/UI/DropdownButton';
import DashboardToolMixin from '@/services/dashboards/DashboardToolMixin';

export default {
  name: 'WidgetConfiguratorHeaderElements',
  mixins: [clickaway, DashboardToolMixin],
  methods: {
    toAnalytics() {
      this.$router.push({ name: 'analytics' });
    },
  },
};
</script>
