<template lang="pug">
#collapse-link-expanded.collapse.p-3()
  .row
    .col-lg-6
      .form-group.row
        label.col-form-label.col-md-5 Имя задачи *
        .col-md-7
          input.form-control.rounded-0(type='text' v-model="backupData.name")
    .col-lg-6
      .form-group.row
        label.col-form-label.col-md-5 Периодичность (в часах)
        .col-md-7
          input.form-control.rounded-0(type='number' v-model="backupData.periodic")
    .col-lg-6
      .form-group.row
        label.col-form-label.col-md-5 Описание
        .col-md-7
          input.form-control.rounded-0(type='text' v-model="backupData.description")
  h6 Список данных
  .row.mt-3
    .col-lg-4
      .form-check.form-check-right.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          SwitchButton(text="Системные данные" :initStatus="systemBackup" @onChangeStatus="changeSystemBacupStatus")
      .form-check.form-check-right.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          SwitchButton(text="Пользователи и полномочия" :initStatus="userBackup" @onChangeStatus="changeUserBacupStatus")
    .col-lg-4
      .form-check.form-check-right.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          span.switchery.switchery-default(style='background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 0px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;')
            small(style='left: 18px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;')
          | TLS подлкючение к LDAP серверу
      .form-check.form-check-right.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          span.switchery.switchery-default(style='background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 0px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;')
            small(style='left: 18px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;')
          | TLS подлкючение к LDAP серверу
    .col-lg-4
      .form-check.form-check-right.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          span.switchery.switchery-default(style='background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 0px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;')
            small(style='left: 18px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;')
          | TLS подлкючение к LDAP серверу
      .form-check.form-check-right.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          span.switchery.switchery-default(style='background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 0px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;')
            small(style='left: 18px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;')
          | TLS подлкючение к LDAP серверу
  button.btn.btn-success(type="button"
                         @click="createTask"
                         :disabled="!this.backupData.name || !this.events.length") Создать задачу
</template>

<script>
import SwitchButton from '@/components/UI/SwitchButton';

export default {
  name: 'BackupCreatingComponent',
  data() {
    return {
      backupData: {
        description: '',
        name: '',
        periodic: 1,
      },
      systemBackup: false,
      userBackup: false,
    };
  },
  components: {
    SwitchButton,
  },
  methods: {
    changeSystemBacupStatus(status) {
      this.systemBackup = status;
    },
    changeUserBacupStatus(status) {
      this.userBackup = status;
    },
    createTask() {
      this.$emit('onCreateBackupTask', { ...this.backupData, events: this.events });
    },
  },
  computed: {
    events() {
      const backupsTables = {
        systemBackup: ['django_admin_log', 'django_content_type', 'django_migrations', 'django_session'],
        userBackup: ['users', 'users_configs', 'users_groups', 'users_user_permissions'],
      };
      const resEvents = [];
      Object.keys(backupsTables).forEach((t) => {
        if (this[t]) {
          resEvents.push(...backupsTables[t]);
        }
      });
      return resEvents;
    },
  },
};
</script>
