<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/analysis/search', active-class='active' data-toggle='tab')
        i.icon-warning.mr-2
        | {{ $t('search') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/analysis/indexing', active-class='active' data-toggle='tab')
        i.icon-clipboard3.mr-2
        | {{ $t('indexing') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/analysis/copying', active-class='active' data-toggle='tab')
        i.icon-notification2.mr-2
        | {{ $t('copying') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/analysis/manage', active-class='active' data-toggle='tab')
        i.icon-lab.mr-2
        | {{ $t('management') }}

  ul.navbar-nav.ml-lg-auto
    li.nav-item
        a.navbar-nav-link(@click='toggleFixStatus')
          span.badge.badge-mark.bg-grey-300.border-grey-300.position-static
    li.nav-item
      a.navbar-nav-link(@click='toggleSubNavBarHeader')
        i.icon-menu-open

</template>

<script>
import SubNavBarMixin from '../SubNavBarMixin';

export default {
  mixins: [SubNavBarMixin],
};
</script>
