<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/correlation/rules', active-class='active' data-toggle='tab')
        i.icon-warning.mr-2
        | {{ $t('rules') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/correlation/logs', active-class='active' data-toggle='tab')
        i.icon-clipboard3.mr-2
        | {{ $t('logs') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/correlation/manage', active-class='active' data-toggle='tab')
        i.icon-notification2.mr-2
        | {{ $t('management') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/correlation/events', active-class='active' data-toggle='tab')
        i.icon-lab.mr-2
        | {{ $t('events') }}

  ul.navbar-nav.ml-lg-auto
    li.nav-item
        a.navbar-nav-link(@click='toggleFixStatus')
          span.badge.badge-mark.bg-grey-300.border-grey-300.position-static
    li.nav-item
      a.navbar-nav-link(@click='toggleSubNavBarHeader')
        i.icon-menu-open

</template>

<script>
import SubNavBarMixin from '../SubNavBarMixin';

export default {
  mixins: [SubNavBarMixin],
};
</script>
