<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/intelligence/subscriptions', active-class='active' data-toggle='tab')
        i.icon-warning.mr-2
        | {{ $t('subscriptions') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/intelligence/indicators', active-class='active' data-toggle='tab')
        i.icon-clipboard3.mr-2
        | {{ $t('indicators') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/intelligence/intergration', active-class='active' data-toggle='tab')
        i.icon-notification2.mr-2
        | {{ $t('intergration') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/intelligence/manage', active-class='active' data-toggle='tab')
        i.icon-lab.mr-2
        | {{ $t('manage') }}

  ul.navbar-nav.ml-lg-auto
    li.nav-item
        a.navbar-nav-link(@click='toggleFixStatus')
          span.badge.badge-mark.bg-grey-300.border-grey-300.position-static
    li.nav-item
      a.navbar-nav-link(@click='toggleSubNavBarHeader')
        i.icon-menu-open

</template>

<script>
import SubNavBarMixin from '../SubNavBarMixin';

export default {
  mixins: [SubNavBarMixin],
};
</script>
