<template lang="pug">
#navbar-second.navbar-collapse(:class="{collapse: !showMobile}")
  ul.nav.navbar-nav
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/system/primary', active-class='active' data-toggle='tab')
        i.icon-warning.mr-2
        | {{ $t('primary') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/system/ldap', active-class='active' data-toggle='tab')
        i.icon-warning.mr-2
        | LDAP
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/system/backups', active-class='active' data-toggle='tab')
        i.icon-warning.mr-2
        | {{ $t('backups') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/system/authorization', active-class='active' data-toggle='tab')
        i.icon-clipboard3.mr-2
        | {{ $t('auth') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/system/performance', active-class='active' data-toggle='tab')
        i.icon-lab.mr-2
        | {{ $t('performance') }}
    li.nav-item
      router-link.navbar-nav-link(to='/configuration/system/notifications', active-class='active' data-toggle='tab')
        i.icon-lab.mr-2
        | {{ $t('notifications') }}

  ul.navbar-nav.ml-lg-auto
    li.nav-item
        a.navbar-nav-link(@click='toggleFixStatus')
          span.badge.badge-mark.bg-grey-300.border-grey-300.position-static
    li.nav-item
      a.navbar-nav-link(@click='toggleSubNavBarHeader')
        i.icon-menu-open

</template>

<script>
import SubNavBarMixin from '../SubNavBarMixin';

export default {
  mixins: [SubNavBarMixin],
};
</script>
