<template lang="pug">
.dropdown-menu.dropdown-content.m-0.border-0.rounded-0.show(v-show="showHistory"
                                                            style="width: 100%")
  .dropdown-content-body
    .row(v-if="history")
      .col-xl-4
        .dropdown-content-header.font-weight-semibold.text-uppercase.text-default.p-0.mb-3 {{ $t('lastQueries') }}
        ul.list.list-unstyled.mb-0
          li.list-group-item.p-0(v-for="(q, i) in history")
            span.text-muted.font-weight-semibold {{ shortDate(q.begin) }} - {{ shortDate(q.end) }}&nbsp;
            a.ml-2.text-default.font-weight-semibold.pointer(@click="setSearchQuery(q)") {{ q.search ? shortText(q.search): $t('allEntries') }}
            i.ml-auto.icon-new-tab.pointer(@click="searchFromHistory(q)")


      .col-xl-3.offset-1
        .dropdown-content-header.font-weight-semibold.text-uppercase.text-default.p-0.mb-3 {{ $t('popularQueries') }}
        ul.list.list-unstyled.mb-0
          li.list-group-item.p-0(v-for="q in popularQueries")
            a.font-weight-semibold.text-default(href='#' @click="setSearchQuery(q)") {{ q.search }}
            span.ml-auto.text-muted.font-weight-semibold {{ q.queryCount }} запросов
      .col-xl-3.offset-1
        .dropdown-content-header.font-weight-semibold.text-uppercase.text-default.p-0.mb-3 {{ $t('theMostImportantKeys') }}
        ul.list.list-unstyled.mb-0
          li.list-group-item.p-0
            a.font-weight-semibold.text-default(href='#') Скрыть
            span.ml-auto.text-muted.font-weight-semibold Nov 12, 11:25am
          li.list-group-item.p-0
            a.font-weight-semibold.text-default(href='#') Скрыть
            span.ml-auto.text-muted.font-weight-semibold Nov 12, 11:25am
          li.list-group-item.p-0
            a.font-weight-semibold.text-default(href='#') Скрыть
            span.ml-auto.text-muted.font-weight-semibold Nov 12, 11:25am
          li.list-group-item.p-0
            a.font-weight-semibold.text-default(href='#') Скрыть
            span.ml-auto.text-muted.font-weight-semibold Nov 12, 11:25am
          li.list-group-item.p-0
            a.font-weight-semibold.text-default(href='#') Скрыть
            span.ml-auto.text-muted.font-weight-semibold Nov 12, 11:25am
          li.list-group-item.p-0
            a.font-weight-semibold.text-default(href='#') Скрыть
            span.ml-auto.text-muted.font-weight-semibold Nov 12, 11:25am
          li.list-group-item.p-0
            a.font-weight-semibold.text-default(href='#') Скрыть
            span.ml-auto.text-muted.font-weight-semibold Nov 12, 11:25am
  .dropdown-content-footer.bg-light
    a.text-slate(href='#')
      kbd Esc
      |  {{ $t('orClickOnAnEmptyPlaceToHideTheWindow') }}
    a.ml-auto.text-danger.pointer(@click="resetHistory") {{ $t('resetStatistics') }}
</template>

<script>
import FormatterMixin from '@/mixins/FormatterMixin';


export default {
  name: 'SearchHistoryMenu',
  props: {
    history: {
      type: Array,
    },
    popularQueries: {
      type: Array,
    },
    showHistory: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [FormatterMixin],
  methods: {
    setSearchQuery(q) {
      this.$emit('onSetSearchQuery', q);
    },
    searchFromHistory(q) {
      this.$emit('onSearchFromHistory', q);
    },
    resetHistory() {
      this.$emit('onHistoryReset');
    },
  },
};
</script>
