<template lang="pug">
  .input-group.my-3
    .input-group-prepend.bg-slate.rounded-0.border-0(v-if="!$slots.leftElem")
        svg.cunstom-calendar-img.mx-calendar-icon(xmlns='http://www.w3.org/2000/svg', version='1.1', viewBox='0 0 200 200')
          rect(x='13', y='29', rx='14', ry='14', width='174', height='158', fill='transparent')
          line(x1='46', x2='46', y1='8', y2='50')
          line(x1='154', x2='154', y1='8', y2='50')
          line(x1='13', x2='187', y1='70', y2='70')
          text(x='50%', y='135', font-size='90', stroke-width='1', text-anchor='middle', dominant-baseline='middle') 22

        date-picker(:value="datetimeRange"
                    range
                    :clearable="false"
                    type="datetime"
                    :lang="i18n"
                    :default-value="new Date('Mon Jan 01 2018 03:00:00 GMT+0300 (Москва, стандартное время)')"
                    format="YYYY-MM-DD HH:mm:ss"
                    :shortcuts="shortcuts"
                    @input="setDatetimeRange")
          span(slot="calendar-icon")
    slot(name="leftElem")
    input.form-control.form-control-lg.alpha-grey.rounded-0(
      @keyup.esc="unFocus"
      type='text',
      :placeholder="$t('searchPlaceholder')"
      @input="search"
      @click="focus"

      v-model="searchText"
      v-on:keyup.enter="handleSearch"
    )
    span.input-group-append(v-tooltip="{ content: $t('realTimeSearch') }")
      span.input-group-text
        SwitchButton(@onChangeStatus="changeSearchType")
    .input-group-append(style="margin: 0")
      button.btn.btn-primary.btn-ladda.btn-ladda-progress.ladda-button.ml-0(
        v-if="progress !== null"
        type='button'
        style="min-width: 162.98px;"
        @click="handleSearch")
        template(v-if="progress && progress > 0 && progress < 100")
          i.icon-spinner2.spinner
          .ladda-progress(:style="{width: progress + 'px'}" style="visibility: visible")
        span.ladda-label(v-else) {{ $t('search') }}

      button.btn.btn-primary.btn-lg.px-5.rounded-0.border-0.ml-0(v-else
                                                                 type='submit'
                                                                 @click="handleSearch") {{ $t('search') }}
    slot
</template>

<script>
import DatePicker from 'vue2-datepicker';
import SwitchButton from '@/components/UI/SwitchButton';
import moment from 'moment';

export default {
  name: 'Search',
  props: {
    progress: {
      type: Number,
    },
    initedText: {
      type: String,
      default: '',
    },
    i18n: {
      type: String,
      default: 'ru',
    },
    dateFormat: {
      type: String,
    },
    enableEmptySearch: {
      type: Boolean,
    },
  },
  data() {
    const endTime = new Date().setHours(0, 0, 0);
    return {
      datetimeRange: {
        start: new Date('Mon Jan 01 2018 03:00:00 GMT+0300 (Москва, стандартное время)'),
        end: new Date('Fri Apr 12 2019 21:05:19 GMT+0300 (Москва, стандартное время)'),
      },
      searchText: '',
      timeout: null,
      searchOnInput: false,
      shortcuts: [
        {
          text: this.$t('today'),
          onClick: () => {
            const startTime = new Date().setHours(0, 0, 0);
            this.datetimeRange = [startTime, new Date()];
          },
        },
        {
          text: this.$t('yesterday'),
          onClick: () => {
            this.datetimeRange = [moment(endTime).subtract(1, 'd'), endTime];
          },
        },
        {
          text: this.$t('last3days'),
          onClick: () => {
            this.datetimeRange = [moment(endTime).subtract(3, 'd'), endTime];
          },
        },
        {
          text: this.$t('lastWeek'),
          onClick: () => {
            this.datetimeRange = [moment(endTime).subtract(7, 'd'), endTime];
          },
        },
        {
          text: this.$t('lastMonth'),
          onClick: () => {
            this.datetimeRange = [moment(endTime).subtract(1, 'M'), endTime];
          },
        },
        {
          text: this.$t('lastYear'),
          onClick: () => {
            this.datetimeRange = [moment(endTime).subtract(1, 'y'), endTime];
          },
        },
      ],
    };
  },
  components: {
    SwitchButton,
    DatePicker,
  },
  methods: {
    search(e) {
      if (!this.searchOnInput) {
        return;
      }
      if (this.timeout !== null) {
        clearTimeout(this.timeout);
      }
      this.timeout = setTimeout(() => this.searchHandler(this.searchText), 600);
    },
    searchHandler(searchText) {
      this.timeout = null;
      if (!searchText && !this.enableEmptySearch) {
        return;
      }
      this.$emit('onSearch', {
        searchText,
        dateRange: this.dateRange,
      });
    },
    resetSearch() {
      this.searchText = '';
    },
    onDateSelected(daterange) {
      this.dateRange = daterange;
      this.searchHandler(this.searchText);
    },
    handleSearch() {
      this.searchHandler(this.searchText);
    },
    changeSearchType(type) {
      this.searchOnInput = type;
    },
    focus() {
      this.$emit('onFocus', true);
    },
    unFocus() {
      this.$emit('onFocus', false);
    },
    initSearchText() {
      this.searchText = this.initedText;
    },
    setDatetimeRange(period) {
      this.datetimeRange = period;
    },
  },
  computed: {
    dateRange() {
      let [start, end] = this.datetimeRange;
      if (this.dateFormat) {
        start = moment(start).format(this.dateFormat);
        end = moment(end).format(this.dateFormat);
      }
      return {
        start,
        end,
      };
    },
  },
  watch: {
    datetimeRange: {
      deep: true,
      handler() {
        if (!this.searchOnInput) {
          return;
        }
        this.searchHandler(this.searchText);
      },
    },
    initedText() {
      this.initSearchText();
    },
  },
  beforeMount() {
    this.initSearchText();
  },
  created() {
    this.datetimeRange = [
      new Date('Mon Jan 01 2018 03:00:00 GMT+0300 (Москва, стандартное время)'),
      new Date('Fri Apr 12 2019 21:05:19 GMT+0300 (Москва, стандартное время)'),
    ];
  },
};
</script>


<style lang="sass">
  .calendar
    color: black
  .calendar-root
    .input-date
      border: none !important
      padding: 0 !important

  .mx-input
    background: #607d8b
    color: white
    border: none
    height: 40px
    cursor: pointer

  .mx-calendar-icon
    color: white
  .cunstom-calendar-img
    width: 20px
    padding: 0 0 0 8px
    box-sizing: content-box
</style>
