<template lang="pug">
Search(@onSearch="search"
        :progress="progress"
        :initedText="searchText"
        :dateFormat="dateFormat"
        :enableEmptySearch="enableEmptySearch"
        @onFocus="setHistoryShowing"
        @mouseover.native="setBlockHistory(true)"
        @mouseleave.native="setBlockHistory(false)"
        :i18n="i18n")
  template(slot="leftElem")
    slot(name="leftElem")
  History(v-if="history"
          :showHistory="showHistory"
          :history="history"
          :popularQueries="popularQueries"
          @onSearchFromHistory="searchFromHistory"
          @onHistoryReset="resetHistory"
          @onSetSearchQuery="setSearchQuery"
          v-on-clickaway="tryCloseHistory")
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

import Search from './Search';
import History from './History';

export default {
  name: 'SearchWithHistory',
  props: {
    progress: {
      type: Number,
    },
    initedText: {
      type: String,
      default: '',
    },
    i18n: {
      type: String,
      default: 'ru',
    },
    history: {
      type: Array,
    },
    initedSearchText: {
      type: String,
    },
    dateFormat: {
      type: String,
    },
    popularQueries: {
      type: Array,
    },
    enableEmptySearch: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [clickaway],
  data() {
    return {
      showHistory: false,
      searchText: '',
      blockHistory: false,
    };
  },
  components: {
    Search,
    History,
  },
  methods: {
    search(q) {
      this.$emit('onSearch', q);
      this.showHistory = false;
    },
    setHistoryShowing(showStatus) {
      this.showHistory = showStatus;
    },
    tryCloseHistory() {
      if (this.blockHistory) {
        return;
      }
      this.closeHistory();
    },
    closeHistory() {
      this.showHistory = false;
    },
    searchFromHistory(q) {
      this.searchText = q.search;
      this.$emit('onSearch', {
        searchText: q.search,
        dateRange: {
          start: q.begin,
          end: q.end,
        },
      });
      this.closeHistory();
    },
    resetHistory() {
      this.$emit('onResetHistory');
      this.closeHistory();
    },
    setSearchQuery(q) {
      this.searchText = q.search;
      this.closeHistory();
    },
    initSearchText() {
      this.searchText = this.initedSearchText;
    },
    setBlockHistory(status) {
      this.blockHistory = status;
    },
  },
  beforeMount() {
    this.initSearchText();
  },
};
</script>
