<script>
export default {
  name: 'SearchHightligherMixin',
  methods: {
    hightlightСoincidences(data, rawSearch) {
      rawSearch = rawSearch
        .replace(new RegExp('\\||\\&|\\(|\\)', 'g'), '');
      const keywords = [...new Set(rawSearch.split(' '))];
      const highlightedResults = data.map(r => this.hightlightСoincidence(r, keywords));
      return highlightedResults;
    },
    hightlightСoincidence(row, keywords) {
      const copiedRow = { ...row };
      keywords.forEach((k) => {
        const reg = new RegExp(k, 'gi');
        Object.keys(copiedRow).forEach((k, v) => {
          const unregisterKeys = [...new Set(`${copiedRow[k]}`.match(reg))];
          unregisterKeys.forEach((uK) => {
            if (uK) {
              copiedRow[k] = `${copiedRow[k]}`.replace(new RegExp(uK, 'g'), `<span class="text-orange font-weight-semibold">${uK}</span>`);
            }
          });
        });
      });

      return copiedRow;
    },
  },
};
</script>
