<template lang="pug">
.content
  // Row
  .row
    // col md 3
    .col-md-2
      // Navigation
      ProfileBar(:user="remoteUser")
    Loading(v-if="loading")
    .col-md-10(v-else)
      // Profile info
      ProfileInfo(v-if="user"
                  :user="user"
                  :canEdit="true"
                  :error="error"
                  :locales="locales"
                  @onUpdateProfile="updateProfile"
                  @onChangeLocale="changeLocale")
      .row
        .col-md-12
          // Account settings
          .card.border-0.rounded-0
            .card-header.header-elements-inline
              h5.card-title {{ $t('profileSettings') }}
              .header-elements
                .list-icons
                  a.list-icons-item(data-action="collapse")
                  a.list-icons-item(data-action="reload")
                  a.list-icons-item(data-action="remove")
            .card-body
              form(action="#")
                .form-group
                  .row
                    .col-12
                      label {{ $t('currentPassword') }}
                      input.form-control(type="password"
                                         v-model="currentPassword"
                                         v-validate="'required'"
                                         name="currentPassword"
                                         :placeholder="$t('currentPassword')")
                    .col-md-6
                      label {{ $t('newPassword') }}
                      input.form-control(type="password"
                                         name="password"
                                         v-model="password"
                                         v-validate="'required|min:8'"
                                         ref="password"
                                         :placeholder="$t('newPassword')")
                    .col-md-6
                      label {{ $t('repeatPassword') }}
                      input.form-control(type="password"
                                         data-vv-as="password"
                                         v-model="password2"
                                         v-validate="'required|confirmed:password'"
                                         name="password2"
                                         :placeholder="$t('repeatPassword')")
                    .col-12
                      div.alert.alert-danger(v-if="errors.has('password')") {{ $t('passwordMinLen') }}
                      div.alert.alert-danger(v-if="errors.has('password2')") {{ $t('passwordMatchValidatorText') }}
                .form-group
                  .row
                    .col-md-6
                      label {{ $t('profileVisibility') }}
                      .form-check
                        label.form-check-label
                          .uniform-choice
                            span.checked
                              input.form-input-styled(type="radio", name="visibility", checked="", data-fouc="")
                          | {{ $t('visibleToAll') }}
                      .form-check
                        label.form-check-label
                          .uniform-choice
                            span
                              input.form-input-styled(type="radio", name="visibility", data-fouc="")
                          | {{ $t('visibleToFriends') }}
                      .form-check
                        label.form-check-label
                          .uniform-choice
                            span
                              input.form-input-styled(type="radio", name="visibility", data-fouc="")
                          | {{ $t('visibleToConnections') }}
                      .form-check
                        label.form-check-label
                          .uniform-choice
                            span
                              input.form-input-styled(type="radio", name="visibility", data-fouc="")
                          | {{ $t('notVisibleToAnyone') }}
                    .col-md-6
                      label {{ $t('notifications') }}
                      .form-check
                        label.form-check-label
                          .uniform-checker
                            span.checked
                              input.form-input-styled(type="checkbox", checked="", data-fouc="")
                          | {{ $t('passwordExpirationNotification') }}
                      .form-check
                        label.form-check-label
                          .uniform-checker
                            span.checked
                              input.form-input-styled(type="checkbox", checked="", data-fouc="")
                          | {{ $t('newMessageNotification') }}
                      .form-check
                        label.form-check-label
                          .uniform-checker
                            span.checked
                              input.form-input-styled(type="checkbox", checked="", data-fouc="")
                          | {{ $t('newTasksNotification') }}
                .text-right
                  button.btn.btn-primary(type="button"
                                         :disabled="errors.has('password') || errors.has('password2') || password.length === 0 || currentPassword.length === 0"
                                         @click="changePassword") {{ $t('save') }}

</template>

<script>
import actionTypes from '@/store/actionTypes';
import Loading from '@/components/Loading';
import ProfileInfo from '@/components/UserProfile/ProfileInfo';
import ProfileBar from '@/components/UserProfile/ProfileBar';


export default {
  name: 'UserProfile',
  data() {
    return {
      currentPassword: '',
      password: '',
      password2: '',
      user: {
        id: null,
        username: null,
        firstName: null,
        lastName: null,
        middleName: null,
        language: null,
        avatar: null,
        orgranisation: {
          name: null,
          description: null,
        },
      },
    };
  },
  components: {
    Loading,
    ProfileInfo,
    ProfileBar,
  },
  methods: {
    initForm() {
      this.user = { ...this.remoteUser };
      if (!this.user.organisation) {
        this.user.organisation = {};
      }
      this.editMode = false;
    },
    updateProfile(user) {
      this.$store.dispatch(actionTypes.userProfile.UPDATE_USER_PROFILE, user);
    },
    changePassword() {
      this.$store.dispatch(actionTypes.userProfile.CHANGE_USER_PASSWORD, {
        currentPassword: this.currentPassword,
        password: this.password,
      });
    },
    changeLocale(lang) {
      this.$cookies.set('lang', lang);
      this.$i18n.locale = lang;
      this.$store.commit(actionTypes.locale.SET_LOCALE, lang);
    },
  },
  computed: {
    remoteUser() {
      return this.$store.getters.getUser;
    },
    locale() {
      return this.$store.getters.getLocale;
    },
    loading() {
      return this.$store.getters.getUserProfileLoading;
    },
    error() {
      return this.$store.getters.getUserProfileError;
    },
    locales() {
      return this.$store.getters.getLocales;
    },
  },
  watch: {
    remoteUser() {
      this.initForm();
    },
  },
  beforeMount() {
    this.initForm();
  },
};
</script>
