<script id="item_message" type="text/template">
	<p><span class="glyphicon glyphicon-user"></span>{{# if show_user}} {{user_name}}{{else}} {{sender}}{{/if}}</p>
	<p><span class="glyphicon glyphicon-time"></span>{{#if show_user}} {{sender}} {{/if}} {{date_created}}</p>
	<h4><span class="glyphicon glyphicon-envelope"></span> {{push}}</h4>     
</script>

<script id="one_message" type="text/template">
	<h4>{{push}}</h4>
	<p><span class="glyphicon glyphicon-user"></span> {{sender}}</p>
	<p style="position: absolute; top: 73px; right: 56px; color: #95a5a6;">{{date_created}}</p>
	<p>{{{message}}}</p>
</script>

<script id="message_view" type="text/template">
	<div id="content" style="height: 100%; overflow-y: scroll;"></div>
	<div id="paginator"></div>
</script>

<script id="empty_view" type="text/template">
	<div style="height: 350px;">
		<h3 style="padding-top: 175px; text-align: center;">Сообщений нет</h3>
	</div>
</script>

<script id="plan_manager_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
        {{# if showSelect }}
        <div class="form-group">
            <label>Группы:</label>
            <select id="SelectProjectsManager" name="project_manager"></select>
        </div>
        {{/ if}}
        {{#if buttonCreate}}
            <a id="addIndividual" class="btn btn-default" href="/#project/create" type="button" style="float: right; margin-bottom: 10px;">Создать проект <span class="glyphicon glyphicon-plus"></span></a>
        {{/if}}
        <div class="form-group">
            <label>Месяц:</label>
            <input class="form-control input-sm" id="setMonth" type="month" name="month" value="{{curr_date}}">
        </div>
    </div>
	<table id="table"></table>
    <ul id="context-menu" class="dropdown-menu">
        <li data-item="show_meeting" style="cursor: pointer;"><a>Для совещания</a></li>
    </ul>
	{{# if showSelect}}
    {{/if}}
</script>

<script id="report_project_type_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
        <div class="form-group">
            <label>Месяц:</label>
            <input class="form-control input-sm" id="setMonth" type="month" name="month" value="{{curr_date}}">
        </div>
    </div>
    <table id="table"></table>
    <table id="manager_table"></table>
   
</script>

<script id="main_dvp_plan_manager_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    	<form>
	        <div class="form-group">
	            <label>Дирекции:</label>
	            <select id="SelectDirection" name="project_manager"></select>
	        </div>
	        <div class="form-group">
	            <label>Группы:</label>
	            <select id="SelectProjectsManager" name="project_manager"></select>
	        </div>
	        <div class="form-group">
	            <label>Месяц:</label>
	            <input class="form-control input-sm" type="month" name="month">
	        </div>
        </form>
    </div>
	<table id="table"></table>
</script>

<script id="main_client_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
        <div id="ProjectControl"><button id="addIndividual" class="btn btn-default" type="button">Создать <span class="glyphicon glyphicon-plus"></span></button> </div>
	</div>
	<div class="row">
		<div class="col-md-{{#if show_manager}}4{{else}}12{{/if}}">
			<div class="form-group">
		        <label>Проект:</label>
			    <select id="SelectProject"></select>
			</div>
		</div>
		<div class="col-md-4" {{#unless show_manager}}style="display: none;"{{/unless}}>
			<div class="form-group">
				<label>Менеджер:</label>
				<select name="manager" id="SelectManager"></select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
	            <label>Группы:</label>
	            <select id="SelectGroup" name="group"></select>
	        </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
	            <label>Сфера деятельности:</label>
	            <select id="SelectActivities" name="activities"></select>
	        </div>
		</div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Вид деятельности:</label>
                <select id="SelectAct" name=""></select>
            </div>
        </div>
	</div>
	    <ul id="context-menu" class="dropdown-menu">
        <li data-item="show_history"><a>Показать историю</a></li>
    </ul>
    <table id="table"></table>
	<div id="filterModal"></div>
</script>

<script type="text/template" id="toolbar-report-project-dvp">
	<button id="report" type="button" class="btn btn-default btn-sm filter_button_client">
        <span class="glyphicon glyphicon-download-alt"></span> 
    </button>
</script>

<script type="text/template" id="toolbar-report-contact">
    <button id="" type="button" class="btn btn-default btn-sm load_pdf">
        PDF
    </button>
    <button id="show_not_null" type="button" class="btn btn-default btn-sm">
        Скрыть нулевые
    </button>
    <button id="show_all" type="button" class="btn btn-default btn-sm">
        Показать все
    </button>
</script>

<script id="toolbar" type="text/template">
    <button id="participants" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Участники
    </button>
	<button id="key_client" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Кл. клиенты
    </button>
	<button id="key_client_fail" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Кл. клиенты + Отк.
    </button>
    <button id="client_exclude_black_list" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Искл. черн. список
    </button>
    <button id="client_not_pay" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Неопл. заявки
    </button>
    <button id="client_phone_future" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Ближ. звонок
    </button>
    <button id="client_interest_not_app" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Интерес клиента без заявки
    </button>
    <button id="not_call" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Без звонка
    </button>
    <button id="client_all" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Все
    </button>
    <button id="resetfilterButton" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</script>

<script id="toolbar_type_2" type="text/template">
    <button id="key_client" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Кл. клиенты
    </button>
    <button id="key_client_fail" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Кл. клиенты + Отк.
    </button>
    <button id="client_exclude_black_list" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Искл. черн. список
    </button>
    <button id="client_not_pay" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Неопл. заявки
    </button>
    <button id="do_contact" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Соверш. звонок
    </button>
<!--     <button id="client_phone_future" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Ближ. звонок
    </button> -->
    <button id="client_interest_not_app" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Интерес клиента без заявки
    </button>
    <button id="not_call" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Без звонка
    </button>
    <button id="client_all" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Все
    </button>
    <button id="resetfilterButton" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</script>


<script id="main_contact_report_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Проект:</label>
                <input type="text" id="SelectProject">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>С:</label>
                <input type="date" name="date_gt" class="form-control input-sm">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>По:</label>
                <input type="date" name="date_lt" class="form-control input-sm">
            </div>
        </div>
        <div class="col-sm-12">
            <button type="button" id="getReport" class="btn btn-default btn-sm" style="margin-bottom: 20px;">Сформировать</button>
        </div>
    </div>
	<table id="table"></table>
	<div id="filterModal"></div>
</script>

<script id="main_contact_group_report_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>
	<form>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Проект:</label>
                    <input type="text" id="SelectProject" name="membership__project__in">
                    <!-- <select id="SelectProject" name="membership__project" class="form-control input-sm"></select> -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>С:</label>
                    <input type="date" name="date_gt" class="form-control input-sm">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>По:</label>
                    <input type="date" name="date_lt" class="form-control input-sm">
                </div>

            </div>
            <div class="col-sm-12">
                <button id="getReport" type="button" class="btn btn-sm btn-default" style="margin-bottom: 10px;" disabled="">Сформировать</button>
            </div>
        </div>
	</form>
	<table id="table"></table>
</script>


<script id="report_history_contact_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>
	<form>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Проект:</label>
                    <input type="text" name="project__in" class="form-control input-sm" id="SelectProject">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Менеджер:</label>
                    <input type="text" name="manager__in" class="form-control input-sm" id="SelectManager">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>С:</label>
                    <input type="date" name="date__date__gte" class="form-control input-sm">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>По:</label>
                    <input type="date" name="date__date__lte" class="form-control input-sm">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Результат:</label>
                    <input type="text" name="result" id="SelectResult" class="form-control input-sm">
                </div>
            </div>
            <div class="col-sm-12">
                <button id="getReport" type="button" class="btn btn-sm btn-default" style="margin-bottom: 10px;" disabled="">Сформировать</button>
            </div>
        </div>
	</form>
	<table id="table"></table>
</script>


<script id="report_updated_client_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>
    <form>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Проект:</label>
                    <input type="text" name="membership__project__in" class="form-control input-sm" id="SelectProject">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Менеджер:</label>
                    <input type="text" name="created_user__managers__in" class="form-control input-sm" id="SelectManager">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>С:</label>
                    <input type="date" name="date__gte" class="form-control input-sm">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>По:</label>
                    <input type="date" name="date__lte" class="form-control input-sm">
                </div>
            </div>
            <div class="col-sm-6">
                <button id="getReport" type="button" class="btn btn-sm btn-default" style="margin-bottom: 10px;" disabled="">Сформировать</button>
            </div>
        </div>
	</form>
	<table id="table"></table>
</script>

<script id="dialog_view" type="text/template">
	<div id="header_dialog">
		
	</div>
	<div id="message_dialog" style="height: 500px; overflow-y: scroll; padding: 0 10px;">
		
	</div>
	<div id="sender_dialog" style="position: relative;">
		<form>
		<div class="form-group" style="padding-right: 60px;">
			<textarea class="form-control" name="message"></textarea>
		</div>
		<button type="button" id="sendMessage" style="position: absolute; right: 5px; top: 26px; height: 65px" class="btn btn-default"><span class="glyphicon glyphicon-send"></span></button>
		</form>
	</div>
</script>

<script id="user_notifications_view" type="text/template">
	<h3>Важные сообщения:</h3>
	<div id="message_dialog" style="height: 500px; overflow-y: scroll; padding: 0 10px;">
		
	</div>
</script>


<script id="collection_messages" type="text/template">
	{{#each this}}
	<div style="padding-bottom: 20px; {{# if color }}background-color: {{color}}{{/if}}">
		<p style="margin-bottom: 1px; font-weight: bold;">{{sender}} <i style="font-weight: 100;">{{date_created}}</i></p>
		{{{message}}}
	</div>
	{{/each}}
</script>

<script id="managers_table_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    	<div class="form-group">
            <label>Дирекции:</label>
            <select id="SelectDirection" name="project_manager"></select>
        </div>
        <div class="form-group">
            <label>Группы:</label>
            <select id="SelectProjectsManager" name="project_manager"></select>
        </div>
        <div class="form-group">
            <label>Месяц:</label>
            <input class="form-control input-sm" type="month" name="date">
        </div>
    </div>
	<table id="table_managers"></table>
</script>
<script id="modal_managers_table_view" type="text/template">
	<h4>По менеджерам</h4>
	<table id="table_managers"></table>
</script>

<script id="modal_details_table_view" type="text/template">
	<h4 id="scroll_auto">По неделям</h4>
	<table id="table_weeks"></table>
</script>


<script id="project_indicators_view" type="text/template">
	<div class="row">
		<div class="col-md-3">
			<div class="alert alert-info" id="project_user">
				<strong>Руководитель: </strong><br><h4>{{user_name}}</h4>
			</div>
		</div>
		<div class="col-md-3">
			<div class="alert alert-info">
				<strong>Ср. стоим. заявки (план / факт): </strong><br><h4 id="summ_app"></h4>
			</div>
		</div>
		<div class="col-md-3">
			<div class="alert alert-info">
				<strong>Конвертация звонков в заявки: </strong><br><h4 id="summ_app_plan"></h4>
			</div>
		</div>
		<div class="col-md-3">
			<div class="alert alert-info">
				<strong>Обработка базы: </strong> <br> <h4 id="processin_db"></h4>
			</div>
		</div>
	</div>
	<table id="table"></table>
	<div id="details_region"></div>
	<div id="managers_region" style="padding-top: 40px;"></div>
</script>


<script id="project_indicators_meeting_view" type="text/template">
	<div class="row">
		<div class="col-md-3">
			<div class="alert alert-info" id="project_user">
				<strong>Руководитель: </strong><br><h4>{{user_name}}</h4>
			</div>
		</div>
		<div class="col-md-3">
			<div class="alert">
				<strong>Поступлений ДС: </strong><br><h4 id="summ_app"></h4>
			</div>
		</div>
		<div class="col-md-3">
			<div class="alert">
				<strong>Заявок: </strong><br><h4 id="summ_app_plan"></h4>
			</div>
		</div>
		<div class="col-md-3">
			<div class="alert alert-info">
				<strong>Заявок в ДС: </strong> <br> <h4 id="processin_db"></h4>
			</div>
		</div>
		<div class="col-md-1"><p><span class="glyphicon glyphicon-stop" style="
		    color: #e74c3c;
		    font-size: 20px;
		    "></span> <i style="position: absolute;
    top: 3px;
    margin-left: 7px;">до 80%</i></p>
		</div>
		<div class="col-md-1"><p><span class="glyphicon glyphicon-stop" style="
		    color: rgb(249, 232, 36);
		    font-size: 20px;
		    "></span> <i style="position: absolute;
    top: 3px;
    margin-left: 7px;">80% - 95%</i></p>
		</div>
		<div class="col-md-1"><p><span class="glyphicon glyphicon-stop" style="
		    color: #18bc9c;
		    font-size: 20px;
		    "></span> <i style="position: absolute;
    top: 3px;
    margin-left: 7px;">более 95%</i></p>
		</div>
	</div>
	<table id="table"></table>
	<div id="details_region"></div>
	<h4>Обработано базы</h4>
	<table id="groups_table"></table>
	<div id="managers_region" style="padding-top: 40px;"></div>
</script>


<script id="item_entity" type="text/template">
    <div class="form-group">
        <label>Вид проекта:</label>
        <select id="SelectProjectType" name="project_type"></select>
    </div>
    <div class="form-group">
        <label>Проект:</label>
	    <select id="SelectProject" name="project"></select>
    </div>
	<table id="table"></table>
</script>

<script id="year_dvp_report" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
        <div class="form-group">
            <label>Дирекции:</label>
            <select id="SelectDirection" name="project_manager"></select>
        </div>
        <div class="form-group">
            <label>Группы:</label>
            <select id="SelectProjectsManager" name="project_manager"></select>
        </div>
        <div class="form-group">
        	<label>Год:</label>
            <div class='input-group date' id='datetimepicker10'>
                <input type='text' class="form-control" name="year" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
        <button type="button" id="getReport" class="btn btn-default">Сформировать</button>
        <button type="button" id="getReportInWork" class="btn btn-default">Сформировать (в работе)</button>
        
        <!-- <div class="form-group">
            <label>Год:</label>
            <input class="form-control input-sm" type="month" name="year">
        </div> -->
    </div>
	<table id="table"></table>
	<ul id="context-menu" class="dropdown-menu">
        <li data-item="show_meeting"><a>Для совещания</a></li>
    </ul>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	        <div class="tile-stats" style="padding: 15px;">
				<h3>Оплаты</h3>
				<div class="fixed-table-toolbar"></div>
	            <!-- <div class="icon"><i class="fa fa-bar-chart"></i></div> -->
	            <canvas id="Chart" style="width: 100%;"></canvas>
	            <!-- <h3>Оплаты</h3> -->
	        </div>
	    </div>
	</div>
	
</script>

<script id="admin_user_control_view" type="text/template">
	<div class="title_left"></div>
    <div class="title_right"></div>
	<table id="UserControlTable"></table>
</script>


<script id="import_csv_view" type="text/template">
	<form>
		<div class="form-group">
            <label>Модель:</label>
            <select id="SelectModel" name="model"></select>
        </div>
        <div class="form-group">
            <label>Поле идентификации:</label>
            <select id="SelectField" name="field"></select>
        </div>
        <div class="form-group">
            <label>Кодировка:</label>
            <select id="SelectEncode" name="encode"></select>
        </div>
        <div class="form-group">
            <label>Разделитель:</label>
            <input class="form-control input-sm" type="text" name="delimiter">
        </div>
        <div class="form-group">
            <label>Разделитель новой строки:</label>
            <input class="form-control input-sm" type="text" name="quotechar">
        </div>
        <div class="form-group">
            <label>Файл:</label>
            <input class="form-control input-sm" type="file" name="file">
        </div>
        <button type="button" class="btn btn-default btn-sm" id="load">Загрузить</button>
	</form>
</script>

<script id="merge_data_view" type="text/template">
    <div id="paramets_region">
        <form style="padding-bottom: 20px;" id="modelForm">
            <div class="form-group">
                <label>Модель:</label>
                <select id="SelectModel" name="model"></select>
            </div>
            <div class="form-group">
                <label>Искать дубли по:</label>
                <select id="SelectField" name="field"></select>
            </div>
            <button type="button" class="btn btn-default btn-sm" id="search">Найти</button>
        </form>
        <table id="table"></table>
    </div>
    <div id="merge_region" style="padding-top: 50px;" class="row">
        
    </div>
    <button style="float: right; display: none; margin-bottom: 15px;" class="btn btn-default btn-sm" type="button" id="sendMerge">Применить</button>
</script>

<!-- <script id="merge_data_view" type="text/template">
    <div id="paramets_region">
        <form style="padding-bottom: 20px;">
            <div class="form-group">
                <label>Модель:</label>
                <select id="SelectModel" name="model"></select>
            </div>
            <div class="form-group">
                <label>Искать дубли по:</label>
                <select id="SelectField" name="field"></select>
            </div>
            <button type="button" class="btn btn-default btn-sm" id="search">Найти</button>
        </form>
        <table id="table"></table>
    </div>
    <div id="merge_region" style="padding-top: 50px;" class="row">
        
    </div>
    <button class="btn btn-default btn-sm" type="button" id="sendMerge">Применить</button>
</script> -->

<script id="form_builder_view" type="text/template">
    <button style="margin-bottom: 20px;" data-region="{{region}}" type="button" data-toggle="Использовать основным" class="btn btn-default btn-xs setMain"><span class="glyphicon glyphicon-share"></span></button>
    <form>
        
    </form>
    <div  id="table_block" ></div>
</script>
