<script id="client_view" type="text/template">
	<form>
		<div class="form-group">
			<label>Отправить на рассмотрение:</label>
			<select id="SelectManager" name="manager" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Сообщение:</label>
			<textarea name="message" class="form-control input-sm"></textarea>
			<!-- <input type="text" name="message" class="form-control input-sm"> -->
		</div>
	</form>
	<table id="table"></table>
</script>


<script id="check_project_list_view" type="text/template">
	<h4 style="padding-bottom: 10px; text-align: center;">Проверьте актуальность брони залов по проектам, по возможности измените статус на "В работе" или "Отменен"!</h4>
	<table id="table"></table>
</script>

<script id="modal_message_view" type="text/template">
	<form>
		<div class="form-group">
			<label>Кому:</label>
			<select id="SelectManager" name="user_id" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Сообщение:</label>
			<textarea style="height: 190px;" name="message" class="form-control input-sm"></textarea>
		</div>
		<div class="btn-group">
			<button id="affixed_button" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-paperclip"></span> <span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a id="affixed_object" href="javascript:void(0)">Прикрепить текущий объект</a></li>
					<!-- <li><a href="#">Smartphone</a></li> -->
				</ul>
			</div>
		</form>
		<div style="padding-top: 10px;" id="list_attachments">
			<ul>
				
			</ul>
		</div>
	</script>

<script id="history_client" type="text/template">
	<table id="table"></table>
</script>

<script id="notifications_view" type="text/template">
	<form>
		<div class="form-group">
			<label>Кому:</label>
			<input id="SelectManager" type="table" name="user_id" class="form-control input-sm"/>
		</div>
		<div class="form-group">
			<label>Заблокировать использование:</label>
			<input type="checkbox" name="block_working">
		</div>
		<div class="form-group">
			<label>Время задержки (сек):</label>
			<input type="text" name="time" class="form-control input-sm" disabled>
		</div>
		<div class="form-group">
			<label>Сообщение:</label>
			<textarea style="height: 190px;" name="message" class="form-control input-sm"></textarea>
		</div>
</script>

<script id="approval_view" type="text/template">
	<form>
		<div class="form-group">
			<label>Действие:</label>
			<select id="selectStatus" name="approval_status"></select>
		</div>
		<div class="form-group comm collapse">
			<label>Комментарий:</label>
			<textarea class="form-control input-sm" name="comment"></textarea>
		</div>
	</form>
	<a href="javascript:void(0)" id="showHistory">Показать историю</a>
	<div class="collapse" id="history"></div>
</script>

<script type="text/template" id="template_approval_history">
	{{#each this}}
		<i>{{this.created_date}}</i>
		<p>{{this.comment}}</p>
	{{/each}}
</script>