<template lang="pug">
div
  .content.clearfix
      fieldset#steps-uid-0-p-1.body(role='tabpanel' aria-labelledby='steps-uid-0-h-1' aria-hidden='true')
        .row
          .col-md-6
            .form-group
              label
                | {{ $t('accountName') }}:
                span.text-danger *
              input.form-control.required(type='text'
                                          name='username'
                                          v-validate="'required|min:6'"
                                          v-model="username"
                                          :placeholder="$t('username')")
              label#key-error.validation-invalid-label(for="username" v-show="errors.has('username')") {{ $t('minLenValidatorText', {len: 6}) }}
          .col-md-6
            .form-group
              label
                | {{ $t('fullName') }}:
                span.text-danger *
              input.form-control.required(type='text'
                                          name='fullName'
                                          v-validate="{ required: true, regex: /[а-яА-Я]+ [а-яА-Я]+ [а-яА-Я]+/ }"
                                          v-model="fullName"
                                          :placeholder="$t('fullNamePlaceholder')")
              label#key-error.validation-invalid-label(for="fullName" v-show="errors.has('fullName')") {{ $t('fullNameVaidatorText') }}
        .row
          .col-md-6
            .form-group
              label
                | {{ $t('email') }}:
                span.text-danger *
              input.form-control.required(type='email'
                                          name='email'
                                          v-validate="'required|email'"
                                          v-model="email"
                                          :placeholder="$t('email')")
              label#key-error.validation-invalid-label(for="email" v-show="errors.has('email')") {{ $t('emailValidatorText') }}
          .col-md-6
            .form-group
              label
                | {{ $t('position') }}:
                span.text-danger *
              input.form-control.required(type='text'
                                          name='position'
                                          v-validate="'required'"
                                          v-model="position"
                                          :placeholder="$t('position')")
              label#key-error.validation-invalid-label(for="position" v-show="errors.has('position')") {{ $t('requiredValidatorText') }}
          .col-md-6
            .form-group
              label
                | {{ $t('phoneNumber') }}:
                span.text-danger *
              input.form-control.required(type='text'
                                          name='phoneNumber'
                                          v-model='phoneNumber'
                                          v-validate="'required|numeric|min:10|max:10'"
                                          :placeholder="$t('phoneNumberPlaceholder')")
              label#key-error.validation-invalid-label(for="phoneNumber" v-show="errors.has('phoneNumber')") {{ $t('phoneNumberLabel') }}
        .row
          .col-md-6
            .form-group
              label
                | {{ $t('password') }}:
                span.text-danger *
              .input-group.badge-indicator.group-indicator
                span.input-group-prepend
                  button.btn.btn-info(type='button')
                    i.icon-atom2
                input.form-control(type='password'
                                   v-validate="'required|min:6'"
                                   name='password'
                                   v-model='password'
                                   ref='password'
                                   :placeholder="$t('password')")
                span.badge.form-text.password-indicator-badge
                span.input-group-append
                  span.input-group-text(style='background-color: rgb(235, 127, 94); border-color: rgb(235, 127, 94); color: rgb(255, 255, 255);') Normal
              label#key-error.validation-invalid-label(for="password" v-show="errors.has('password')") {{ $t('passwordMinLenValidaorText', {len: 6}) }}
          .col-md-6
            .form-group
              label
                | {{ $t('repeatPassword') }}:
                span.text-danger *
              input.form-control.required(type='password'
                                          name='password2'
                                          v-model='password2'
                                          v-validate="'required|confirmed:password'"
                                          data-vv-as='password'
                                          :placeholder="$t('repeatPassword')")
              label#key-error.validation-invalid-label(for="password2" v-show="errors.has('password2')") {{ $t('passwordMatchValidatorText') }}
  .actions.clearfix
      ul(role='menu' aria-label='Pagination')
          li
              button.btn.btn-light(type="button" @click="previous")
                  i.icon-arrow-left13.mr-2
                  | {{ $t('back') }}
          li
              button.btn.btn-primary(type="button" @click="save" :disabled="errors.any() || !formIsValid")
                  | {{ $t('next') }}
                  i.icon-arrow-right14.ml-2
</template>


<script>
import NavMixin from '@/mixins/InitialNav';
import actionTypes from '@/store/actionTypes';

export default {
  data() {
    return {
      username: '',
      email: '',
      password: '',
      password2: '',
      fullName: '',
      position: '',
      phoneNumber: '',
    };
  },
  mixins: [NavMixin],
  methods: {
    save() {
      const [lastName, firstName, middleName] = this.decomposeFullName();
      this.$store.commit(actionTypes.projectInitialization.SET_INITIAL_USER, {
        username: this.username,
        email: this.email,
        password: this.password,
        password2: this.password2,
        position: this.position,
        phoneNumber: `+7${this.phoneNumber}`,
        lastName,
        firstName,
        middleName,
      });
      this.next();
    },
    decomposeFullName() {
      const decomposedName = this.fullName.split(' ');
      return decomposedName;
    },
  },
  computed: {
    formIsValid() {
      return this.username
             &&             this.password
             &&             this.password2
             &&
             this.email
             &&              this.phoneNumber
             &&             this.fullName
             &&             this.position;
    },
  },
};
</script>
