<template lang="pug">
div
  .content.clearfix
      fieldset#steps-uid-0-p-3.body(role='tabpanel' aria-labelledby='steps-uid-0-h-3' aria-hidden='true')
        .row
          .col-md-6
            .form-group
              label.d-block {{ $t('applicantResume') }}:
              .uniform-uploader
                input.form-input-styled(type='file' name='resume' data-fouc='')
                span.filename(style='user-select: none;') {{ $t('noFileSelected') }}
                span.action.btn.bg-blue(style='user-select: none;') {{ $t('selectFile') }}
              span.form-text.text-muted {{ $t('fileFormatsAccept', {formats: 'pdf, doc'}) }}. {{ $t('fileMaxSize', {unit: 'Mb', size: 2}) }}
          .col-md-6
            .form-group
              label
                | {{ $t('whereFind') }}
                span.text-danger *
              select.form-control.form-control-select2.required.select2-hidden-accessible(name='source' data-placeholder='Choose an option...' data-fouc='' tabindex='-1' aria-hidden='true')
                option
                option(value='monster') Monster.com
                option(value='linkedin') LinkedIn
                option(value='google') Google
                option(value='adwords') Google AdWords
                option(value='other') Other source
              span.select2.select2-container.select2-container--default(dir='ltr' style='width: 100%;')
                span.selection
                  span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-source-z3-container')
                    span#select2-source-z3-container.select2-selection__rendered
                      span.select2-selection__placeholder {{ $t('chooseOpt') }}
                    span.select2-selection__arrow(role='presentation')
                      b(role='presentation')
                span.dropdown-wrapper(aria-hidden='true')
        .row
          .col-md-6
            .form-group
              label
                | {{ $t('availability') }}:
                span.text-danger *
              .form-check
                label.form-check-label
                  .uniform-choice
                    span
                      input.form-input-styled.required(type='radio' name='availability' data-fouc='')
                  | {{ $t('immediately') }}
              .form-check
                label.form-check-label
                  .uniform-choice
                    span
                      input.form-input-styled(type='radio' name='availability' data-fouc='')
                  | {{ $t('durationWeeks', {duration: '1 - 2'}) }}
              .form-check
                label.form-check-label
                  .uniform-choice
                    span
                      input.form-input-styled(type='radio' name='availability' data-fouc='')
                  | {{ $t('durationWeeks', {duration: '3 - 4'}) }}
              .form-check
                label.form-check-label
                  .uniform-choice
                    span
                      input.form-input-styled(type='radio' name='availability' data-fouc='')
                  | {{ $t('durationMonth', {duration: 1}) }}
          .col-md-6
            .form-group
              label {{ $t('settings') }}:
              textarea.form-control(name='additional-info' rows='5' cols='5' placeholder='If you want to add any info, do it here.')
  .actions.clearfix
    ul(role='menu' aria-label='Pagination')
      li(style="cursor: pointer;")
        button.btn.btn-light(type="button" role='menuitem' @click="previous")
          i.icon-arrow-left13.mr-2
          |  {{ $t('back') }}
      li
        button.btn.btn-primary(type="button" role='menuitem' @click="save")
          | {{ $t('save') }}
          i.icon-arrow-right14.ml-2
</template>


<script>
import NavMixin from '@/mixins/InitialNav';
import actionTypes from '@/store/actionTypes';

export default {
  mixins: [NavMixin],
  methods: {
    save() {
      this.$store.dispatch(actionTypes.projectInitialization.INIT_PROJECT);
    },
  },
};
</script>
