<template lang="pug">
div
    .content.clearfix
        fieldset#steps-uid-0-p-0.body.current(role='tabpanel' aria-labelledby='steps-uid-0-h-0' aria-hidden='false')
            .form-group.row.justify-content-md-left.my-5
                .col-md-3.text-md-right
                    label.col-form-label {{ $t('activationKeyInputLabel') }}
                .col-md-6
                    .form-group.form-group-feedback.form-group-feedback-right
                        input.form-control.required(type='text'
                                                    name='key'
                                                    data-mask='a*-999-a999-999-a999'
                                                    v-validate="'required'"
                                                    v-model="activationKey"
                                                    :placeholder="$t('keyValidatePlaceholder', {format: 'a*-999-a999-999-a999'})")
                        .form-control-feedback.text-success
                          i.icon-checkmark3
                        label#key-error.validation-invalid-label(for="key" v-show="errors.has('key')") {{ $t('requiredValidatorText') }}.
    .actions.clearfix
        ul(role='menu' aria-label='Pagination')
            button.btn.btn-primary(type="button" @click="save" :disabled="errors.any() || !formIsValid")
                | {{ $t('next') }}
                i.icon-arrow-right14.ml-2
</template>


<script>
import NavMixin from '@/mixins/InitialNav';
import actionTypes from '@/store/actionTypes';

export default {
  data() {
    return {
      activationKey: null,
    };
  },
  mixins: [NavMixin],
  methods: {
    save() {
      this.$store.commit(actionTypes.projectInitialization.SET_ACTIVATION_KEY, this.activationKey);
      this.next();
    },
  },
  computed: {
    formIsValid() {
      return this.activationKey;
    },
  },
};
</script>
