<template lang="pug">
div
  .content.clearfix
      fieldset#steps-uid-0-p-2.body(role='tabpanel' aria-labelledby='steps-uid-0-h-2' aria-hidden='true')
        .row
          .col-md-6
            .form-group
              label
                | {{ $t('organisation') }}:
                span.text-danger *
              input.form-control.required(type='text'
                                          name='name'
                                          v-model='name'
                                          v-validate="'required|min:3'"
                                          :placeholder="$t('organisationPlaceholder')")
              label#key-error.validation-invalid-label(for="name"
                                                       v-show="errors.has('name')")
                | {{ $t('organistaionError') }}
            .row
              .col-md-6
                label {{ $t('from') }}:
                .row
                  .col-md-6
                    .form-group
                      select.form-control.form-control-select2.select2-hidden-accessible(name='education-from-month' data-placeholder='Month' data-fouc='' tabindex='-1' aria-hidden='true')
                        option
                        option(value='January') January
                        option(value='...') ...
                        option(value='December') December
                      span.select2.select2-container.select2-container--default(dir='ltr' style='width: 100%;')
                        span.selection
                          span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-education-from-month-dq-container')
                            span#select2-education-from-month-dq-container.select2-selection__rendered
                              span.select2-selection__placeholder Month
                            span.select2-selection__arrow(role='presentation')
                              b(role='presentation')
                        span.dropdown-wrapper(aria-hidden='true')
                  .col-md-6
                    .form-group
                      select.form-control.form-control-select2.select2-hidden-accessible(name='education-from-year' data-placeholder='Year' data-fouc='' tabindex='-1' aria-hidden='true')
                        option
                        option(value='1995') 1995
                        option(value='...') ...
                        option(value='1980') 1980
                      span.select2.select2-container.select2-container--default(dir='ltr' style='width: 100%;')
                        span.selection
                          span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-education-from-year-t7-container')
                            span#select2-education-from-year-t7-container.select2-selection__rendered
                              span.select2-selection__placeholder Year
                            span.select2-selection__arrow(role='presentation')
                              b(role='presentation')
                        span.dropdown-wrapper(aria-hidden='true')
              .col-md-6
                label To:
                .row
                  .col-md-6
                    .form-group
                      select.form-control.form-control-select2.select2-hidden-accessible(name='education-to-month' data-placeholder='Month' data-fouc='' tabindex='-1' aria-hidden='true')
                        option
                        option(value='January') January
                        option(value='...') ...
                        option(value='December') December
                      span.select2.select2-container.select2-container--default(dir='ltr' style='width: 100%;')
                        span.selection
                          span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-education-to-month-us-container')
                            span#select2-education-to-month-us-container.select2-selection__rendered
                              span.select2-selection__placeholder Month
                            span.select2-selection__arrow(role='presentation')
                              b(role='presentation')
                        span.dropdown-wrapper(aria-hidden='true')
                  .col-md-6
                    .form-group
                      select.form-control.form-control-select2.select2-hidden-accessible(name='education-to-year' data-placeholder='Year' data-fouc='' tabindex='-1' aria-hidden='true')
                        option
                        option(value='1995') 1995
                        option(value='...') ...
                        option(value='1980') 1980
                      span.select2.select2-container.select2-container--default(dir='ltr' style='width: 100%;')
                        span.selection
                          span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-education-to-year-7p-container')
                            span#select2-education-to-year-7p-container.select2-selection__rendered
                              span.select2-selection__placeholder Year
                            span.select2-selection__arrow(role='presentation')
                              b(role='presentation')
                        span.dropdown-wrapper(aria-hidden='true')
          .col-md-6
            .form-group
              label {{ $t('shortDescr') }}:
              textarea.form-control(name='experience-description'
                                    rows='4' cols='4'
                                    v-model='description'
                                    placeholder='Введите описание организации')
            .form-group
              label.d-block {{ $t('recomendations') }}:
              .uniform-uploader
                input.form-input-styled(name='recommendations' type='file' data-fouc='')
                span.filename(style='user-select: none;') {{ $t('noFileSelected') }}
                span.action.btn.bg-blue(style='user-select: none;') {{ $t('selectFile') }}
              span.form-text.text-muted {{ $t('fileFormatsAccept', {formats: 'pdf, doc'}) }}. {{ $t('fileMaxSize', {unit: 'Mb', size: 2}) }}
  .actions.clearfix
    ul(role='menu' aria-label='Pagination')
        li
            button.btn.btn-light(type="button" @click="previous")
                i.icon-arrow-left13.mr-2
                |  {{ $t('back') }}
        li
            button.btn.btn-primary(type="button" @click="save" :disabled="errors.any() || !formIsValid")
                | {{ $t('next') }}
                i.icon-arrow-right14.ml-2
</template>


<script>
import NavMixin from '@/mixins/InitialNav';
import actionTypes from '@/store/actionTypes';

export default {
  data() {
    return {
      name: '',
      description: '',
    };
  },
  mixins: [NavMixin],
  methods: {
    save() {
      this.$store.commit(actionTypes.projectInitialization.SET_INITIAL_OPGANISATION, {
        name: this.name,
        description: this.description,
      });
      this.next();
    },
  },
  computed: {
    formIsValid() {
      return this.name;
    },
  },
};
</script>
