<template lang="pug">
  .page-content
    SideBar
    .content-wrapper
      h1
        a.navbar-nav-link.sidebar-control.sidebar-secondary-toggle.d-none.d-md-block
          i.icon-transmission(@click="toggleSideBar")
</template>

<script>
import SideBar from '@/components/sidebar/SideBar';
import actionTypes from '@/store/actionTypes';

export default {
  components: {
    SideBar,
  },
  methods: {
    toggleSideBar() {
      this.$store.commit(actionTypes.ui.TOGGLE_SIDEBAR);
    },
  },
};
</script>
