<template lang='pug'>
  .page-content
    .content-wrapper
      .content.d-flex.justify-content-center.align-items-center
        .card(style='max-width: 1000px;')
          .card-body
            Loading(v-if="loading")
            .text-center.mb-3(v-else)
              i.icon-atom2.icon-2x.text-slate-300.border-slate-300.border-3.rounded-round.p-3.mb-3.mt-1
              h5.mb-0 {{ $t('firstSystemCongiguration').toUpperCase() }}
              span.d-block.text-muted {{ $t('fillNextInfo') }}
              form#steps-uid-0.wizard-form.steps-validation.wizard.clearfix(action='#' data-fouc='' role='application' novalidate='novalidate')
                .steps.clearfix
                  ul(role='tablist')
                    li.first(:class="{'current': navigationPos === 0, 'done': completedTab > 0 && navigationPos !== 0}" role='tab' aria-disabled='false' aria-selected='true')
                      a#steps-uid-0-t-0(aria-controls='steps-uid-0-p-0')
                        span.number(:class="{}") 1
                        |  {{ $t('activation') }}
                    li.disabled(:class="{'current': navigationPos === 1, 'done': completedTab > 1 && navigationPos !== 1}" role='tab' aria-disabled='true')
                      a#steps-uid-0-t-1.disabled(href='#steps-uid-0-h-1' aria-controls='steps-uid-0-p-1')
                        span.number() 2
                        |  {{ $t('adminData') }}
                    li.disabled(:class="{'current': navigationPos === 2, 'done': completedTab > 2 && navigationPos !== 2}" role='tab' aria-disabled='true')
                      a#steps-uid-0-t-2.disabled(href='#steps-uid-0-h-2' aria-controls='steps-uid-0-p-2')
                        span.number 3
                        |  {{ $t('organization') }}
                    li.disabled.last(:class="{'current': navigationPos === 3, 'done': completedTab > 3 && navigationPos !== 3}" role='tab' aria-disabled='true')
                      a#steps-uid-0-t-3.disabled(href='#steps-uid-0-h-3' aria-controls='steps-uid-0-p-3')
                        span.number 4
                        |  {{ $t('baseSettings') }}
                keep-alive
                  component(v-bind:is="navigationComponents[navigationPos]")
                div.alert.alert-danger(v-show="error")
                  | {{ error }}

</template>

<script>
import UserEditing from '@/components/UserEditing';
import KeyActivation from '@/components/initialization_project/KeyActivation';
import AdminData from '@/components/initialization_project/AdminData';
import Organization from '@/components/initialization_project/Organization';
import BaseConfig from '@/components/initialization_project/BaseConfig';
import Loading from '@/components/Loading';
import actionTypes from '../store/actionTypes';

export default {
  name: 'initial-project',
  data() {
    return {
      navigationPos: 0,
      completedTab: 0,
      error: null,
      loading: false,
      navigationComponents: [
        KeyActivation,
        AdminData,
        Organization,
        BaseConfig,
      ],
      unsubscribeStore: () => {},
    };
  },
  components: {
    KeyActivation,
    AdminData,
    Organization,
    BaseConfig,
    Loading,
  },
  methods: {
    navigateTo(id) {
      this.navigationPos = id;
    },
    next() {
      if (this.navigationPos === this.navigationComponents.length - 1) {
        return;
      }
      ++this.navigationPos;
      this.navigateTo(this.navigationPos);
    },
    previous() {
      if (this.navigationPos === 0) {
        return;
      }
      --this.navigationPos;
    },
    subscribeStore() {
      this.unsubscribeStore = this.$store.subscribe((state) => {
        this.chooseStateEvent(state);
      });
    },
    chooseStateEvent(state) {
      switch (state.type) {
        case actionTypes.projectInitialization.TO_NEXT_TAB:
          this.completedTab = this.$store.getters.getCountInitialCompletedTab;
        case actionTypes.projectInitialization.TO_PREVIOUS_TAB:
          this.navigationPos = this.$store.getters.getInitialNavigationPosition;
          break;
        case actionTypes.projectInitialization.SET_ERORR:
          this.error = this.$store.getters.getInitialError;
          break;
        case actionTypes.projectInitialization.SET_LOADING:
          this.error = this.$store.getters.getInitialLoading;
          break;
        case actionTypes.auth.SET_USER_DATA:
          this.$cookies.set('token', this.$store.getters.getUserToken);
          this.$router.push('/');
          break;
        default:
          break;
      }
    },
  },
  beforeMount() {
    this.subscribeStore();
  },
  desctroyed() {
    this.unsubscribeStore();
  },
};
</script>


<style lang="sass">
  .actions.clearfix
    position: relative
    text-align: right
    padding: 1.25rem
    padding-top: 0
    ul
      list-style: none
      padding: 0
      margin: 0
      li
        display: inline-block
        &:not(:first-child)
          margin-left: 1.25rem;
  .validation-invalid-label
    text-align: left
</style>
