<template lang="pug">

</template>

<script>
import actionTypes from '@/store/actionTypes';


export default {
  name: 'logout',
  beforeMount() {
    this.$store.dispatch(actionTypes.auth.LOGOUT);
    this.$cookies.remove('token');
    this.$router.push({ name: 'login' });
  },
};
</script>
