<template lang="pug">
  div(style="min-height: 100vh")
    LockScreen(
      v-if="updateInfo && updateInfo.status === 'progress' && updateProgress && parseInt(updateProgress) < 100"
      :htmlContent="blockText"
    )
    Navbar(:user='user' :sideBarButtonStatus='sideBarButtonStatus')
    SubNavBar(v-show="user && user.isAuth"
              :fixed='subNavBarFixed'
              :type="subNavBarType"
              :dashboards="dashboards"
              :selectedDashboardId="selectedDashboardId"
              :isHeader="subNavBarHeaderStatus")
    ModalWindow(v-if="modalWindowType" :type="modalWindowType" :modalData="modalWindowData")
    div
      div.content-wrapper#scroll-content
        router-view
</template>

<script>
import SideBar from '@/components/sidebar/SideBar';
import Navbar from '@/components/navbar/Navbar';
import SubNavBar from '@/components/SubNavBar/SubNavBar';
import API from '@/services/api';
import ModalWindow from '@/components/modals/ModalWindow';
import actionTypes from '@/store/actionTypes';
import LockScreen from '@/components/UI/LockScreen';
import socket from '@/services/api/sockets';

export default {
  data() {
    return {
      unsubscribeStore: () => {},
      user: null,
      sideBarButtonStatus: false,
      subSideBarActive: true,
      subNavBarFixed: false,
      subNavBarType: 'default',
      dashboards: null,
      selectedDashboardId: null,
      modalWindowType: null,
      modalWindowData: null,
    };
  },
  components: {
    SideBar,
    Navbar,
    SubNavBar,
    ModalWindow,
    LockScreen,
  },
  methods: {
    subscribeStore() {
      this.unsubscribeStore = this.$store.subscribe((state) => {
        this.chooseStateEvent(state);
      });
    },
    chooseStateEvent(state) {
      const events = {
        [actionTypes.auth.SET_USER_DATA]: this.setUserData,
        [actionTypes.ui.TOGGLE_SIDEBAR]: this.toggleSideBar,
        [actionTypes.ui.SET_SIDEBAR_STATUS]: this.setSideBarStatus,
        [actionTypes.ui.SET_SIDEBAR_BUTTON_STATUS]: this.setSideBarButtonStatus,
        [actionTypes.ui.SET_SUB_NAVBAR_FIXED]: this.setSubNavBarFixed,
        [actionTypes.ui.SET_SUB_NAVBAR_TYPE]: this.setSubNavBarType,
        [actionTypes.dashboards.SET_DASHBOARDS]: this.getDashboards,
        [actionTypes.dashboards.SELECT_DASHBOARD]: this.selectDashboard,
        [actionTypes.ui.SET_MODAL_WINDOW_TYPE]: this.setModalWindowType,
        [actionTypes.dashboards.EDIT_DASHBOARD]: this.getDashboards,
        [actionTypes.ui.TOGGLE_SECOND_SIDEBAR]: this.setSecondSideBarStatus,
      };
      if (state.type in events) {
        events[state.type]();
      }
    },
    setUserData() {
      this.user = this.$store.getters.getUser;
    },
    toggleSideBar() {
      this._setSideBarStatus();
    },
    setSideBarStatus() {
      this._setSideBarStatus(this.$store.getters.getSideBarStatus);
    },
    setSideBarButtonStatus() {
      this.sideBarButtonStatus = this.$store.getters.getSideBarButtonStatus;
    },
    setSubSideBarStatus() {
      this.subSideBarActive = this.$store.getters.getSubSideBarActiveStatus;
    },
    setSubNavBarFixed() {
      this.subNavBarFixed = this.$store.getters.getSubNavBarFixed;
    },
    _setSideBarStatus(status) {
      const el = document.body;
      const activeClass = 'sidebar-secondary-hidden';
      if (status === undefined) {
        if (el.classList.contains(activeClass)) {
          el.classList.remove(activeClass);
          return;
        }
        el.classList.add(activeClass);
        return;
      }
      if (status) {
        el.classList.remove(activeClass);
        return;
      }
      el.classList.add(activeClass);
    },
    setSecondSideBarStatus() {
      // TODO: вынести в отдельный метод, в миксин
      const el = document.body;
      const activeClass = 'sidebar-xs';
      const status = this.$store.getters.getSecondSideBarStatus;
      if (!status) {
        if (el.classList.contains(activeClass)) {
          el.classList.remove(activeClass);
          return;
        }
        el.classList.add(activeClass);
        return;
      }
      if (status) {
        el.classList.remove(activeClass);
        return;
      }
      el.classList.add(activeClass);
    },
    setSubNavBarType() {
      this.subNavBarType = this.$store.getters.getSubNavBarType;
      if (this.subNavBarType === 'dashboards') {
        this.dashboards = this.$store.getters.getDashboards;
      }
    },
    getDashboards() {
      this.dashboards = this.$store.getters.getDashboards;
    },
    selectDashboard() {
      this.selectedDashboardId = this.$store.getters.getSelectedDashboardId;
    },
    setModalWindowType() {
      this.modalWindowType = this.$store.getters.getModalWindowType;
      this.modalWindowData = this.$store.getters.getModalWindowData;
    },
    loadDashboards() {
      if (this.dashboards.length) {
        return;
      }
      this.$store.dispatch(actionTypes.dashboards.LOAD_DASHBOARDS);
    },
    initPersonalVisualConfig() {
      if (this.isPersonalVisualConfigLoaded) {
        return;
      }
      this.$store.dispatch(actionTypes.ui.LOAD_PERSONAL_VISUAL_CONFIG);
    },
    subscribeToSystem() {
      this.$store.dispatch(actionTypes.system.SUBSCRIBE_TO_SYSTEM);
    },
  },
  computed: {
    subNavBarHeaderStatus() {
      return this.$store.getters.getSubNavBarHeaderStatus;
    },
    subNavBarStatus() {
      return this.$store.getters.getSubNavBarStatus;
    },
    activeGlobalSideBar() {
      return false;
    },
    isPersonalVisualConfigLoaded() {
      return this.$store.getters.getPersonalConfigLoaded;
    },
    updateInfo() {
      return this.$store.getters.getUpdateInfo;
    },
    updateProgress() {
      return this.updateInfo.progress;
    },
    blockText() {
      return `
      <p class="text-center"><i class="icon-spinner10 spinner icon-3x mr-2"></i></p>
      <br />
      <h1>МЫ ОБНОВЛЯЕМ СИСТЕМУ, ДЛЯ ТОГО ЧТОБЫ У ВАС БЫЛО ЕЩЕ БОЛЬШЕ ВОЗМОЖНОСТЕЙ!</h1>
      <br />
      <h1 class="text-center">${this.updateProgress}</h1>`;
    },
  },
  beforeMount() {
    this.initPersonalVisualConfig();
    this.getDashboards();
    this.selectDashboard();
    this.setUserData();
    this.subscribeStore();
    this.loadDashboards();
    this.subscribeToSystem();
  },
  destroyed() {
    this.unsubscribeStore();
  },
};
</script>
