<template lang="pug">
    div.content-wrapper
        router-view
</template>

<script>
import actionTypes from '@/store/actionTypes';

export default {
  methods: {
    initVisualisation() {
      this.$store.commit(actionTypes.ui.SET_SIDEBAR_BUTTON_STATUS, true);
    },
  },
  beforeMount() {
    this.initVisualisation();
  },
  destroyed() {
    this.$store.commit(actionTypes.ui.SET_SIDEBAR_BUTTON_STATUS, false);
    this.$store.commit(actionTypes.ui.SET_SIDEBAR_BUTTON_STATUS, false);
  },
};
</script>
