<template lang="pug">
  div
    Loading(v-if="loading")
    template(v-else)
      div.alert.alert-danger(v-if="error") {{ error }}
      template(v-else)
        template(v-if="dashboard")
          h1 {{ dashboard.title }}
          Dashboard(v-if="dashboard" :dashboard="dashboard")
</template>

<script>
import StoreActionsMixin from '@/mixins/store/StoreActions';
import Loading from '@/components/Loading';
import Dashboard from '@/components/Dashboard/Dashboard';
import actionTypes from '@/store/actionTypes';

export default {
  mixins: [StoreActionsMixin],
  data() {
    return {
      loading: false,
      error: null,
      unsubscribeStore: () => {},
      dashboard: null,
    };
  },
  components: {
    Dashboard,
    Loading,
  },
  beforeMount() {
    this.selectDashboard();
    this.initDashboards();
    this.initSelectedDashboard();
  },
  methods: {
    subscribeStore() {
      this.unsubscribeStore = this.$store.subscribe((state) => {
        this.chooseStateEvent(state);
      });
    },
    chooseStateEvent(state) {
      const events = {};
      if (state.type in events) {
        events[state.type](state.type);
      }
    },
    selectDashboard() {
      let dashboardId = this.loadSelectedDashboardId();
      if (dashboardId === undefined || dashboardId === null) {
        dashboardId = 0;
      }
      this.$store.commit(actionTypes.dashboards.SELECT_DASHBOARD, dashboardId);
    },
    initDashboards() {
      const dashboards = this.loadDashboards();
      if (!dashboards) {
        this.error = 'Выберите дашборд на странице аналитики.';
        setTimeout(() => {
          this.$router.push('/analytics');
        }, 5000);
        return;
      }
      this.$store.commit(actionTypes.dashboards.SET_DASHBOARDS, dashboards);
    },
    initSelectedDashboard() {
      this.dashboard = this.$store.getters.getDashboards[
        this.$store.getters.getSelectedDashboardId
      ];
      // dashboard.layout.forEach((_, i) => {
      //   dashboard.layout[i].dataWidget.datasets.forEach((_, j) => {
      //     if (dashboard.layout[i].dataWidget.datasets._meta) {
      //       console.log('here')
      //       delete dashboard.layout[i].dataWidget.datasets._meta;
      //     }
      //   })
      // });
      // this.dashboard = dashboard;
      // console.log(this.dashboard);
    },
  },
  destroyed() {
    this.unsubscribeStore();
  },
};
</script>

<style lang="sass">
.analytic-title
  padding: 0 9px
.hide-overflow
  overflow: hidden
.vue-grid-item.vue-grid-placeholder
  background: whitesmoke
</style>
