<template lang="pug">
.col-lg-2.col-md-12.px-0.px-sm-0
  .card.pb-0.border-0.shadow-0.rounded-0.mb-sm-0.mb-0
    .card-body
      h5.card-title {{ title }}
      .media
        .media-body
          .row
            .col.pie-asset-bar
              h1.font-weight-semibold.mb-0 {{ devicesCount }}
              span.text-uppercase.text-muted.text-bold Устройств
            .col.pie-asset-bar
              Echart.asset-meta-chart(:dataWidget="dataWidget" style="top: -49px;")

        .ml-3.align-self-center
</template>

<script>
import { theme } from '@/components/widgetConfigurator/ThemesPack/Themes/default';
import Echart from '@/components/widgets/widget/Echart';


export default {
  name: 'AssetMetaPieChart',
  props: {
    title: {
      type: String,
    },
    assetsMeta: {
      type: Object,
    },
  },
  components: {
    Echart,
  },
  computed: {
    dataWidget() {
      const dataWidget = this.defaultPieTheme;
      if (!Object.entries(this.assetsMeta).length === 0 && this.assetsMeta.constructor === Object) {
        return dataWidget;
      }
      const data = Object.keys(this.assetsMeta).map(k => (
        { value: this.assetsMeta[k], name: k }
      ));
      dataWidget.series.data = data;
      return dataWidget;
    },
    devicesCount() {
      const values = Object.values(this.assetsMeta);
      if (!values.length) {
        return 0;
      }
      return values.reduce((p, n) => p + n);
    },
    defaultPieTheme() {
      const defaultPieTheme = {
        ...theme,
        legend: undefined,
        tooltip: {
          trigger: 'item',
        },
        series: {
          type: 'pie',
          radius: '85%',
          label: {
            normal: {
              show: false,
            },
            emphasis: {
              show: false,
            },
          },
        },
      };
      return defaultPieTheme;
    },
  },
};
</script>

<style lang="sass" scoped>
.asset-meta-chart
  height: 110px
.pie-asset-bar
  height: 60px
</style>
