<!-- ItemView каждого проекта -->

<script type="text/template" id="item_project">
    <div class="panel-heading"><p>{{ name }}<span id="EditProject" class="glyphicon glyphicon-pencil btn"
                                                  style="float: right; padding: 0px; margin-left: 10px;"></span><span
            id="OpenProject" class="glyphicon glyphicon-eye-open btn" style="float: right; padding: 0px;"></span></p>
    </div>
    <div class="panel-body">
        <p>Вид проекта: {{ project_type.type }}</p>
        <p>Бизнес-единица: {{ buisness_unit.name }}</p>
        <p>Площадь: {{ area }}</p>
        <p>Место проведения: {{ sites.name }}</p>
        <p>Вместимость: {{ sites.capacity }}</p>
        <p>Статус: {{ status }}</p>
        <p>Даты проведения: {{ date_start }} - {{ date_end }}</p>
    </div>
</script>

<!-- View главной страницы с проктами -->

<script type="text/template" id="ProjectView">
    <div class="title_left">
    </div>
    <div class="title_right">
        <div id="ProjectControl">
            <button id="addProject" class="btn btn-default">Создать <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <table id="table"></table>
    <div id="filterModal"></div>
</script>


<!-- View главной календаря -->

<script type="text/template" id="CalendarView">
    <div class="title_left">
        <h3>Календарь проектов</h3>
    </div>
    <div class="title_right">
        <div id="ProjectControl">
            <a href="javascript:void(0)" class="btn btn-default"
               title="Инструкция по заведению проектов в системе ExpoBit и просмотру Календаря"
               onclick="window.open('/static/instruction.pdf');">
                Инструкция
            </a>
            <a href="#" class="btn btn-default " title="Добавить все залы в выборку" onclick="allHalls()">
                Все залы
            </a>
            <a href="#" class="btn btn-default " title="Обновить календарь" onclick="buttonSwitchingDate(0)">
                <span class="glyphicon glyphicon-refresh"> </span>
                Обновить таблицу
            </a>
        </div>
    </div>

    <div class="row">
        <div style="float: left;" class="col-md-4 form-group">
            <label for="inputDate">Введите дату:</label>
            <div class='input-group date' id='calendarDate'>
                <input type='text' class="form-control" name="date_start"/>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
            </div>
            <!--<input id='calendarDate' type="date" class="form-control" onchange="$('#tableCalendar').bootstrapTable('refresh');">-->
        </div>
        <div class='col-md-8' float: left; position: relative;
        ">

        <div style="" class="form-group">
            <label>Площадка:</label>


            <input id="CalendarSites" name="sites">
        </div>


    </div>
    </div>
    <div id="containerCalendar">
        <table id="tableCalendar"></table>
    </div>

    <div class="col-sm-12">
        <div style="max-width: 950px; margin: auto;">

            <a href="javascript:void(0)" class="btn btn-default calendar_button" title="Перейти на предыдущий месяц"
               onclick="buttonSwitchingDate(-1)">
                <span class="glyphicon glyphicon-chevron-left"></span> Месяц
            </a>

            <a href="javascript:void(0)" class="btn btn-default calendar_button"
               title="Добавить в начало день предыдущего месяца" onclick="buttonSwitchingDate('del')">
                <span class="glyphicon glyphicon-menu-left"></span> День
            </a>

            <a href="javascript:void(0)" class="btn btn-default calendar_button"
               title="Добавить в конец день следующего месяца" onclick="buttonSwitchingDate('add')">
                <span class="glyphicon glyphicon-menu-right"></span> День
            </a>

            <a href="javascript:void(0)" class="btn btn-default calendar_button" title="Перейти на следующий месяц"
               onclick="buttonSwitchingDate(1)">
                <span class="glyphicon glyphicon-chevron-right"></span> Месяц
            </a>

            <a href="javascript:void(0)" class="btn btn-default calendar_button" title="Перейти на 3 месяца вперед"
               onclick="buttonSwitchingDate(3)">
                <span class="glyphicon glyphicon-triangle-right"></span> 3 месяца
            </a>
            <a href="javascript:void(0)" class="btn btn-default calendar_button" title="Перейти на 6 месяца вперед"
               onclick="buttonSwitchingDate(6)">
                <span class="glyphicon glyphicon-forward"></span> 6 месяцев
            </a>
        </div>
    </div>

    <div class="col-sm-12">
        <table id="tableCapacity"></table>
    </div>

    <div class="tile-stats head-position">
        <h3>Описание полей <span><a href="#field_desc" class="field_desc" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a></span></h3>
        <div id="field_desc" class="collapse">
            <div class="col-sm-7">
                <table id="tableConventions"></table>
            </div>
            <div class="col-sm-5">
                <table id="tableAreaSize"></table>
            </div>
            <div class="col-sm-7" style="margin-bottom: 8px;">
                <img src="/static/img/icon_ok.png"> - Утвержденный проект
                <img style="margin-left:50px" src="/static/img/icon_ok_end.png"> - Завершенный проект
            </div>
            <!--<div class="col-sm-5">-->
                <!--12345-->
                <!--<table id="tableCapacity"></table>-->
        <!--</div>-->
    </div>

</script>


<!-- View просмотра проектов -->

<script type="text/template" id="ItemProjectView">
    <a href="/#project/{{ id }}/edit" style="float: right;"><span style="margin: 30px; z-index: 10;"
                                                                  class="glyphicon glyphicon-pencil pencil edit"></span></a>
    <div class="panel-body">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item active">
                <h4 class="list-group-item-heading">{{ name }} </h4>
            </a>
            <a href="javascript:void(0)" class="list-group-item">
                <h4 class="list-group-item-heading">Вид проекта</h4>
                <p class="list-group-item-text">{{ project_type.type }}</p>
            </a>
            <a href="javascript:void(0)" class="list-group-item">
                <h4 class="list-group-item-heading">Бизнес-единица</h4>
                <p class="list-group-item-text">{{ buisness_unit.name }}</p>
            </a>
            <a href="javascript:void(0)" class="list-group-item">
                <h4 class="list-group-item-heading">Площадь</h4>
                <p class="list-group-item-text">{{ area }} кв.м.</p>
            </a>
            <a class="list-group-item collapsed col" data-toggle="collapse" href="#collapse1">
                <h4 class="list-group-item-heading">Площадки</h4>
                <div class="collapse" id="collapse1">
                    <hr>
                    {{#each sites}}
                    <h4 class="list-group-item-heading">Место проведения</h4>
                    <p class="list-group-item-text">{{{ name }}}</p><br>
                    <h4 class="list-group-item-heading">Площадь</h4>
                    <p class="list-group-item-text">{{{ area }}} кв.м.</p><br>
                    <h4 class="list-group-item-heading">Вместимость</h4>
                    <p class="list-group-item-text">{{{ capacity }}} кв.м.</p>
                    {{#unless @last}}
                    <hr>
                    {{/unless}}
                    {{/each}}
                </div>

            </a>
            <a href="javascript:void(0)" class="list-group-item">
                <h4 class="list-group-item-heading">Статус</h4>
                <p class="list-group-item-text">{{ statusView }}</p>
            </a>
            <a href="javascript:void(0)" class="list-group-item">
                <h4 class="list-group-item-heading">Даты проведения</h4>
                <p class="list-group-item-text">{{ date_start }} - {{ date_end }}</p>
            </a>
        </div>
        {{#if s_t}}
        <div style="padding: 10px 15px;">
            <h4>Таблица разделов</h4>
            {{#if project_section}}
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Раздел/подраздел</th>
                    <th>% компаний по концепции(план)</th>
                    <th>Количество компаний по плану</th>
                    <th>Количество компаний в разделах</th>
                    <th>Количество компаний, назначенных на менеджеров</th>
                    <th>% компаний по базе Клиентов(факт)</th>
                    <!-- <th></th> -->
                </tr>
                </thead>
                <tbody>
                {{#each project_section}}
                <tr id="{{{ id }}}">
                    <td>
                        {{{ html }}}
                    </td>
                    <td class="tdCenter" uname="percent_conxept">{{{ percent_conxept }}} %</td>
                    <td class="tdCenter" uname="count_comp_plan">{{{ count_comp_plan }}}</td>
                    <td class="tdCenter" uname="count_clients"
                        data-activities="{{ activities }}">{{ count_clients }}</td>
                    <td class="tdCenter" uname="count_managers">{{ count_managers }}</td>
                    <td class="tdCenter" uname="all_manager_percent">{{#getPercent count_managers
                        @root.all_manager_percent}}{{/getPercent}}</td>
                    <!-- <td class="tdCenter"><span class="glyphicon glyphicon-eye-open eye"></span></td> -->
                </tr>

                {{/each}}
                <tr id="infoRow">
                    <td>Итого</td>
                    <td id="percent_conxept_all" uname="percent_conxept" class="infoRow percent">0 %</td>
                    <td id="count_comp_plan_all" uname="count_comp_plan" class="infoRow">0</td>
                    <td id="activities_all" uname="activities" class="infoRow">0</td>
                    <td id="count_managers_all" uname="count_managers" class="infoRow">0</td>
                    <td id="count_all_manager_percent" uname="all_manager_percent" class="infoRow percent">0</td>
                    <!-- <td></td> -->
                </tr>
                </tbody>
            </table>
            {{ else }}
            <p>Нет данных</p>
            {{/if}}
        </div>
        {{/if}}
    </div>
</script>


<!-- View создания проекта -->
<script type="text/template" id="FormProjectView">
    <h3 style="text-align: center; margin-top: 0px; padding-top: 21px;">{{#if
        name}}Редактировать{{ else }}Создать{{/if}} проект</h3>
    <form class="form">
        <div class="form-group">
            <label for="email">Название:</label>
            <div class="{{#unless name}}input-group{{/unless}}">
                <input class="form-control input-sm" type="text" name="name" value="{{ name }}">
                {{#unless name}}
                <div class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button" id="PreSave">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </div>
                <!-- <button type="button" class="btn btn-default btn-sm" id="PreSave" style="float: right; margin-top: 5px;">Продолжить</button> -->
                {{/unless}}

            </div>
        </div>
        <div class="collapse {{#if name}}in{{/if}}" id="ProjectInfo">

            <div class="form-group">
                <label>Вид проекта:</label>
                <select id="SelectProjectType" name="project_type"></select>
            </div>
            <div id="ThematicProject" class="collapse">
                <div class="form-group">
                    <label>Тематика проекта:</label>
                    <select id="SelectSubject" name="subjects"></select>
                </div>
                <button type="button" class="btn btn-default" id="create_section">Создать раздел <span
                        class="glyphicon glyphicon-plus"></span></button>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Раздел/подраздел</th>
                        <th>% компаний по концепции(план)</th>
                        <th>Количество компаний по плану</th>
                        <th>Количество компаний в разделах</th>
                        <th>Количество компаний, назначенных на менеджеров</th>
                        <th>% компаний по базе Клиентов(факт)
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each project_section}}
                    <tr id="{{{ id }}}" {{#if this.change}}class="warning"{{/if}}>
                        <td>
                            {{{ html }}}
                        </td>
                        <td class="tdCenter" uname="percent_conxept">{{{ percent_conxept }}} %</td>
                        <td class="tdCenter" uname="count_comp_plan">{{{ count_comp_plan }}}</td>
                        <td class="tdCenter" uname="count_clients"
                            data-activities="{{ activities }}">{{ count_clients }}</td>
                        <td class="tdCenter" uname="count_managers">{{ count_managers }}</td>
                        <td class="tdCenter" uname="all_manager_percent">{{#getPercent count_managers
                            @root.all_manager_percent}}{{/getPercent}}</td>
                        <td class="tdCenter"><span class="glyphicon glyphicon-pencil pencil"></span><span
                                class="glyphicon glyphicon-trash trash"></span></td>
                    </tr>

                    {{/each}}
                    <tr id="infoRow">
                        <td>Итого</td>
                        <td id="percent_conxept_all" uname="percent_conxept" class="infoRow percent">0 %</td>
                        <td id="count_comp_plan_all" uname="count_comp_plan" class="infoRow">0</td>
                        <td id="activities_all" uname="activities" class="infoRow">0</td>
                        <td id="count_managers_all" uname="count_managers" class="infoRow">0</td>
                        <td id="count_all_manager_percent" uname="all_manager_percent" class="infoRow percent">0</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label>Бизнес-единица:</label>
                <select id="SelectBuisnessUnit" name="buisness_unit"></select>
            </div>
            <div class="collapse" id="clientCollapse">
                <div class="form-group">
                    <label>Клиент:</label>
                    <select id="SelectClient" name="client"></select>
                </div>
                <div class="form-group" >
                    <label>Количество гостей:</label>
                    <input class="form-control input-sm" type="text" name="count_guests" value="{{ count_guests }}">
                </div>
            </div>
            <div class="collapse" id="formatEventCollapse">
                <div class="form-group">
                    <label>Формат мероприятия:</label>
                    <select id="SelectFormatEvent" name="format_event"></select>
                </div>
            </div>
            <div class="form-group">
                <label>Статус:</label>
                <select id="SelectStatus" name="status"></select>
            </div>
            <div class="form-group" >
                <label>Площадка:</label>
                <input id="SelectSites" name="sites">
            </div>
            <div class="form-group" id="complexityBuildingEvent">
                <label>Сложность застройки:</label>
                <select id="SelectArea" name="area_size"></select>
            </div>
            <!-- <div class="form-group">
                <label>Руководитель проекта:</label>
                <input type="text" name="Director" class="form-control input-sm">
            </div> -->
            <!-- <div class="form-group">
					<label>Дата начала:</label>
					<input class="form-control input-sm" type="date" name="date_start" value="{{date_start}}">
				</div>
				<div class="form-group">
					<label>Дата окончания:</label>
					<input class="form-control input-sm" type="date" name="date_end" value="{{date_end}}">
				</div> -->
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label>Дата начала:</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" name="date_start"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label>Дата окончания:</label>
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" name="date_end"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label>Время начала работы:</label>
                        <div class='input-group date' id='datetimepicker3'>
                            <input type='text' class="form-control" name="time_start"
                                   value="{{#if time_start}}{{ time_start }}{{ else }}10:00:00{{/if}}"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label>Время окончания работы:</label>
                        <div class='input-group date' id='datetimepicker4'>
                            <input type='text' class="form-control" name="time_end"
                                   value="{{#if time_end}}{{ time_end }}{{ else }}18:00:00{{/if}}"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label>Время окончания работы (последний день):</label>
                        <div class='input-group date' id='datetimepicker5'>
                            <input type='text' class="form-control" name="time_last"
                                   value="{{#if time_last}}{{ time_last }}{{ else }}18:00:00{{/if}}"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
					<label for="email">Площадь:</label>
					<input class="form-control input-sm" type="text" name="area" value="{{area}}">
				</div>
            {{# if show}}
            <div class="formButton">
                <button class="btn btn-default" id="SaveButton" type="button">Сохранить</button>
                <button class="btn btn-primary" id="CancelButton" type="button">Отмена</button>
            </div>
            {{/ if}}
        </div>
    </form>
</script>


<!-- Тест для новой таблицы -->


<script type="text/template" id="FormProjectViewTest">
    <h3 style="position: relative; text-align: center; margin-top: 0px; padding-top: 21px;">{{#if
        name}}Редактировать{{ else }}Создать{{/if}} проект<a class="btn btn-default" target="_blank"
                                                             href="/media/Инструкция ExpoBit Создание Проекта.pdf"
                                                             style="position: absolute;right: 39px;">Инструкция</a><a class="btn btn-default" target="_blank" id="calendar_show" 
                                                             href="/#calendar/?date={{date_start}}"
                                                             style="position: absolute;right: 144px;">Просм. в календаре</a></h3>
    <form class="form">
        <div class="form-group">
            <label for="email">Название:</label>
            <div class="{{#unless name}}input-group{{/unless}}">
                <input class="form-control input-sm" type="text" name="name" value="{{ name }}">
                {{#unless name}}
                <div class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button" id="PreSave">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </div>
                {{/unless}}

            </div>
        </div>
        <div class="collapse {{#if name}}in{{/if}}" id="ProjectInfo">
            <div class="form-group">
                <label>Пользователь:</label>
                <select id="SelectUser" name="user"></select>
            </div>
            <div class="form-group">
                    <label>Максимальный размер скидки:</label>
                    <input class="form-control input-sm" type="text" name="max_discount" value="{{ max_discount }}" {{# unless isSuperuser}}readonly{{/unless}}>
                </div>
            <div class="form-group">
                <label>Вид проекта:</label>
                <select id="SelectProjectType" name="project_type"></select>
            </div>
            <div id="ThematicProject" class="collapse" style="padding-bottom: 20px;">
                <!-- <div class="form-group">
                    <label>Подразделение:</label>
                    <select id="SelectExhibitionType" name="exhibition_type"></select>
                </div> -->
                <div class="form-group">
                    <label>Тематика проекта:</label>
                    <select id="SelectSubject" name="subjects"></select>
                </div>
                <button type="button" class="btn btn-default" id="create_section">Создать раздел <span
                        class="glyphicon glyphicon-plus"></span></button>
                <table id="table"></table>
            </div>
            <div class="form-group">
                <label>Бизнес-единица:</label>
                <select id="SelectBuisnessUnit" name="buisness_unit"></select>
            </div>
            <div class="collapse" id="clientCollapse">
                <div class="form-group">
                    <label>Клиент: <a class="btn btn-primary btn-xs" id="href_client" href="#"><span class="glyphicon glyphicon-user"></span></a></label>
                    <select id="SelectClient" name="client"></select>
                </div>
                <div class="collapse" id="numberGuestsEvent">
                    <label>Количество гостей:</label>
                    <input class="form-control input-sm" type="text" name="count_guests" value="{{ count_guests }}">
                </div>
            </div>
            <div class="collapse" id="formatEventCollapse">
                <div class="collapse">
                    <label>Формат мероприятия:</label>
                    <select id="SelectFormatEvent" name="format_event"></select>
                </div>
            </div>
            <div class="form-group">
                <label>Статус:</label>
                <select id="SelectStatus" name="status"></select>
            </div>
            <div class="collapse" id="plaseEvent">
                <label>Площадка:</label>
                <input id="SelectSites" name="sites">
            </div>
            <!--<p>-->
            <label style="cursor: pointer; width: 100%; background: #ecf0f1; padding: 8px;" id="BuildingEvent"
                   data-toggle="collapse" data-target="#complexity" class="collapsed" aria-expanded="false">Застройка
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </label>
            <!--</p>-->
            <div id="complexity" class="row collapse">

            </div>

            <div class="collapse" id="complexityBuildingEvent">
                <label>Сложность застройки:</label>
                <select id="SelectArea" name="area_size"></select>
            </div>
            <div class="form-group">
                <label>Адрес проведения:</label>
                <input class="form-control input-sm" type="text" name="address" value="{{#if address}}{{address}}{{else}}г. Ростов-на-Дону, проспект Михаила Нагибина 30{{/if}}">
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label>Дата начала:</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" name="date_start"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label>Дата окончания:</label>
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" name="date_end"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-md-6'>
                    <div class="collapse" id="timeStartEvent">
                        <label>Время начала работы:</label>
                        <div class='input-group date' id='datetimepicker3'>
                            <input type='text' class="form-control" name="time_start"
                                   value="{{#if time_start}}{{ time_start }}{{ else }}10:00:00{{/if}}"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="collapse" id="timeEndEvent">
                        <label>Время окончания работы:</label>
                        <div class='input-group date' id='datetimepicker4'>
                            <input type='text' class="form-control" name="time_end"
                                   value="{{#if time_end}}{{ time_end }}{{ else }}18:00:00{{/if}}"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-md-6'>
                    <div class="collapse" id="timeEndLastEvent">
                        <label>Время окончания работы (последний день):</label>
                        <div class='input-group date' id='datetimepicker5'>
                            <input type='text' class="form-control" name="time_last"
                                   value="{{#if time_last}}{{ time_last }}{{ else }}18:00:00{{/if}}"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-md-6'>
                    <div class="collapse" id="DateProgramStartEvent">
                        <label id="datetimepicker6_label">Дата начала заезда</label>
                        <div class='input-group date' id='datetimepicker6'>
                            <input type='text' class="form-control" name="event_date_start"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="collapse" id="DateProgramEndEvent">
                        <label id="datetimepicker7_label">Дата окончания выезда:</label>
                        <div class='input-group date' id='datetimepicker7'>
                            <input type='text' class="form-control" name="event_date_end"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label>Услуги питания:</label>
				<table id="table_catering"></table>
			</div>
            {{# if show}}
            <div class="formButton">
                <button class="btn btn-default" id="SaveButton" type="button">Сохранить</button>
                <button class="btn btn-primary" id="CancelButton" type="button">Отмена</button>
            </div>
            {{/ if}}
        </div>
    </form>
</script>


<!-- Сложность застройки для каждой площадки, вьюха -->

<script id="complexity_area" type="text/template">
	<div class="col-md-6" id="site_{{sites_option.id}}" style="padding-bottom: 10px;">
		<div class="panel panel-default">
			<div class="panel-heading">{{ sites_option.name }}
                <i name="{{ sites_option.id }}" class="glyphicon glyphicon-plus addSites" value="123" style="float: right;" title="Добавить другое время"></i>
            </div>
			<div class="panel-body">
                <div id="complexity_area_date_{{sites_option.id}}"></div>
			</div>
		</div>
	</div>
</script>
<!-- Конец Теста -->


<!-- Сложность застройки для каждой площадки, вьюха -->
<script id="complexity_area_date" type="text/template">
        <div id="site_{{sites_option.id}}_{{index}}" style="padding-bottom: 10px; border: 1px solid #ecf0f1; padding: 5px 15px;">
            <i name="{{sites_option.id}}_{{index}}" class="glyphicon glyphicon-trash deleteSites" value="123" style="float: right;" title="Удалить бронь на это время"></i>
            <div class="form-group">
                <label>Вид застройки:</label>
                <select id="SelectArea_{{sites_option.id}}_{{index}}" name="area_id_{{sites_option.id}}_{{index}}"></select>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class='col-md-1' style="padding: 10px;">
                        <label>С:</label>
                    </div>
                    <div class='col-md-11'>
                        <input class="form-control input-sm roomReservation" type="datetime-local" name="date_start_id_{{sites_option.id}}_{{index}}" value="{{reserv_options.date_start}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class='col-md-1'  style="padding: 10px;">
                        <label>По:</label>
                    </div>
                    <div class='col-md-11'>
                        <input class="form-control input-sm roomReservation" type="datetime-local" name="date_end_id_{{sites_option.id}}_{{index}}" value="{{reserv_options.date_end}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class='col-md-5 col-lg-3'  style="padding: 10px;">
                        <label>Начало монтажа:</label>
                    </div>
                    <div class='col-md-7 col-lg-9'>
                        <input class="form-control input-sm roomReservationNotNec " type="datetime-local" name="start_building_id_{{sites_option.id}}_{{index}}" value="{{reserv_options.start_building}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class='col-md-5 col-lg-3'  style="padding: 10px;">
                        <label>Конец демонтажа:</label>
                    </div>
                    <div class='col-md-7 col-lg-9'>
                        <input class="form-control input-sm roomReservationNotNec" type="datetime-local" name="end_building_id_{{sites_option.id}}_{{index}}" value="{{reserv_options.end_building}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class='col-md-5 col-lg-3'  style="padding: 10px;">
                        <label>Дата заезда:</label>
                    </div>
                    <div class='col-md-7 col-lg-9'>
                        <input class="form-control input-sm roomReservationNotNec roomReservationArriv" type="datetime-local" name="day_arrival_id_{{sites_option.id}}_{{index}}" value="{{reserv_options.day_arrival}}">
                    </div>
                </div>
            </div>
        </div>
</script>

    <!-- Конец Теста -->


<script type="text/template" id="selectizeClientTemplate">
    <div>
        <h5>{{ name }}</h5>
        <p>{{ address }}</p>
    </div>
</script>


<!-- Форма редактирования строки (названия полей из uname новой строки)  -->

<script id="addSection" type="text/template">
    <form>

        <div class="form-group">
            <label>Раздел:</label>
            <input class="form-control input-sm" type="text" data-validate="True" name="name" value="{{ name }}">
        </div>
        <div id="subsection" class="form-group">
            <label style="width: 100%;">Подраздел: <span style="padding-right: 3px; float: right; margin-right: 1px;"
                                                         class="glyphicon glyphicon-plus btn btn-success btn-xs"
                                                         id="addSubSection"></span></label>
            {{#each subsection}}
            <div class="DivSubSection"><input type="text" class="form-control subsec input-sm" data-validate="True"
                                              name="subsection.{{@index}}" value="{{ this }}"><span
                    class="glyphicon glyphicon-trash trash"></span></div>
            {{/each}}
        </div>
        <div class="form-group">
            <label>% компаний по концепции(план) доступно - {{#if percent_conxept}}{{#plus percent_conxept
                percent}}{{/plus}}{{ else }}{{ percent }}{{/if}} %:</label>
            <div class="input-group spinner" data-trigger="spinner" id="spinner">
                <!-- <input type="text" class="form-control text-center" value="1" data-rule="quantity"> -->
                <input class="form-control input-sm text-center" type="text" data-rule="quantity" name="percent_conxept"
                       value="{{ percent_conxept }}">
					<span class="input-group-addon input-sm">
						<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
						<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
					</span>
            </div>
        </div>
        <div class="form-group">
            <label>Количество компаний по плану:</label>
            <input class="form-control input-sm" type="text" data-validate="True" name="count_comp_plan"
                   value="{{ count_comp_plan }}">
        </div>
        <div class="form-group">
            <label>Виды деятельности по Разделу проекта:</label>
            <input class="form-control" type="text" data-validate="True" name="activities" id="SelectActivities">
        </div>
        <div class="collapse" id="ClientData">
            <div class="form-group ClientCountInActivities">
                <label>Количество компаний в разделах:</label>
                <input class="form-control input-sm" type="text" name="count_clients" disabled>
                <img class="LoadClientCountInActivities" src="/static/img/ajax-loader.gif">
                <table id="table"></table>
            </div>
        </div>
        <input type="text" name="count_managers" hidden="true">
    </form>
</script>


<!-- Описание новой строки, в uname название по которому добавляются данные в форму для редактирования строки -->
<script id="newRow" type="text/template">
    <tr id="empty">
        <td class="">
            <div class="SectionName">{{ name }}</div>
            {{#each section}}
            <hr>
            <div class="TableDiv">{{ this }}</div>
            {{/each}}</td>
        <td class="tdCenter" uname="percent_conxept">{{ percent_conxept }} %</td>
        <td class="tdCenter" uname="count_comp_plan">{{ count_comp_plan }}</td>
        <td class="tdCenter" uname="count_clients" data-activities="{{ activities }}">{{#if
            count_clients}}{{ count_clients }}{{ else }}0{{/if}}</td>
        <td class="tdCenter" uname="count_managers">{{ count_managers }}</td>
        <td class="tdCenter"><span class="glyphicon glyphicon-pencil pencil"></span><span
                class="glyphicon glyphicon-trash trash"></span></td>
    </tr>
</script>


<!-- Шаблон для селектайза -->
<script type="text/template" id="selectizeTemplate">
    <div>
        <h5>{{ name }} <span class="glyphicon glyphicon-user"></span> {{ capacity }} чел. <span
                class="glyphicon glyphicon-th"></span> {{ area }} кв.м.</h5>
    </div>
</script>

<!-- View модалки для расширения проекта -->

<script id="modalExtendProjectView" type="text/template">
    <form>
        <div class="form-group">
            <label>Название:</label>
            <input class="form-control input-sm" type="text" name="name" data-validate="True" value="{{ name }}">
        </div>
    </form>
</script>

<script id="catering_view" type="text/template">
	<form>
		<div class="form-group">
            <label>Тип:</label>
            <select id="SelectType" data-validate="True" name="catering_type"></select>
        </div>
		<div class="form-group">
            <label>С:</label>
            <input class="form-control input-sm" type="time" data-validate="True" name="time_start" value="{{time_start}}">
        </div>
        <div class="form-group">
            <label>По:</label>
            <input class="form-control input-sm" type="time" data-validate="True" name="time_end" value="{{time_end}}">
        </div>
	</form>
</script>

<!-- кнопки Toolbar для таблиц -->
<script id="toolbar" type="text/template">
    <button id="filterButton" type="button" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-filter"></i>
    </button>
    <button id="resetfilterButton" type="button" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</script>

<script id="toolbar_catering" type="text/template">
    <button id="addCatering" type="button" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
</script>

<script id="toolbar_project_report" type="text/template">
    <button id="load" type="button" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-download-alt"></i>
    </button>
</script>

<!-- кнопки Toolbar для таблиц с клиентами в разделах -->
<script id="toolbar_section" type="text/template">
    <select id="SelectManager"></select>
    <button id="group_vip" type="button" data-filter="&client_group__group=vip"
            class="btn btn-default btn-sm filter_group_btn">
        VIP
    </button>
    <button id="group_a" type="button" class="btn btn-default btn-sm filter_group_btn"
            data-filter="&client_group__group=a">
        A
    </button>
    <button id="group_b" type="button" class="btn btn-default btn-sm filter_group_btn"
            data-filter="&client_group__group=b">
        B
    </button>
    <button id="group_c" type="button" class="btn btn-default btn-sm filter_group_btn"
            data-filter="&client_group__group=c">
        C
    </button>
    <button id="not_manager" type="button" class="btn btn-default btn-sm filter_btn"
            data-filter="&manager__isnull=true">
        Не назначены
    </button>
    <button id="not_call" type="button" class="btn btn-default btn-sm"
            data-filter="&not_call=true">
        Без звонка
    </button>
    <button id="reset" type="button" class="btn btn-default btn-sm reset_btn">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</script>

<!-- Вкладки в проекте -->
<script id="one_project_view" type="text/template">
    <div id="navMenu">
        <ul class="nav nav-tabs nav-justified">
            <li class="active" id="ProjectView"><a href="javascript:void(0)">Проект</a></li>
            <li id="ProjectIndicatorsView"><a href="javascript:void(0)">Показатели проекта</a></li>
            {{# if show_report}}
            <li id="ProjectReportsView"><a href="javascript:void(0)">План прямого маркетинга</a></li>
            {{/ if}}
            <li id="ProjectReportBuilder"><a href="javascript:void(0)">Сводная информация по проекту</a></li>
        </ul>
    </div>
    <div id="MenuContent"></div>
</script>
<!-- ////////////////////////////////// -->


<!-- Показатели проекта -->
<script id="project_indicators_view" type="text/template">
    <div>
        <button class="btn btn-default btn-sm" type="button" id="oldProjectIndicator">
            Показатели прошлых лет
        </button>
    </div>
    <table id="table"></table>
    <div id="details_region"></div>
    <div id="managers_region" style="padding-top: 40px;"></div>
</script>

<!-- План прямого маркетинга Открытых ивент мероприятий проекта -->
<script id="project_reports_type_2_view" type="text/template">

    <div class="form-group" style="position: relative;">
        <label>Введите количество месяцев:</label>
        <div class="input-group" style="width: 85px; position: absolute; top: -7px; left: 230px;">
            <input class="form-control input-sm" name="months" value="{{ months }}" type="text">
            <div class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" id="setMonths">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
            </div>
        </div>
    </div>
    <table id="table"></table>
    <div id="managers_region" style="padding-top: 40px;"></div>
</script>


<script type="text/template" id="managers_table_view">
    <h4>Назначение на {{ month }}</h4>
    <button class="btn btn-default btn-sm" id="addManager" style="float: right; margin-bottom: 10px;">Добавить</button>
    <table id="table_managers"></table>
</script>

<script type="text/template" id="add_manager_view">
    <form>
        <div class="form-group">
            <label>Менеджер:</label>
            <select id="SelectManager" name="manager"></select>
        </div>
        <div class="form-group">
            <label>Ежемесячный план поступления денежных средств (доступно - {{ row.fin_plan_month }}):</label>
            <div class="input-group spinner" data-trigger="spinner" id="spinner1">
                <input class="form-control input-sm text-center" type="text" data-rule="quantity" name="fin_plan_month"
                       value="{{ fin_plan_month }}">
				<span class="input-group-addon input-sm">
					<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
					<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
				</span>
            </div>
        </div>
        <div class="form-group">
            <label>Ежемесячный план поступления заявок (доступно - {{ row.app_plan_month }}):</label>
            <div class="input-group spinner" data-trigger="spinner" id="spinner2">
                <input class="form-control input-sm text-center" type="text" data-rule="quantity" name="app_plan_month"
                       value="{{ app_plan_month }}">
				<span class="input-group-addon input-sm">
					<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
					<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
				</span>
            </div>
        </div>
        <div class="form-group">
            <label>План обработки базы клиентов (доступно - {{ row.plan_processing_db }}):</label>
            <div class="input-group spinner" data-trigger="spinner" id="spinner3">
                <input class="form-control input-sm text-center" type="text" data-rule="quantity"
                       name="plan_processing_db" value="{{ plan_processing_db }}">
				<span class="input-group-addon input-sm">
					<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
					<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
				</span>
            </div>
        </div>
    </form>
</script>


<script type="text/template" id="add_manager_type_two_view">
    <form>
        <div class="form-group">
            <label>Менеджер:</label>
            <select id="SelectManager" name="manager"></select>
        </div>
        <div class="form-group">
            <label>Ежемесячный план поступления денежных средств (доступно - {{ row.fin_plan_month }}):</label>
            <div class="input-group spinner" data-trigger="spinner" id="spinner1">
                <input class="form-control input-sm text-center" type="text" data-rule="quantity" name="fin_plan_month"
                       value="{{ fin_plan_month }}">
				<span class="input-group-addon input-sm">
					<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
					<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
				</span>
            </div>
        </div>
        <div class="form-group">
            <label>Ежемесячный план покупки билетов (доступно - {{ row.ticket_plan_month }}):</label>
            <div class="input-group spinner" data-trigger="spinner" id="spinner2">
                <input class="form-control input-sm text-center" type="text" data-rule="quantity"
                       name="ticket_plan_month" value="{{ ticket_plan_month }}">
				<span class="input-group-addon input-sm">
					<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
					<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
				</span>
            </div>
        </div>
        <div class="form-group">
            <label>План обработки базы клиентов (доступно - {{ row.plan_processing_db }}):</label>
            <div class="input-group spinner" data-trigger="spinner" id="spinner3">
                <input class="form-control input-sm text-center" type="text" data-rule="quantity"
                       name="plan_processing_db" value="{{ plan_processing_db }}">
				<span class="input-group-addon input-sm">
					<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
					<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
				</span>
            </div>
        </div>
    </form>
</script>


<!-- //////////////////////////////////////// -->


<script id="project_info_view" type="text/template">
    <div class="panel panel-default">

        <div class="panel-heading" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <label>Документы по заявкам</label>
             <span class="glyphicon glyphicon-menu-down" style="float: right"></span>
        </div>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="panel-body">
                <h4>
                    <button class="btn btn-default btn-xs" type="button" id="DownloadFreeze">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    Отчет по фризам
                </h4>
                <h4>
                    <button class="btn btn-default btn-xs" type="button" id="download_catalog">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    Создание каталога
                </h4>
                {{# if expo}}
                   <h4>
                        <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-download-alt"></span> <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                          <li class="discount_client" id="all"><a href="javascript:;">Все клиенты</a></li>
                          <li class="discount_client" id="only"><a href="javascript:;">Только со скидкой</a></li>
                        </ul>
                      </div>
                        Отчет по скидкам
                    </h4> 
                {{/if}}
                <h4>
                    <button class="btn btn-default btn-xs" type="button" id="DownloadRig">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    Отчет по оборудованию
                </h4>
                <h4>
                    <button class="btn btn-default btn-xs" type="button" id="DownloadExponat">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    Информация по экспонатам
                </h4>
                <h4>
                    <button class="btn btn-default btn-xs" type="button" id="DownloadDiploma">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    Информация по дипломам
                </h4>


                <h4>
                    <button class="btn btn-default btn-xs" type="button" id="download_report">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    Отчет из 1С
                </h4>
                <h4>
                    <button class="btn btn-default btn-xs" type="button" id="download_acts">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    Акты из 1С по проекту
                </h4>

                <h4>
                     <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-download-alt"></span> <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                          <li class="download_emails" data-group="vip"><a href="javascript:;">VIP</a></li>
                          <li class="download_emails" data-group="a"><a href="javascript:;">A</a></li>
                          <li class="download_emails" data-group="b"><a href="javascript:;">B</a></li>
                          <li class="download_emails" data-group="c"><a href="javascript:;">C</a></li>
                        </ul>
                      </div>
                      Электронные адреса клиентов
                    <!-- <button class="btn btn-default btn-xs" type="button" id="download_emails">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    Электронные адреса клиентов -->
                </h4>
            </div>
          </div>
        </div>

    </div>
    <div class="form-group">
        <label>Заявки экспонентов:</label>
        <table id="table"></table>
    </div>
    <div class="form-group">
        <label>Заявка на услуги ДП, БХ, БАТЛ:</label>
        <table id="table_kvs"></table>
    </div>
    <div class="form-group">
        <label>Заявки на тренинги:</label>
        <table id="table_ad"></table>
    </div>
</script>

<script type="text/template" id="custom_report_view">
    <div class="title_left"></div>
    <div class="title_right"></div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label>Месяц:</label>
            <input type="month" name="month" class="form-control input-sm" value="{{month}}">
        </div>
    </div>
    <table id="table"></table>
</script>

<script type="text/template" id="calendar_report_view">
    <div class="title_left"></div>
    <div class="title_right"></div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label>Год:</label>

            <div class='input-group date' id='calendar_yearpicker'>
                <input type='text' class="form-control" name="year" value="{{year}}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        <div class="form-group col-sm-4" style='padding-top: 15px;'>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="extend_val" id="extend_val">
                <label class="form-check-label" for="extend_val">Расширенный отчет</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input"  id="building" checked>
                <label class="form-check-label" for="building">С учетом застройки</label>
            </div>

        </div>

        <div class="form-group col-sm-4">
            <a href="javascript:void(0)" style='margin-top: 25px;' id= 'calendar_report_create' class="btn btn-default" title="Сформировать отчет">
                Сформировать
            </a>
            <!--<a href="javascript:void(0)" id= 'calendar_report_download' class="btn btn-default calendar_button" title="Сохранить отчет">-->
                <!--<span class="glyphicon glyphicon-chevron-left"></span> Скачать-->
            <!--</a>-->

        </div>
    </div>
    <table id="table_calendar_report"></table>
</script>

