<template lang="pug">
.page-content(ref="incidentPage")
  RightCollapsedPanel(
    v-if="selectedIncident"
    @onClose="closeRightModal"
    :headerColor="rightPanelBackgroundColor"
  )
    template(slot="header")
      small.d-bloc {{ formatDatetime(selectedIncident.created) }}
      br
      | {{ '[#' + selectedIncident.id + ']' }} {{ selectedIncident.correlationRuleName }}
      br
      small.d-bloc {{ $t('Category') }} : {{ selectedIncident.category }}
    template(slot="beforeBody")
      .row
        .col-lg-12.text-right
          DropdownButton(name="Действия" :classes="dropdownBtnClasses")
            a.dropdown-item(href='#')
              i.icon-menu7
              |  Создать новое
            a.dropdown-item(href='#')
              i.icon-screen-full
              |  Добавить к существующему
            a.dropdown-item(href='#')
              i.icon-mail5
              |  One more action
            .dropdown-divider
            a.dropdown-item(href='#')
              i.icon-gear
              |  Separated line
          DropdownButton(name="Корреляция" :classes="dropdownBtnClasses")
            a.dropdown-item(href='#')
              i.icon-menu7
              |  Создать новое
            a.dropdown-item(href='#')
              i.icon-screen-full
              |  Добавить к существующему
            a.dropdown-item(href='#')
              i.icon-mail5
              |  One more action
            .dropdown-divider
            a.dropdown-item(href='#')
              i.icon-gear
              |  Separated line
          DropdownButton(name="Статус" :classes="dropdownBtnClasses")
            a.dropdown-item(href='#')
              i.icon-menu7
              |  Создать новое
            a.dropdown-item(href='#')
              i.icon-screen-full
              |  Добавить к существующему
            a.dropdown-item(href='#')
              i.icon-mail5
              |  One more action
            .dropdown-divider
            a.dropdown-item(href='#')
              i.icon-gear
              |  Separated line
          DropdownButton(name="Расследование" :classes="dropdownBtnClasses")
            a.dropdown-item(href='#')
              i.icon-menu7
              |  Создать новое
            a.dropdown-item(href='#')
              i.icon-screen-full
              |  Добавить к существующему
            a.dropdown-item(href='#')
              i.icon-mail5
              |  One more action
            .dropdown-divider
            a.dropdown-item(href='#')
              i.icon-gear
              |  Separated line
    template(slot="body")
      template(v-if="selectedIncidentAsset")
        .modal-body
          .row.mb-3
            .col-lg-12
              h6.font-weight-semibold Детали инцидента
              hr.mb-2.mt-0
              table.table.table-xs.table-borderless
                tbody#asset-detail
                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail(style='max-width: 180px;') Тип Актива
                    td.px-0.py-1
                      span {{ selectedIncidentAsset.assetType }}
                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail ID:
                    td.px-0.py-1
                      span {{ selectedIncidentAsset.id }}
                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail IP адрес:
                    td.px-0.py-1
                      span {{ selectedIncidentAsset.ipAddress }}
                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail FQDN
                    td.px-0.py-1
                      span {{ selectedIncidentAsset.fqdn }}
                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail Владелец:
                    td.px-0.py-1
                      span {{ selectedIncidentAsset.owner ?  selectedIncidentAsset.owner.username : '-'}}
                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail Пользователь
                    td.px-0.py-1
                      span(v-if="selectedIncident.assetMeta.owner")
                        | {{ selectedIncidentAsset.lastName }}
                        | {{ selectedIncidentAsset.firstName }}
                        | {{ selectedIncidentAsset.middleName }}

                  tr
                    td.px-0.py-1.font-weight-semibold.left-detail ОС:
                    td.px-0.py-1
                      span {{ selectedIncidentAsset.operationSystem }}
                  tr
                    td.px-0.py-1.font-weight-semibold.p-0
                      a.nav-link.font-weight-semibold.collapsed.pointer.p-0(href='#')
                        | Подробнее
                        i.icon-arrow-down22.mr-2
      template(v-if="selectedIncident.events && selectedIncident.events.length" )
        .modal-body.p-0
          h6.font-weight-semibold.px-3.mb-0 События инцидента
          TableWrapper.p-0.m-0(
            :columns="selectedIncidentColumns"
            :rows="selectedIncidentEvents"
            :rawRows="selectedIncidentEvents"
          )
            div.text-right(slot="table-footer")
              Pagination(:pagination="selectedIncidentsEventsPagination" @onNavigate="navigateToEvents")
  .content-wrapper
    .content.bg-white.p-0
      .card-body.bg-white
        IncidentScatter(:scatterData="incidentScatterData"
                        @onChangeFilters="changeFilters"
                        @onChangeType="changeIncidentType")
      .card.border-0.shadow-0.rounded-0.mb-0
        TableWrapper.p-0(:columns="columns"
                         :rows="rows"
                         :rawRows="rows"
                         :clickCallbacks="clickCallbacks")
          template(slot="header-left")
            .mx-4
              a.pointer(@click="resetFilters" class="{'text-muted': !incidentFilter}") {{ $t('resetFilters') }}

          template(slot="header-right")
            .mr-4.ml-auto
              DropdownMenu(:title="$t('onPage') + ': ' + pagination.limit"
                            :opinions="[50, 100, 200, 500]"
                            :selected="pagination.limit"
                            @onSelect="setLimit")
            .mr-4
              Pagination(:pagination="pagination"
                          @onNavigate="navigateToIncidents")
          div.text-right(slot="table-footer")
            Pagination(:pagination="pagination" @onNavigate="navigateToIncidents")
</template>

<script>
import moment from 'moment';

import IncidentScatter from '@/components/Incidents/IncidentScatter';
import TableWrapper from '@/components/Table/TableWrapper';
import Pagination from '@/components/Pagination';
import DropdownMenu from '@/components/UI/DropdownMenu';
import actionTypes from '@/store/actionTypes';
import FormatterMixin from '@/mixins/FormatterMixin';
import RightCollapsedPanel from '@/components/UI/RightCollapsedPanel';
import DropdownButton from '@/components/UI/DropdownButton';

export default {
  data() {
    return {
      incidentType: 'incidents',
      showRightModal: false,
      pageLoaded: false,
      incidentFilter: null,
      dblClickListener: null,
      // selectedIncident: null,
    };
  },
  mixins: [FormatterMixin],
  components: {
    IncidentScatter,
    TableWrapper,
    Pagination,
    DropdownMenu,
    RightCollapsedPanel,
    DropdownButton,
  },
  methods: {
    loadIncidents() {
      if (!this.incidents || !this.incidents.length) {
        this.fetchIncidents();
      }
    },
    navigateToIncidents(pagination) {
      this.$store.commit(actionTypes.incidents.SET_PAGINATION, {
        ...this.pagination,
        ...pagination,
      });
      this.fetchIncidents();
    },
    fetchIncidents() {
      this.$store.dispatch(actionTypes.incidents.LOAD_INCIDENTS);
    },
    setLimit({ value }) {
      const { limit } = this.pagination;
      this.$store.commit(actionTypes.incidents.SET_PAGINATION, {
        ...this.pagination,
        limit: value,
      });
      if (value > limit) {
        this.fetchIncidents();
        return;
      }
      this.$store.commit(actionTypes.incidents.SET_INCIDENTS, this.incidents.slice(0, value));
    },
    changeFilters(filters) {
      this.$store.commit(actionTypes.incidents.SET_FILTERS, filters);
      this.fetchIncidents();
    },
    resetFilters() {
      this.changeFilters(null);
    },
    subscribeDblClick() {
      this.$refs.incidentPage.addEventListener('dblclick', this.resetFilters);
    },
    unsubscribeDblClick() {
      this.$refs.incidentPage.removeEventListener('dblclick', this.resetFilters);
    },
    formatPriority(priority) {
      let color;
      let type;
      switch (true) {
        case priority > 50:
          color = 'red';
          type = 'hight';
          break;
        case priority > 35:
          color = '#ffd800';
          type = 'medium';
          break;
        default:
          color = 'green';
          type = 'low';
      }
      return `<span style="color:${color}">${priority}/100 ${this.$t(type)}</span>`;
    },
    generateIncidentRow(row) {
      const status = this.$t(row.status);
      const badgeClass = row.status === 'checked' ? 'border-success' : 'border-danger';
      const category = this.$t(row.category);
      return `
      <div class=""><a class="text-default">
          <div class="font-weight-semibold">[#${row.id}] ${row.correlationRuleName}</div>
          <span class="">Категория: <i class="icon-target2 mx-2"></i> ${category}</span>
          <div class="text-muted font-size-sm"><span class="badge badge-mark ${badgeClass} mr-1"></span> ${status}</div>
      </a></div>
      `;
    },
    generateIpFlag(ip, icon) {
      return `
      <button type="button" class="btn btn-link text-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img class="mr-2" src="https://upload.wikimedia.org/wikipedia/en/archive/f/f3/20120812153730%21Flag_of_Russia.svg" style="height:10px;">
        ${ip}
      </button>`;
    },
    setPageLoaded(status) {
      this.pageLoaded = status;
    },
    closeRightModal() {
      this.$store.commit(actionTypes.incidents.SELECT_INCIDENT, null);
    },
    openRightModal() {
      this.showRightModal = true;
    },
    changeIncidentType(selected) {
      const filters = { ...this.filters };
      if (selected[this.$t('Incidents')] && selected[this.$t('Activities')]) {
        filters.type = undefined;
      } else if (selected[this.$t('Incidents')]) {
        filters.type = 'incident';
      } else if (selected[this.$t('Activities')]) {
        filters.type = 'activity';
      }
      if (filters.type === this.filters.type) {
        return;
      }
      this.changeFilters(filters);
    },
    tryLoadActivities() {
      if (!this.activities) {
        this.$store.dispatch(actionTypes.incidents.LOAD_ACTIVITIES);
      }
    },
    loadScatterData() {
      if (this.scatterData && this.scatterData.length) {
        return;
      }
      this.$store.dispatch(actionTypes.incidents.LOAD_SCATTER_DATA);
    },
    navigateToEvents(pagination) {
      this.$store.commit(actionTypes.incidents.SET_SELECTED_INCIDENT_EVENTS_PAGINATION, {
        ...this.selectedIncidentsEventsPagination,
        ...pagination,
      });
      this.$store.dispatch(actionTypes.incidents.LOAD_SELECTED_INCIDENTS_META);
    },
  },
  computed: {
    incidentScatterData() {
      if (!this.pageLoaded) {
        return [];
      }
      return this.scatterData;
    },
    scatterData() {
      return this.$store.getters.getIncidentsScatterData;
    },
    columns() {
      return [
        // 'id',
        'incident',
        'created',
        'priority',
        'asset',
        'correlationRuleNumber',
        // 'correlationRuleName',
        // 'category',
        // 'status',
        'type',
        'reliabilityLevel',
        'sourceIp',
        'destinationIp',
      ];
    },
    incidents() {
      return this.$store.getters.getIncidents;
    },
    pagination() {
      return this.$store.getters.getIncidentsPagination;
    },
    rows() {
      // Обработанные данные
      if (this.incidents && this.pageLoaded) {
        return this.incidents.map((inc) => {
          const priority = this.formatPriority(inc.priority);
          return {
            ...inc,
            incident: this.generateIncidentRow(inc),
            priority,
            created: this.formatDatetime(inc.created),
            destinationIp: this.generateIpFlag(inc.destinationIp),
            sourceIp: this.generateIpFlag(inc.sourceIp),
          };
        });
      }
      return [];
    },
    clickCallbacks() {
      return {
        incident: (i) => {
          // eslint-disable-next-line
          // this.selectedIncident = this.incidents[i];
          this.$store.commit(actionTypes.incidents.SELECT_INCIDENT, this.incidents[i]);
          this.$store.dispatch(actionTypes.incidents.LOAD_SELECTED_INCIDENTS_META);
        },
      };
    },
    dropdownBtnClasses() {
      return 'btn-outline bg-slate-600 text-slate-600 border-slate dropdown-toggle mr-2 mb-2';
    },
    filters() {
      return this.$store.getters.getIncidentsFilters;
    },
    selectedIncident() {
      return this.$store.getters.getSelectedIncident;
    },
    rightPanelBackgroundColor() {
      if (!this.selectedIncident || this.selectedIncident.priority > 50) {
        return '#f44336';
      }
      if (this.selectedIncident.priority <= 25) {
        return 'green';
      }
      return '#ffd800';
    },
    selectedIncidentColumns() {
      return [
        'created',
        'device',
        'rawEvent',
      ];
    },
    selectedIncidentsEventsPagination() {
      return this.$store.getters.getSelectedIncidentEventsPagination;
    },
    selectedIncidentEvents() {
      if (!this.selectedIncident) {
        return [];
      }
      return this.selectedIncident.events;
    },
    selectedIncidentAsset() {
      if (!this.selectedIncident) {
        return null;
      }
      return this.selectedIncident.assetMeta;
    },
  },
  beforeMount() {
    this.setPageLoaded(false);
    this.loadIncidents();
    this.loadScatterData();
  },
  mounted() {
    this.subscribeDblClick();
    setTimeout(() => this.setPageLoaded(true), 5);
  },
  beforeDestroy() {
    this.unsubscribeDblClick();
  },
};
</script>
