<script id="ApplicationexpoCreateView" type="text/template">
	<ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#app">Заявка</a></li>
	    {{#unless main}}
	    <li><a data-toggle="tab" href="#subapp">Зависимые заявки</a></li>
	    {{/unless}}
	 </ul>
	<div class="tab-content panel">
		<div id="app" class="tab-pane fade in active">
	<h3 style="text-align: center;">{{#if main}} Дочерняя заявка экспонента
		      <a href="/#app/{{type}}/{{main.id}}">(главная заявка от {{main.date}})</a>{{else}}Заявка экспонента
		      {{/if}}</h3>
	<form class="form">
		<!-- <div class="form-group">
			<label>Дата:</label>
			<input type="date" name="date" class="form-control input-sm" value="{{date}}">
		</div> -->
		<div class="form-group">
			<div class='input-group date' id='datetimepicker3'>
				<input type='text' class="form-control" name="date" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>Клиент: <a class="btn btn-primary btn-xs" id="href_client" href="#"><span class="glyphicon glyphicon-user"></span></a></label>
			<select id="selectClient" name="client" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Проект:</label>
			<select id="selectProject" name="project" class="form-control input-sm"></select>
		</div>  
		<div class="form-group">
			<label>Менеджер проекта:</label>
			<select id="selectManager" name="manager" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Юр. лицо: <a class="btn btn-primary btn-xs" id="href_entity" href="#"><span class="glyphicon glyphicon-user"></span></a></label>
			<select id="selectEntity" name="entity" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Статус:</label>
			<select id="selectStatus" name="status" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Номер стенда:</label>
			<input class="form-control input-sm" type="text" name="number_stand" value="{{number_stand}}">
		</div>
		<div class="panel panel-default" style="margin-bottom: 15px;">
			<div data-toggle="collapse" data-target="#frieze_data" class="panel-heading">
				<label>Фриз</label>
			</div>
			<div id="frieze_data" class="panel-body collapse">
				<div class="form-group">
					<label>Надпись на фриз:</label>
					<input class="form-control input-sm" type="text" name="frieze_inc" value="{{frieze_inc}}">
				</div>
				<div class="form-group">
					<label>Всего печ. символов:</label>
					<input class="form-control input-sm" type="text" name="count_symbol_frieze" value="{{count_symbol_frieze}}">
				</div>
				<div class="form-group">
					<label>Количество фризов:</label>
					<input class="form-control input-sm" type="text" name="count_frieze" value="{{count_frieze}}">
				</div>
				<div class="form-group">
					<label>Цвет фризовой надписи:</label>
					<div id="color_picker" class="input-group colorpicker-component">
					  	<input name="color_frieze" type="text" class="form-control input-sm" value="{{color_frieze}}"/>
					  	<span class="input-group-addon input-sm"><i></i></span>
					</div>
				</div>
				<div class="form-group">
					<label>Логотип на фриз:</label>
					<input class="form-control input-sm" type="text" name="logo_path_frieze" value="{{logo_path_frieze}}">
				</div>
			</div>
		</div>
		<div class="panel panel-default" style="margin-bottom: 15px;">
			<div data-toggle="collapse" data-target="#catalogs_data" class="panel-heading">
				<label>Каталог</label>
			</div>
			<div id="catalogs_data" class="panel-body collapse">
				<div class="form-group">
					<label>Надпись компании в каталоге: <span style="color:#f44336">(Наименование, форма собственности)</span></label>
					<input class="form-control input-sm" type="text" name="catalog_inc" value="{{catalog_inc}}">
				</div>
				<div class="form-group">
					<label>Контактные данные в каталог:</label>
					<textarea class="form-control input-sm" name="contact_data_catalog">{{contact_data_catalog}}</textarea>
					<!-- <input class="form-control input-sm" type="text" name="contact_data_catalog" value="{{contact_data_catalog}}"> -->
				</div>
				<div class="form-group">
					<label>Деятельность для каталога:</label>
					<textarea class="form-control input-sm" name="activities_catalog">{{activities_catalog}}</textarea>
					<!-- <input class="form-control input-sm" type="text" name="activities_catalog" value="{{activities_catalog}}"> -->
				</div>
				<div class="form-group">
					<label>Путь к макету:</label>
					<input class="form-control input-sm" type="text" name="layout_path_catalog" value="{{layout_path_catalog}}">
				</div>
				<div class="form-group">
					<label>Путь к логотипу:</label>
					<input class="form-control input-sm" type="text" name="logo_path_catalog" value="{{logo_path_catalog}}">
				</div>
				<div class="form-group">
					<label>Цвет:</label>
					<label><input type="checkbox" name="color_catalog_bw" {{#if color_catalog_bw}}checked{{/if}}> Ч/б</label>
					<label><input type="checkbox" name="color_catalog_color" {{#if color_catalog_color}}checked{{/if}}> Цветной</label>
				</div>
				<div class="form-group">
					<label>Особые пожелания к размещению:</label>
					<input class="form-control input-sm" type="text" name="special_requests" value="{{special_requests}}">
				</div>
			</div>
		</div>
		<div class="panel panel-default" style="margin-bottom: 15px;">
			<div data-toggle="collapse" data-target="#exponat_info" class="panel-heading">
				<label>Информация по экспонатам</label>
			</div>
			<div id="exponat_info" class="panel-body collapse">
				<div class="form-group">
					<label>Целевая аудитория:</label>
					<textarea class="form-control input-sm" name="target_audience">{{target_audience}}</textarea>
				</div>
				<div class="form-group">
					<label>Продукция:</label>
					<textarea class="form-control input-sm" name="production">{{production}}</textarea>
				</div>
				<div class="form-group">
					<label>Новинки:</label>
					<textarea class="form-control input-sm" name="novelties">{{novelties}}</textarea>
				</div>
				<div class="form-group">
					<label>Бренды:</label>
					<textarea class="form-control input-sm" name="brands">{{brands}}</textarea>
				</div>
			</div>
		</div>
		<div class="panel panel-default" style="margin-bottom: 15px;">
			<div data-toggle="collapse" data-target="#diploma_info" class="panel-heading">
				<label>Информация о дипломе</label>
			</div>
			<div id="diploma_info" class="panel-body collapse">
				<div class="form-group">
					<label>Номинация:</label>
					<select id="SelectNomination"></select>
					<input class="form-control input-sm" type="text" name="diploma_nomination" value="{{diploma_nomination}}">
				</div>
				<div class="form-group">
					<label>Наименование организации для диплома:</label>
					<input class="form-control input-sm" type="text" name="name_org_diploma" value="{{name_org_diploma}}">
				</div>
				<div class="form-group">
					<label>Город:</label>
					<input class="form-control input-sm" type="text" name="city_name" value="{{city_name}}">
				</div>
			</div>
		</div>
		<input type="text" name="bill" hidden value="{{bill}}">
		<input type="text" name="organization" hidden value="{{organization}}">
		<input type="text" name="person" hidden value="{{person}}">

		<div class="form-group" style="position: relative;">
			<label>Заказанные услуги:</label>
			<button id="addOrderedService" type="button" class="btn btn-default btn-sm" style="margin-bottom: 10px; float: right;">Добавить</button>
			<table id="table"></table>
			<div style="position: absolute; bottom: 10px; left: 24px;" id="total_sum">Итого сумма: 0</div>
		</div>
		<div class="form-group">
			<label>Условия оплаты:</label>

			<!-- <label><input type="checkbox" name="installmen_plan" {{#if installmen_plan}}checked{{/if}}> Рассрочка</label> -->
			<label><input type="checkbox" id='barter' name="barter" {{#if barter}}checked{{/if}}> Бартер</label>
			<label><input type="checkbox" name="prepayment" {{#if prepayment}}checked{{/if}} disabled> <i class="fa fa-ban" aria-hidden="true"></i></label>
			<label id="document"><input type="checkbox"  name="document" {{#if document}}checked{{/if}} > Не формировать документ</label>
		</div>
		<div class="form-group" style="position: relative;">
			<label>Планирование поступлений:</label>
			<!-- <button id="addPay" type="button" class="btn btn-default btn-sm" style="margin-bottom: 10px; float: right;">Добавить</button> -->
			<table id="tablePay"></table>
		</div>
		<div class="form-group">
			<label>Скидка на сумму:</label>
			<input class="form-control input-sm" type="text" name="barter_sum" value="{{#if barter_sum}}{{barter_sum}}{{else}}0{{/if}}">
		</div>
		<div class="form-group">
			<label>Обоснование скидки:</label>
			<textarea class="form-control input-sm" name="barter_founding">{{barter_founding}}</textarea>
		</div>
		<div class="form-group">
			<label>Итого:</label>
			<input class="form-control input-sm" name="total_sum" id="total_bill" type="text" readonly="">
		</div>
		<button id="saveButton" type="button" class="btn btn-primary btn-sm">Сохранить</button>
		{{#if redirect}}
		<button id="saveRedirectButton" type="button" class="btn btn-primary btn-sm">Сохранить и вернуться</button>
		{{/if}}
		<button id="getOrderOneC" type="button" class="btn btn-success btn-sm">Показать документы</button>
		<button type="button" class="btn btn-default btn-sm" id="CancelButton">Отмена</button>
	</form>
	</div>
	    <div id="subapp" class="tab-pane fade">
	    	<div class="form">
		      <h3 style="text-align: center;">Связанные заявки</h3>
		      <button id="addApp" type="button" class="btn btn-primary btn-sm" style="float: right;">Добавить заявку</button>
		      {{#if child_apps}}
		      	<h4>Дочерние:</h4>
		      	<ul>
		      		{{#each child_apps}}
						<li><a href="/#app/{{../type}}/{{this.id}}">Заявка от {{this.date}}</a></li>
		      		{{/each}}
		      	</ul>
		      {{/if}}
		      {{#if main}}
		      <h4>Родительская:</h4>
		      <ul><li><a href="/#app/{{type}}/{{main.id}}">Заявка от {{main.date}}</a></li></ul>
		      {{/if}}
	    	</div>
	    </div>
	</div>
	<!-- <div id="map" class="form"></div> -->
	<!-- <div id="building_map" style="height: 200px"></div> -->
</script>


<script id="ApplicationadCreateView" type="text/template">
	<div class="panel panel-default">
	<h3 style="text-align: center;">Заявка на участие в тренингах</h3>
	<form class="form">
		<!-- <div class="form-group">
			<label>Дата:</label>
			<input type="date" name="date" class="form-control input-sm" value="{{date}}">
		</div> -->
		<div class="form-group">
			<div class='input-group date' id='datetimepicker3'>
				<input type='text' class="form-control" name="date" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>Клиент: <a class="btn btn-primary btn-xs" id="href_client" href="#"><span class="glyphicon glyphicon-user"></span></a></label>
			<select id="selectClient" name="client" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Проект:</label>
			<select id="selectProject" name="project" class="form-control input-sm"></select>
		</div>  
		<div class="form-group">
			<label>Менеджер проекта:</label>
			<select id="selectManager" name="manager" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Юр. лицо: <a class="btn btn-primary btn-xs" id="href_entity" href="#"><span class="glyphicon glyphicon-user"></span></a></label>
			<select id="selectEntity" name="entity" class="form-control input-sm"></select>
		</div>
		<input type="text" name="bill" hidden value="{{bill}}">
		<div class="form-group">
			<label>Статус:</label>
			<select id="selectStatus" name="status" class="form-control input-sm"></select>
		</div>
		<input type="text" name="bill" hidden value="{{bill}}">
		<input type="text" name="organization" hidden value="{{organization}}">
		<input type="text" name="person" hidden value="{{person}}">
		<div class="form-group">
			<label>Условия оплаты:</label>
			<label><input type="checkbox" name="prepayment" {{#if prepayment}}checked{{/if}}> Предолата</label>
			<!--<label><input type="checkbox" name="installmen_plan" {{#if installmen_plan}}checked{{/if}}> Рассрочка</label>-->
			<label><input type="checkbox" name="barter" {{#if barter}}checked{{/if}}> Бартер</label>
		</div>
		<div class="form-group">
			<label>Заказанные услуги:</label>
			<button id="addOrderedService" type="button" class="btn btn-default btn-sm" style="margin-bottom: 10px; float: right;">Добавить</button>
			<table id="table"></table>
		</div>
		<div class="form-group">
			<label>Скидка на сумму:</label>
			<input class="form-control input-sm" type="text" name="barter_sum" value="{{#if barter_sum}}{{barter_sum}}{{else}}0{{/if}}">
		</div>
		<div class="form-group">
			<label>Обоснование скидки:</label>
			<textarea class="form-control input-sm" name="barter_founding">{{barter_founding}}</textarea>
		</div>
		<!-- <hr>
		<div class="form-group">
			<label>Целевая аудитория:</label>
			<textarea class="form-control input-sm" name="target_audience">{{target_audience}}</textarea>
		</div>
		<div class="form-group">
			<label>Продукция:</label>
			<textarea class="form-control input-sm" name="production">{{production}}</textarea>
		</div>
		<div class="form-group">
			<label>Новинки:</label>
			<textarea class="form-control input-sm" name="novelties">{{novelties}}</textarea>
		</div>
		<div class="form-group">
			<label>Бренды:</label>
			<textarea class="form-control input-sm" name="brands">{{brands}}</textarea>
		</div> -->
		<button id="saveButton" type="button" class="btn btn-primary btn-sm">Сохранить</button>
		{{#if redirect}}
		<button id="saveRedirectButton" type="button" class="btn btn-primary btn-sm">Сохранить и вернуться</button>
		{{/if}}
		<button id="getOrderOneC" type="button" class="btn btn-success btn-sm">Показать документы</button>
		<button type="button" class="btn btn-default btn-sm" id="CancelButton">Отмена</button>
	</form>
	</div>
</script>


<script id="Applicationlease_kvsCreateView" type="text/template">
	<div class="panel panel-default">
	<h3 style="text-align: center;">Заявка на услуги ДП, БХ, БАТЛ</h3>
	<form class="form">
		<!-- <div class="form-group">
			<label>Дата:</label>
			<input type="date" name="date" class="form-control input-sm" value="{{date}}">
		</div> -->
		<!-- <div class="form-group">
			<label>Дата мероприятия:</label>
			<input type="date" name="date_event" class="form-control input-sm" value="{{date_event}}">
		</div> -->
		<div class="form-group">
			<div class='input-group date' id='datetimepicker3'>
				<input type='text' class="form-control" name="date" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="row">
			<div class='col-md-6'>
				<div class="form-group">
					<label>Дата начала:</label>
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" name="date_start" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class='col-md-6'>
				<div class="form-group">
					<label>Дата окончания:</label>
					<div class='input-group date' id='datetimepicker2'>
						<input type='text' class="form-control" name="date_end" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Клиент: <a class="btn btn-primary btn-xs" id="href_client" href="#"><span class="glyphicon glyphicon-user"></span></a></label>
			<select id="selectClient" name="client" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Проект:</label>
			<select id="selectProject" name="project" class="form-control input-sm"></select>
		</div>  
		<div class="form-group">
			<label>Менеджер проекта:</label>
			<select id="selectManager" name="manager" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Юр. лицо: <a class="btn btn-primary btn-xs" id="href_entity" href="#"><span class="glyphicon glyphicon-user"></span></a></label>
			<select id="selectEntity" name="entity" class="form-control input-sm"></select>
		</div>
		<div class="form-group">
			<label>Статус:</label>
			<select id="selectStatus" name="status" class="form-control input-sm"></select>
		</div>
		<input type="text" name="bill" hidden value="{{bill}}">
		<input type="text" name="organization" hidden value="{{organization}}">
		<input type="text" name="person" hidden value="{{person}}">
		<div class="form-group">
			<label>Количество гостей:</label>
			<input name="count_people" class="form-control input-sm" value="{{count_people}}">
		</div>
		<div class="form-group">
			<label>Номер счета:</label>
			<input name="bill_number" class="form-control input-sm" value="{{bill_number}}">
		</div>
		<input type="text" name="bill" hidden value="{{bill}}">
		<div class="form-group">
			<label>Условия оплаты:</label>
			<label><input type="checkbox" name="prepayment" {{#if prepayment}}checked{{/if}}> Предолата</label>
			<!--<label><input type="checkbox" name="installmen_plan" {{#if installmen_plan}}checked{{/if}}> Рассрочка</label>-->
			<label><input type="checkbox" name="barter" {{#if barter}}checked{{/if}}> Бартер</label>
		</div>
		<div class="form-group">
			<label>Заказанные услуги:</label>
			<button id="addOrderedService" type="button" class="btn btn-default btn-sm" style="margin-bottom: 10px; float: right;">Добавить</button>
			<table id="table"></table>
			<div style="position: absolute; bottom: 10px; left: 24px;" id="total_sum">Итого сумма: 0</div>
		</div>

		<div class="form-group">
			<label>Оплата по договору до:</label>
			<div class='input-group date' id='datetimepicker4'>
				<input type='text' class="form-control" name="date_pay" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label>Бартер на сумму:</label>
			<input class="form-control input-sm" type="text" name="barter_sum" value="{{#if barter_sum}}{{barter_sum}}{{else}}0{{/if}}">
		</div>
		<div class="form-group">
			<label>Обоснование бартера:</label>
			<textarea class="form-control input-sm" name="barter_founding">{{barter_founding}}</textarea>
		</div>
		<div class="form-group">
			<label>Итого:</label>
			<input class="form-control input-sm" name="total_sum" id="total_bill" type="text" readonly="">
		</div>
		<!-- <hr>
		<div class="form-group">
			<label>Целевая аудитория:</label>
			<textarea class="form-control input-sm" name="target_audience">{{target_audience}}</textarea>
		</div>
		<div class="form-group">
			<label>Продукция:</label>
			<textarea class="form-control input-sm" name="production">{{production}}</textarea>
		</div>
		<div class="form-group">
			<label>Новинки:</label>
			<textarea class="form-control input-sm" name="novelties">{{novelties}}</textarea>
		</div>
		<div class="form-group">
			<label>Бренды:</label>
			<textarea class="form-control input-sm" name="brands">{{brands}}</textarea>
		</div> -->
		<button id="saveButton" type="button" class="btn btn-primary btn-sm">Сохранить</button>
		{{#if redirect}}
		<button id="saveRedirectButton" type="button" class="btn btn-primary btn-sm">Сохранить и вернуться</button>
		{{/if}}
		<button id="getOrderOneC" type="button" class="btn btn-success btn-sm">Сформировать документы</button>
		<button type="button" class="btn btn-default btn-sm" id="CancelButton">Отмена</button>
	</form>
</div>
</script>


<script id="addOrderedServiceView" type="text/template">
	<form>
		<div class="form-group">
			<label>Раздел:</label>
			<select class="form-control input-sm" id="SelectNomenclatureGroup" name=""></select>
		</div>
		<div class="form-group">
			<label>Наименование:</label>
			<!-- <input class="form-control input-sm" id="SelectContrAgent" name="name" type="text" value="{{name}}"> -->
			<select class="form-control input-sm" id="SelectNomenclature" name="nomenclature_guid"></select>
		</div>
		<div class="form-group">
			<label>Содержание (Наименование услуги для документов заказчика):</label>
			<textarea class="form-control input-sm" name="comment">{{comment}}</textarea>
		</div>
		<div class="form-group">
			<label>Количество:</label>
			<input type="text" name="count" data-validate="True" class="form-control input-sm" {{#if barter_app}}value="1"{{else}}value="{{count}}"{{/if}}>
		</div>
		<div class="form-group" {{# unless kvs}} style="display: none;" {{/unless}}>
			<label>Количество дней:</label>
			<input type="text" name="count_days" data-validate="True" class="form-control input-sm" value="{{# if count_days}}{{count_days}}{{else}}1{{/if}}">
		</div>
		<div class="form-group">
			<label>Ед. изм.:</label>
			<input type="text" name="units" data-validate="True" class="form-control input-sm" value="{{units}}">
		</div>
		<div class="form-group" style="display: none;" id="amount_pay">
			<label>Стоимость:</label>
			<input type="text" name="price" data-validate="True" class="form-control input-sm" value="{{price}}">
		</div>
		<div id="discount" class="row collapse" {{# if kvs}} style="display: none;" {{/if}}>
			<div class="col-md-6">
				<div class="form-group">
					<label id="discount_label">Скидка %:</label>
					<div class="input-group spinner" data-trigger="spinner" id="spinner">
						<input class="form-control input-sm text-center" type="text" data-rule="quantity" name="discount_rate" value="{{discount_rate}}">
						<span class="input-group-addon input-sm">
							<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
							<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Наценка %:</label>
					<div class="input-group spinner" data-trigger="spinner_markup" id="spinner_markup">
						<input class="form-control input-sm text-center" type="text" data-rule="quantity" name="markup" value="{{markup}}">
						<span class="input-group-addon input-sm">
							<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
							<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div id="allSumm">Итого: 0</div> 
	</form>
</script>

<script id="toolbar" type="text/template">
	<button id="filterButton" type="button" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-filter"></i>
    </button>
    	<button id="resetfilterButton" type="button" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</script>

<script type="text/template" id="selectizeTemplate">
	<div>
		<h4>{{Номенклатура}}</h4>
		<p> {{Цена}} руб.</p>
	</div>		
</script>

<script id="order_one_c_view" type="text/template">
	{{#if print}}
	<div id="progress-indicator" style="display: none; position: absolute;z-index: 0; left: 259px; top: 7px;"><img style="width: 70px;" src="/static/img/progress-indicator.gif"></div>
	<p>Счет</p>
	<button id="PrintingBill" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 5px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    <button id="PrintingBillXLS" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 5px; right: 65px;">
      	<span class="glyphicon glyphicon-print"></span> XLS
    </button>
    <button id="PrintingBillDOCX" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 5px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
    <p>Договор</p>
	<button id="PrintingContract" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 42px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    <!--<button id="PrintingContractXLS" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 42px; right: 65px;">
      	<span class="glyphicon glyphicon-print"></span> XLS
    </button>-->
    <button id="PrintingContractDOCX" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 42px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
    <p style="margin-bottom: 17px;">Договор на доп. оборудование</p>
	<button id="PrintContractAdd" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 79px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    
    <button id="PrintContractAddDOC" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 79px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
    {{#if ad }}
    <p style="margin-bottom: 17px;">Договор для тренинга</p>
	<button id="PrintingContractTraning" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 116px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    <button id="PrintingContractXLSTraning" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 116px; right: 65px;">
      	<span class="glyphicon glyphicon-print"></span> XLS
    </button>
    <button id="PrintingContractDOCXTraning" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 116px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
    {{/if}}
    {{#if kvs }}
    <p style="margin-bottom: 17px;">Аренда выставочного зала</p>
	<button id="PrintContractExhibitionHall" data-format="pdf" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 116px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    <button id="PrintContractExhibitionHallDoc" data-format="docx" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 116px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
    <p style="margin-bottom: 17px;">Аренда конгресс-зала</p>
	<button id="PrintContractCongressHall" data-format="pdf" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 153px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    <button id="PrintContractCongressHallDoc" data-format="docx" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 153px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
    <p style="margin-bottom: 20px;">Аренда оборудования</p>
    <button id="PrintEquipmentRent" type="button" data-format="pdf" class="btn btn-default btn-sm print_button" style="position: absolute; top: 190px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    <button id="PrintEquipmentRentDoc" type="button" data-format="docx" class="btn btn-default btn-sm print_button" style="position: absolute; top: 190px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
	<p style="margin-bottom: 17px;">Договор на услуги питания</p>
	<button id="PrintContractRestoran" data-format="pdf" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 227px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    <button id="PrintContractRestoranDOC" data-format="docx" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 227px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
	<p style="margin-bottom: 17px;">Договор предоплаты на услуги питания</p>
	<button id="PrintContractRestoranPrepay" data-format="pdf" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 264px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    <button id="PrintContractRestoranPrepayDOC" data-format="docx" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 264px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
	<p style="margin-bottom: 17px;">Приложение к договору на услуги питания</p>
	<button id="PrintAddRestoran" data-format="pdf" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 301px; right: 21px;">
      	<span class="glyphicon glyphicon-print"></span>
    </button>
    <button id="PrintAddRestoranDOC" data-format="docx" type="button" class="btn btn-default btn-sm print_button" style="position: absolute; top: 301px; right: 139px;">
      	<span class="glyphicon glyphicon-print"></span> DOCX
    </button>
    {{/if}}
    <div id="blockPrintAct" class="collapse" style="position: relative;">
	    <p id="messageAct" style="padding-top: 7px;">Акт</p>
	    <button id="getAct" type="button" class="btn btn-sm btn-default" style="position: absolute; top: 1px; left: 231px;">Сформировать реализацию</button>
	    <button id="PrintingAct" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 1px; right: 1px;" disabled>
	      	<span class="glyphicon glyphicon-print"></span>
	    </button>
	    <button id="PrintingActXLS" type="button" class="btn btn-default btn-sm" style="position: absolute; top: 1px; right: 45px;" disabled>
	      	<span class="glyphicon glyphicon-print"></span> XLS
	    </button>
    </div>
    {{/if}}
    {{# if sharm}}
		<p><a target="_blank" href="'/one_c/print/?formatfile=docx&type=PrintContractSharmDOC&guid={{guid}}">Договор для Шарма DOCX</a></p>
		<p><a target="_blank" href="'/one_c/print/?formatfile=pdf&type=PrintContractSharm&guid={{guid}}">Договор для Шарма PDF</a></p>
    {{/if}}
    {{# if contracts}}
    	<div class="row" style="margin-left: 0px;">
    		{{#each contracts}}
    		<h5>{{this.name}}</h5>
				{{#each this.type_contracts}}
		    		<div class="col-md-3"><button class="btn btn-default print_button" id="{{this.url_name}}" data-format={{this.format_file}}>{{this.format_file}}</button></div>
				{{/each}}
		    {{/each}}
    	</div>
    {{/if}}
    <p>1234567</p>
	<form>
		<div class="form-group">
			<label>Организация:</label>
			<select class="form-control input-sm" id="SelectOrganization" name="Организация_Key"></select>
		</div>
		<div class="form-group">
			<label>Уполномоченное лицо:</label>
			<select class="form-control input-sm" id="SelectAuthorizedPersons" name="ВЛице"></select>
		</div>
		<!-- <input type="" name="">
		<div class="form-group">
			<label>От:</label>
			<input type="date" name="date_start" data-validate="True" class="form-control input-sm" value="">
		</div>
		<div class="form-group">
			<label>До:</label>
			<input type="text" name="date_end" data-validate="True" class="form-control input-sm" value="">
		</div> -->
	</form>
</script>

<script id="edit_pay" type="text/template">
	<form>
		<div class="form-group">
			<label>Дата</label>
			<input type="date" name="date" data-validate="True" class="form-control input-sm" value="{{date}}">
		</div>
		<div class="form-group">
			<label>Сумма</label>
			<input type="text" name="sum" data-validate="True" class="form-control input-sm" value="{{sum}}">
		</div>
	</form>
</script>
