<script id="item_client" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
        <div id="ProjectControl"><button id="addIndividual" class="btn btn-default" type="button">Создать <span class="glyphicon glyphicon-plus"></span></button></div>
        
    </div>
    <div class="row" id="FilterClient">
		<div class="col-md-4">
			<div class="form-group">
		        <label>Проект:</label>
			    <select id="SelectProject"></select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
		        <label>Привлечение:</label>
			    <select id="SelectPriv"></select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
	            <label>Сфера деятельности:</label>
	            <select id="SelectActivities" name="activities"></select>
	        </div>
		</div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Вид деятельности:</label>
                <select id="SelectAct" name=""></select>
            </div>
        </div>
	</div>
	<table id="table"></table>
	<div id="filterModal"></div>
</script>

<script id="create_client" type="text/template">
	<div class="panel panel-default">
		<h3 style="text-align: center;">{{#if name}}Редактировать{{else}}Создать{{/if}} клиента</h3>
		<form class="form">
			<div class="form-group">
				<label>Название:</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="name" value="{{name}}">
			</div> 
			<div class="form-group">
				<label>Статус:</label>
				<select id="SelectStatus" name="status"></select>
			</div>
			<div class="form-group">
				<label id="labelAddress">Адрес(город, населенный пункт): {{#if city}}<span class="glyphicon glyphicon-ok" style="color: green;"></span>{{else}}<span class="glyphicon glyphicon-remove removeError" style="color: red;"></span>{{/if}}</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="address" value="{{address}}">
				<input type="hidden" name="city" value="{{city}}">
			</div> 
			<div id="checkAddress" class="collapse">
				<div id="proccesscheckAddress">
					<h4>Проверка адреса... <img src="/static/img/addressCheck.gif" id="gifcheckAddress" height="55"></h4>
					<!-- <img src="/static/img/addressCheck.gif" id="gifcheckAddress"> -->
				</div>
				<div id="successCheckAddress" style="display: none;">
					<h4><span class="glyphicon glyphicon-ok" style="color: green;"></span> Адрес успешно проверен</h4>
				</div>
			</div>
			<div class="form-group">
				<label>Почтовый индекс:</label>
				<input class="form-control input-sm" type="text" name="index" value="{{index}}">
			</div>
			<div class="form-group">
				<label>Сайт:</label>
				<input class="form-control input-sm" type="text" name="site" value="{{site}}">
			</div>
			<div class="form-group">
				<label>Сфера деятельности:</label>
				<input class="form-control input-sm" id="SelectActivityClient" type="text" data-validate="True" name="client_activitys" value="">
			</div> 
			<div class="form-group">
				<label>Плательщики:</label>
				<button type="button" class="btn btn-default btn-sm" id="addEntityPrivate" style="margin-bottom: 10px; float: right;">Добавить</button>
				<table id="table"></table>
			</div>
			<h4>Физ. лица:</h4>
			<div id="individualTable" class="collapse"></div><br>
			<div class="form-group">
				<label>Выставочные проекты:</label>
				{{#if show}}
				<button type="button" class="btn btn-default btn-sm" id="addClientInProject" style="margin-bottom: 10px; float: right;">Добавить проект</button>
				{{/if }}
				<table id="tableProject"></table>
			</div>
			<div class="form-group">
				<label>Аннотация деятельности:</label>
				<textarea class="form-control" name="annotation_activity" style="max-width: 100%;">{{annotation_activity}}</textarea>
			</div>
			<div class="form-group">
				<label>Участник сторонних проектов(название, год, город):</label>
				<textarea class="form-control" name="part_exhibit" style="max-width: 100%;">{{part_exhibit}}</textarea>
			</div>
			<div class="form-group">
				<label>Источник информации:</label>
				<textarea class="form-control" name="source_info" style="max-width: 100%;">{{source_info}}</textarea>
			</div>
			<div class="form-group">
				<label>Дополнительная информация:</label>
				<textarea class="form-control" name="description" style="max-width: 100%;">{{description}}</textarea>
			</div>
		<!-- <div class="form-group">
			<label>Виды деятельности:</label>
			<input class="form-control" type="text" data-validate="True" name="activities" id="SelectActivities">
		</div> -->
		<div class="formButton"><button class="btn btn-default" id="SaveButton" type="button">Сохранить</button><button class="btn btn-primary" id="CancelButton" type="button" style="margin-right: 5px;">Отмена</button><button class="btn btn-primary" id="ExitEditButton" type="button">В карточку</button><button class="btn btn-primary" id="create_client" type="button">Создать клиента</button></div>
	</form>
</div>
</script>


<!-- Модалка для назначения проекта на клиента -->
<script type="text/template" id="addProjectView">
	<div class="form-group">
		<label>Проект:</label>
		<select name="project" id="SelectProject"></select>
	</div>
	<div class="form-group">
		<label>Менеджер:</label>
		<select name="manager" id="SelectManager"></select>
	</div>
</script>


<script id="addEntitysPrivate" type="text/template">
	<form>
		<div class="form-group">
			<label>Название:</label>
			<select id="SelectEntitysPrivate" data-validate="True" name="entity_id"></select>
		</div>
		{{#if other_model}}
		<button class="btn btn-primary" type="button" id="createEntityButton">Создать юр. лицо</button>
		{{/if}}
		<div id="EntityInfo" class="collapse"></div>
	</form>
</script>

<script id="EntityDataView" type="text/template">
	<div class="Table">
		<div class="rowTable">
			<div class="cellTable bold">Наименование организации:</div>
			<div class="cellTable">{{full_name}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Адрес:</div>
			<div class="cellTable">{{address}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Телефон:</div>
			<div class="cellTable">{{phone}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">E-mail:</div>
			<div class="cellTable">{{email}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Ответственное лицо:</div>
			<div class="cellTable">{{auth_person}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Сайт:</div>
			<div class="cellTable">{{site}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Виды деятельности:</div>
			<div class="cellTable">{{#each activities}}{{#if @last}}{{subcategories}}{{else}}{{subcategories}}, {{/if}}{{/each}}</div>
		</div>
	</div>

</script>

<script id="item_client_view" type="text/template">
	<div id="navMenu">
		<!-- <h3>{{name}}</h3> -->
		<ul class="nav nav-tabs nav-justified">
			<li class="active" id="ClientView"><a href="javascript:void(0)">Клиент</a></li>
			<li id="HistoryContactsView"><a href="javascript:void(0)">История контактов</a></li>
			<li id="OneCBill"><a href="javascript:void(0)">Счета и договоры</a></li>
			<li id="Contract"><a href="javascript:void(0)">Оказанные услуги</a></li>
		</ul>
	</div>
	<div id="MenuContent"></div>

	<!-- <ul class="nav nav-pills nav-justified">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Menu 1</a></li>
		<li><a href="#">Menu 2</a></li>
		<li><a href="#">Menu 3</a></li>
	</ul> -->
</script>

<script id="tabClient" type="text/template">
	<div class="panel panel-default panelTabs form">
		<i style="position: absolute; right: 30px; top: 75px;">{{status_text}}</i>
		<strong>{{name}} {{# if edit}}<span style="float: left;" class="glyphicon glyphicon-pencil pencil edit" data-id ='{{id}}'></span>{{/if}}</strong><br>
		<!-- Контактные лица -->
        <button class="btn btn-sm btn-primary" style="float: right; margin-bottom: 15px;" id="addContactPerson">Добавить</button>
		<table id="tableContactsPerson"></table>
        <div class="col-sm-6">
            {{# if address }}
                <p><strong>Адрес: </strong>{{address}}, <strong>Индекс: </strong>{{index}}, <strong>Сайт:</strong> <span id="siteSplit"></span></p>
            {{/if}}
            {{# if client_activities_list }}
                <strong>Сфера деятельности:</strong>
                <p>{{client_activities_list}}</p>
            {{/if}}
            {{# if annotation_activity }}
                <strong>Аннотация деятельности:</strong>
                <p>{{annotation_activity}}</p>
            {{/if}}
        </div>
        <div class="col-sm-6">
            {{# if part_exhibit }}
                <strong>Участник сторонних проектов:</strong>
                <p>{{part_exhibit}}</p>
            {{/if }}
            {{# if source_info }}
                <strong>Источник информации:</strong>
                <p>{{source_info}}</p>
            {{/if}}

            {{# if description }}
                <strong>Дополнительная информация:</strong>
                <p>{{description}}</p>
            {{/if}}
        </div>
		<!--таблица Юридические лица:-->
		<table id="table"></table>
        <!--таблица физ лица:-->
		<div id="individualTable" class="collapse"></div>
		<strong>Выставочные проекты:</strong>
		<table id="tableProject"></table>
		<strong>B2B проекты:</strong>
		<table id="b2btableProject"></table>
	</div>
</script>

<script id="tabHistoryContacts" type="text/template">
	<div class="panel panel-default panelTabs">
		<form class="form">
            <div class="row">
                <div class="green col-sm-12" style="margin-top: -30px;">
                    <h4><i style="margin-right: 10px;" class="fa fa-phone"></i>{{name}}</h4>
                </div>
            </div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<div class='input-group date' id='datetimepicker2'>
							<input type='text' class="form-control" name="date" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<input type="text" name="guid_audio" hidden="">
					<div class="form-group">
						<label>Вид взаимодействия:</label>
						<select id="selectTypeContact" name="type_contact" class="form-control input-sm"></select>
					</div>  
					<div class="form-group">
						<label>Контактное лицо:
							<a id="showContactPerson" style="cursor: pointer;"><i class="fa fa-users"></i></a>
						</label>
						<select id="selectIndividual" name="contact_person" class="form-control input-sm"></select>
					</div>
					<div class="form-group">
						<label id="contact_parametrs">Контакт:</label>
						<select id="selectContact" name="contact" class="form-control input-sm"></select>
					</div>
					<div class="form-group">
						<label>Проект:</label>
						{{# if kvs}}
						<button class="btn btn-default btn-xs" type="button" id="addProject"><span class="glyphicon glyphicon-plus"></span></button>
						{{/ if}}
						<select id="selectProject" name="project" class="form-control input-sm"></select>
					</div>
                    <div class="form-group">
						<label>Комментарий:</label>
						<textarea rows="2" name="comment" class="form-control" style="max-width: 100%;"></textarea>
					</div>
                    <button class="btn btn-success btn-contact" type="button" id="saveContact">Сохранить</button>
                    <button class="btn btn-success btn-contact" type="button" id="saveContact" data-toggle="tooltip" title="Оставить информацию по контакту для другого проекта (для оформления нового контакта)" data-notresetForm="true">Сохр.(без сброса формы)</button>
                    <button class="btn btn-contact" type="button" id="openHistory" >СОУВ</button>
				</div>
				<div class="col-sm-8 results">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label>Результат</label>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Причина отказа:</label>
                                <div class="input-group">
                                    <input class="form-control input-sm" type="text" name="failure" disabled>
                                    <div class="input-group-btn">
                                        <button class="btn btn-danger btn-sm" type="button" id="failure">Отказ</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group interest1">
                                <label>Интерес:</label>
                                <input name="interest" type="checkbox" value="true">
                            </div>
                            <div class="notInContact">
                                <div class="form-group followContact">
                                    <label>Дата сл. контакта:</label>
                                    <input class="form-control input-sm" type="date" data-validate="True" name="date_new_contact">
                                    <div class="input-group">								<input class="form-control input-sm" type="text" data-validate="True" name="goal_contact" placeholder="Цель контакта">
                                    <div class="input-group-btn">
                                        <button data-toggle="tooltip" title="Сохранить только дату след контакта. При сохранении в историю нажимать не требуется!" type="button" id="saveNewContact" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span></button></div>
                                    </div>
                                </div>
                                <div class="form-group application">
                                    <label>Оформить заявку:</label>
                                    <select class="form-control input-sm" id="select_application" name="application"></select>
                                </div>
                                <div class="form-group other_services">
                                    <label>Передать интерес на др. услуги:</label>
                                    <select class="form-control input-sm" id="select_direction" name="new_interest"></select>
                                    <input class="form-control input-sm" type="text" data-validate="True" placeholder="Комментарий" name="com">
                                </div>
                                <!-- <div class="form-group interest">
                                    <button class="btn btn-info btn-sm" type="button" disabled="">Передать интерес на др. услуги</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse tableContactsPersons">
            	<h4>Контактные лица:</h4>
				<table id="tableContactsPerson"></table>
            </div>
			<h4>История контактов{{#if tableContext}} <i style="color: red;">(Цель контакта: {{tableContext.template}})</i>{{/if}}:</h4>
			<table id="table"></table>
		</form>
	</div>
</script>





<script id="modal_individual_in_client_view" type="text/template">
	{{#if show_button}}
	<button type="button" class="btn btn-default btn-sm" id="createIndividualButton" style="margin-bottom: 10px; float: right;">Создать физ.лицо</button>
	{{/if}}
	<table id="table"></table>
</script>



<!-- Контактные лица -->

<script id="contact_person_view" type="text/template">
	<form>
		<div class="form-group">
			<label>Контактное лицо:</label>
			<input class="form-control input-sm" type="text" name="name" value="{{name}}" data-validate="True">
		</div>
		<!-- <div id="subsection_emails" class="form-group">
			<label style="width: 50%;">E-mail: <span style="padding-right: 3px; float: right; margin-right: 1px;" data-type="emails" class="glyphicon glyphicon-plus btn btn-success btn-xs remove" id="addSubSection"></span></label>
			{{#each emails}}
			<div class="input-group inputWithButtonModal" id="{{this.id}}">
				<span class="input-group-addon input-sm"><input type="radio" name="main_emails" value="{{this.email}}" {{#if main}}checked{{/if}}></span>
				<input type="text" class="form-control input-sm" data-validate="True" value="{{this.email}}" name="email_{{this.id}}" >
				<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-trash trash"></span></span>
			</div>
			{{/each}}
		</div> -->
		<div id="subsection_emails" class="form-group">
			<label style="width: 50%;">E-mail: <span style="padding-right: 3px; float: right; margin-right: 1px;" data-type="emails" class="glyphicon glyphicon-plus btn btn-success btn-xs remove" id="addSubSection"></span></label>
			{{#each emails}}
			<div class="input-group inputWithButtonModal" id="{{this.id}}">
				<span class="input-group-addon input-sm"><input type="radio" name="main_emails" value="{{this.email}}" {{#if main}}checked{{/if}}></span>
				<input type="text" class="form-control input-sm" data-validate="True" value="{{this.email}}" name="email_{{this.id}}" >
				<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-trash trash"></span></span>
			</div>
			{{/each}}
		</div>
		<div id="subsection_phones" class="form-group">
			<label style="width: 50%;">Телефон: <span style="padding-right: 3px; float: right; margin-right: 1px;" data-type="phones" class="glyphicon glyphicon-plus btn btn-success btn-xs remove" id="addSubSection"></span></label>
			{{#each phones}}
			<div class="input-group inputWithButtonModal" id="{{this.id}}">
				<span class="input-group-addon input-sm"><input type="radio" name="main_phones" value="{{this.phone}}" {{#if main}}checked{{/if}}></span>
				<input type="text" class="valid_phone form-control input-sm" data-validate="True" value="{{this.phone}}" name="phone_{{this.id}}" >
				<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-trash trash"></span></span>
			</div>
			{{/each}}
		</div>
		<!-- <div id="subsection_phones" class="form-group">
			<label style="width: 50%;">Телефон: <span style="padding-right: 3px; float: right; margin-right: 1px;" data-type="phones" class="glyphicon glyphicon-plus btn btn-success btn-xs remove" id="addSubSection"></span></label>
			{{#each phones}}
			<div class="input-group inputWithButtonModal" id="{{this.id}}">
				<span class="input-group-addon input-sm"><input type="radio" name="main_phones" value="{{this.phone}}" {{#if main}}checked{{/if}}></span>
				<input type="text" class="form-control input-sm" data-validate="True" value="{{this.phone}}" name="phone_{{this.id}}" >
				<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-trash trash"></span></span>
			</div>
			{{/each}}
		</div> -->
		<div class="form-group">
			<label>Факс:</label>
			<input style="width: 50%;" class="form-control input-sm" type="text" name="fax" value="{{fax}}">
		</div>
	</form>
</script>


<!-- Шаблон для селектайза в истории контактов -->

<script id="selectizeTemplateContact" type="text/template">
	<div>
		{{#if email}}
		<p><span class="glyphicon glyphicon-envelope"></span> {{email}}</p>
		{{/if}}
		{{#if phone}}
		<p class="{{# if main }}bold{{/if}}"><span class="glyphicon glyphicon-phone"></span> {{phone}}</p>
		{{/if}}
		{{#if fax}}
		<p><span class="fa fa-fax"></span> {{fax}}</p>
		{{/if}}
	</div>
</script>

<!-- Шаблон для селектайза в фильтре на клиента -->
<script id="selectizeClientFilter" type="text/template">
	<div>
		<h5>{{name}}</h5>
		<p>{{address}}</p>
	</div>
</script>

<!-- кнопки Toolbar для таблиц -->
<script id="toolbar" type="text/template">
	<button id="filterButton" type="button" class="btn btn-default btn-sm">
		<i class="glyphicon glyphicon-filter"></i>
	</button>
	<button id="resetfilterButton" type="button" class="btn btn-default btn-sm">
		<i class="glyphicon glyphicon-remove"></i>
	</button>
</script>

<script id="toolbar_export" type="text/template">
	<button id="export" type="button" class="btn btn-default btn-sm">
		<i class="glyphicon glyphicon-download"></i>
	</button>
</script>

<script id="toolbar_b2b_project" type="text/template">
	<button id="allfilterButton" type="button" class="btn btn-default btn-sm">
		Все
	</button>
	<button id="workfilterButton" type="button" class="btn btn-default btn-sm">
		В работе
	</button>
	<button id="planfilterButton" type="button" class="btn btn-default btn-sm">
		Планируемые
	</button>
	
</script>

<script id="client_applications_view" type="text/template">
	<div class="panel panel-default panelTabs form">
		<div class="form-group">
			<label>Заявки экспонентов:</label>
			<table id="table"></table>
		</div>
		<div class="form-group">
			<label>Заявка на услуги ДП, БХ и БАТЛ:</label>
			<table id="table_kvs"></table>
		</div>
		<div class="form-group">
			<label>Заявки на тренинги:</label>
			<table id="table_ad"></table>
		</div>
	</div>
</script>


<script id="old_contacts_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>
    <table id="table"></table>
</script>

<script id="one_c_client_view" type="text/template">
    <table id="table"></table>
</script>