<script id="item_entity" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
        <div id="ProjectControl"><button id="addIndividual" class="btn btn-default" type="button">Создать <span class="glyphicon glyphicon-plus"></span></button> </div>
	</div>
    <table id="table"></table>
</script>

<script id="create_entity" type="text/template">
	<div class="panel panel-default">
		<h3 style="text-align: center; position: relative;">{{#if full_name}}Редактировать{{else}}Создать{{/if}} юр. лицо {{# if pasteButton}}
				<button style="position: absolute; top: 3px; right: 44px;" id="pasteButton" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-paste"></span></button>
			{{/ if}}
			<button style="position: absolute; top: 3px; right: 90px;" id="openClientCard" type="button" class="btn btn-default btn-xs" title="К карточке клиента"><span class="glyphicon glyphicon-user"></span></button>
		</h3>

		<form class="form">
			<div class="form-group">
				<label>Тип:</label>
				<select class="form-control input-sm" name="other" id="SelectType"></select>
			</div>
			<div class="form-group">
				<label>Полное наименование:</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="full_name" value="{{full_name}}">
			</div> 
			<p id="annotation_client"></p>
			<div class="form-group">
				<label>Вид деятельности:</label>
				<input class="form-control input-sm" type="text" data-validate="True" id="SelectActivities">
			</div>
			<div class="form-group">
				<label>Адрес:</label>
				<input class="form-control input-sm" data-validate="True" type="text" name="address" value="{{address}}">
			</div>
			<div class="form-group">
				<label>Почтовый адрес:</label>
				<div class="input-group">
					<input class="form-control input-sm" type="text" name="post_address" value="{{post_address}}">
					<div class="input-group-btn">
						<button class="btn btn-default btn-sm" type="button" id="copyAddressToPost" data-toggle="tooltip" title="Скопировать адрес из карточки">
							<i class="glyphicon glyphicon-copy"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>Примечание к адресу:</label>
				<input class="form-control input-sm" type="text" name="post_address_info" value="{{post_address_info}}">
			</div>

		<!-- <div class="form-group">
			<label>E-mail:</label>
			<input class="form-control input-sm" type="text" data-validate="True" name="email" value="{{email}}">
		</div> -->
		<div id="subsection_emails" class="form-group">
			<label style="width: 30%;">Доп. e-mail: <span style="padding-right: 3px; float: right; margin-right: 1px;" data-type="emails" class="glyphicon glyphicon-plus btn btn-success btn-xs remove" id="addSubSection"></span></label>
			{{#each emails}}
			<div class="input-group inputWithButton" id="{{this.id}}">
				<span class="input-group-addon input-sm"><input type="radio" name="main_emails" value="{{this.email}}" {{#if main}}checked{{/if}}></span>
				<input type="text" class="form-control input-sm" data-validate="True" value="{{this.email}}" name="email_{{this.id}}" >
				<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-trash delete_contact trash"></span></span>
			</div>
			{{/each}}
		</div>
		<!-- <div class="form-group">
			<label>Телефон:</label>
			<input class="form-control input-sm" type="text" data-validate="True" name="phone" value="{{phone}}">
		</div> -->
		<div id="subsection_phones" class="form-group">
			<label style="width: 30%;">Доп. телефон: <span style="padding-right: 3px; float: right; margin-right: 1px;" data-type="phones" class="glyphicon glyphicon-plus btn btn-success btn-xs remove" id="addSubSection"></span></label>
			{{#each phones}}
			<div class="input-group inputWithButton" id="{{this.id}}">
				<span class="input-group-addon input-sm"><input type="radio" name="main_phones" value="{{this.phone}}" {{#if main}}checked{{/if}}></span>
				<input type="text" class="valid_phone form-control input-sm" data-validate="True" value="{{this.phone}}" name="phone_{{this.id}}" >
				<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-trash delete_contact trash"></span></span>
			</div>
			{{/each}}
		</div>
		<div class="form-group">
			<label>Сайт:</label>
			<input class="form-control input-sm" type="text" name="site" value="{{site}}">
		</div>
		<div class="form-group">
			<label>Дополнительная информация:</label>
			<input class="form-control input-sm" type="text" name="add_info" value="{{add_info}}">
		</div>
		<button type="button" class="btn btn-default btn-sm" id="createIndividualButton" type="button" style="margin-bottom: 10px; float: right;">Создать физ.лицо</button>
		<div class="form-group">
			<label>Физ. лица:</label>
			<table id="table"></table>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><label>1С <i style="color: red;">(Необходимо для формирования счета)</i></label></div>
			<div class="panel-body">
				<div class="form-group">
					<label>Поиск в базе 1С (для автозаполнения):</label>
					<select class="form-control input-sm" id="SelectContrAgent" name="one_c_guid"></select>
					<!-- <input  class="form-control input-sm" type="text" id="SelectContrAgent" name="one_c_guid"> -->
				</div>
				<button class="btn btn-default btn-sm" type="button" id="create_contragent">Создать/Изменить контрагента</button>
				<button class="btn btn-warning btn-sm" type="button" id="update_contragent" disabled="">Проверить контрагента(Юр. лицо, ИП)</button>
				<div style="margin-top: 15px;">
					<label>Реквизиты:</label>
					<table id="bankTable"></table>
				</div>

			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><label><i style="color: red;">Информация для счета, договора</i></label></div>
			<div class="panel-body">
				<div class="form-group">
					<label>На основании:</label>
					<input class="form-control input-sm" type="text" name="auth_person" value="{{auth_person}}">
					<!-- <select class="form-control input-sm" id="SelectAuthorizedPersons" name="auth_person"></select> -->
				</div>
				<div class="form-group">
					<label>Расшифровка подписи:</label>
					<input class="form-control input-sm" type="text" name="sign" value="{{sign}}">
				</div>
				<div class="form-group">
					<label>Контрагент в лице:</label>
					<input class="form-control input-sm" type="text" name="based" value="{{based}}">
				</div>
			</div>
		</div>
		<!-- <div class="form-group">
			<label>Виды деятельности:</label>
			<input class="form-control" type="text" data-validate="True" name="activities" id="SelectActivities">
		</div> -->
		<div class="formButton"><button class="btn btn-default" id="SaveButton" type="button">Сохранить</button>{{#if other_model}}<button class="btn btn-default" id="SaveReturnButton" type="button">Сохранить и вернуться</button>{{/if}}<button class="btn btn-primary" id="CancelButton" type="button">Отмена</button></div>
	</form>
</div>
</script>

<script id="modal_contragent_view" type="text/template">
	<form>
			<input type="hidden" name="Ref_Key" value="{{Ref_Key}}">
		{{#if other}}
			<div class="form-group">
				<label>Полное наименование:</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="НаименованиеПолное" value="{{НаименованиеПолное}}">
			</div>
			<div class="form-group">
				<label>Серия номер:</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="СвидетельствоСерияНомер" value="{{СвидетельствоСерияНомер}}">
			</div>
			<div class="form-group">
				<label>Дата выдачи:</label>
				<input class="form-control input-sm" type="date" data-validate="True" name="СвидетельствоДатаВыдачи" value="{{СвидетельствоДатаВыдачи}}">
			</div>
			<div class="form-group">
				<label>Кем выдан:</label>
				<input class="form-control input-sm" type="text" name="ДокументУдостоверяющийЛичность" value="{{ДокументУдостоверяющийЛичность}}">
			</div>
			<input type="text" name="ЮридическоеФизическоеЛицо" value="ФизическоеЛицо" hidden>
		{{else}}
			<div class="form-group">
				<label>Поиск в базе Налог.ру (для автозаполнения):</label>
				<select class="form-control input-sm" id="SelectContrAgent" name=""></select>
				<!-- <input  class="form-control input-sm" type="text" id="SelectContrAgent" name="one_c_guid"> -->
			</div>
			<div class="form-group">
				<label>Полное наименование:</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="НаименованиеПолное" value="{{НаименованиеПолное}}">
			</div>
			<div class="form-group">
				<label>ИНН:</label>
				<input class="form-control input-sm" type="text" name="ИНН" value="{{ИНН}}">
				<div id="inn_error" class="collapse">
					
				</div>
				<!-- <input class="form-control input-sm" type="text" data-validate="True" name="ИНН"> -->
			</div>
			<div class="form-group">
				<label>КПП:</label>
				<input class="form-control input-sm" type="text" name="КПП" value="{{КПП}}">
			</div>
		{{/if}}
		<div class="form-group">
			<label>Адрес:</label>
			<div class="input-group">
				<input class="form-control input-sm" name="Адрес" data-validate="True" value="{{Адрес}}" type="text">
				<div class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button" id="CopyAddress" data-toggle="tooltip" title="Скопировать адрес из карточки">
						<i class="glyphicon glyphicon-copy"></i>
					</button>
				</div>
			</div>
		</form>
	</script>


	<script type="text/template" id="selectizeTemplate">
		<div>
			<h4>{{НаименованиеПолное}}</h4>
			<p>{{ИНН}}</p>
			{{#each КонтактнаяИнформация}}
			{{# if @first}}{{Представление}}{{/if}}
			{{/each}}
		</div>		
	</script>

	<script type="text/template" id="selectizeTemplateNalog">
		<div>
			<h4>{{value}}</h4>
			<p>ИНН: {{inn}}</p>
			<p>КПП: {{kpp}}</p>
			<p>Адрес: {{address.value}}</p>
		</div>		
	</script>

	<script type="text/template" id="selectizeTemplateBank">
		<div>
			<h4>{{Description}}</h4>
			<p>КоррСчет: {{КоррСчет}}</p>
			<p>Город: {{Город}}</p>
			<p>БИК: {{Code}}</p>
		</div>		
	</script>


	<script id="check_contragent_view" type="text/template">
		<form>
			{{# if load}}
			{{# if name_error}}
			<div class="form-group has-warning has-feedback">
				<label>Полное наименование ({{НаименованиеПолное}}):</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="НаименованиеПолное" value="{{new_name}}">
				<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
			</div>
			{{else}}
			<div class="form-group has-success has-feedback">
				<label>Полное наименование:</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="НаименованиеПолное" value="{{НаименованиеПолное}}">
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
			</div>
			{{/if}}
			{{# if inn_error}}
			<div class="form-group has-warning has-feedback">
				<label>ИНН ({{ИНН}}):</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="ИНН" value="{{new_inn}}" disabled="">
				<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
			</div>
			{{else}}
			<div class="form-group has-success has-feedback">
				<label>ИНН:</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="ИНН" value="{{ИНН}}" disabled="">
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
			</div>
			{{/if}}
			{{#if kpp_error}}
			<div class="form-group has-warning has-feedback">
				<label>КПП ({{КПП}}):</label>
				<input class="form-control input-sm" type="text" name="КПП" value="{{new_kpp}}">
				<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
			</div>
			{{else}}
			<div class="form-group has-success has-feedback">
				<label>КПП:</label>
				<input class="form-control input-sm" type="text" name="КПП" value="{{КПП}}">
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
			</div>
			{{/if}}
			{{#each КонтактнаяИнформация}}
			{{# if this.address_error}}
			<div class="form-group has-warning has-feedback">
				<label>Адрес ({{this.Представление}}):</label>
				<input class="form-control input-sm" name="{{#if @first}}Адрес{{/if}}" data-validate="True" value="{{this.new_address}}" type="text">
				<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
			</div>
			{{else}}
			<div class="form-group has-success has-feedback">
				<label>Адрес:</label>
				<input class="form-control input-sm" name="{{#if @first}}Адрес{{/if}}" data-validate="True" value="{{this.Представление}}" type="text">
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
			</div>
			{{/if}}
			{{/each}}
			{{else}}
			<div class="form-group">
				<label>Полное наименование:</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="НаименованиеПолное" value="{{НаименованиеПолное}}">
			</div>
			<div class="form-group">
				<label>ИНН:</label>
				<input class="form-control input-sm" type="text" data-validate="True" name="ИНН" value="{{ИНН}}" disabled="">
			</div>
			<div class="form-group">
				<label>КПП:</label>
				<input class="form-control input-sm" type="text" name="КПП" value="{{КПП}}">
			</div>
			<div class="form-group">
				<label>Адрес:</label>
				<div class="input-group">
					<input class="form-control input-sm" name="Адрес" data-validate="True" value="" type="text">
					<div class="input-group-btn">
						<button class="btn btn-default btn-sm" type="button" id="CopyAddress" data-toggle="tooltip" title="Скопировать адрес из карточки">
							<i class="glyphicon glyphicon-copy"></i>
						</button>
					</div>
				</div></div>
				{{/ if}}
			</form>
		</script>


<script id="modal_bank_view" type="text/template">
	<form>
		<div class="form-group">
			<label>Описание:</label>
			<input class="form-control input-sm" type="text" data-validate="True" name="Description" value="{{Description}}">
			<input type="hidden" name="ВидСчета" value="Расчетный">
			<input type="hidden" name="ВалютаДенежныхСредств_Key" value="1f6d427a-4e5e-11e5-935d-10c37b94ecb0">
			<input type="hidden" name="Owner" value="{{owner}}">
			<input type="hidden" name="Owner_Type" value="StandardODATA.Catalog_Контрагенты">
			{{#if Ref_Key}}<input type="hidden" name="Ref_Key" value="{{Ref_Key}}">{{/if}}
		</div>
		<div class="form-group">
			<label>Номер счета:</label>
			<input class="form-control input-sm" type="text" data-validate="True" name="НомерСчета" value="{{НомерСчета}}">
		</div>
		<div class="form-group">
			<label>Банк:</label>
			<select id="SelectBank" name="Банк_Key" data-validate="True"></select>
		</div>
		<div class="form-group">
			<label>Основной:</label>
			<input type="checkbox" name="main" {{#if main}}checked{{/if}}>
		</div>
	</form>
</script>

<script id="toolbarBank" type="text/template">
	<button id="addBank" type="button" class="btn btn-default btn-sm filter_button_client">
        <span class="glyphicon glyphicon-plus"></span> 
    </button>
</script>