<script type="text/template" id="_item_individual">
	<div class="HeaderCol">
	<h4>{{surname}} {{name}} {{middle_name}}</h4>
		<span id="EditProject" class="glyphicon glyphicon-pencil pencil"></span>
		<span id="OpenIndividual" class="glyphicon glyphicon-eye-open eye"></span>
	</div>
	<div class="Table">
	<div class="rowTable">
		<i class="fa fa-birthday-cake" aria-hidden="true"></i><p>{{date_of_birth}}</p>	
	</div>
	<div class="rowTable">
		<i class="fa fa-transgender" aria-hidden="true"></i><p>{{sex}}</p>
	</div>
	<div class="rowTable">
		<i class="fa fa-user-circle" aria-hidden="true"></i><p></p>	
	</div>
	<div class="rowTable">
		<i class="fa fa-map-marker" aria-hidden="true"></i><p>{{address}}</p>
	</div>
	<div class="rowTable">
		<i class="fa fa-phone" aria-hidden="true"></i><p>{{phone}}</p>
	</div>
	</div>
</script>

<script id="item_individual" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
	    <div id="ProjectControl"><button id="addIndividual" class="btn btn-default" type="button">Создать <span class="glyphicon glyphicon-plus"></span></button> </div>
	</div>
    <table id="table"></table>
</script>

<script id="item_individual_view" type="text/template">
	<div id="navMenu">
		<!-- <h3>{{name}}</h3> -->
		<ul class="nav nav-tabs nav-justified">
			<li class="active" id="ClientView"><a href="javascript:void(0)">Физ. лицо</a></li>
			<li id="HistoryContactsView"><a href="javascript:void(0)">История контактов</a></li>
		</ul>
	</div>
	<div id="MenuContent"></div>

</script>

<script id="tabIndividual" type="text/template">
	<div class="panel panel-default panelTabs form">
		<h4>{{surname}} {{name}} {{middle_name}} <span style="float: right;" class="glyphicon glyphicon-pencil pencil edit" data-id ='{{id}}'></span></h4><br>
		<h4>Телефоны:</h4>
		<ul>
			{{#each phones}}
				<li {{#if main}}class="bold"{{/if}} >{{phone}}</li>
			{{/each}}
		</ul>
		<h4>Электронные адреса:</h4>
		<ul>
			{{#each emails}}
				<li {{#if main}}class="bold"{{/if}} >{{email}}</li>
			{{/each}}
		</ul>
		<h4>Адрес:</h4>
		<p>{{address}}</p>
		<h4>Дата рожения:</h4>
		<p>{{view_date}}</p>
		<h4>Пол:</h4>
		<p>{{view_sex}}</p>
		<h4>Дополнительная информация:</h4>
		<p>{{add_info}}</p>
		<h4>Юр. лица:</h4>
		<table id="table"></table>
	</div>
</script>



<script id="tabHistoryContacts" type="text/template">
	<div class="panel panel-default panelTabs">
		<form class="form">
			<h4>Новый контакт: {{surname}} {{name}} {{middle_name}}</h4>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-lg-4">
					<div class="form-group">
						<label>Дата:</label>
						<div class='input-group date' id='datetimepicker2'>
							<input type='text' class="form-control" name="date" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label>Вид взаимодействия:</label>
						<select id="selectTypeContact" name="type_contact" class="form-control input-sm"></select>
					</div> 
					<div class="form-group">
						<label>Вид источника информации:</label>
						<select id="selectSourceInformation" name="source_of_information" class="form-control input-sm"></select>
					</div>  
<!-- 					<div class="form-group">
						<label>Контактное лицо:</label>
						<select id="selectIndividual" name="contact_person" class="form-control input-sm"></select>
					</div> -->
					<div class="form-group">
						<label id="contact_parametrs">Контакт:</label>
						<select id="selectContact" name="contact" class="form-control input-sm"></select>
					</div>
					<div class="form-group">
						<label>Проект:</label>
						{{# if kvs}}
						<button class="btn btn-default btn-xs" type="button" id="addProject"><span class="glyphicon glyphicon-plus"></span></button>
						{{/ if}}
						<select id="selectProject" name="project" class="form-control input-sm"></select>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-lg-4">
					<div class="form-group">
						<label>Комментарий:</label>
						<textarea name="comment" class="form-control" style="max-width: 100%;"></textarea>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-lg-4 results">
					<div class="panel panel-default">
						<div class="panel-heading"><label>Результат</label></div>
						<div class="panel-body">
							<div class="form-group">
								<label>Причина отказа:</label>
								<div class="input-group">
									<input class="form-control input-sm" type="text" name="failure" disabled>
									<div class="input-group-btn">
										<button class="btn btn-danger btn-sm" type="button" id="failure">Отказ</button>
									</div>
								</div>
							</div>
							<div class="form-group interest1">
								<label>Интерес:</label>
								<input name="interest" type="checkbox" value="true">
							</div>
							<div class="form-group interest1">
								<label>Ожидание оплаты:</label>
								<input name="waiting" type="checkbox" value="true">
							</div>
							<div class="notInContact">	
								<div class="form-group followContact">
									<label>Дата сл. контакта:</label>
									<input class="form-control input-sm" type="date" data-validate="True" name="date_new_contact">
									<input class="form-control input-sm" type="text" data-validate="True" name="goal_contact" placeholder="Цель контакта">
								</div>
								<!-- <div class="form-group application">
									<label>Оформить заявку:</label>
									<select class="form-control input-sm" id="select_application" name="application"></select>
								</div> -->
								<!-- <div class="form-group other_services">
									<label>Передать интерес на др. услуги:</label>
									<select class="form-control input-sm" id="select_direction" name="new_interest"></select>
									<input class="form-control input-sm" type="text" data-validate="True" placeholder="Комментарий" name="com">
								</div> -->
								<!-- <div class="form-group interest">
									<button class="btn btn-info btn-sm" type="button" disabled="">Передать интерес на др. услуги</button> 
								</div> -->
							</div>
						</div>
					</div>
					
				</div>			
			</div>
			<button class="btn btn-default btn-sm" type="button" id="saveContact">Сохранить</button>
			<h4>История контактов:</h4>
			<table id="table"></table>
		</form>
	</div>
</script>


<!-- Шаблон для селектайза в истории контактов -->

<script id="selectizeTemplateContact" type="text/template">
	<div>
		{{#if email}}
			<p {{#if main}}class="bold"{{/if}} ><span class="glyphicon glyphicon-envelope"></span> {{text}}</p>
		{{/if}}
		{{#if phone}}
			<p {{#if main}}class="bold"{{/if}} ><span class="glyphicon glyphicon-phone"></span> {{text}}</p>
		{{/if}}
	</div>
</script>



<script type="text/template" id="create_individual">
<div class="panel panel-default">
	
	<h3 style="text-align: center;">{{#if name}}Редактировать{{else}}Создать{{/if}} физ. лицо</h3>
	<form class="form">
		<div class="form-group">
			<label>Фамилия:</label>
			<input class="form-control input-sm" type="text" data-validate="True" name="surname" value="{{surname}}">
		</div> 
		<div class="form-group">
			<label>Имя:</label>
			<input class="form-control input-sm" type="text" data-validate="True" name="name" value="{{name}}">
		</div>
		<div class="form-group">
			<label>Отчество:</label>
			<input class="form-control input-sm" type="text" name="middle_name" value="{{middle_name}}">
		</div>
		<div class="form-group">
			<label>Пол:</label>
			<select name="sex" id="SelectSex"></select>
		</div>
		<div class="form-group">
			<label>Дата рождения:</label>
			<input class="form-control input-sm" type="date" name="date_of_birth" value="{{date_of_birth}}">
		</div>
		<div class="form-group">
			<label>Адрес:</label>
			<input class="form-control input-sm" type="text" data-validate="True" name="address" value="{{address}}">
		</div>
		<!-- <div class="form-group">
			<label>E-mail:</label>
			<input class="form-control input-sm" type="text" name="email" value="{{email}}">
		</div> -->
		<div id="subsection_emails" class="form-group">
			<label style="width: 30%;">Доп. e-mail: <span style="padding-right: 3px; float: right; margin-right: 1px;" data-type="emails" class="glyphicon glyphicon-plus btn btn-success btn-xs remove" id="addSubSection"></span></label>
			{{#each emails}}
			<div class="input-group inputWithButton" id="{{this.id}}">
				<span class="input-group-addon input-sm"><input type="radio" name="main_emails" value="{{this.email}}" {{#if main}}checked{{/if}}></span>
				<input type="text" class="form-control input-sm" data-validate="True" value="{{this.email}}" name="email_{{this.id}}" >
				<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-trash trash delete_contact"></span></span>
			</div>
			{{/each}}
		</div>
		<!-- <div class="form-group">
			<label>Телефон:</label>
			<input class="form-control input-sm" type="text" data-validate="True" name="phone" value="{{phone}}">
		</div> -->
		<div id="subsection_phones" class="form-group">
			<label style="width: 30%;">Доп. телефон: <span style="padding-right: 3px; float: right; margin-right: 1px;" data-type="phones" class="glyphicon glyphicon-plus btn btn-success btn-xs remove" id="addSubSection"></span></label>
			{{#each phones}}
			<div class="input-group inputWithButton" id="{{this.id}}">
				<span class="input-group-addon input-sm"><input type="radio" name="main_phones" value="{{this.phone}}" {{#if main}}checked{{/if}}></span>
				<input type="text" class="valid_phone form-control input-sm" data-validate="True" value="{{this.phone}}" name="phone_{{this.id}}" >
				<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-trash trash delete_contact"></span></span>
			</div>
			{{/each}}
		</div>
		<div class="form-group">
			<label>Дополнительная информация:</label>
			<input class="form-control input-sm" type="text" name="add_info" value="{{add_info}}">
		</div>
		<button type="button" class="btn btn-default btn-sm" id="addEntityPrivate" style="margin-bottom: 10px; float: right;">Добавить</button>
		<div class="form-group">
			<label>Юр. лица</label>
			<table id="table"></table>
		</div>
		<!-- <div class="form-group">
			<label>Виды деятельности:</label>
			<input class="form-control" type="text" data-validate="True" name="activities" id="SelectActivities">
		</div> -->
		<div class="formButton"><button class="btn btn-default" id="SaveButton" type="button">Сохранить</button>{{#if other_model}}<button class="btn btn-success" id="SaveAndReturnButton" type="button">Сохранить и вернуться</button>{{/if}}<button class="btn btn-primary" id="CancelButton" type="button">Отмена</button><button style="margin-left: 5px;" class="btn btn-primary" id="ExitEditButton" type="button">В карточку</button><button class="btn btn-primary" id="create_client" type="button" style="margin-left: 5px;">Создать клиента</button></div>
	</form>
</div>
</script>

<script id="addEntitysPrivate" type="text/template">
	<form>
		<select id="SelectEntitysPrivate" data-validate="True" name="entity_id"></select>
		<div class="form-group">
			<label>Тип должности:</label>
			<select id="selectTypePosition" data-validate="True" name="type_position"></select>
			<!-- <input class="form-control input-sm" type="text" data-validate="True" name="type_position" value="{{type_position}}"> -->
		</div>
		<div class="form-group">
			<label>Должность:</label>
			<input class="form-control input-sm" type="text" data-validate="True" name="position" value="{{position}}">
		</div>
		<div class="form-group interest1">
			<label>Основное место:</label>
			<input name="main" type="checkbox" {{# if main}}checked{{/if}}>
		</div>
		<div id="EntityInfo" class="collapse"></div>
	</form>
</script>


<!-- Шаблон для селектайза -->
<script id="selectizeTemplate" type="text/template">
	<div>
		<h5>{{full_name}}</h5>
		<p>{{address}}</p>
	</div>
</script>


<script id="EntityDataView" type="text/template">
	<div class="Table">
		<div class="rowTable">
			<div class="cellTable bold">Наименование организации:</div>
			<div class="cellTable">{{full_name}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Адрес:</div>
			<div class="cellTable">{{address}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Телефон:</div>
			<div class="cellTable">{{phone}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">E-mail:</div>
			<div class="cellTable">{{email}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Ответственное лицо:</div>
			<div class="cellTable">{{auth_person}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Сайт:</div>
			<div class="cellTable">{{site}}</div>
		</div>
		<div class="rowTable">
			<div class="cellTable bold">Виды деятельности:</div>
			<div class="cellTable">{{#each activities}}{{#if @last}}{{subcategories}}{{else}}{{subcategories}}, {{/if}}{{/each}}</div>
		</div>
	</div>

</script>
