<template lang="pug">
GridLayout.hide-overflow(v-if="responsiveDashboard && responsiveDashboard.widgets && width"
                        :layout.sync="responsiveDashboard.widgets"
                        :col-num="12"
                        :row-height="28.5"
                        :is-draggable="true"
                        :is-resizable="true"
                        :is-mirrored="false"
                        :autoSize="true"
                        :vertical-compact="true"
                        :margin="[6, 6]"
                        style="min-height: 90vh"
                        :use-css-transforms="true")
  GridItem(v-for="(item, i) of responsiveDashboard.widgets"
          :responsive="true"
          :x="item.x"
          :y="item.y"
          :w="item.w"
          :h="item.h"
          :i="item.i"
          :minH="item.minH"
          :minW="item.minW"
          drag-allow-from=".move-grid"
          dragIgnoreFrom="card-header"
          @moved="movedEvent"
          @resized="resizedEvent"
          :key="i"
          :class="{'collapsed-grid-item': isResizeDisable || item.collapse}")
    //- Widget(:item="Object.assign({}, item)")
    Widget.dshb-widget(:item="item" @onSetResizable="setResizable")
</template>

<script>
import VueGridLayout from 'vue-grid-layout';
import Widget from '@/components/widgets/WidgetWrapper';
import actionTypes from '@/store/actionTypes';

export default {
  props: {
    dashboard: {
      type: Object,
    },
  },
  data() {
    return {
      width: null,
      mobileLayout: null,
      isResizeDisable: false,
    };
  },
  components: {
    Widget,
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem,
  },
  beforeMount() {
    this.initMobileLayout();
  },
  mounted() {
    this.initWidth();
    window.addEventListener('resize', this.handleResize);
  },
  methods: {
    handleResize() {
      this.initWidth();
    },
    initMobileLayout() {
      if (!this.dashboard || !this.dashboard.widgets) {
        return;
      }
      const updatedDashboard = JSON.parse(JSON.stringify(this.dashboard));
      updatedDashboard.widgets.forEach((w) => {
        w.w = 12;
        w.x = 0;
      });
      this.mobileLayout = updatedDashboard;
    },
    initWidth() {
      this.width = document.body.clientWidth;
    },
    movedEvent() {
      this.$store.dispatch(actionTypes.dashboards.UPDATE_WIDGETS_POSITIONS, this.dashboard);
    },
    resizedEvent() {
      this.$store.dispatch(actionTypes.dashboards.UPDATE_WIDGETS_POSITIONS, this.dashboard);
    },
    getMobileDashboard() {
      const updatedDashboard = { ...this.dashboard };
      let y = 0;
      if (this.width < 1200) {
        updatedDashboard.widgets.forEach((w) => {
          y += 12;
          w.w = 12;
          w.x = 0;
          w.y = y;
        });
        return updatedDashboard;
      }
      return this.dashboard;
    },
    setResizable(status) {
      this.isResizeDisable = status;
    },
  },
  computed: {
    responsiveDashboard() {
      if (!this.dashboard) {
        return;
      }
      if (this.width < 900) {
        return this.mobileLayout;
      }
      return this.dashboard;
    },
  },
  watch: {
    dashboard: {
      immediate: true,
      deep: true,
      handler() {
        this.initMobileLayout();
        // this.initResizeArrow();
      },
    },
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
};
</script>

<style lang="sass">
.dshb-widget
  .card-body
    .echarts
      height: calc(100% - 70px)

.vue-grid-item
  .card
    .card-body
      padding: 0
</style>
