<template lang="pug">
.content.py-0.px-0.bg-white
  .card.border-0.border-bottom-0.mb-0
    .card-body.pt-3.border-0.bg-white(style="min-height: calc(100vh - 94px); position: relative; height: 100%;")
      v-chart.echart(:options="dataWidget"
                     :autosize="true")
</template>

<script>
import ECharts from 'vue-echarts';
import 'echarts/lib/chart/sankey';

export default {
  data() {
    return {
      dataWidget: {
        tooltip: {
          trigger: 'item',
          triggerOn: 'mousemove',
        },
        series: [
          {
            type: 'sankey',
            nodeWidth: 30,
            layoutIterations: 50,
            nodeGap: 20,
            draggable: false,
            data: [
              { name: 'CISCO ASA' },
              { name: 'CISCO ASR' },
              { name: 'CISCO ACE' },
              { name: 'Windows_1' },
              { name: 'Windows_2' },
              { name: 'Windows_3' },
              { name: 'Windows_ТП_1' },
              { name: 'Windows_ТП_2' },
              { name: 'Windows_ТП_3' },
              { name: 'Windows Server' },
              { name: 'Suricata IDS' },
              { name: 'MS Azure' },
              { name: 'Linux Server' },
              { name: 'АСУ ТП' },
              { name: 'Database SQL' },
              { name: 'PostgreSQL' },
              { name: 'ForcePoint' },
              { name: 'FireEye' },
              { name: 'Kaspersky SC' },
              { name: 'Imperva' },
              { name: 'Syslog' },
              { name: 'WMI' },
              { name: 'ODBC' },
              { name: 'Netflow' },
              { name: 'Log File' },
              { name: 'DATA COLLECTOR' },
              { name: 'Сервера' },
              { name: 'Рабочие станции' },
              { name: 'Средства защиты' },
              { name: 'Сетевые устройства' },
              { name: 'Базы данных' },
            ],
            links: [

              { source: 'Сетевые устройства', target: 'CISCO ASA', value: '15' },
              { source: 'CISCO ASA', target: 'Syslog', value: '15' },
              { source: 'CISCO ASA', target: 'Netflow', value: '15' },

              { source: 'Сетевые устройства', target: 'CISCO ASR', value: '20' },
              { source: 'CISCO ASR', target: 'Syslog', value: '20' },
              { source: 'CISCO ASR', target: 'Netflow', value: '15' },

              { source: 'Сетевые устройства', target: 'CISCO ACE', value: '10' },
              { source: 'CISCO ACE', target: 'Syslog', value: '10' },

              { source: 'Средства защиты', target: 'Suricata IDS', value: '20' },
              { source: 'Suricata IDS', target: 'Syslog', value: '20' },
              { source: 'Suricata IDS', target: 'Netflow', value: '30' },

              { source: 'Средства защиты', target: 'ForcePoint', value: '30' },
              { source: 'ForcePoint', target: 'Syslog', value: '30' },

              { source: 'Syslog', target: 'DATA COLLECTOR', value: '180' },


              { source: 'Рабочие станции', target: 'Windows_1', value: '20' },
              { source: 'Windows_1', target: 'WMI', value: '20' },

              { source: 'Рабочие станции', target: 'Windows_2', value: '30' },
              { source: 'Windows_2', target: 'WMI', value: '30' },

              { source: 'Рабочие станции', target: 'Windows_3', value: '25' },
              { source: 'Windows_3', target: 'WMI', value: '25' },

              { source: 'Сервера', target: 'Linux Server', value: '20' },
              { source: 'Linux Server', target: 'Syslog', value: '20' },

              { source: 'Сервера', target: 'Windows Server', value: '30' },
              { source: 'Windows Server', target: 'WMI', value: '30' },

              { source: 'WMI', target: 'DATA COLLECTOR', value: '180' },

              { source: 'Средства защиты', target: 'Suricata IDS', value: '20' },
              { source: 'Suricata IDS', target: 'Syslog', value: '20' },
              { source: 'Suricata IDS', target: 'Netflow', value: '30' },

              { source: 'Средства защиты', target: 'ForcePoint', value: '30' },
              { source: 'ForcePoint', target: 'Syslog', value: '30' },

              { source: 'Netflow', target: 'DATA COLLECTOR', value: '60' },

              { source: 'Средства защиты', target: 'FireEye', value: '30' },
              { source: 'FireEye', target: 'ODBC', value: '30' },

              { source: 'Средства защиты', target: 'Imperva', value: '30' },
              { source: 'Imperva', target: 'ODBC', value: '30' },

              { source: 'Средства защиты', target: 'Kaspersky SC', value: '30' },
              { source: 'Kaspersky SC', target: 'ODBC', value: '30' },

              { source: 'Log File', target: 'DATA COLLECTOR', value: '30' },


              { source: 'Базы данных', target: 'Database SQL', value: '20' },
              { source: 'Database SQL', target: 'ODBC', value: '20' },

              { source: 'Базы данных', target: 'PostgreSQL', value: '30' },
              { source: 'PostgreSQL', target: 'ODBC', value: '30' },

              { source: 'ODBC', target: 'DATA COLLECTOR', value: '125' },

              { source: 'Сервера', target: 'MS Azure', value: '20' },
              { source: 'MS Azure', target: 'ODBC', value: '20' },

              { source: 'АСУ ТП', target: 'Windows_ТП_1', value: '20' },
              { source: 'Windows_ТП_1', target: 'WMI', value: '20' },

              { source: 'АСУ ТП', target: 'Windows_ТП_2', value: '20' },
              { source: 'Windows_ТП_2', target: 'WMI', value: '20' },

              { source: 'АСУ ТП', target: 'Windows_ТП_3', value: '20' },
              { source: 'Windows_ТП_3', target: 'WMI', value: '20' },
            ],
            focusNodeAdjacency: 'allEdges',
            itemStyle: {
              normal: {
                borderWidth: 0,
                borderColor: '#aaa',
              },
            },
            lineStyle: {
              normal: {
                color: 'source',
                curveness: 0.5,
              },
            },
          },
        ],
      },
    };
  },
  components: {
    'v-chart': ECharts,
  },
};
</script>

<style lang="sass">
  .echarts
    width: 100%
    height: 600px
</style>
