<template lang="pug">

.content.py-0.px-0(@keyup.esc="stopSearch" tabindex="0")
  .card.border-0.border-bottom-0.mb-0
    .card-body.pt-3.border-0.bg-white
      SearchHistory(@onSearch="search"
                    :progress="progress"
                    :initedText="initedSearchText"
                    :history="cache.historyTasks"
                    :enableEmptySearch="true"
                    @onResetHistory="resetHistory"
                    :i18n="lang")

      .d-md-flex.my-3
        .mr-5(@click="toggleFilters")
          a.text-default.pointer
            i.icon-filter4.mr-2
            | {{ $t('filters') }}
        .btn-group.mr-5(:class="{show: showZoom}"
                        v-on-clickaway="closeDropdownZoom")
          | {{ $t('zoom') }}:
          .ml-2.dropdown-toggle(@click="toggleDropdownZoom")
            a(href='#') {{ $t('auto') }}
          a(href='#')
          .dropdown-menu.border-0.rounded-0.dropdown-menu-bottom(:class="{show: showZoom}"
                                                                 @mouseover="setBlockZoom(true)"
                                                                 @mouseleave="setBlockZoom(false)")
            .dropdown-item
              RadioButton(:checked="!customZoom"
                          :text="$t('auto')"
                          @onCheck="setZoomMode(false)")
            .dropdown-item.disabled
              RadioButton(:checked="customZoom"
                          :text="$t('custom')")
                          // @onCheck="setZoomMode(true)")
              .dropdown-divider
            template(v-if="customZoom")
              .dropdown-divider
              .form-group.mb-2(style="padding: 0px 8px")
                label.mb-0 {{ $t('zoom') }}
                .tokenfield.form-control
                  input.form-control.rounded-0.tokenfield-typeahead(type="number"
                                                                    v-model="filters.zoom"
                                                                    :placeholder="$t('zoom')")
        .mr-5(@click="stopSearch")
          a(:class="searchData.progress > 0 && searchData.progress < 100 ? 'link-color pointer': 'text-muted'")
            i.icon-stop2.mr-2
            | {{ $t('stopSearch') }}

      .row.my-3(v-if="showFilters")
        .col-md-3
          .form-group.mb-2
            label.mb-0 {{ $t('srcip') }}
            .tokenfield.form-control
              input.form-control.rounded-0.tokenfield-typeahead(type="text"
                                                                v-model="filters.srcip"
                                                                :placeholder="$t('srcip')")
          .form-group.mb-2
            label.mb-0 {{ $t('deviceIp') }}
            .tokenfield.form-control
              input.form-control.rounded-0.tokenfield-typeahead(type='text'
                                                                v-model="filters.device_ip"
                                                                :placeholder="$t('deviceIp')")
          .form-group.mb-2
            label.mb-0 {{ $t('protocol') }}
            .tokenfield.form-control
              input.form-control.rounded-0.tokenfield-typeahead(type='text'
                                                                v-model="filters.protocol"
                                                                :placeholder="$t('protocol')")
        .col-md-3
          .form-group.mb-2
            label.mb-0 {{ $t('status') }}
            .tokenfield.form-control
              input.form-control.rounded-0.tokenfield-typeahead(type='text'
                                                                v-model="filters.status"
                                                                :placeholder="$t('status')")
          .form-group.mb-2
            label.mb-0 {{ $t('srcuser') }}
            .tokenfield.form-control
              input.form-control.rounded-0.tokenfield-typeahead(type='text'
                                                                v-model="filters.srcuser"
                                                                :placeholder="$t('srcuser')")
          .form-group.mb-2
            label.mb-0 {{ $t('action') }}
            .tokenfield.form-control
              input.form-control.rounded-0.tokenfield-typeahead(type='text'
                                                                v-model="filters.action"
                                                                :placeholder="$t('action')")
    Echart(:dataWidget="dataWidget"
           style="height: 150px"
           ref="eventBar"
           @onClick="selectChartChunk"
           @onDblclick="scaleZoom")
    Faq#faq(v-if="!alreadySearched"
        ref="faq"
        :style="{'min-height': `${faqHeight}px`}")
    Table.px-0.py-0.mt-3(
      v-if="alreadySearched"
      :searchProgress="progress"
      :initialConfig="eventsConfig"
      :rows="eventsData"
      :rawRows="rawEventsData"
      :columns="columns"
      :hideOnMobile="hideOnMobile"
      :subHeaderOffset="subHeaderOffset"
      :title="$t('events')"
      :columnsWidth="[10, 10, 80]"
      @onConfigChange="changeTableConfig"
      @onFiltersReset="resetFilters"
      @onSort="sortBy"
    )
      .table-progress-bar(v-if="searchData.progress < 100 && searchData.progress > 0 && !cancelSearch"
                          slot="subheader"
                          :style="{width: searchData.progress + '%'}")
        //- .table-progress-bar(slot="subheader"
                            style="width: 20%")
      template(slot="header-left")
        .mx-4
          p.text-muted {{ searchData.progress }}%
        .mx-4
          p.text-muted {{ $t('founded') }}: {{ founded }} {{ $t('for') }} {{ foundedTime }} {{ $t('sec') }}
      template(slot="header-right")
        .mr-4.ml-auto
          DropdownMenu(:title="$t('onPage') + ': ' + pagination.limit"
                        :opinions="[50, 100, 200, 500]"
                        :selected="pagination.limit"
                        @onSelect="setLimit")
        .mr-4(:class="{blink: (loading && !blinkBlock)}")
          Pagination(:pagination="optionalPagination"
                      @onNavigate="navigateToEvents")
      template(slot="additional-params")
        a.dropdown-item(@click="reverseEnableSearchHightlight")
          .form-check.form-check-inline.form-check-switchery
            input.toggle-offset(type='checkbox' data-switchery='true' style='display: none;')
            span.switchery.switchery-default(:class="{ deactive: !eventsConfig.enableSearchHightlight, active: eventsConfig.enableSearchHightlight }")
              small(style='')
            | {{ $t('searchHighlighting') }}
      div.text-right(slot="table-footer")
        Pagination(:pagination="pagination" @onNavigate="navigateToEvents")
</template>

<script>
import moment from 'moment';
import { mixin as clickaway } from 'vue-clickaway';
import ECharts from 'vue-echarts';
import 'echarts/lib/chart/line';

import SearchHistory from '@/components/Search/SearchHistory';
import API from '@/services/api';
import Table from '@/components/Table/TableWrapper';
import Pagination from '@/components/Pagination';
import Loading from '@/components/Loading';
import Echart from '@/components/widgets/widget/Echart';
import RadioButton from '@/components/UI/RadioButton';
import Faq from '@/components/Faq/Faq';
import DropdownMenu from '@/components/UI/DropdownMenu';
import SearchHightlighterMixin from '@/components/Search/SearchHightlighterMixin';
import FakeTableContentMixin from '@/components/Table/FakeTableContentMixin';

import actionTypes from '@/store/actionTypes';

const defaultDataWIdget = {
  legend: {
    data: ['Время', 'Количество'],
  },
  tooltip: {
    trigger: 'axis',
    backgroundColor: 'rgba(0,0,0,0.75)',
    padding: [10, 15],
    borderRadius: 0,
    textStyle: {
      fontSize: 13,
      fontFamily: 'Roboto, sans-serif',
    },
    axisPointer: {
      type: 'shadow',
      shadowStyle: {
        color: 'rgba(0,0,0,0.025)',
      },
    },
    // formatter: '{b0}: {c0}<br />: {c1}'
  },
  dataZoom: {
    show: false,
    start: 0,
    end: 100,
  },
  xAxis: [
    {
      type: 'category',
      max: 10,
      boundaryGap: true,
      data: ['2018-01-01T03:00', '2018-01-31T03:00', '2018-03-02T03:00', '2018-04-01T03:00', '2018-05-01T03:00', '2018-05-31T03:00', '2018-06-30T03:00', '2018-07-30T03:00', '2018-08-29T03:00', '2018-09-28T03:00', '2018-10-28T03:00', '2018-11-27T03:00'],
      axisLine: {
        lineStyle: {
          color: '#999',
        },
      },
      splitLine: {
        show: true,
        lineStyle: {
          color: '#eee',
          type: 'dashed',
        },
      },
    },
  ],
  yAxis: [
    {
      type: 'value',
      scale: true,
      max: 100,
      min: 0,
      boundaryGap: [10, 10],
      axisLine: {
        lineStyle: {
          color: '#999',
        },
      },
      splitLine: {
        lineStyle: {
          color: '#eee',
        },
      },
      splitArea: {
        show: false,
        areaStyle: {
          color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)'],
        },
      },
    },
  ],
  grid: {
    left: '1%',
    right: '1%',
    bottom: '3%',
    top: '4%',
    containLabel: true,
  },
  series: [
    {
      color: '#60d665',
      name: 'Событий',
      type: 'bar',
      xAxisIndex: 0,
      yAxisIndex: 0,
      data: [],
      large: true,
      animation: false,
      maxWidth: '25%',
      // progressive: 10000,
      // largeThreshold: 10000,
      // progressiveChunkMode : 'sequential',
      // markLine: {
      //   data: [
      //     { type: 'average', name: 'Среднее' },
      //   ],
      // },
    },
  ],
  categoryAxis: {
    axisLabel: {
      color: '#333',
    },
    axisLine: {
      lineStyle: {
        color: '#999',
      },
    },
    splitLine: {
      show: true,
      lineStyle: {
        color: '#eee',
        type: 'dashed',
      },
    },
  },
  valueAxis: {
    axisLabel: {
      color: '#333',
    },
    axisLine: {
      lineStyle: {
        color: '#999',
      },
    },
    splitLine: {
      show: true,
      lineStyle: {
        color: '#eee',
        type: 'dashed',
      },
    },
    splitArea: {
      show: false,
      areaStyle: {
        color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)'],
      },
    },
  },
  logAxis: {
    axisLabel: {
      color: '#333',
    },
    axisLine: {
      lineStyle: {
        color: '#999',
      },
    },
    splitLine: {
      show: true,
      lineStyle: {
        color: '#eee',
        type: 'dashed',
      },
    },
    splitArea: {
      show: true,
      areaStyle: {
        color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)'],
      },
    },
  },
  timeAxis: {
    axisLabel: {
      color: '#333',
    },
    axisLine: {
      lineStyle: {
        color: '#999',
      },
    },
    splitLine: {
      show: true,
      lineStyle: {
        color: '#eee',
        type: 'dashed',
      },
    },
    splitArea: {
      show: false,
      areaStyle: {
        color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)'],
      },
    },
  },
  radar: {
    itemStyle: {
      normal: {
        borderWidth: 2,
      },
    },
    areaStyle: {
      normal: {
        opacity: 0.25,
      },
    },
  },
  bar: {
    itemStyle: {
      normal: {
        borderWidth: 2,
      },
    },
    areaStyle: {
      normal: {
        opacity: 0.25,
      },
    },
  },
  animationDuration: 0,
};
export default {
  name: 'EventsView',
  data() {
    return {
      parentMounted: false,
      selected: null,
      cacheSelected: null,
      cancelSearch: false,
      error: null,
      subHeaderOffset: false,
      columns: [
        'msgtime',
        'deviceIp',
        'rawLog',
      ],
      hideOnMobile: [],
      showFilters: false,
      dataWidget: { ...defaultDataWIdget },
      showZoom: false,
      customZoom: false,
      blockZoom: false,
      initedSearchText: '',
      selectedChunkIndex: null,
      enableSearchHightlight: true,
      cachePagination: null,
      blinkBlock: false,
    };
  },
  mixins: [
    clickaway,
    SearchHightlighterMixin,
    FakeTableContentMixin,
  ],
  components: {
    Table,
    Pagination,
    Loading,
    SearchHistory,
    Echart,
    RadioButton,
    Faq,
    DropdownMenu,
  },
  computed: {
    totalFound() {
      return this.$store.getters.getEventsSearchData.total;
    },
    progress() {
      if (this.cancelSearch) {
        return null;
      }
      return this.searchData.progress;
    },
    lang() {
      return this.$cookies.get('lang') || 'ru';
    },
    searchData() {
      return this.$store.getters.getEventsSearchData;
    },
    pagination() {
      return this.$store.getters.getEventsPagination;
    },
    selectedChunk() {
      return this.$store.getters.getEventsSelectedChunk;
    },
    filters() {
      return this.$store.getters.getEventsFilters;
    },
    cache() {
      return this.$store.getters.getEventsCache;
    },
    rawEventsData() {
      if (!this.parentMounted) {
        return [];
      }
      return this.$store.getters.getEventsData;
    },
    eventsData() {
      if (!this.rawEventsData || this.loading) {
        return this.initFakeTableContent();
      }
      if (this.eventsConfig && this.eventsConfig.enableSearchHightlight) {
        return this.hightlightСoincidences(this.rawEventsData, this.filters.search);
      }
      return this.rawEventsData;
    },
    alreadySearched() {
      return this.$store.getters.getEventsAlreadySearched;
    },
    founded() {
      return this.countConverter(this.searchData.total);
    },
    faqHeight() {
      return window.innerHeight - 437;
    },
    optionalPagination() {
      if (this.cachePagination && !this.pagination.next && !this.pagination.previous) {
        return this.cachePagination;
      }
      return this.pagination;
    },
    loading() {
      return this.$store.getters.getEventsLoading;
    },
    foundedTime() {
      if (!this.searchData.elapsedTime) {
        return 0;
      }
      return this.searchData.elapsedTime;
    },
    personalVisualConfig() {
      return this.$store.getters.getPersonalVisualConfig;
    },
    eventsConfig() {
      return this.personalVisualConfig.events;
    },
    searchedChunks() {
      if (!this.searchData) {
        return null;
      }
      return this.searchData.chunks;
    },
  },
  methods: {
    countConverter(c) {
      const res = [];
      `${c}`.split('').reverse().forEach((v, i) => {
        if (i % 3 === 0 && i !== 0) {
          res.unshift(' ');
        }
        res.unshift(v);
      });
      return res.join('');
    },
    changeChunk(event) {
      // установка поискового чанка, далее запрос по данным этого чанка
      this.selectChunk(this.searchData.chunks[event.target.value]);
    },
    selectChunk(chunk) {
      this.$store.commit(actionTypes.events.SELECT_EVENTS_CHUNK, chunk);
      this.fetchEvents();
    },
    selectChartChunk(params) {
      this.unsetBlinkBlock();
      const { dataIndex } = params;
      if (this.selectedChunkIndex === dataIndex) {
        return;
      }
      this.cachePagination = { ...this.pagination };
      this.resetPagination();

      this.setSelectedChunkIndex(dataIndex);
      this.initChart();
      this.selectChunk(this.searchData.chunks[dataIndex]);
      this.$refs.eventBar.$refs.echart.refresh();
    },
    resetSearchData() {
      this.cacheSelected = null; // TODO: глянуть что это
      this.cancelSearch = false;
      if (!this.alreadySearched) {
        this.$store.commit(actionTypes.events.RESET_EVENTS_PAGINATION);
      }
      this.$store.commit(actionTypes.events.SELECT_EVENTS_CHUNK, null);
      this.$store.commit(actionTypes.events.RESET_EVENTS_SEARCH_DATA);
      this.initFakeTableContent();
    },
    resetPagination() {
      this.$store.commit(actionTypes.events.RESET_EVENTS_PAGINATION);
    },
    initSearch() {
      // this.showFaq = false;
      this.resetSearchData();
      this.runSearch();
    },
    runSearch() {
      this.$store.dispatch(actionTypes.events.SEARCH_EVENTS);
    },
    async stopSearch() {
      this.cancelSearch = true;
      setTimeout(this.initChart, 1);
      await this.$store.dispatch(actionTypes.events.STOP_SEARCH);
    },
    fetchEvents() {
      this.$store.dispatch(actionTypes.events.FETCH_SELECTED_EVENTS);
    },
    getHistoryTasks() {
      this.$store.dispatch(actionTypes.events.LOAD_EVENTS_HISTORY);
    },
    loadChunksInfo() {
      this.$store.dispatch(actionTypes.events.LOAD_EVENTS_CHUNK_INFO);
    },
    search({ searchText, dateRange }) {
      this.unsetBlinkBlock();
      this.showHistory = false;
      // TODO: отключить форматирование, передать пропсом в компонент поиска.
      const dateFormat = 'YYYY-MM-DD HH:mm:ss';
      const zoom = this.customZoom ? this.filters.zoom : this.calculateZoom(dateRange);
      this.$store.commit(actionTypes.events.SET_EVENTS_FILTERS, {
        ...this.filters,
        search: searchText,
        zoom,
        begin: moment.utc(dateRange.start).format(dateFormat),
        end: moment.utc(dateRange.end).format(dateFormat),
      });
      this.initSearch();
    },
    calculateZoom(dateRange) {
      const ms = 1000;
      const second = 1;
      const minute = second * 60;
      const hour = minute * 60;
      const day = hour * 24;
      const week = day * 7;
      const month = day * 31;
      const year = month * 12;
      const period = Math.abs(new Date(dateRange.end) - new Date(dateRange.start)) / ms;
      if (period < 30 * second) {
        return second;
      }
      if (period <= minute) {
        return 2 * second;
      }
      if (period <= hour) {
        return minute;
      }
      if (period <= day) {
        return hour;
      }
      if (period <= week) {
        return day;
      }
      if (period <= month) {
        return day;
      }
      if (period <= 6 * month) {
        return week;
      }
      if (period < year) {
        return month;
      }
      if (period < 10 * year) {
        return 6 * month;
      }
      return year;
    },
    resetFilters() {
      this.stopSearch();
      this.$store.commit(actionTypes.events.RESET_EVENTS_FILTERS);
    },
    toggleFilters() {
      this.showFilters = !this.showFilters;
    },
    initChart() {
      if ((!this.searchData || !this.searchData.chunks)) {
        return;
      }
      this.dataWidget.xAxis[0].max = this.searchData.chunks.length;
      this.dataWidget.yAxis[0].max = 10;
      this.dataWidget.series[0].data = [];
      this.dataWidget.xAxis[0].data = [];
      this.searchData.chunks.forEach((c, i) => {
        if (c.rows >= this.dataWidget.yAxis[0].max) {
          this.dataWidget.yAxis[0].max = this.getMaxY(c.rows);
        }
        this.dataWidget.xAxis[0].data.push(c.begin);
        this.dataWidget.series[0].data.push(i === this.selectedChunkIndex
          ? { value: c.rows, itemStyle: { color: '#68f26e' } }
          : c.rows);
      });
    },
    getMaxY(size) {
      const sizeLen = Math.pow(10, `${size}`.length - 1);
      size = Math.ceil(size / sizeLen) * sizeLen;
      return size;
    },
    toggleDropdownZoom() {
      this.showZoom = !this.showZoom;
    },
    closeDropdownZoom() {
      if (!this.blockZoom) {
        this.showZoom = false;
      }
    },
    setZoomMode(mode) {
      this.customZoom = mode;
    },
    setBlockZoom(mode) {
      this.blockZoom = mode;
    },
    initFakeTableContent() {
      return this.initFakeContent(this.columns);
    },
    setHistoryShowing(showStatus) {
      this.showHistory = showStatus;
    },
    navigateToEvents({ offset, limit }) {
      this.blinkBlock = true;
      this.$store.commit(actionTypes.events.SET_EVENTS_PAGINATION, {
        ...this.pagination,
        offset,
        limit,
      });
      this.initFakeTableContent();
      this.fetchEvents();
    },
    resetHistory() {
      this.$store.commit(actionTypes.events.RESET_EVENTS_CACHE);
    },
    setLimit({ value }) {
      this.$store.commit(actionTypes.events.SET_EVENTS_PAGINATION, { ...this.pagination, limit: value });
      this.fetchEvents();
    },
    setSelectedChunkIndex(i) {
      this.selectedChunkIndex = i;
    },
    scaleZoom(params) {
      const { dataIndex } = params;
      const { begin, end } = this.searchData.chunks[dataIndex];
      this.search({ searchText: this.filters.search, dateRange: { start: begin, end } });
    },
    unsetBlinkBlock() {
      this.blinkBlock = false;
    },
    sortBy(c) {
      this.$store.commit(actionTypes.events.SET_EVENTS_SORT_PARAM, c);
    },
    changeTableConfig(c) {
      let updatedConfig = { ...this.personalVisualConfig };
      if (!updatedConfig.assets) {
        updatedConfig.events = {};
      }
      updatedConfig = {
        ...updatedConfig,
        events: {
          ...updatedConfig.events,
          ...c,
        },
      };
      this.$store.commit(actionTypes.ui.SET_PERSONAL_VISUAL_CONFIG, updatedConfig);
      this.$store.dispatch(actionTypes.ui.SAVE_PERSONAL_VISUAL_CONFIG);
    },
    reverseEnableSearchHightlight() {
      const updatedConfig = {
        ...this.personalVisualConfig,
        events: {
          ...this.eventsConfig,
          enableSearchHightlight: !this.eventsConfig.enableSearchHightlight,
        },
      };
      this.$store.commit(actionTypes.ui.SET_PERSONAL_VISUAL_CONFIG, updatedConfig);
      this.$store.dispatch(actionTypes.ui.SAVE_PERSONAL_VISUAL_CONFIG);
    },
    tryInitSearchData() {
      if (this.searchedChunks.length && this.searchData) {
        const chunkIndex = this.searchedChunks.findIndex(v => v.rows);
        if (chunkIndex >= 0) {
          this.setSelectedChunkIndex(chunkIndex);
          this.selectChunk(this.searchedChunks[chunkIndex]);
        }
      }
    },
  },
  watch: {
    searchedChunks: {
      handler(n) {
        if (!this.searchedChunks) {
          return;
        }
        if (!this.selectedChunk && this.searchedChunks.length) {
          const chunk = this.searchedChunks[this.searchedChunks.length - 1];
          if (chunk.rows) {
            this.selectChunk(chunk);
            this.setSelectedChunkIndex(this.searchedChunks.length - 1);
          }
        }
        if (this.progress == 100) {
          this.getHistoryTasks();
          this.initChart();
        }
      },
      deep: true,
    },
    loading() {
      // this.blinkBlock = false;
    },
  },
  beforeMount() {
    this.initFakeTableContent();
  },
  created() {
    this.getHistoryTasks();
  },
  mounted() {
    this.tryInitSearchData();
    this.initChart();
    setTimeout(() => {
      this.parentMounted = true;
    }, 1);
  },
  beforeDestroy() {
  },
};
</script>


<style lang="sass">
.table-progress-bar
  height: 2px
  background: #181b1d
  width: 0%
</style>
