<template lang="pug">
  WorkinkProcess
</template>

<script>
import WorkinkProcess from '@/components/WorkingProcess';

export default {
  name: 'AnalysisPartitions',
  components: {
    WorkinkProcess,
  },
};
</script>
