<script id="planning_work_type1" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>

	<div class="btn-group hidden" data-toggle="buttons" id="buttonTypeProject" >
	  <label class="btn btn-primary">
		  <input type="radio" name="options" id="buttonTypeProjectAll"> Все
	  </label>
	</div>

    <table id="table"></table>
	<div id="managers_region" style="padding-top: 40px;"></div>
</script>

<script type="text/template" id="managers_table_view">
	<h4>Назначение на {{month}}</h4>
	<button class="btn btn-default btn-sm" id="addManager" style="float: right; margin-bottom: 10px;">Добавить</button>
	<table id="table_managers"></table>
</script>

<script type="text/template" id="add_manager_view">
	<form>
		<div class="form-group">
			<label>Менеджер:</label>
			<select id="SelectManager" name="manager"></select>
		</div>
		<div class="form-group">
			<label>Ежемесячный план поступления денежных средств (доступно - {{row.month_plan}}):</label>
			<div class="input-group spinner" data-trigger="spinner" id="spinner1">
				<input class="form-control input-sm text-center" type="text" data-rule="quantity" name="month_plan" value="{{month_plan}}">
				<span class="input-group-addon input-sm">
					<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
					<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>Ежемесячный план поступления заявок:</label>
			<div class="input-group spinner" data-trigger="spinner" id="spinner2">
				<input class="form-control input-sm text-center" type="text" data-rule="quantity" name="plan_app_count" value="{{plan_app_count}}">
				<span class="input-group-addon input-sm">
					<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
					<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>План обработки базы клиентов:</label>
			<div class="input-group spinner" data-trigger="spinner" id="spinner3">
				<input class="form-control input-sm text-center" type="text" data-rule="quantity" name="plan_processing_db" value="{{plan_processing_db}}">
				<span class="input-group-addon input-sm">
					<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
					<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
				</span>
			</div>
		</div>
	</form>
</script>


<script type="text/template" id="manager_plan_table_view">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>
    <table id="table_managers"></table>
</script>