<template lang='pug'>
  .content-wrapper.window-max-height
    vue-particles(v-if="showParticles"
                  color='#f0f0f0'
                  style='position: fixed; z-index: 0; height: 100vh; width: 100%;'
                  :linesDistance='100'
                  :moveSpeed='1'
                  :particleSize='2'
                  :hoverEffect='true'
                  :clickEffect='true'
                  hoverMode='grab'
                  :linesWidth='1'
                  :lineOpacity='0.7'
                  :particlesNumber='120')

    router-view
    .p-20#particles-managment(@click="toggleParticles")
      a.text-secondary {{ !showParticles ? $t('turnOn') : $t('turnOff') }} {{ $t('animation') }}.
</template>

<script>
import Login from '@/views/Auth/Login';

export default {
  data() {
    return {
      showParticles: true,
    };
  },
  components: {
    Login,
  },
  methods: {
    toggleParticles() {
      this.showParticles = !this.showParticles;
      if (!this.showParticles) {
        this.destroyParticles();
      }
    },
  },
};
</script>

<style lang="sass">
  div.logo
    display: block
    background: url('/static/images/logo_dark.png')
    height: 26px
    width: 180px
    background-size: cover
    margin: auto
    margin-bottom: 110px;
  .window-max-height
    min-height: 100vh
  .auth-success
    transform: scale(0.89)
    margin-top: 0
    margin-bottom: 0.9rem

  .p-20
    padding: 20px
  #particles-managment
    cursor: pointer
    z-index: 10
    position: absolute
    right: 0px
    bottom: 0px
</style>
