<template lang="pug">
    .content.d-flex.justify-content-center.align-items-center
      Loading(v-if='authLodaing')
      div.auth-wrapper(v-else)
        form.login-form(autocomplete="on")
          .card.mb-0.border-top-2.border-top-slate.rounded-0(:class="{ shake: shake }")
            Login(v-if="!otp"
                  ref="login"
                  :error="error"
                  :blockSending="blockSending"
                  :success="success"
                  :isTermsOfUseAccepted="tmpTermsOfUseAccepted"
                  :isTermsOfUseVisible="!isTermsOfUseAccepted"
                  :resetPassword="resetPassword"
                  :banTime="banTime"
                  @shakeForm="shakeForm"
                  @onAuth="auth"
                  @setTermsOfUse="setTermsOfUse"
                  @onCountDownTickBan="onCountDownTickBan")
            Verification(v-else
                        ref="verification"
                        :success="success"
                        :error="error"
                        :brokerInfo="otp"
                        :blockSending="blockSending"
                        :onCountTick="onCountdownTick"
                        :blockResendTime="blockResendTime"
                        :onChangeCodeLifetime="changeCodeLifetime"
                        @onBack="resetLogin"
                        @onResendOtp="resendOtp"
                        @onVerifyOtp="verifyOtp")

            CountdownTimer(v-show="otp" v-if="blockResendTime > 0" :time="blockResendTime" @onCountdownTick="onCountdownTickResend")
              span {{ $t('untilResend') }}

            CountdownTimer(v-if="blockTime > 0" :time="blockTime" @onCountdownTick="onCountdownTick")
              span {{ $t('untilUnblock') }}
</template>

<script>
import API from '@/services/api';
import Loading from '@/components/Loading';
import AuthMixin from '@/mixins/AuthMixin';
import audio from '@/services/apiAudio';

import Login from '@/components/Auth/Login';
import Verification from '@/components/Auth/Verification';
import CountdownTimer from '@/components/CountdownTimer';
import actionTypes from '../../store/actionTypes';

export default {
  data() {
    return {
      username: null,
      password: null,
      loading: false,
      resetField: false,
      error: null,
      shake: false,
      success: false,
      blockSending: false,
      waitMessage: '',
      isTermsOfUseAccepted: false,
      tmpTermsOfUseAccepted: false,
      resetPassword: false,
      unsubscribeStore: () => {},
    };
  },
  mixins: [AuthMixin],
  components: {
    Loading,
    Login,
    Verification,
    CountdownTimer,
  },
  methods: {
    tryAuth() {
      this.error = null;
      this.loading = true;
      API.getProjectStatus().then((rqst) => {
        if (rqst.data.projectStatus) {
          return;
        }
        this.$router.push('/init-project');
      });
    },
    auth(userData) {
      // Сохранение для 2фа.
      this.resetPassword = false;
      this.username = userData.username;
      this.password = userData.password;
      this.$store.dispatch(actionTypes.auth.TRY_REMOTE_AUTH, userData);
    },
    onAuthError() {
      switch (this.authError) {
        case 'IncorrectCode':
          if (this.otp) {
            this.shakeForm();
          }
          this.$store.commit(actionTypes.auth.SET_OTP, {});
          this.resetOtpField();
          break;
        case 'ManyAttempts':
          this.shakeForm();
          this.setBlockSending();
          this.resetAuth();
          this.setError(this.$t('tooManyRequestsError'));
          break;
        case 'BlockResend':
          break;
        case null:
          break;
        default:
          this.resetPassword = true;
          this.$refs.login.$refs.password = '';
          this.error = this.authError;
          this.shakeForm();
      }
    },
    resetAuth() {
      this.username = null;
      this.password = null;
    },
    onCountdownTick(time) {
      this.$store.commit(actionTypes.auth.SET_BLOCK_TIME, time);
      if (this.blockTime <= 0) {
        this.$store.commit(actionTypes.SET_ERROR, null);
        this.blockSending = false;
      }
    },
    onCountdownTickResend(time) {
      this.$store.commit(actionTypes.auth.SET_BLOCK_RESEND_TIME, time);
    },
    setBlockSending() {
      this.blockSending = true;
      // TODO: установить разблокировку по истечении времени.
    },
    resetOtpField() {
      if (this.$refs.verification) {
        this.$refs.verification.resetField();
      }
    },
    onAuthSuccess() {
      this.$cookies.set('termsOfUse', !this.isTermsOfUseAccepted);
      this.success = true;
      audio.success.play();
      setTimeout(() => {
        this.$router.push('/analytics');
        this.resetAuth();
      }, 700);
    },
    shakeForm() {
      setTimeout(() => {
        audio.error.play();
      }, 1);
      this.shake = true;
      setTimeout(() => {
        this.shake = false;
      }, 700);
    },
    destroyParticles() {
      if (window.pJSDom[0]) {
        window.pJSDom[0].pJS.fn.vendors.destroypJS();
        window.pJSDom = [];
      }
    },
    verifyOtp(otp) {
      const userData = {
        username: this.username,
        password: this.password,
        otp,
      };
      this.$store.dispatch(actionTypes.auth.TRY_REMOTE_AUTH, userData);
    },
    resetLogin() {
      this.$store.dispatch(actionTypes.auth.RESET);
      this.$store.commit(actionTypes.auth.SET_OTP, null);
      this.username = null;
      this.password = null;
    },
    resendOtp() {
      const userData = {
        username: this.username,
        password: this.password,
        otpReset: true,
      };
      this.$store.dispatch(actionTypes.auth.TRY_REMOTE_AUTH, userData);
    },
    setTermsOfUse() {
      this.tmpTermsOfUseAccepted = true;
    },
    initTermsOfUse() {
      this.isTermsOfUseAccepted = !!this.$cookies.get('termsOfUse');
      this.tmpTermsOfUseAccepted = this.isTermsOfUseAccepted;
    },
    changeCodeLifetime(time) {
      this.$store.commit(actionTypes.auth.SET_OTP, { ...this.otp, codeLifetime: time });
    },
    setError(errorMsg) {
      this.error = errorMsg;
    },
    onCountDownTickBan(time) {
      this.$store.commit(actionTypes.auth.SET_BAN_TIME, time);
      if (time <= 0) {
        this.blockSending = false;
        this.$store.dispatch(actionTypes.auth.RESET);
      }
    },
  },
  computed: {
    otp() {
      return this.$store.getters.getOtp;
    },
    blockTime() {
      return this.$store.getters.getBlockTime;
    },
    authError() {
      return this.$store.getters.getAuthError;
    },
    blockResendTime() {
      return this.$store.getters.getBlockResendTime;
    },
    banTime() {
      return this.$store.getters.getBanTime;
    },
  },
  beforeMount() {
    this.initTermsOfUse();
  },
  destroyed() {
    this.unsubscribeStore();
    this.destroyParticles();
  },
  watch: {
    authError() {
      if (!this.authError) {
        this.error = null;
      }
    },
  },
};
</script>
