<template lang="pug">
.content.d-flex.justify-content-center.align-items-center
  div.auth-wrapper
    form.login-form(autocomplete="on")
      .card.mb-0.border-top-2.border-top-slate.rounded-0
        .card-body(v-if="isPasswordReset")
          .text-center.mb-3
            Success
            h5.mb-0 {{ finalStep ? $t('passwordChanged') : $t('emailSent') }}
        template(v-else)
          Verification(v-if="otp"
                      :error="error"
                      :blockSending="passwordResetBlock > 0"
                      :blockResendTime="blockResendTime"
                      :brokerInfo="otp"
                      @onVerifyOtp="verifyOtp"
                      @onBack="toLogin"
                      @onResendOtp="resendOtp"
                      :onChangeCodeLifetime="changeCodeLifetime")
          PasswordResetingForm(v-else
                               @onResetPassword="resetPassword"
                               :error="error"
                               @onBack="toLogin"
                               :blockSending="passwordResetBlock > 0"
                               :finalStep="finalStep")
          CountdownTimer(v-if="passwordResetBlock > 0" :time="passwordResetBlock" @onCountdownTick="countdownTick")
            span {{ $t('untilUnblock') }}
          CountdownTimer(v-if="blockResendTime > 0 && (passwordResetBlock <= 0 || !passwordresetBlock)"
                         :time="blockResendTime"
                         @onCountdownTick="onCountdownTickResend")
            span {{ $t('untilResend') }}
</template>

<script>
import Success from '@/components/Success';
import PasswordResetingForm from '@/components/Auth/PasswordResetingForm';
import Verification from '@/components/Auth/Verification';
import CountdownTimer from '@/components/CountdownTimer';
import actionTypes from '../../store/actionTypes';

export default {
  data() {
    return {
      success: false,
      email: '',
      finalStep: false,
      reset_hash: '',
    };
  },
  components: {
    Success,
    PasswordResetingForm,
    Verification,
    CountdownTimer,
  },
  methods: {
    resetPassword(data) {
      if (data.email) { this.email = data.email; }

      if (this.finalStep) {
        data = { ...data, email: this.email, reset_hash: this.reset_hash };
      }
      this.$store.dispatch(actionTypes.auth.TRY_RESET_PASSWORD, data);
    },
    verifyOtp(otp) {
      this.$store.dispatch(actionTypes.auth.TRY_RESET_PASSWORD, {
        email: this.email,
        otp,
      });
    },
    countdownTick(time) {
      this.$store.commit(actionTypes.SET_PASSWORD_RESET_BLOCK, time);
      if (time <= 0) {
        this.$store.dispatch(actionTypes.auth.RESET);
      }
    },
    toLogin() {
      this.$store.commit(actionTypes.auth.SET_OTP, null);
      this.$store.dispatch(actionTypes.auth.RESET);
      this.$router.push({ name: 'login' });
    },
    resendOtp() {
      this.$store.dispatch(actionTypes.auth.TRY_RESET_PASSWORD, {
        email: this.email,
        otp_reset: true,
      });
    },
    onCountdownTickResend(time) {
      this.$store.commit(actionTypes.auth.SET_BLOCK_RESEND_TIME, time);
    },
    tryInitFinalStep() {
      if (this.$route.query.email && this.$route.query.reset_hash) {
        this.email = this.$route.query.email;
        this.finalStep = true;
        this.reset_hash = this.$route.query.reset_hash;
      }
    },
    changeCodeLifetime(time) {
      this.$store.commit(actionTypes.SET_OTP, { ...this.otp, codeLifetime: time });
    },
  },
  computed: {
    otp() {
      return this.$store.getters.getOtp;
    },
    isPasswordReset() {
      return this.$store.getters.getPasswordReset;
    },
    error() {
      return this.$store.getters.getAuthError;
    },
    passwordResetBlock() {
      return this.$store.getters.getPasswordResetBlock;
    },
    blockResendTime() {
      return this.$store.getters.getBlockResendTime;
    },
  },
  beforeMount() {
    this.tryInitFinalStep();
  },
  watch: {
    isPasswordReset() {
      if (this.finalStep) {
        setTimeout(() => {
          this.$router.push('/');
          this.$store.dispatch(actionTypes.auth.RESET);
        }, 700);
      }
    },
  },
};
</script>

<style lang="sass">
  .reset-password-error
    padding: 6px
</style>
