<template lang="pug">
//- transition(name="configurator-sidebar" appear)
.sidebar.sidebar-light.sidebar-secondary.sidebar-expand-md.configurator-sidebar(
  :class="{'mobile-full-screen-width': fullScreenWidth}"
)
    .sidebar-mobile-toggler.bg-slate-800.text-center
      a.sidebar-mobile-secondary-toggle.pointer(@click="closeSecondSideBar")
        i.icon-arrow-left8
      span.font-weight-semibold {{ $t('chartsConfig') }}
      a.sidebar-mobile-expand.pointer(@click="toggleFullSize")
        i.icon-screen-full
        i.icon-screen-normal
    .btn-group.btn-group-justified
      a.btn.bg-slate-700.pointer(v-for="i in presetsNumbers"
                                @click="setPreset(i)") {{ i + 1 }}

    .sidebar-content
      .sortable.ui-sortable
        ul.nav.nav-tabs.nav-justified.mb-0.border-bottom-0
          li.nav-item.pointer
            a.nav-link.border-0(@click="setRedactorMode" :class="{active: editMode === EDIT_MODE.redactor}")
              i.icon-file-css &nbsp;
              | {{ $t('codeEditor') }}
          //- li.nav-item.pointer
          //-   a.nav-link.border-0.show(@click="setVisualMode" :class="{active: editMode === EDIT_MODE.visual}")
          //-     i.icon-grid-alt &nbsp;
          //-     | {{ $t('graphicRedactor') }}
        .tab-content(:style="{height: tabHeight}")
          #components-tab.tab-pane.fade.active.show
            template(v-if="widgetData")
              visual(v-if="editMode === EDIT_MODE.visual && 0"
                    :widgetData="widgetData"
                    @onUpdateWidget="updateWidgetConf")
              redactor(v-if="editMode === EDIT_MODE.redactor"
                      :widgetData="widgetData"
                      @onUpdateWidget="updateWidgetConf")

</template>

<script>
import * as R from 'ramda';
import SideBarItem from './SideBarItem';
import Redactor from './Redactor';
import Visual from './Visual';
import wrappedCharts from '@/services/Charts';
import BodyStylingMixin from '@/mixins/BodyStylingMixin';
import actionTypes from '@/store/actionTypes';


const EDIT_MODE = {
  visual: 'VISUAL',
  redactor: 'REDACTOR',
};

export default {
  name: 'ConfigWidgetSideBar',
  props: {
    pageHeight: {
      type: Number,
    },
  },
  mixins: [BodyStylingMixin],
  data() {
    return {
      editMode: EDIT_MODE.redactor,
      EDIT_MODE,
      fullScreenWidth: false,
      show: false,
    };
  },
  components: {
    Visual,
    Redactor,
    SideBarItem,
  },
  methods: {
    getModel(config) {
      const exctractedModel = R.path(config.path);
      const model = exctractedModel(this.widgetData);
      return this.model;
    },
    setVisualMode() {
      this.editMode = EDIT_MODE.visual;
    },
    setRedactorMode() {
      this.editMode = EDIT_MODE.redactor;
    },
    closeSecondSideBar() {
      this.fullScreenWidth = false;
      this.removeBodyClass('sidebar-mobile-secondary');
    },
    toggleFullSize() {
      this.fullScreenWidth = !this.fullScreenWidth;
    },
    updateWidgetConf(conf) {
      if (this.editableData) {
        const editableData = {
          ...this.editableData,
          dataWidget: { ...this.editableData.dataWidget, ...conf },
        };
        this.$store.commit(actionTypes.widgetConfigurator.SET_EDITABLE_DATA, editableData);
        return;
      }
      if (this.editablePreset) {
        const editablePreset = {
          ...this.editablePreset,
          dataWidget: { ...this.editablePreset.dataWidget, ...conf },
        };
        this.$store.commit(actionTypes.widgetConfigurator.SET_EDITABLE_PRESET, editablePreset);
        return;
      }
      this.$store.commit(actionTypes.widgetConfigurator.UPDATE_WIDGET_CONF, conf);
    },
    setPreset(i) {
      // this.$store.commit(actionTypes.widgetConfigurator.SET_WIDGET_CONF, wrappedCharts[this.chartName].presets[this.id]);
      this.$router.push({ name: 'widgetConfigurator', params: { name: this.chartName, id: i + 1 } });

      // this.$store.commit(actionTypes.widgetConfigurator.SET_WIDGET_CONF, wrappedCharts[this.chartName].presets[i]);
    },
  },
  computed: {
    widgetData() {
      if (this.editableData) {
        return this.editableData.dataWidget;
      }
      if (this.editablePreset) {
        return this.editablePreset.dataWidget;
      }
      return this.$store.getters.getWidgetConf;
    },
    widgetConfMap() {
      return this.$store.getters.getWidgetConfMap;
    },
    tabHeight() {
      return `${this.pageHeight - 78}px`;
    },
    editableData() {
      return this.$store.getters.getEditableData;
    },
    presets() {
      return wrappedCharts[this.chartName].presets;
    },
    presetsNumbers() {
      return this.presets.map((e, i) => i);
    },
    chartName() {
      return this.$route.params.name;
    },
    editablePreset() {
      return this.$store.getters.getEditablePreset;
    },
  },
  beforeMount() {
  },
  mounted() {
    this.show = true;
  },
};
</script>

<style lang="sass">
@media (min-width: 767px)
  .configurator-sidebar
    width: 26rem !important
@media (max-width: 767px)
  .sidebar-mobile-secondary .sidebar-secondary
    width: 26rem

.configurator-sidebar-enter-active
  transition: all .5s ease;
.configurator-sidebar-leave-active
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.configurator-sidebar-enter, .right-pane-leave-to
  transform: translateX(-1000px);
  opacity: 0
</style>
