<template lang="pug">
  div.card.redactor(style="height: calc(100vh - 242px")
    div.alert.alert-danger(v-if="error")
      | {{ error }}
    codemirror(v-model="code"
               ref="cmMerge"
               :options="cmOptions"
               @input="codeChangeHandler")
</template>

<script>
import { codemirror } from 'vue-codemirror';
import 'codemirror/lib/codemirror.css';
import 'codemirror/mode/javascript/javascript.js';
import 'codemirror/theme/lucario.css';
import findExtraKeys from '@/tools/findExtraKeys';
import deepCopy from '@/tools/deepCopy';
import { isChartValid } from '@/services/Charts';

export default {
  name: 'WidgetConfRedactor',
  props: {
    widgetData: {
      type: Object,
    },
  },
  data() {
    return {
      code: '',
      cmOptions: {
        tabSize: 2,
        mode: 'text/javascript',
        theme: 'neo',
        lineNumbers: true,
        line: true,
      },
      error: null,
    };
  },
  components: {
    codemirror,
  },
  methods: {
    initWidgetConfData() {
      if (!this.widgetData) {
        return;
      }
      // const widgetConfigWithoutData = { ...this.widgetData };
      // delete widgetConfigWithoutData.series;
      // if (widgetConfigWithoutData.xAxis && widgetConfigWithoutData.xAxis.data) {
      //   delete widgetConfigWithoutData.xAxis.data;
      // }

      this.code = JSON.stringify(this.widgetData, null, 2);
    },
    codeChangeHandler() {
      try {
        const code = JSON.parse(this.code);
        // code.series = code.xAxis.series ? code.xAxis.series : this.widgetData.series;
        // if (this.widgetData.xAxis && this.widgetData.xAxis.data) {
        //   code.xAxis.data = code.xAxis.data ? code.xAxis.data : this.widgetData.xAxis.data;
        // }
        const validation = isChartValid(this.code);
        // const validationErros = this.getCodeValidationErrors(code);
        if (validation.error !== null) {
          this.error = '';
          validation.error.details.forEach((e) => {
            this.error += `${e.message}, path: ${e.path.join('>')}\n`;
          });

          return;
        }

        this.$emit('onUpdateWidget', code);
        this.error = null;
      } catch (e) {
        console.log('TCL: codeChangeHandler -> e', e);
        if (e instanceof SyntaxError) {
          this.error = 'Синтаксическая ошибка в коде. Данные не будут применены.';
          return;
        }
        throw e;
      }
    },
    getCodeValidationErrors(code) {
      const errorsMsg = [];
      const extraKeys = findExtraKeys(code, this.widgetConfMap.defaultConfig, 1);

      if (extraKeys.length > 0) {
        errorsMsg.push(`Обнаружены лишние ключи: ${extraKeys.join(',')}`);
      }

      const detailValidationErrors = this.getDetailValidationErrors(code);
      errorsMsg.push(...detailValidationErrors);
      return errorsMsg;
    },
    getDetailValidationErrors(code) {
      const detailErrors = [];
      if (code.dataZoom && code.dataZoom[1] && !(['inside', 'slider'].indexOf(code.dataZoom[1].type) > -1)) {
        detailErrors.push(`Тип в dataZoom ${code.dataZoom[1].type} не поддерживается. Значение может быть только inside или slider.`);
      }
      return detailErrors;
    },
  },
  computed: {
    widgetName() {
      return this.$route.params.name;
    },
  },
  watch: {
    widgetData: {
      deep: true,
      handler() {
        this.initWidgetConfData();
      },
    },
  },
  beforeMount() {
    setTimeout(this.initWidgetConfData, 10);
  },
  mounted() {
    // this.initWidgetConfData();
  },
};
</script>


<style lang="sass">
.redactor
  height: calc(100vh - 242px)
  .vue-codemirror
    height: calc(100vh - 242px)
    .CodeMirror
      height: calc(100vh - 242px)
      .CodeMirror-vscrollbar
        overflow: hidden
      &:hover
        .CodeMirror-vscrollbar
          overflow-y: auto
</style>
