<template lang="pug">
  .card
    .card-header.bg-light.border-bottom-0.header-elements-inline.py-2
      span.text-uppercase.font-size-sm {{ title }}
      .header-elements
        .list-icons
          a.list-icons-item(@click="toggleMenu" data-action="collapse" :class="{'rotate-180': collapsed}")
    .card-body(v-show="!collapsed")
      form(action='#')
        .form-group-feedback.form-group-feedback-right
          slot
</template>

<script>
export default {
  props: {
    title: {
      type: String,
    },
  },
  data() {
    return {
      collapsed: false,
    };
  },
  methods: {
    toggleMenu() {
      this.collapsed = !this.collapsed;
    },
  },
};
</script>

<style lang="sass">
</style>
