<template lang="pug">
  div
    SideBarItem(v-if="configBuffer.title" :title="$t('header')")
      label(for="title") {{ $t('title') }}
      input.form-control#title(v-model="configBuffer.title.text")
      label(for="subtext") {{ $t('subtext') }}
      input.form-control#sublink(v-model="configBuffer.title.subtext")
      label(for="sublink") {{ $t('sublink') }}
      input.form-control#sublink(v-model="configBuffer.title.sublink")
    SideBarItem(v-if="configBuffer.tooltip" :title="$t('tooltip')")
      .form-check(style='margin: 12px 0;' @click="changeToolTipStatus")
        label.form-check-label {{ $t('popUpOn') }}
          .uniform-checker
            span(:class="{checked: configBuffer.tooltip.trigger !== 'none'}")
              input.form-check-input-styled(type='checkbox')
      label(for="tooltipType") {{ $t('showCrossLine') }}
      select.form-control#tooltipType(@change="onAxisPointerChange($event)")
        option(value="none") {{ $t('none') }}
        option(value="line") {{ $t('line') }}
        option(value="cross") {{ $t('cross') }}

      label(for="trigger") {{ $t('trigger') }}
      select.form-control#trigger(@change="onTriggerChange($event)")
        option(value="item") {{ $t('item') }}
        option(value="axis") {{ $t('axis') }}

    SideBarItem(v-if="configBuffer.grid" :title="$t('grid')")
      label(for="topOffset") {{ $t('topOffset') }}
      input.form-control#topOffset(type='number' v-model="configBuffer.grid.top")
      label(for="leftOffset") {{ $t('leftOffset') }}
      input.form-control#leftOffset(type='number' v-model="configBuffer.grid.left")
      label(for="rightOffset") {{ $t('rightOffset') }}
      input.form-control#rightOffset(type='number' v-model="configBuffer.grid.right")

    SideBarItem(v-if="configBuffer.toolbox" :title="$t('controlPanel')")
      .form-check(style='margin: 12px 0;' @click="onChangeToolBoxStatus")
        label.form-check-label {{ $t('turnOnControlPanel') }}
          .uniform-checker
            span(:class="{checked: configBuffer.toolbox.show}")
              input.form-check-input-styled(type='checkbox')

      label(for="tooltipType") {{ $t('menuPosition') }}
      select.form-control#tooltipType(@change="onToolboxPositionChange($event)")
        option(value="center") {{ $t('center') }}
        option(value="left") {{ $t('left') }}
        option(value="right") {{ $t('right') }}

      label(for="saveAsImageDescr") {{ $t('saveAsImageDescr') }}
      input.form-control#saveAsImageDescr(type='text' v-model="configBuffer.toolbox.feature.saveAsImage.title")

      label(for="restore") {{ $t('saveAsImageDescr') }}
      input.form-control#restore(type='text' v-model="configBuffer.toolbox.feature.restore.title")
    SideBarItem(:title="$t('decoration')")
      label(for="template") {{ $t('widgetTheme') }}
      select.form-control#tooltipType(v-model="configBuffer.theme")
        option(v-for="(theme, themeName) in themes" :value="themeName") {{ themeName }}

</template>

<script>
import deepCopy from '@/tools/deepCopy';
import SideBarItem from './SideBarItem';
import themes from '@/components/widgetConfigurator/ThemesPack';

export default {
  data() {
    return {
      configBuffer: {
        theme: '',
      },
      themes,
    };
  },
  props: {
    widgetConfMap: {
      type: Object,
    },
    widgetData: {
      type: Object,
    },
  },
  components: {
    SideBarItem,
  },
  methods: {
    initconfigBuffer() {
      this.configBuffer = deepCopy(
        { ...this.widgetConfMap.defaultConfig },
        this.widgetData,
      );
      if (this.configBuffer.grid !== undefined) {
        this.configBuffer.grid = {};
      }
      if (this.configBuffer.title !== undefined) {
        this.configBuffer.title = {
          text: '',
          subtitle: '',
          sublink: '',
        };
      }
      if (this.configBuffer.toolbox !== undefined) {
        this.configBuffer.toolbox = {
          left: '',
          show: false,
          feature: {
            saveAsImage: {
              title: this.$t('saveImg'),
            },
            restore: {
              title: this.$t('restoreScale'),
            },
          },
        };
      }
    },
    changeToolTipStatus() {
      this.configBuffer.tooltip.trigger = this.configBuffer.tooltip.trigger === 'none' ? 'axis' : 'none';
    },
    onAxisPointerChange(event) {
      if (!this.configBuffer.tooltip.axisPointer) {
        this.configBuffer.tooltip.axisPointer = {};
      }
      this.configBuffer.tooltip.axisPointer = {
        ...this.configBuffer.tooltip.axisPointer,
        type: event.target.value,
      };
    },
    onChangeToolBoxStatus() {
      this.configBuffer.toolbox.show = !this.configBuffer.toolbox.show;
    },
    onToolboxPositionChange(event) {
      this.configBuffer.toolbox.left = event.target.value;
    },
    onTriggerChange(event) {
      this.configBuffer.tooltip.trigger = event.target.value;
    },
  },
  watch: {
    configBuffer: {
      deep: true,
      handler() {
        if (this.configBuffer !== this.widgetData) {
          this.$emit('onUpdateWidget', this.configBuffer);
        }
      },
    },
    widgetConfMap() {
      this.initconfigBuffer();
    },
  },
  beforeMount() {
    this.initconfigBuffer();
  },
};
</script>
