<template lang="pug">
.content.px-0.py-0
  template(v-if="dashboards")
    .alert.bg-white.border-0.rounded-0.text-grey-800.alert-styled-left.alert-dismissible.mb-0.mx-1.mt-1(v-if="showInfo")
      button.close(type='button' data-dismiss='alert' @click="closeDashboardInfo")
        span &times;
      div.row
        div.col-12.col-md-2
          p.margin-0 {{ $t('dashboardId') }}: {{ selectedDashboard.id }}
        div.col-12.col-md-3
          p.margin-0 {{ $t('dashboardTitle') }}: {{ selectedDashboard.title }}
        div.col-12.col-md-4
          p.margin-0 {{ $t('dashboardDescr') }}: {{ selectedDashboard.description }}
        div.col-12.col-md-3
          p.margin-0 {{ $t('dashboardWidgetCount') }}: {{ selectedDashboard.widgets.length }}
    router-view
</template>

<script>
import actionTypes from '@/store/actionTypes';

export default {
  data() {
    return {
      width: null,
      modalCreatingShow: false,
      showInfo: false,
      unsubscribeStore: () => {},
    };
  },
  components: {
    // Dashboard,
  },
  methods: {
    initSubSideBar() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_TYPE, 'dashboard');
    },
    resetVisualisation() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_TYPE, 'default');
      this.$store.commit(actionTypes.ui.SET_BLACKOUT_STATUS, false);
      this.enableSubNavBarHeader();
    },
    subscribeStore() {
      this.unsubscribeStore = this.$store.subscribe((state) => {
        this.chooseStateEvent(state);
      });
    },
    chooseStateEvent(state) {
      const events = {
        [actionTypes.dashboards.SELECT_DASHBOARD]: this.setCurrentDashboard,
        [actionTypes.dashboards.SET_DASHBOARDS]: this.setCurrentDashboard,
        [actionTypes.ui.SET_DASHBOARD_INFO_STATUS]: this.initDashboardInfoStatus,
        [actionTypes.dashboards.EDIT_DASHBOARD]: this.setCurrentDashboard,
        [actionTypes.dashboards.TOGGLE_WIDGET]: this.toggleWidgetHandler,
      };
      if (state.type in events) {
        events[state.type]();
      }
    },
    setCurrentDashboard() {
      if (this.dashboards && this.dashboards.length && !this.$route.params.dashboardUrl) {
        const firstDashboard = this.dashboards[0];
        this.$router.push({ name: 'AnalyticsDashboard', params: { dashboardUrl: firstDashboard.url } });
      }
    },
    initDashboardInfoStatus() {
      this.showInfo = this.$store.getters.getDashboardInfoStatus;
    },
    closeDashboardInfo() {
      this.$store.commit(actionTypes.ui.SET_DASHBOARD_INFO_STATUS, false);
    },
    enableSubNavBarHeader() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_HEADER_STATUS, true);
    },
    disableSubNavBarHeader() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_HEADER_STATUS, false);
    },
    toggleWidgetHandler() {
      this.setCurrentDashboard();
      this.$store.dispatch(
        actionTypes.dashboards.EDIT_DASHBOARD,
        this.$store.getters.getSelectedDashboard,
      );
    },
  },
  beforeMount() {
    this.subscribeStore();
    this.setCurrentDashboard();
    this.initDashboardInfoStatus();
  },
  mounted() {
    this.initSubSideBar();
  },
  beforeDestroy() {
    this.resetVisualisation();
  },
  destroyed() {
    this.unsubscribeStore();
  },
  computed: {
    dashboard() {
      return this.selectedDashboard;
    },
    dashboards() {
      return this.$store.getters.getDashboards;
    },
  },
};
</script>

<style lang="sass">
.analytic-title
  padding: 0 9px
.hide-overflow
  overflow: hidden
.margin-0
  margin: 0
</style>
