<template lang="pug">
div
  Dashboard(
    v-if="selectedDashboard"
    :dashboard="selectedDashboard"
  )
  div(v-else)
    h5 {{ $t('dashboardNotFound') }}
</template>

<script>
import Dashboard from '@/components/Dashboard/Dashboard';
import types from '@/store/actionTypes';

export default {
  name: 'DashboardDetail',
  components: {
    Dashboard,
  },
  methods: {
    selectDashboard() {
      const dashboardId = this.dashboards.findIndex(d => d.url === this.url);
      if (dashboardId > -1) {
        this.$store.commit(types.dashboards.SELECT_DASHBOARD, dashboardId);
      }
    },
  },
  computed: {
    selectedDashboard() {
      const filtered = this.dashboards.filter(d => d.url === this.url);
      return filtered.length ? filtered[0] : null;
    },
    dashboards() {
      return this.$store.getters.getDashboards;
    },
    url() {
      return this.$route.params.dashboardUrl;
    },
  },
  watch: {
    url() {
      this.selectDashboard();
    },
    dashboards() {
      this.selectDashboard();
    },
  },
  mounted() {
    this.selectDashboard();
  },
};
</script>

<style lang="sass">
.vue-grid-item.vue-grid-placeholder
  background: whitesmoke
</style>
