<template lang="pug">
  div.code-snippet-card.abs-widget
    codemirror.tab-code-editor(v-model="dataWidget.code"
                               :options="options")
</template>

<script>
import CodeMirrorMixin from '@/mixins/CodeMirrorMixin';

export default {
  name: 'TextWidget',
  props: {
    dataWidget: {
      type: Object,
    },
  },
  mixins: [CodeMirrorMixin],
  computed: {
    options() {
      const options = { ...this.dataWidget.options };
      options.readOnly = true;
      return options;
    },
  },
};
</script>

<style lang="sass">
.code-snippet-card
  position: initial
.tab-code-editor
  height: 100%
  .CodeMirror
    height: 100%
</style>
