<template lang="pug">
  v-chart.echart(:options="dataWidget"
                 :autoresize="true"
                 :theme="dataWidget.theme ? dataWidget.theme : defaultTheme"
                 ref="echart"
                 @click="click"
                 @dblclick="dblclick"
                 @legendselectchanged="onChangeLegend")
</template>

<script>
import ECharts from 'vue-echarts';
import 'echarts/lib/chart/line';
import 'echarts/lib/chart/pie';
import 'echarts/lib/chart/scatter';
import 'echarts/lib/component/polar';
import 'echarts/lib/component/radar';
import 'echarts/lib/chart/gauge';
import 'echarts/lib/chart/graph';
import 'echarts/lib/chart/chord';
import 'echarts/lib/chart/sankey';
import 'echarts/lib/chart/sunburst';

import { registerThemes } from '@/components/widgetConfigurator/ThemesPack';

registerThemes();

export default {
  name: 'EchartMixin',
  props: {
    dataWidget: {
      type: Object,
    },
  },
  data() {
    return {
      defaultTheme: 'walden',
    };
  },
  components: {
    'v-chart': ECharts,
  },
  methods: {
    click(params) {
      this.$emit('onClick', params);
    },
    dblclick(params) {
      this.$emit('onDblclick', params);
    },
    onChangeLegend(p) {
      this.$emit('onChangeLegend', p);
    },
  },
};
</script>

<style lang="sass">
.echarts
  width: 100%
</style>
