<template lang="pug">
  div.vue-editor-content(v-html="dataWidget.text")
</template>

<script>
export default {
  name: 'HtmlTextWidget',
  props: {
    dataWidget: {
      type: Object,
    },
  },
};
</script>

<style lang="sass">
.vue-editor-content
  padding: 1.25rem
</style>
