<template lang="pug">
  div(v-html="dataWidget.code")
</template>

<script>

export default {
  name: 'IFrameWidget',
  props: {
    dataWidget: {
      type: Object,
    },
  },
};
</script>

<style lang="sass">
.code-snippet-card
  position: initial
.widget-frame
  width: 100%
  height: 100%
</style>
