<template lang="pug">
  div.vue-editor-content(v-html="dataWidget.text")
</template>

<script>
export default {
  name: 'NoteWidget',
  props: {
    dataWidget: {
      type: Object,
    },
  },
};
</script>
