<template lang="pug">
  div.abs-widget
    img(:src="src" height="100%" width="100%")
</template>

<script>
export default {
  name: 'ImageWidget',
  props: {
    dataWidget: {
      type: Object,
    },
  },
  computed: {
    src() {
      return `${process.env.VUE_APP_API_URL}${this.dataWidget.src}`;
    },
  },
};
</script>
