<template lang="pug">
Table(v-if="dataWidget"
      :rows="dataWidget.rows",
      :rawRows="rawRows"
      :columns="dataWidget.columns")
</template>

<script>
import WidgetMixin from '../WidgetMixin';
import Table from '@/components/Table/Table';

export default {
  name: 'TableWidgetComponent',
  mixins: [WidgetMixin],
  props: {
    dataWidget: {
      type: Object,
    },
  },
  components: {
    Table,
  },
  computed: {
    rawRows() {
      return this.dataWidget.rawRows ? this.dataWidget.rawRows : this.dataWidget.rows;
    },
  },
};
</script>
