<template lang="pug">
#DataTables_Table_2_paginate.dataTables_paginate.paging_simple_numbers(v-if="pagination")
  a#DataTables_Table_2_previous.paginate_button.previous(:class="{ disabled: !pagination.previous }"
                                                         @click="toPrevious") &larr;
  span
    a.paginate_button(v-show="pagination.previous" @click="toPrevious") {{ currentPage - 1}}
    a.paginate_button.current(aria-controls='DataTables_Table_2' data-dt-idx='2' tabindex='0') {{ currentPage }}
    a.paginate_button(v-show="pagination.next" @click="toNext") {{ currentPage + 1}}
  a#DataTables_Table_2_next.paginate_button.next(:class="{ disabled: !pagination.next }"
                                                 @click="toNext") &rarr;
</template>

<script>
export default {
  props: {
    pagination: {
      type: Object,
    },
    storeAction: {
      type: String,
    },
  },
  methods: {
    toNext() {
      if (!this.pagination.next) {
        return;
      }
      this.$store.dispatch(this.storeAction,
        this.pagination.offset + this.pagination.limit,
        this.pagination.limit);
    },
    toPrevious() {
      if (!this.pagination.previous) {
        return;
      }
      this.$store.dispatch(this.storeAction,
        this.pagination.offset - this.pagination.limit,
        this.pagination.limit);
    },
  },
  computed: {
    currentPage() {
      if (this.pagination.offset === 0) {
        return 1;
      }
      const page = this.pagination.offset / this.pagination.limit + 1;
      return page;
    },
  },
};
</script>
