<template lang="pug">
  div.timer(:style="{color: color ? color : 'red' }")
    | {{ minutes }}
    slot
</template>

<script>
export default {
  props: {
    time: {
      type: Number,
    },
    color: {
      type: String,
    },
  },
  data() {
    return {
      countdownInterval: null,
    };
  },
  methods: {
    runCountdownTimer() {
      this.countdownInterval = setInterval(() => {
        if (this.time <= 0) {
          clearInterval(this.countdownInterval);
          return;
        }
        this.$emit('onCountdownTick', this.time - 1);
      }, 1000);
    },
  },
  computed: {
    minutes() {
      return `${Math.trunc(this.time / 60)} мин ${(this.time % 60).toFixed(0)} сек `;
    },
  },
  mounted() {
    this.runCountdownTimer();
  },
  beforeDestroy() {
    clearInterval(this.countdownInterval);
  },
};
</script>

<style lang="sass">
  .timer
    color: red
    text-align: center
    padding: 6px
</style>
