<template lang="pug">
  div(style="height: 100vh")
    v-chart(:options="polar")
    v-chart(:options="third")
    v-chart(:options="second")
    v-chart(:options="fourth")
</template>


<script>
import ECharts from 'vue-echarts';
import 'echarts/lib/chart/line';
import 'echarts/lib/chart/pie';
import 'echarts/lib/component/polar';

export default {
  components: {
    'v-chart': ECharts,
  },
  data() {
    const data = [];

    for (let i = 0; i <= 360; i++) {
      const t = (i / 180) * Math.PI;
      const r = Math.sin(2 * t) * Math.cos(2 * t);
      data.push([r, i]);
    }

    return {
      polar: {
        title: {
          text: 'Test',
        },
        legend: {
          data: ['line'],
        },
        polar: {
          center: ['50%', '54%'],
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
          },
        },
        angleAxis: {
          type: 'value',
          startAngle: 0,
        },
        radiusAxis: {
          min: 0,
        },
        series: [
          {
            coordinateSystem: 'polar',
            name: 'line',
            type: 'line',
            showSymbol: false,
            data,
          },
        ],
        animationDuration: 2000,
      },
      second: {
        title: {
          text: 'Beijing AQI',
        },
        tooltip: {
          trigger: 'axis',
        },
        xAxis: {
          data: data.map(item => item[0]),
        },
        yAxis: {
          splitLine: {
            show: false,
          },
        },
        toolbox: {
          left: 'center',
          feature: {
            dataZoom: {
              yAxisIndex: 'none',
            },
            restore: {},
            saveAsImage: {},
          },
        },
        dataZoom: [
          {
            startValue: '2014-06-01',
          },
          {
            type: 'inside',
          },
        ],
        visualMap: {
          top: 10,
          right: 10,
          pieces: [
            {
              gt: 0,
              lte: 50,
              color: '#096',
            },
            {
              gt: 50,
              lte: 100,
              color: '#ffde33',
            },
            {
              gt: 100,
              lte: 150,
              color: '#ff9933',
            },
            {
              gt: 150,
              lte: 200,
              color: '#cc0033',
            },
            {
              gt: 200,
              lte: 300,
              color: '#660099',
            },
            {
              gt: 300,
              color: '#7e0023',
            },
          ],
          outOfRange: {
            color: '#999',
          },
        },
        series: {
          name: 'Beijing AQI',
          type: 'line',
          data: data.map(item => item[1]),
          markLine: {
            silent: true,
            data: [
              {
                yAxis: 50,
              },
              {
                yAxis: 100,
              },
              {
                yAxis: 150,
              },
              {
                yAxis: 200,
              },
              {
                yAxis: 300,
              },
            ],
          },
        },
      },
      third: {
        legend: {},
        tooltip: {
          trigger: 'axis',
          showContent: false,
        },
        dataset: {
          source: [
            ['product', '2012', '2013', '2014', '2015', '2016', '2017'],
            ['Matcha Latte', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7],
            ['Milk Tea', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1],
            ['Cheese Cocoa', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5],
            ['Walnut Brownie', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1],
          ],
        },
        xAxis: { type: 'category' },
        yAxis: { gridIndex: 0 },
        grid: { top: '55%' },
        series: [
          { type: 'line', smooth: true, seriesLayoutBy: 'row' },
          { type: 'line', smooth: true, seriesLayoutBy: 'row' },
          { type: 'line', smooth: true, seriesLayoutBy: 'row' },
          { type: 'line', smooth: true, seriesLayoutBy: 'row' },
          {
            type: 'pie',
            id: 'pie',
            radius: '30%',
            center: ['50%', '25%'],
            label: {
              formatter: '{b}: {@2012} ({d}%)',
            },
            encode: {
              itemName: 'product',
              value: '2012',
              tooltip: '2012',
            },
          },
        ],
      },
      fourth: {
        title: {
          text: 'Echart гистограма',
          subtext: 'From ExcelHome',
          sublink: 'http://e.weibo.com/1341556070/AjQH99che',
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: 'shadow', // 默认为直线，可选为：'line' | 'shadow'
          },
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true,
        },
        xAxis: {
          type: 'category',
          splitLine: { show: false },
          data: [
            'Пример 1',
            'Пример 2',
            'Пример 3',
            'Пример 4',
            'Пример 5',
            'пример 6',
          ],
        },
        yAxis: {
          type: 'value',
        },
        series: [
          {
            name: 'Пример',
            type: 'bar',
            stack: 'Пример',
            itemStyle: {
              normal: {
                barBorderColor: 'rgba(0,0,0,0)',
                color: 'rgba(0,0,0,0)',
              },
              emphasis: {
                barBorderColor: 'rgba(0,0,0,0)',
                color: 'rgba(0,0,0,0)',
              },
            },
            data: [0, 1700, 1400, 1200, 300, 0],
          },
          {
            name: 'Пример',
            type: 'bar',
            stack: 'Пример',
            label: {
              normal: {
                show: true,
                position: 'inside',
              },
            },
            data: [2900, 1200, 300, 200, 900, 300],
          },
        ],
      },
    };
  },
};
</script>

<style>
/**
 * The default size is 600px×400px, for responsive charts
 * you may need to set percentage values as follows (also
 * don't forget to provide a size for the container).
 */
.echarts {
  width: 100%;
  height: 100%;
}
</style>
