<template lang="pug">
    .navbar.navbar-expand-lg.navbar-light.navbar-component.rounded
        .text-center.d-lg-none.w-100
          button.navbar-toggler.dropdown-toggle(type='button', data-toggle='collapse', data-target='#navbar-filter')
            i.icon-unfold.mr-2
            | {{ $t('filters') }}
        #navbar-filter.navbar-collapse.collapse
          span.navbar-text.font-weight-semibold.mr-3
            | {{ $t('filter') }}:
          ul.navbar-nav.flex-wrap
            li.nav-item.dropdown
              a.navbar-nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-sort-time-asc.mr-2
                | {{ $t('byDate') }}
              .dropdown-menu
                a.dropdown-item(href='#') {{ $t('showAll') }}
                .dropdown-divider
                a.dropdown-item(href='#') {{ $t('today') }}
                a.dropdown-item(href='#') {{ $t('yesterday') }}
                a.dropdown-item(href='#') {{ $t('thisWeek') }}
                a.dropdown-item(href='#') {{ $t('thisMonth') }}
                a.dropdown-item(href='#') {{ $t('thisYear') }}
            li.nav-item.dropdown
              a.navbar-nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-sort-amount-desc.mr-2
                | {{ $t('byStatus') }}
              .dropdown-menu
                a.dropdown-item(href='#') {{ $t('showAll') }}
                .dropdown-divider
                a.dropdown-item(href='#') {{ $t('open') }}
                a.dropdown-item(href='#') {{ $t('onHold') }}
                a.dropdown-item(href='#') {{ $t('resolved') }}
                a.dropdown-item(href='#') {{ $t('closed') }}
                a.dropdown-item(href='#') {{ $t('duplicate') }}
                a.dropdown-item(href='#') {{ $t('invalid') }}
                a.dropdown-item(href='#') {{ $t('wontfix') }}
            li.nav-item.dropdown
              a.navbar-nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-sort-numeric-asc.mr-2
                | {{ $t('byPriority') }}
              .dropdown-menu
                a.dropdown-item(href='#') {{ $t('showAll') }}
                .dropdown-divider
                a.dropdown-item(href='#') {{ $t('highest') }}
                a.dropdown-item(href='#') {{ $t('high') }}
                a.dropdown-item(href='#') {{ $t('normal') }}
                a.dropdown-item(href='#') {{ $t('low') }}
          span.navbar-text.font-weight-semibold.mr-3.ml-md-auto
            | {{ $t('viewMode') }}:
          .form-check.form-check-switchery.form-check-switchery-double.mb-3.mb-lg-0
            label.form-check-label
              | {{ $t('listMode') }}
              input.form-input-switchery(type='checkbox', checked='', data-fouc='' @click="grid = !grid")
              | {{ $t('gridMode') }}
</template>

<script>
import actionTypes from '@/store/actionTypes';

export default {
  methods: {
    toggleModal() {
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalTicket',
        data: { type: 'create' },
      });
    },
    removeTicket() {
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalTicketRemove',
      });
    },
    editTicket() {
      this.ticket = this.$store.getters.getSelectedticket;
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalTicket',
        data: { type: 'edit' },
      });
    },
  },
};
</script>
