<template lang="pug">
div.text-muted.mb-0
  template(v-if="pagination.previous || pagination.next")
    a.pointer(:class="pagination.previous && currentPage - 1 !== 0 ? 'link-color': 'text-muted'"
              @click="toPrevious") ←   {{ $t('prev') }}
    template(v-if="pageCount && pageCount >= 3")
      a.mx-2.pointer(v-for="i in 3"
                      :class="{'text-default': currentPage === i, 'link-color': currentPage !== i}"
                      @click="navigateTo(i - 1)"
                      :key="i") {{ i }}
      template(v-if="currentPage === 3 && pageCount > 3")
        a.mx-2.pointer.link-color(@click="navigateTo(currentPage)") {{ currentPage + 1 }}
      template(v-if="currentPage > 3")
        template(v-if="currentPage > 4")
          span(v-if="currentPage - 1 > 4") ...
          a.mx-2.pointer.link-color(@click="navigateTo(currentPage - 2)") {{ currentPage - 1 }}
        a.mx-2.pointer.text-defalt(v-if="currentPage > 3") {{ currentPage }}
        a.mx-2.pointer.link-color(v-if="currentPage <= pageCount"
                                  @click="navigateTo(currentPage)") {{ currentPage + 1 }}
      template(v-if="currentPage < pageCount - 3 && pageCount > 6")
        span(v-if="currentPage + 1 < pageCount - 3") ...
        a.mx-2.pointer(v-for="i in 3"
                       @click="navigateTo(pageCount - 3 + i - 1)"
                       v-if="pageCount - 3 + i !== 3"
                       :class="{'text-default': currentPage === pageCount - 3 + i, 'link-color': currentPage !== pageCount - 3 + i}"
                       :key="pageCount - 3 + i") {{ pageCount - 3 + i }}
    template(v-else)
      a.mx-2.pointer.link-color(v-show="pagination.previous && currentPage - 1 !== 0"
                                @click="toPrevious") {{ currentPage - 1}}
      a.mx-2.text-default {{ currentPage }}
      a.mx-2.pointer.link-color(v-show="pagination.next" @click="toNext") {{ currentPage + 1}}
    a.mx-2.pointer(:class="pagination.next ? 'link-color' : 'text-muted'" @click="toNext") {{ $t('next') }}   →
</template>

<script>
export default {
  props: {
    pagination: {
      type: Object,
    },
    countRows: {
      type: Number,
    },
  },
  methods: {
    toNext() {
      this.blockNext = true;
      if (!this.pagination.next) {
        return;
      }
      this.$emit('onNavigate', {
        offset: this.pagination.offset + this.pagination.limit,
        limit: this.pagination.limit,
      });
    },
    toPrevious() {
      if (!this.pagination.previous) {
        return;
      }
      this.$emit('onNavigate', {
        offset: this.pagination.offset - this.pagination.limit,
        limit: this.pagination.limit,
      });
    },
    navigateTo(offset) {
      this.$emit('onNavigate', {
        offset: offset * this.pagination.limit,
        limit: this.pagination.limit,
      });
    },
  },
  computed: {
    currentPage() {
      if (this.pagination.offset === 0) {
        return 1;
      }
      const page = Math.trunc(this.pagination.offset / this.pagination.limit) + 1;
      return page;
    },
    pageCount() {
      if (!this.pagination.count) {
        return 0;
      }
      return Math.trunc(this.pagination.count / this.pagination.limit);
    },
  },
};
</script>
