<template lang="pug">
    div.col-xl-12
      .row
        .col-xl-6(v-for="(ticket, id) in tickets")
          .card.border-left-3.border-left-danger.rounded-left-0
            .card-body
              .d-sm-flex.align-item-sm-center.flex-sm-nowrap
                div 
                  h6
                    router-link(:to="{name:'ticket', params: { id:ticket.id }}" style='cursor: pointer;') {{ ticket.name }}
                  p.mb-3 {{ ticket.description }}
                  a.btn.btn-icon.bg-transparent.border-slate-300.text-slate.rounded-round.border-dashed(href='#')
                    i.icon-plus22
                ul.list.list-unstyled.mb-0.mt-3.mt-sm-0.ml-auto
                  li
                    span.text-muted {{ ticket.date | date }}
                  li.dropdown
                    | {{ $t('priority') }}:   
                    a.badge.bg-danger.align-top.dropdown-toggle(href='#', data-toggle='dropdown') {{ $t('blocker') }}
                    .dropdown-menu.dropdown-menu-right
                      a.dropdown-item.active(href='#')
                        span.badge.badge-mark.mr-2.border-danger
                        |  {{ $t('blocker') }}
                      a.dropdown-item(href='#')
                        span.badge.badge-mark.mr-2.border-warning-400
                        |   {{ $t('high') }}
                      a.dropdown-item(href='#')
                        span.badge.badge-mark.mr-2.border-success
                        |   {{ $t('normal') }}
                      a.dropdown-item(href='#')
                        span.badge.badge-mark.mr-2.border-grey-300
                        |   {{ $t('low') }}
                  li
                    a(href='#') NoName app
            .card-footer.d-sm-flex.justify-content-sm-between.align-items-sm-center
              span
                | {{ $t('due') }}: 
                span.font-weight-semibold {{ $t('daysDuration', {n: 6}) }}
              ul.list-inline.mb-0.mt-2.mt-sm-0
                li.list-inline-item.dropdown
                  a.text-default.dropdown-toggle(href='#', data-toggle='dropdown') {{ $t('open') }}
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item.active(href='#') {{ $t('open') }}
                    a.dropdown-item(href='#') {{ $t('open') }}
                    a.dropdown-item(href='#') {{ $t('onHold') }}
                    a.dropdown-item(href='#') {{ $t('resolved') }}
                    .dropdown-divider
                    a.dropdown-item(href='#') {{ $t('closed') }}
                    a.dropdown-item(href='#') {{ $t('duplicate') }}
                    a.dropdown-item(href='#') {{ $t('invalid') }}
                li.list-inline-item.dropdown
                  a.text-default.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
                    i.icon-menu7
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#')
                      i.icon-alarm-add
                      |  {{ $t('checkIn') }}
                    a.dropdown-item(href='#')
                      i.icon-attachment
                      |  {{ $t('addScrnShot') }}
                    a.dropdown-item(href='#')
                      i.icon-rotate-ccw2
                      |  {{ $t('reassign') }}
                    .dropdown-divider
                    a.dropdown-item(href='#')
                      i.icon-pencil7
                      |  {{ $t('edit') }}
                    a.dropdown-item(href='#')
                      i.icon-cross2
                      |  {{ $t('delete') }}
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    tickets() {
      return this.$store.getters.getTickets
    }
  }
}
</script>
