<template lang="pug">
.card.col-xl-12
  .card-header.bg-transparent.header-elements-inline
    h6.card-title {{ $t('taskManager') }}
    .header-elements
      .list-icons
        a.list-icons-item(data-action='collapse')
        a.list-icons-item(data-action='reload')
        a.list-icons-item(data-action='remove')
  table.table.tasks-list.table-lg
    thead
      tr
        th #
        th {{ $t('period') }}
        th {{ $t('taskDescr') }}
        th {{ $t('priority') }}
        th {{ $t('latestUpdate') }}
        th {{ $t('status') }}
        th {{ $t('assignedUsers') }}
        th.text-center.text-muted(style='width: 30px;')
          i.icon-checkmark3
    tbody(v-for="ticket in tickets")
      tr
        td {{ '#' + ticket.id }}
        td Today
        td
          .font-weight-semibold
            //router-link(:to="{ name:'ticket', params: { id:ticket.id }}") {{ ticket.title }}
          .text-muted {{ ticket.description }}
        td
          .btn-group
            a.badge.bg-danger.dropdown-toggle(href='#', data-toggle='dropdown') {{ $t('blocker') }}
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item.active(href='#')
                span.badge.badge-mark.mr-2.bg-danger.border-danger
                |  {{ $t('blocker') }}
              a.dropdown-item(href='#')
                span.badge.badge-mark.mr-2.bg-orange.border-orange
                |  {{ $t('high') }}
              a.dropdown-item(href='#')
                span.badge.badge-mark.mr-2.bg-primary.border-primary
                |  {{ $t('normal') }}
              a.dropdown-item(href='#')
                span.badge.badge-mark.mr-2.bg-success.border-success
                |  {{ $t('low') }}
        td
          .d-inline-flex.align-items-center
            i.icon-calendar2.mr-2
            input.form-control.datepicker.p-0.border-0.bg-transparent(type='text', value='22 January, 15') 
        td
          select.form-control.form-control-select2(name='status', data-placeholder='Select status', data-fouc='')
            option(value='open') {{ $t('open') }}
            option(value='hold') {{ $t('onHold') }}
            option(value='resolved', selected='selected') {{ $t('resolved') }}
            option(value='dublicate') {{ $t('duplicate') }}
            option(value='invalid') {{ $t('invalid') }}
            option(value='wontfix') {{ $t('wontfix') }}
            option(value='closed') {{ $t('closed') }}
        td
          a(href='#')
            //img.rounded-circle(width='32', height='32', alt='')
          a(href='#')
            //img.rounded-circle(width='32', height='32', alt='')
          a.btn.btn-icon.bg-transparent.btn-sm.border-slate-300.text-slate.rounded-round.border-dashed(href='#')
            i.icon-plus22
        td.text-center
          .list-icons
            .list-icons-item.dropdown
              a.list-icons-item.dropdown-toggle.caret-0(href='#', data-toggle='dropdown')
                i.icon-menu9
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='#')
                  i.icon-alarm-add
                  |  {{ $t('checkIn') }}
                a.dropdown-item(href='#')
                  i.icon-attachment
                  |  {{ $t('addScrnShot') }}
                a.dropdown-item(href='#')
                  i.icon-rotate-ccw2
                  |  {{ $t('reassign') }}
                .dropdown-divider
                a.dropdown-item(href='#')
                  i.icon-pencil7
                  |  {{ $t('edit') }}
                a.dropdown-item(href='#')
                  i.icon-cross2
                  |  {{ $t('delete') }}
</template>

<script>
export default {
  computed: {
    tickets() {
      return this.$store.getters.getTickets
    }
  }
}
</script>
