<template lang="pug">
.content
  Loading(v-if="loading")
  .card(v-else)
    .card-header.header-elements-inline
      h5.card-title {{ title }}
      .header-elements
        .list-icons
          a.list-icons-item(data-action='collapse')
          a.list-icons-item(data-action='reload')
          a.list-icons-item(data-action='remove')
    .card-body
      form
        .form-group.row
          label.col-form-label.col-lg-2(for="username" :class="{ 'text-danger': errors.has('username') }") {{ $t('nickname') }}
          .col-lg-10
            div(:class="{ 'form-group-feedback': errors.has('username'), 'form-group-feedback-right': errors.has('username') }")
              input.form-control.cursor-pointer#username(type='text'
                                                         v-validate="'required|min:3'"
                                                         v-model="user.username"
                                                         name="username"
                                                         :class="{ 'border-danger': errors.has('username') }")
              .form-control-feedback.text-danger(v-show="errors.has('username')")
                i.icon-cancel-circle2
        .form-group.row
            label.col-form-label.col-lg-2(for="password" :class="{ 'text-danger': errors.has('password') }") {{ $t('password') }}
            .col-lg-10
              div(:class="{ 'form-group-feedback': errors.has('password'), 'form-group-feedback-right': errors.has('password') }")
                input.form-control.cursor-pointer#password(type='password' 
                                                           v-model="user.password"
                                                           v-validate="'required|min:6'"
                                                           :class="{ 'border-danger': errors.has('password') }"
                                                           ref="password"
                                                           name="password")
                .form-control-feedback.text-danger(v-show="errors.has('password')")
                  i.icon-cancel-circle2

        .form-group.row
          label.col-form-label.col-lg-2(for="password_confirmation" :class="{ 'text-danger': errors.has('password_confirmation') }") {{ $t('repeatPassword') }}
          .col-lg-10
            div(:class="{ 'form-group-feedback': errors.has('password_confirmation'), 'form-group-feedback-right': errors.has('password_confirmation') }")
              input.form-control.cursor-pointer#password2(type='password'
                                                          v-model="user.password2"
                                                          v-validate="'required|confirmed:password'"
                                                          name="password_confirmation"
                                                          :class="{ 'border-danger': errors.has('password_confirmation') }"
                                                          data-vv-as="password")
              .form-control-feedback.text-danger(v-show="errors.has('password_confirmation')")
                i.icon-cancel-circle2
        .form-group.row
            label.col-form-label.col-lg-2(for="email" :class="{ 'text-danger': errors.has('email') }") {{ $t('email') }}
            .col-lg-10
              div(:class="{ 'form-group-feedback': errors.has('email'), 'form-group-feedback-right': errors.has('email') }")
                input.form-control.cursor-pointer#email(type='email'
                                                        v-model="user.email"
                                                        v-validate="'required|email'"
                                                        name="email"
                                                        :class="{ 'border-danger': errors.has('email') }")
                .form-control-feedback.text-danger(v-show="errors.has('email')")
                  i.icon-cancel-circle2
        .form-group.row
            label.col-form-label.col-lg-2(for="phoneNumber" :class="{ 'text-danger': errors.has('phoneNumber') }") {{ $t('phoneNumberWoArea') }}
            .col-lg-10
              div(:class="{ 'form-group-feedback': errors.has('phoneNumber'), 'form-group-feedback-right': errors.has('phoneNumber') }")
                input.form-control.cursor-pointer#phoneNumber(type='text'
                                                        v-model="user.phoneNumber"
                                                        v-validate="'required|numeric|min:10'"
                                                        name="phoneNumber"
                                                        :class="{ 'border-danger': errors.has('phoneNumber') }")
                .form-control-feedback.text-danger(v-show="errors.has('phoneNumber')")
                  i.icon-cancel-circle2
      fieldset.mb-3
        legend.text-uppercase.font-size-sm.font-weight-bold {{ $t('fullNameOptionalHelper') }}
        .form-group.row
          label.col-form-label.col-lg-2 {{ $t('fullName') }}:
          .col-lg-10
            .row
              .col-md-4
                input.form-control(type='text' v-model="user.lastName")
                span.form-text.text-muted.text-center {{ $t('lastName') }}
              .col-md-4
                input.form-control(type='text' v-model="user.firstName")
                span.form-text.text-muted.text-center {{ $t('firstName') }}
              .col-md-4
                input.form-control(type='text' v-model="user.middleName")
                span.form-text.text-muted.text-center {{ $t('middleName') }}
      .alert.alert-danger(v-show="error") {{ error }}
      .text-right
        button(type="button" class="btn btn-primary" @click="createSuperUser()" :disabled="errors.any() || !formIsValid") {{ $t('create') }}
          i.icon-paperplane.ml-2
</template>

<script>
import Loading from '@/components/Loading';
import API from '@/services/api';

export default {
  props: {
    userInfo: {
      type: Object,
      default: () => {
        return {
          username: '',
          email: '',
          password: '',
          password2: '',
          firstName: '',
          lastName: '',
          middleName: '',
          phoneNumber: '',
        };
      },
    },
    title: {
      type: String,
      default: () => this.$t('edit'),
    },
  },
  data() {
    return {
      loading: null,
      error: null,
    };
  },
  methods: {
    createSuperUser() {
      if (!this.formIsValid) {
        return;
      }
      this.loading = true;
      this.error = null;
      this.user.phoneNumber = `+7${this.userInfo.phoneNumber }`
      API.initProject(this.user)
        .then((rqst) => {
          this.loading = false;
          this.$router.push('/');
        })
        .catch((e) => {
          this.error = e.statusCode;
        })

    },
  },
  components: {
    Loading,
  },
  computed: {
    user: function() {
      return this.userInfo;
    },
    formIsValid: function() {
      return this.user.username && this.user.password && this.user.password2 && this.user.email && this.user.phoneNumber;
    },
  }
};
</script>
