<template lang="pug">
    div.work-message
        h3.text-muted {{ $t('inDevelopment').toUpperCase() }}
</template>


<style lang="sass">
    .work-message
        margin: auto
        height: calc(100vh - 46px)
        display: flex
        justify-content: center
        align-items: center
</style>
