<template lang="pug">
.content.bg-white
  .d-flex.align-items-start.flex-column.flex-md-row
    .w-100.order-2.order-md-1
      card(
        v-for="u of updates"
        :title="(u.status === 'active' ? 'Версия: ' : 'Доступная новая версия: ') + u.version"
        :text="u.description"
        :rightHeaderText="shortDate(u.created)"
        :level="u.status === 'active' ? 'success' : 'danger'"
        :initialCollapsed="u.status !== 'active'"
      )
    .sidebar-sticky.w-md-auto.order-1.order-md-2
        .sidebar.sidebar-light.sidebar-component.sidebar-component-right.rounded-0.shadow-0.sidebar-expand-md(style='')
            .sidebar-content
              // Navigation
              .card.rounded-0
                .card-header.rounded-0.bg-transparent.header-elements-inline
                  span.text-uppercase.font-size-sm.font-weight-semibold Список обновлений
                  .header-elements
                    .list-icons
                      a.list-icons-item(data-action='collapse')
                .card-body.rounded-0
                  a.btn.bg-success.btn-block(@click="applyUpdate")
                    i.icon-lifebuoy.mr-2
                    |  Обновить сейчас!
                ul.nav.nav-sidebar.nav-scrollspy
                  li.nav-item-header.font-size-xs.line-height-xs.text-uppercase.pt-0 Список версий
                  li.nav-item(v-for="u of updates.slice(0, 5)")
                    a.nav-link
                      | Версия {{ u.version }}
                      span.text-muted.font-weight-normal.ml-auto {{ shortDate(u.created) }}


</template>

<script>
import formatterMixin from '@/mixins/FormatterMixin';
import Card from '@/components/UI/Card';
import types from '@/store/actionTypes';

export default {
  name: 'ChangelogView',
  mixins: [formatterMixin],
  methods: {
    tryLoadUpdates() {
      if (!this.updates.length) {
        this.$store.dispatch(types.system.LOAD_UPDATES);
      }
    },
    applyUpdate() {
      this.$store.dispatch(types.system.APPLY_UPDATE);
    },
  },
  components: {
    Card,
  },
  computed: {
    updates() {
      return this.$store.getters.getUpdates;
    },
  },
  beforeMount() {
    this.tryLoadUpdates();
  },
};
</script>
