<script id="report_manager_contact_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>С:</label>
                <input type="date" name="date_gt" class="form-control input-sm">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>По:</label>
                <input type="date" name="date_lt" class="form-control input-sm">
            </div>
        </div>
        <div class="col-sm-12">
            <button type="button" id="getReport" class="btn btn-default btn-sm" style="margin-bottom: 20px;" disabled="">Сформировать</button>
        </div>
    </div>
	<table id="table"></table>
</script>

<script id="report_change_db_client_view" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>
        <form>
            <div class="form-group">
                <label>Менеджер:</label>
                <input type="text" name="created_user__managers__in" class="form-control input-sm" id="SelectManager">
            </div>
            <div class="form-group">
                <label>С:</label>
                <input type="date" name="date__gte" class="form-control input-sm">
            </div>
            <div class="form-group">
                <label>По:</label>
                <input type="date" name="date__lte" class="form-control input-sm">
            </div>
        </form>


    <button id="getReport" type="button" class="btn btn-sm btn-default" style="margin-bottom: 10px;" disabled="">Сформировать</button>
    <table id="table"></table>
</script>

<script id="report_by_project_view" type="text/template">
    <div class="title_left">
        
    </div>
    <div class="title_right">
        <form>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>С:</label>
                    <input type="month" name="date__gt" class="form-control input-sm">
                </div>
                <div class="form-group col-sm-6">
                    <label>По:</label>
                    <input type="month" name="date__lt" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <label>Вид проекта:</label>
                <input type="text" name="project_type" class="form-control input-sm" id="SelectProjectType">
            </div>
            <div class="form-group">
                <label>Отбирать по:</label>
                <select name="category_select" class="form-control input-sm" id="SelectCategory"></select>
                <!-- <input type="text" name="categity_select" class="form-control input-sm" id="SelectCategory"> -->
            </div>
            <div class="form-group">
                <label>Поля в динамике:</label>
                <input name="show_by" class="form-control input-sm" id="SelectFieldShow">
                <!-- <input type="text" name="categity_select" class="form-control input-sm" id="SelectCategory"> -->
            </div>
        </form>
        <button id="getReport" type="button" class="btn btn-sm btn-default" style="margin-bottom: 10px;">Сформировать</button>
    </div>
    <table id="table"></table>
    <table id="dynamic_table"></table>
    <!-- <h4>Показатели услуг проживания</h4> -->
    <div id="accommodation_services" style="margin-bottom: 5px;"></div>
    <!-- <h4>Показатели БанкетХолла</h4> -->
    <div id="banquet_hall"></div>
</script>