<template lang="pug">
  router-view
</template>

<script>
import actionTypes from '@/store/actionTypes';

export default {
  methods: {
    initSubNavBar() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_TYPE, 'confStandardization');
    },
    resetVisualisation() {
      this.$store.commit(actionTypes.ui.SET_SUB_NAVBAR_TYPE, 'default');
    },
    navigateToDefault() {
      if (this.$route.path === '/configuration/standartization') {
        this.$router.push('/configuration/standartization/standarts');
      }
    },
  },
  beforeMount() {
    this.navigateToDefault();
  },
  mounted() {
    this.initSubNavBar();
  },
  beforeDestroy() {
    this.resetVisualisation();
  },
};
</script>
