<script>
export default {
  name: 'FakeTableContentMixin',
  methods: {
    initFakeContent(keys) {
      const emptyBlock = '<div class="alpha-slate py-2 my-1 rounded animated flash"></div>';
      const data = [];
      const row = {};
      keys.forEach((v) => {
        row[v] = emptyBlock;
      });
      for (let i = 0; i < 25; i++) {
        data.push(row);
      }
      return data;
    },
  },
};
</script>
