<template lang="pug">
tbody#table-body(v-if="row")
  tr(:class="{ 'footable-detail-show': showDetail }")
    td.text-center(v-if="isCheckboxVisible" style="max-width: 20px; width: 20px")
      .custom-control.custom-checkbox.custom-control-inline
        input.custom-control-input(type='checkbox'
                                   v-model="selected"
                                   @click="setSelectedStatus"
                                   :id="'select-box' + $vnode.key")
        label.custom-control-label(:for="'select-box' + $vnode.key")

    td.footable-visible.footable-first-column(v-if="isMobile")
      span.footable-toggle(@click="toggleDetail")
    td.table-td(v-for="(c, k, i) in columns" v-if="c.isVisible && k !== 'appEvents'"
       :style="columnsWidth ? 'width:' + columnsWidth[i] + '%': ''"
       :class="{'footable-visible': c.isVisible, 'pointer': clickCallbacks && clickCallbacks[k], 'p-0': c.editable && selectedTdIndex === i}"
       @click="clickOnTd(c, k, i)")
      a(v-if="!c.editable || selectedTdIndex !== i" v-html="row[k]")
      textarea.row-area(v-else :value="rawRow[k]" @blur="unselectTd" ref="textarea" @change="onRowChange(k)")
    // td.text-center.footable-visible(v-show="!isMobile && columns.events.isVisible"
    //                                 @click="toggleActions"
    //                                 v-on-clickaway="closeActions")
      .list-icons
        .dropdown(:class="{ show: rowActions }")
          a.list-icons-item(data-toggle='dropdown')
            i.icon-menu9
          .dropdown-menu.dropdown-menu-right(:class="{ show: rowActions }")
            a.dropdown-item(v-for="event of events" @click="event.handler(row)")
              i(:class="event.class")
              | {{ event.name }}
            a.dropdown-item(@click="exportCsv")
              i.icon-file-excel
              |  {{ $t('exportTo', {format: '.csv'}) }}

  tr.footable-row-detail(v-show="showDetail && isMobile")
      td.footable-row-detail-cell(colspan='4' v-show="showDetail")
        .footable-row-detail-inner
          .footable-row-detail-group {{ $t('details') }}
          .footable-row-detail-row(v-for="(c, k, i) in columns" v-if="!c.isVisible")
              .footable-row-detail-name {{ $t(k) }}
              .footable-row-detail-value(v-html="row[k]")

</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';
import CSV from '@/services/csv.js';

export default {
  props: {
    row: {
      type: Object,
    },
    rawRow: {
      type: Object,
    },
    isMobile: {
      type: Boolean,
    },
    columns: {
      type: Object,
    },
    canEdit: {
      type: Boolean,
    },
    appEvents: {
      type: Array,
    },
    selectedAll: {
      type: Boolean,
    },
    columnsWidth: {
      type: Array,
    },
    clickCallbacks: {
      // Колбек функции для колонок
      // ключ - название колонки
      // значение - колбек функция
      type: Object,
    },
    isCheckboxVisible: {
      type: Boolean,
      default: true,
    },
    i: {
      type: Number,
    },
  },
  data() {
    return {
      showDetail: false,
      rowActions: false,
      selected: false,
      selectedTdIndex: null,
      tmp: null,
    };
  },
  mixins: [clickaway],
  methods: {
    toggleDetail() {
      this.showDetail = !this.showDetail;
    },
    toggleActions() {
      this.rowActions = !this.rowActions;
    },
    closeActions() {
      this.rowActions = false;
    },
    setSelectedStatus(e) {
      this.selected = !this.selected;
      this.onSelected();
    },
    onSelected() {
      if (this.selected) {
        this.$emit('onSelectRow', this.i);
        return;
      }
      this.$emit('onDeselectRow', this.i);
    },
    exportCsv() {
      CSV.export([this.row]);
    },
    clickOnTd(c, k, i) {
      if (this.clickCallbacks && this.clickCallbacks[k]) {
        this.clickCallbacks[k](this.i);
      }
      this.selectedTdIndex = i;
    },
    unselectTd() {
      this.selectedTdIndex = null;
    },
    onRowChange(k) {
      if (this.$refs.textarea && this.$refs.textarea[0] && this.$refs.textarea[0].value !== this.rawRow[k]) {
        this.$emit('onRowChange', {
          i: this.i,
          row: {
            ...this.rawRow,
            [k]: this.$refs.textarea[0].value,
          },
        });
      }
    },
  },
  beforeDestroy() {
    this.selected = false;
  },
  updated() {
    if (this.$refs.textarea && this.$refs.textarea[0]) {
      this.$refs.textarea[0].focus();
    }
  },
  watch: {
    selectedAll() {
      this.selected = this.selectedAll;
    },
  },
};
</script>

<style lang="sass">
.row-area
  display: block
  width: 100%
  background: rgba(0,0,0,0)
  border: none
  min-width: 200px
  height: 100%
  padding: 12px 20px
.table-td
  height: 40px
</style>
