<template lang="pug">
  Table(v-bind="props"
        @onSort="sortBy"
        @onConfigChange="onConfigChange"
        @onChangeSelected="changeSelected"
        @onRowChange="onRowChange")
    slot(name="subheader" slot="subheader")
    slot(name="header-left" slot="header-left")
    slot(name="header-right" slot="header-right")
    slot(name="filters" slot="filters")
    slot(name="table-footer" slot="table-footer")
    slot(name="additional-params" slot="additional-params")
</template>

<script>
import Table from './Table';

export default {
  name: 'TableWrapper',
  components: {
    Table,
  },
  methods: {
    sortBy(c) {
      this.$emit('onSort', c);
    },
    onConfigChange(c) {
      this.$emit('onConfigChange', c);
    },
    changeSelected(c) {
      this.$emit('onChangeSelected', c);
    },
    onRowChange(payload) {
      this.$emit('onRowChange', payload);
    },
  },
  computed: {
    fixedHeaderOffset() {
      if (this.$store.getters.getSubNavBarFixed) {
        return 44;
      }
      return 0;
    },
    props() {
      return { ...this.$attrs, fixedHeaderOffset: this.fixedHeaderOffset };
    },
  },
};
</script>
