<template lang='pug'>
.card-body(v-bind:style="{ height: tableHeight }")
  #DataTables_Table_4_wrapper.dataTables_wrapper.no-footer(style="padding: 0;")
    .datatable-header
      .d-md-flex
        slot(name="header-left")

        template(v-if="$slots.filters")
          h6.mr-4(@click="showFiltres = !showFiltres")
            a.text-default(role='button', href='#')
              i.icon-unfold.mr-2
              | {{ $t('filters') }}
          .mr-auto
            h6.my-2.mr-3
              a.text-default(href='#')
                i.icon-reload-alt.mr-2
                | {{ $t('reset') }} {{ $t('filters') }}
        .mr-4.text-muted(v-if="selectedCount > 0")
          a.text-muted
            i.icon-checkmark-circle.text-success.mr-2
            | {{ $t('numSelected', { n: selectedCount }) }}.

        slot(name="header-right")
        div(:class="{'ml-auto': !$slots['header-right']}")
          .mr-4(@click="print")
            a.text-default(href='#', data-popup='tooltip', title='Печать', data-toggle='collapse', aria-expanded='true')
              i.icon-printer
        .mr-4(@click='exportCsv')
          a.text-default(href='#collapse-link', data-popup='tooltip', title='Экспортировать в CSV', data-toggle='collapse', aria-expanded='true')
            i.icon-file-spreadsheet
        .mr-4(@click.prevent="openMenu" v-on-clickaway="closeMenu" style="height: 30px")
          a.text-default.dropdown-toggle(href='#')
            span.position-right {{ $t('params') }}
            span.caret
          ul.dropdown-menu.dropdown-menu-right.border-0.rounded-0.m-0(
              :class="{ show: showActionMenu }"
              @mouseover="setBlockParamsClickAway(true)"
              @mouseleave="setBlockParamsClickAway(false)"
            )
            slot(name="additional-params")
            a.dropdown-item(@click="toggleTableHeader")
              .form-check.form-check-inline.form-check-switchery
                input.toggle-offset(type='checkbox' data-switchery='true' style='display: none;')
                span.switchery.switchery-default(:class="{ deactive: !activeHeader, active: activeHeader }")
                  small(style='')
                | {{ $t('fixTableHeaderLabel') }}
            .dropdown-submenu.dropup
              a.dropdown-item.dropdown-toggle(@click="toggleSubMenu") {{ $t('tableData') }}
              .dropdown-menu.border-0.rounded-0.p-0#left-params-menu(:class="{show: showSubMenu}")
                .dt-button-collection.active-column-menu.p-0(style="top: -45px !important;")
                  button.dt-button.m-0(type='button'
                                  @click="toggleCheckbox"
                                  :class="{ selected: isCheckBoxVisible }")
                    span {{ $t('checkbox') }}
                  button.dt-button.m-0(v-for="column of cols"
                                    type='button'
                                    @click="toggleColumn(column)"
                                    :class="{ selected: column.isVisible }")
                    span {{ column.text }}
            //- .dt-button-collection.active-column-menu(style="position: relative")
              //- button.dt-button(type='button'
              //-                  @click="toggleCheckbox"
              //-                  :class="{ selected: isCheckBoxVisible }")
              //-   span {{ $t('collapse') }} checkbox
              //- button.dt-button(v-for="column of cols"
              //-                   type='button'
              //-                   @click="toggleColumn(column)"
              //-                   :class="{ selected: column.isVisible }")
              //-   span {{ $t('collapse') }} {{ column.text }}

      #collapse-link.collapse.show(v-show="showFiltres")
        slot(name="filters")

  slot(name="subheader")
  .table-progress-bar(v-if="searchProgress < 100 && searchProgress > 0"
                      :style="{width: searchProgress + '%'}")
  div#tableScrollWrapper(style="overflow-x: scroll")
    table.table.table-togglable.table-hover.footable.footable-loaded.footable.tablet.dataTable.table-striped.table-borderless#DataTables_Table_4(
    v-if="cols"
    ref="tableWrapper"
    :class='{ default: !isMobile, breakpoint: isMobile }'
    style="overflow-x: scroll"
   )
      thead.text-nowrap
        tr.bg-slate
          th(v-if="isCheckBoxVisible"
             style="max-width: 20px")
            .custom-control.custom-checkbox.custom-control-inline
              input.custom-control-input(v-show='!fixedHeader' type='checkbox'
                                        v-model="selectedAll"
                                        @click="selectAll"
                                        :id="'select-all-li-box'+id")
              label.custom-control-label(:for="'select-all-li-box'+id")
          th.sorting.header-column(v-if="isMobile")
          th.sorting.header-column(v-for='(column, name) of cols'
                                   v-if='column.isVisible'
                                   @click="sortBy(name)")
            | {{ column.text }}
      thead.fixed-header.text-nowrap#table-header(
          v-show='fixedHeader'
          :class="{ indent: subHeaderOffset }"
          :style="{'margin-top': fixedHeaderOffset + 'px'}"
        )
        tr.bg-slate
          th(v-if="isCheckBoxVisible"
             style="max-width: 20px")
            .custom-control.custom-checkbox.custom-control-inline
              input.custom-control-input(type='checkbox'
                                         v-model="selectedAll"
                                         @click="selectAll"
                                         id="select-all-li-box")
              label.custom-control-label(for="select-all-li-box")
          th(v-show="isMobile" style="width: 107px")
          th.sorting.fixed-header-column(v-for='(column, name) of cols'
                                         v-if='column.isVisible'
                                         @click="sortBy(name)"
                                         :style='{ width: column.width + "px", minWidth: column.width + "px" }')
            | {{ column.text }}
      template(v-for='(row, i) of rows')
        Row(:key="i + id"
            :i="i"
            :isMobile='isMobile'
            :columns="cols"
            :row='row'
            :rawRow="rawRows[i]"
            :canEdit="canEdit"
            :events="events"
            :columnsWidth="columnsWidth"
            :selectedAll="selectedAll"
            :clickCallbacks="clickCallbacks"
            :isCheckboxVisible="isCheckBoxVisible"
            @onSelectRow="selectRow"
            @onDeselectRow="deselectRow"
            @onRowChange="rowChange")
  div#fakeScrollWrapper(style="overflow-x: scroll")
    div#fakeScrollBar(ref="fakeScrollBar")
  .p-2
    slot(name="table-footer")
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';
import { uuid } from 'vue-uuid';
import Row from './Row';
import UserPrinting from '@/services/print.js';
import CSV from '@/services/csv.js';
// import Pagination from '@/components/Pagination';

export default {
  data() {
    return {
      windowWidth: 1200,
      tableHeight: 'auto',
      fixedHeader: false,
      activeHeader: false,
      columnShowing: false,
      selectedRows: [],
      cols: [],
      showActionMenu: false,
      showFiltres: false,
      selectedAll: false,
      blockParamsClickAway: false,
      isCheckBoxVisible: true,
      showSubMenu: false,
      id: uuid.v4(),
    };
  },
  props: {
    canEdit: {
      type: Boolean,
    },
    subHeaderOffset: {
      type: Boolean,
      default: false,
    },
    columns: {
      type: Array,
    },
    rows: {
      type: Array,
    },
    hideOnMobile: {
      type: Array,
    },
    events: {
      type: Array,
    },
    title: {
      type: String,
      default: '',
    },
    columnsWidth: {
      type: Array,
    },
    rawRows: {
      type: Array,
    },
    clickCallbacks: {
      // Колбек функции для колонок
      // ключ - название колонки
      // значение - колбек функция
      type: Object,
    },
    fixedHeaderOffset: {
      type: Number,
      default: 0,
    },
    searchProgress: {
      type: Number,
      default: 0,
    },
    initialConfig: {
      type: Object,
      default: () => ({
        initialFixedHeader: false,
        // Данные для инициализации видимости колонок
        // ключ - название колонки, значение - статус видимости (boolean)
        initialColumnsVisible: {},
      }),
    },
    calculateTableHeight: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [clickaway],
  components: {
    Row,
  },
  methods: {
    addEventListeners() {
      window.addEventListener('scroll', this.handleScroll);
      window.addEventListener('resize', this.handleResize);
      this.initTableHeight();
    },
    handleResize(event) {
      this.initWidth();
      this.initTableHeader();
      this.updateColumns();
      this.initHandleTopScroll();
    },
    handleScroll() {
      if (!this.activeHeader) {
        // Если пользователь выключил возможность фиксации шапки
        return;
      }
      const tableBody = document.getElementById('table-body');
      // Получение ширины колонок таблицы до колапса
      this.initTableHeader();
      // Фиксация шапки таблицы если текущая позиция прокрутки ниже позиции шапки
      if (tableBody.getBoundingClientRect().top < 0) {
        this.fixedHeader = true;
        // this.initFixedHeaderWidth();
        return;
      }
      this.fixedHeader = false;
    },
    initTableHeader() {
      const headerColumns = document.getElementsByClassName('header-column');
      // const columnsWidth = [];
      const columnNames = Object.keys(this.cols).filter(k => this.cols[k].isVisible);
      let i = 0;
      // eslint-disable-next-line
      for (const th of headerColumns) {
        if (!columnNames[i]) {
          break;
        }
        this.cols[columnNames[i]].width = th.offsetWidth;

        i++;
      }
    },
    initTableHeight() {
      if (this.calculateTableHeight) {
        this.tableHeight = `${String((screen.availHeight - document.getElementsByClassName('card-body')[0].getBoundingClientRect().y - 45).toFixed())}px`;
      }
    },
    initWidth() {
      this.windowWidth = document.documentElement.clientWidth;
    },
    updateColumns() {
      if (!Object.keys(this.cols).length || !this.hideOnMobile) {
        return;
      }
      const cols = { ...this.cols };
      Object.keys(cols).forEach((k) => {
        if (this.hideOnMobile.indexOf(k) >= 0) {
          cols[k].isVisible = !this.isMobile;
        }
      });
      // cols.events.isVisible = !this.isMobile;
      this.cols = cols;
    },
    print() {
      let { selectedRows } = this;
      if (!selectedRows.length) {
        selectedRows = this.rows;
      }
      const cols = Object.keys(this.cols).filter(c => this.cols[c].isVisible && c !== 'appEvents' && c !== 'appCehckbox');
      const header = cols.map(c => this.$t(c));
      const printing = new UserPrinting(selectedRows, header, cols);
      printing.print();
    },
    exportCsv() {
      let { selectedRows } = this;
      if (selectedRows.length < 1) {
        selectedRows = [...this.rows];
      }
      const columns = Object.keys(this.cols).filter(c => this.cols[c].isVisible);
      CSV.export(selectedRows, columns, this.title);
    },
    toggleTableHeader() {
      this.activeHeader = !this.activeHeader;
      if (this.activeHeader) {
        this.initHandleTopScroll();
      }
      this.onConfigChange();
    },
    toggleColumnMenu() {
      this.columnShowing = !this.columnShowing;
    },
    closeColumnMenu() {
      this.columnShowing = false;
    },
    toggleColumn(column) {
      column.isVisible = !column.isVisible;
      this.initTableHeader();
      this.onConfigChange();
      this.initHandleTopScroll();
    },
    initColumns() {
      const cols = {};
      this.columns.forEach((c) => {
        if (typeof c === 'string') {
          cols[c] = { isVisible: true, text: this.$t(c) };
          return;
        }
        cols[c.value] = { ...c, isVisible: true, text: this.$t(c.value) };
      });
      this.cols = cols;
    },
    selectRow(entityIndex) {
      this.selectedRows.splice(entityIndex, 1, this.rawRows[entityIndex]);
    },
    deselectRow(entityIndex) {
      const i = this.selectedRows.findIndex(o => o === this.rawRows[entityIndex]);
      this.selectedRows.splice(i, 1);
    },
    openMenu() {
      this.showActionMenu = true;
    },
    closeMenu() {
      if (this.blockParamsClickAway) {
        return;
      }
      this.showSubMenu = false;
      if (this.showActionMenu) this.showActionMenu = false;
    },
    selectAll() {
      this.selectedAll = !this.selectedAll;
      if (!this.selectedAll) {
        this.deselectAll();
        // this.emitOnSelectedChagne();
        return;
      }
      this.selectedRows = [...this.rawRows];
      // this.emitOnSelectedChagne();
    },
    deselectAll() {
      this.selectedRows = [];
      this.selectedAll = false;
    },
    initHandleTopScroll() {
      const tableWrapper = document.getElementById('tableScrollWrapper');
      const scrollWrapper = document.getElementById('fakeScrollWrapper');
      const tableHeader = document.getElementById('table-header');

      this.$refs.fakeScrollBar.style.width = `${this.$refs.tableWrapper.offsetWidth}px`;
      if (this.$refs.tableWrapper.offsetWidth <= window.innerWidth) {
        scrollWrapper.style.display = 'none';
        tableHeader.style['overflow-x'] = 'hidden';
        return;
      }
      scrollWrapper.style.display = 'block';
      const handleWheel = (e) => {
        if (e.shiftKey) {
          e.preventDefault();
          let offset = -180;
          if (e.wheelDelta < 0) {
            offset = 180;
          }
          scrollWrapper.scrollLeft += offset;
        }
      };
      scrollWrapper.addEventListener('wheel', handleWheel);
      tableWrapper.addEventListener('wheel', handleWheel);
      tableHeader.addEventListener('wheel', handleWheel);

      scrollWrapper.onscroll = () => {
        tableWrapper.scrollLeft = scrollWrapper.scrollLeft;
        tableHeader.scrollLeft = scrollWrapper.scrollLeft;
      };
      tableWrapper.onscroll = () => {
        scrollWrapper.scrollLeft = tableWrapper.scrollLeft;
        tableHeader.scrollLeft = scrollWrapper.scrollLeft;
      };
      tableHeader.onscroll = () => {
        scrollWrapper.scrollLeft = tableHeader.scrollLeft;
        tableWrapper.scrollLeft = tableHeader.scrollLeft;
      };
    },
    setBlockParamsClickAway(status) {
      // console.log('TCL: setBlockParamsClickAway -> status', status);
      this.blockParamsClickAway = status;
    },
    toggleCheckbox() {
      this.isCheckBoxVisible = !this.isCheckBoxVisible;
      this.onConfigChange();
    },
    toggleSubMenu() {
      this.showSubMenu = !this.showSubMenu;
    },
    sortBy(c) {
      this.$emit('onSort', c);
    },
    initCahesColumnsVisible(initialColumnsVisible) {
      const cols = { ...this.cols };
      Object.keys(initialColumnsVisible).forEach((k) => {
        cols[k].isVisible = initialColumnsVisible[k];
      });
      this.cols = cols;
    },
    initDefaultFixedHeader(initialFixedHeader) {
      this.activeHeader = initialFixedHeader;
    },
    initDefaultConfig() {
      if (!this.initialConfig) {
        return;
      }
      if (this.initialConfig.initialColumnsVisible
          && this.initialConfig.initialColumnsVisible.constructor === Object) {
        this.initCahesColumnsVisible(this.initialConfig.initialColumnsVisible);
      }
      this.initDefaultFixedHeader(this.initialConfig.initialFixedHeader);
      if (this.initialConfig.isCheckBoxVisible !== undefined) {
        this.isCheckBoxVisible = this.initialConfig.isCheckBoxVisible;
      }
    },
    onConfigChange() {
      const initialCols = {};
      Object.keys(this.cols).forEach((k) => {
        initialCols[k] = this.cols[k].isVisible;
      });
      this.$emit('onConfigChange', {
        initialColumnsVisible: initialCols,
        initialFixedHeader: this.activeHeader,
        isCheckBoxVisible: this.isCheckBoxVisible,
      });
    },
    emitOnSelectedChagne() {
      this.$emit('onChangeSelected', this.selectedRows);
    },
    rowChange(payload) {
      this.$emit('onRowChange', payload);
    },
  },
  computed: {
    locale() {
      return this.$store.state.locale.locale;
    },
    isMobile() {
      return this.windowWidth < 1000;
    },
    eventColumnWidth() {
      return document.getElementById;
    },
    selectedCount() {
      return this.selectedRows.length;
    },

  },
  watch: {
    columns: {
      handler() {
        this.initColumns();
      },
      deep: true,
    },
    locale(n) {
      console.debug(n);
      this.updateColumns();
    },
    selectedRows() {
      this.emitOnSelectedChagne();
    },
    rawRows: {
      deep: true,
      handler() {
        this.deselectAll();
        this.id = uuid.v4();
      },
    },
  },
  beforeMount() {
    this.initColumns();
    this.initDefaultConfig();
  },
  mounted() {
    this.initWidth();
    this.updateColumns();
    this.addEventListeners();
    this.initHandleTopScroll();
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize);
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>


<style lang='sass'>
.inactive
  display: none
.fixed-header
  position: fixed
  top: 0
  background: white
  z-index: 5
.fixed-header.indent
  top: 44px
.deactive
  box-shadow: rgb(255, 112, 67) 0px 0px 0px 0px inset
  border-color: rgb(255, 112, 67)
  background-color: rgb(255, 112, 67)
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s
  small
    left: 0px
    transition: background-color 0.4s ease 0s, left 0.2s ease 0s
.active
  // box-shadow: rgb(100, 189, 99) 0px 0px 0px 10px inset
  // border-color: rgb(100, 189, 99)
  // background-color: rgb(100, 189, 99)
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s
  small
    left: 18px
    transition: background-color 0.4s ease 0s, left 0.2s ease 0s
    background-color: rgb(255, 255, 255)
.active-column-menu
  top: 36px
  left: -85.875px
.table-striped
  tbody
    &:nth-of-type(odd)
      background: #fbfbfb

#fakeScrollBar
  overflow-y: hidden
  height: 5px
#fakeScrollWrapper
  position: fixed
  width: 100%
  height: 5px
  bottom: 0

.table
  thead
    th
      border-bottom: none
#table-header
  &::-webkit-scrollbar:horizontal
    height: 0em
    cursor: pointer
  overflow-x: scroll
  width: 100%
#left-params-menu
  left: -180px !important
  right: none
#tableScrollWrapper
  &::-webkit-scrollbar:horizontal
    height: 0em
    cursor: pointer

</style>
