<template lang="pug">
.content.p-0.bg-white
  .row.mx-0
    .col-lg-6.px-0
      .card.rounded-0.shadow-0.border-0
        .card-header.border-0.bg-white.header-elements-sm-inline
          h5.mb-0.card-title Список задач резервного копирования
          .header-elements
            ul.list-inline.mb-0
              li.list-inline-item
                a.text-success(href='#' @click="toggleCreatingMenu") Добавить задачу

        .card-body.p-0
          BackupCreation(:class="{ show: showCreatingMenu }" @onCreateBackupTask="createBackup")
          Table(:columns="tasksColumns"
                :rows="formattedBackupTasks"
                :rawRows="backupTasks"
                @onChangeSelected="changeSelectedTasks")
            template(slot="additional-params")
              a.dropdown-item(@click="deleteSelectedBackupTasks") {{ $t('delete') }}
            div.text-right(slot="table-footer")
              Pagination(:pagination="backupTasksPagination" @onNavigate="navigateToBackupTasks")
    .offset-1.col-lg-5
      .card.rounded-0.shadow-0.border-0
        .card-header.border-bottom-0.bg-white.pb-0.pt-sm-0.pr-sm-0.header-elements-sm-inline
          h5.card-title Настройки резервного копирования
          .header-elements
            ul.nav.nav-tabs.nav-tabs-bottom.card-header-tabs.mx-0
              li.nav-item
                a.nav-link.active(href='#card-bottom-tab1', data-toggle='tab')
                  i.icon-screen-full.mr-2
                  | 												Файловая система
              li.nav-item
                a.nav-link(href='#card-bottom-tab2', data-toggle='tab')
                  i.icon-stats-bars.mr-2
                  | 												FTP / SFTP
              li.nav-item
                a.nav-link(href='#card-bottom-tab2', data-toggle='tab')
                  i.icon-stats-bars.mr-2
                  | 												Amazon S3
        .card-body.tab-content
          #card-bottom-tab1.tab-pane.fade.show.active
            .form-group.row
              label.col-form-label.col-md-5 Адрес сервера LDAP *
              .col-md-7
                input.form-control.rounded-0(type='text', placeholder='192.168.0.1')
            .form-group.row
              label.col-form-label.col-md-5 Порт сервера LDAP *
              .col-md-7
                input.form-control.rounded-0(type='text', placeholder='3567')
            .form-check.form-check-right.form-check-switchery.mb-3
              label.form-check-label
                input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
                span.switchery.switchery-default(style='background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 10px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;')
                  small(style='left: 18px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s; background-color: rgb(255, 255, 255);')
                | SSL подлкючение к LDAP серверу
          #card-bottom-tab2.tab-pane.fade
            | This is the second card tab content
          #card-bottom-tab3.tab-pane.fade
            | This is the third card tab content
          #card-bottom-tab4.tab-pane.fade
            | This is the fourth card tab content
  .row.mx-0
    .col-lg-12.px-0
      .card.rounded-0.shadow-0.border-0
        .card-header.border-0.bg-white.header-elements-sm-inline
          h5.mb-0 Список резервных копий
          .header-elements
            ul.list-inline.mb-0
              li.list-inline-item
                a.text-warning-400(href='#') Восстановить
        Table(:columns="columns"
              :rows="formattedBackups"
              :rawRows="backupsData"
              @onChangeSelected="changeSelectedBackups")
          template(slot="additional-params")
              a.dropdown-item(@click="deleteSelectedBackups") {{ $t('delete') }}
          div.text-right(slot="table-footer")
            Pagination(:pagination="backupsPagination" @onNavigate="navigateToBackups")
</template>

<script>
import moment from 'moment';
import { mapState } from 'vuex';

import actionTypes from '@/store/actionTypes';
import Table from '@/components/Table/TableWrapper';
import Pagination from '@/components/Pagination';
import BackupCreation from '@/components/System/Backups/BackupCreation';

export default {
  name: 'BackupView',
  data() {
    return {
      showCreatingMenu: false,
      selectedTasks: [],
      selectedBackups: [],
    };
  },
  components: {
    Table,
    Pagination,
    BackupCreation,
  },
  methods: {
    loadTables() {
      if (this.tables) {
        return;
      }
      this.$store.dispatch(actionTypes.db.LOAD_DATABASE_TABLE_NAMES);
    },
    loadBackupTasks() {
      if (this.backupTasks.length) {
        return;
      }
      this.fetchBackupTasks();
    },
    loadBackups() {
      if (this.backups) {
        return;
      }
      this.$store.dispatch(actionTypes.db.LOAD_BACKUPS);
    },
    navigateToBackups({ offset, limit }) {
      this.$store.commit(actionTypes.db.SET_BACKUPS_PAGINATION, {
        ...this.backupsPagination,
        offset,
        limit,
      });
      this.loadBackups();
    },
    loadBackups() {
      this.$store.dispatch(actionTypes.db.LOAD_BACKUPS);
    },
    navigateToBackupTasks({ limit, offset }) {
      this.$store.commit(actionTypes.db.SET_BACKUP_TASKS_PAGINATION, {
        ...this.backupTasksPagination,
        offset,
        limit,
      });
      this.fetchBackupTasks();
    },
    fetchBackupTasks() {
      this.$store.dispatch(actionTypes.db.LOAD_BACKUP_TASKS);
    },
    toggleCreatingMenu() {
      this.showCreatingMenu = !this.showCreatingMenu;
    },
    createBackup(data) {
      this.$store.dispatch(actionTypes.db.CREATE_BACKUP_TASK, data);
    },
    changeSelectedTasks(selectedTasks) {
      this.selectedTasks = selectedTasks;
    },
    changeSelectedBackups(selectedBackups) {
      this.selectedBackups = selectedBackups;
    },
    deleteSelectedBackups() {
      const deletedBackupsId = this.selectedBackups.map(b => b.id);
      this.$store.dispatch(actionTypes.db.DELETE_BACKUPS, { ids: deletedBackupsId });
      this.selectedBackups = [];
    },
    deleteSelectedBackupTasks() {
      const deletedBackupTasksId = this.selectedTasks.map(b => b.id);
      this.$store.dispatch(actionTypes.db.DELETE_BACKUP_TASKS, { ids: deletedBackupTasksId });
      this.selectedBackupTasks = [];
    },
  },
  computed: {
    columns() {
      return [
        'id',
        'created',
        'name',
        'events',
      ];
    },
    tasksColumns() {
      return [
        'id',
        'name',
        'created',
        'description',
        'events',
        'lastUpdate',
        'periodic',
      ];
    },
    dateFormat() {
      return 'YYYY-MM-DD HH:mm:ss';
    },
    backupsData() {
      if (this.backups) {
        return this.backups;
      }
      return [];
    },
    formattedBackups() {
      const formattedData = this.backupsData.map(d => ({
        id: d.id,
        created: moment(d.created).format(this.dateFormat),
        name: d.name,
        events: d.events ? d.events.join(',') : [],
      }));
      return formattedData;
    },
    formattedBackupTasks() {
      const formattedData = this.backupTasks.map(d => ({
        id: d.id,
        created: moment(d.created).format(this.dateFormat),
        name: d.name,
        events: d.events.join(','),
        description: d.description,
        periodic: `${d.periodic}h`,
        lastUpdate: moment(d.lastUpdate).format(this.dateFormat),
      }));
      return formattedData;
    },
    ...mapState({
      loading: state => state.db.dbLoading,
      error: state => state.db.dbError,
      tables: state => state.db.dbTables,
      backupTasks: state => state.db.backupTasks || [],
      backups: state => state.db.backups,
      backupsPagination: state => state.db.backupsPagination,
      backupTasksPagination: state => state.db.backupTasksPagination,
    }),
  },
  beforeMount() {
    this.loadTables();
    this.loadBackupTasks();
    this.loadBackups();
  },
};
</script>
