<template lang="pug">
.content.bg-white.full-content-size
  .row
    .col-lg-3
      h5.mb-3 Общие настройки LDAP
      .form-check.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          switch-button(text="Включить/отключить LDAP авторизацию")
      .form-group.row
        label.col-form-label.col-md-4 Пользователь LDAP *
        .col-md-5
          input.form-control.rounded-0(type='text', placeholder='')
      .form-group.row
        label.col-form-label.col-md-4 Пароль LDAP *
        .col-md-5
          input.form-control.rounded-0(type='text', placeholder='')
    .col-lg-4
      h5.mb-3 Параметры сервера LDAP
      .form-group.row
        label.col-form-label.col-md-5 Адрес сервера LDAP *
        .col-md-7
          input.form-control.rounded-0(type='text', placeholder='192.168.0.1')
      .form-group.row
        label.col-form-label.col-md-5 Порт сервера LDAP *
        .col-md-7
          input.form-control.rounded-0(type='text', placeholder='3567')
      .form-check.form-check-right.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          switch-button(text="SSL подлкючение к LDAP серверу")
      .form-check.form-check-right.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          switch-button(text="TLS подлкючение к LDAP серверу")
      .form-group.row
        label.col-form-label.col-md-5 Базовый DN *
        .col-md-7
          input.form-control.rounded-0(type='text', placeholder='Eсли DN example.com, то dc=example,dc=com.')
      .form-group.row
        label.col-form-label.col-md-5 Фильтр пользователей LDAP сервера *
        .col-md-7
          textarea.form-control.rounded-0(rows='1', cols='1', placeholder='(&(cn=%u)(objectClass=account))')
      .form-group.row
        label.col-form-label.col-md-5 Фильтр пользователей Active Directory *
        .col-md-7
          textarea.form-control.rounded-0(rows='1', cols='1', placeholder='(&(sAMAccountName=%u)(objectCategory=person))')
    .col-lg-4.offset-1
      h5.mb-3 Расширенные настройки LDAP
      .form-group.row
        label.col-form-label.col-md-5 Роль для новых пользователей *
        grouping-select(:selectData="groupingTimeZones")
          span.dropdown-wrapper(aria-hidden='true')
      .form-check.form-check-switchery.mb-3
        label.form-check-label
          input.form-check-input-switchery(type='checkbox', checked='', data-fouc='', data-switchery='true', style='display: none;')
          switch-button(text="Требовать создание Локальной учетной записи")

</template>


<script>
import SwitchButton from '@/components/UI/SwitchButton';
import GroupingSelect from '@/components/UI/GroupingSelect';


export default {
  name: 'LdapView',
  data() {
    return {
      groupingTimeZones: {
      'Mountain Time Zone': [
        { val: 'AZ', name: 'Arizona' },
        { val: 'CO', name: 'Colorado' },
        { val: 'ID', name: 'Idaho' },
        { val: 'WY', name: 'Wyoming' },
        { val: 'WY', name: 'Wyoming' },
      ],
      'Central Time Zone': [
        { val: 'AL', name: 'Alabama' },
        { val: 'AR', name: 'Arkansas' },
        { val: 'KS', name: 'Kansas' },
        { val: 'KT', name: 'Kentucky' },
      ]
    },
    }
  },
  methods: {

  },
  components: {
    SwitchButton,
    GroupingSelect,
  },
}
</script>

<style lang="sass">
  .full-content-size
    height: calc(100vh - 168px)
</style>
