<template lang="pug">
  .card.widget-card.shadow-0.border-0.rounded-0(:class="{'collapse-close': collapse, 'collapse-show': !itemCollapse}"
                                                :style="cardStyle")
    .card-header.header-elements-inline
      h6.card-title
        | {{ item.title }}
        span.font-size-base.ml-2.text-muted {{ item.description }}
      .header-elements
        .list-icons.show-on-parent-hover
          a.list-icons-item(data-action='collapse' @click='toggleWidget')
          div.list-icons-item.pointer(style="margin-top: 2px;")
            i.icon-move.move-grid
          div.list-icons-item.pointer.dropdown.widget-menu(style="margin-top: 2px;" @click="toggleMenu")
            i.icon-menu9(v-on-clickaway="closeMenu")
            ul.dropdown-menu.dropdown-menu-right.rounded-0.border-0(:class="{show: showMenu}" style="z-index: 1000")
              a.dropdown-item(@click="openEditDialog")
                i.icon-cog3.position-left
                | {{ $t('edit') }}
              a.dropdown-item(@click="copyWidget")
                i.icon-file-text2.position-left
                | {{ $t('copy') }}
              a.dropdown-item(@click="openDeleteDialog")
                i.icon-cross2.position-left
                | {{ $t('delete') }}

    .card-body.widget-body.p-0(v-if="!itemCollapse")
      //- template(v-if="item.name === 'Table'")
      template(v-if="widgets[item.type]")
        component(:is="widgets[item.type]" :dataWidget="dataWidget")
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

import importWidgets from '@/tools/lazyWidgetsImport';
import actionTypes from '@/store/actionTypes';
import { initializers } from '@/services/IntercativeChartPresets';

const widgetComponents = importWidgets();
console.log('TCL: widgetComponents', widgetComponents);

export default {
  props: {
    item: {
      type: Object,
    },
  },

  mixins: [clickaway],
  data() {
    return {
      widgets: {
        ...widgetComponents,
      },
      collapse: false,
      showMenu: false,
      updateInterval: null,
    };
  },
  components: { ...widgetComponents },
  methods: {
    openEditDialog() {
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalWidget',
        data: { type: 'edit', data: this.item },
      });
    },
    openDeleteDialog() {
      this.$store.commit(actionTypes.ui.SET_MODAL_WINDOW_TYPE, {
        type: 'ModalWidgetRemove',
        data: { data: this.item },
      });
    },
    copyWidget() {
      this.$store.dispatch(actionTypes.dashboards.ADD_WIDGET, this.item);
    },
    toggleWidget() {
      if (!this.item.collapse) {
        this.closeWidget();
        return;
      }
      this.openWidget();
    },
    openWidget() {
      this.$store.commit(actionTypes.dashboards.TOGGLE_WIDGET, this.item);
      this.$parent.autoSize();
      this.$parent.$parent.dragEvent();
    },
    closeWidget() {
      this.collapse = true;
      this.$emit('onSetResizable', true);
      // this.item.h = 2;
      setTimeout(() => {
        this.$emit('onSetResizable', false);
        this.$store.commit(actionTypes.dashboards.TOGGLE_WIDGET, this.item);
        this.$parent.$parent.dragEvent();
        this.collapse = false;
        this.item.h = 2;
      }, 440);
      setTimeout(() => {
        this.$parent.autoSize();
      }, 450);
    },
    toggleMenu() {
      if (this.item.collapse) {
        this.toggleWidget();
      }
      this.showMenu = !this.showMenu;
    },
    closeMenu() {
      this.showMenu = false;
    },
    setWidgetUpdateInterval() {
      if (this.item.dataWidget && initializers[this.item.dataLoader]) {
        setTimeout(() => initializers[this.item.dataLoader](this.item.dataWidget), 1);
        this.updateInterval = setInterval(() => initializers[this.item.dataLoader](this.item.dataWidget), this.item.updateInterval || 5000);
      }
    },
  },
  computed: {
    dataWidget() {
      // Глубокое копирование объекта. Предотвращает создания в глобальном store проперти _meta. Мешающего корректно
      // рендерить графики в модальных окнах, новых табах и других компонентах.
      const obj = JSON.parse(JSON.stringify(this.item.dataWidget));
      // const obj = { ...this.item.dataWidget };
      return obj;
    },
    itemCollapse() {
      return this.item.collapse;
    },
    cardStyle() {
      if (this.item.type === 'Note' && this.dataWidget.color) {
        return { background: this.dataWidget.color.hex };
      }
      return '';
    },
  },
  beforeMount() {
    this.setWidgetUpdateInterval();
  },
  beforeDestroy() {
    if (this.updateInterval) {
      clearInterval(this.updateInterval);
    }
  },
};
</script>

<style lang="sass">
.widget-card
  margin-bottom: 0
  height: 100%

.vue-grid-item
  .vue-resizable-handle
    display: none
  &:hover
    .vue-resizable-handle
      display: block

.collapsed-grid-item
  &:hover
    .vue-resizable-handle
      display: none
.collapse-show
  height: 100%
  .card-header
      min-height: 63px
.collapse-close, .collapse-show
  overflow: hidden
  transition: height .5s
  -moz-transition: height .5s
  -webkit-transition: height .5s
  -o-transition: height .5s

.collapse-close
  height: 63px
  .card-header
    min-height: 63px

.widget-body
  .echart, .abs-widget
    position: absolute
  .abs-widget
    height: calc(100% - 72px)
    width: 100%
    left: 0
  .echarts
    widgth: 100%
    div:nth-child(2)
      position: relative
      width: auto
      height: auto
.widget-menu
  &:hover
    i
      opacity: 0.75
.widget-thumbnil
  min-height: 400px

.show-on-parent-hover
  display: none

.card:hover
  .show-on-parent-hover
    display: block
</style>
