<script id="ProjectView" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
	    <div id="ProjectControl"><button type="button" id="addProject" class="btn btn-default">Создать <span class="glyphicon glyphicon-plus"></span></button> </div>
        {{#if show}}
        <form>
            <div class="form-group">
                <label>Менеджер:</label>
                <select name="user" id="SelectManager"></select>
            </div>
            <div class="form-group">
                <label>С:</label>
                <input class="form-control input-sm" type="date" name="date_start__gt">
            </div>
            <div class="form-group">
                <label>По:</label>
                <input class="form-control input-sm" type="date" name="date_start__lt">
            </div>
            <div class="form-group">
                <label>Залы:</label>
                <input id="SelectSites" class="form-control input-sm" type="text" name="sites">
            </div>
            <input class="" type="hidden" name="status">
        </form>
        <button style="float: right;" id="" type="button" class="btn btn-default btn-sm set_filter">
        <i class="glyphicon glyphicon-filter"></i></button>
        {{/if}}
    </button>
	</div>

    <table id="table"></table>
</script>

<script id="ProjectType2View" type="text/template">
    <div class="title_left">
    </div>
    <div class="title_right">
    </div>
    <table id="table"></table>
</script>

<script id="toolbar" type="text/template">
	<button id="all_project" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Все проекты
    </button>
    <button id="in_working_project" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> В работе
    </button>
    <button id="resetfilterButton" type="button" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</script>

<script id="toolbar_head_type1" type="text/template">
    <!-- <button id="all_project" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Все проекты
    </button> -->
    <button id="in_working_project" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Актуальные
    </button>
    <button id="resetfilterButton" type="button" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</script>

<script id="toolbar_manager_type1" type="text/template">
	<button id="all_project" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Проекты направления
    </button>
    <button id="my_project" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Мои проекты
    </button>
    <button id="in_work_project" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Актуальные
    </button>
</script>

<script id="toolbar_manager_type2" type="text/template">
    <button id="all_project" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Все проекты
    </button>
    <button id="my_project" type="button" class="btn btn-default btn-sm filter_button_client">
        <i class="glyphicon glyphicon-filter"></i> Проекты направления
    </button>
</script>